.section_1{
    &.concierge_desc{
        .entry-header{
            h2{
                width: 47%;
                margin: 0 auto;
                @include breakpoint(md){
                    width: 56%;
                }
                @include breakpoint(sm){
                    width: 76%;
                }
                @include breakpoint(xs){
                    width: 97%;
                }
                @include breakpoint(ss){
                    width: 100%;
                }
            }
        }
    }
    text-align: center;
    padding: 76px 0 108px;
    @include breakpoint(xs){
        padding: 50px 0;
    }
    .entry-header{
        h2{
            font-family: $fifthfont;
            @include breakpoint(xs){
                font-size: 30px;
            }
            @include breakpoint(ss){
                font-size: 26px;
            }
        }
        .line{
            border-bottom-width: 3px;
            width: 4%;
            margin-top: 24px;
            margin-bottom: 40px;
            @include breakpoint(sm){
                width: 7%;
            }
            @include breakpoint(xs){
                margin-top: 20px;
                width: 10%;
                margin-bottom: 20px;
            }
        }
    }
    .entry-content{
        p{
            font-size: 24px;
            line-height: 37px;
            color: #606060;
            margin: 0 auto;
            width: 75%;
            @include breakpoint(sm){
                width: 100%;
            }
            &:last-child{
                margin-top: 30px;
            }
            a {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                cursor: pointer;
                color:$blue;
                width: 9%;
                margin: 0 auto;
                border-bottom: 3px solid #5ea1b7;
                font-weight: 700;
                letter-spacing: 3px;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
                text-transform: uppercase;
                padding-bottom: 3px;
                &:hover{
                    text-decoration: none;
                    opacity: 0.7;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    text-transform: uppercase;
                }
            }
            @include breakpoint(xs){
                font-size: 20px;
                line-height: 30px;
                width: 100%;
            }
        }
    }
}
.section_4{
    .possibilities{
        background-image: url('../images/manfishingshot.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        min-height: 425px;
        position: relative;
        @include breakpoint(xs){
            min-height: 200px;
        }
        .sec4-section{
            z-index: 1;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            .entry-header{
                margin-bottom: 14px;
                h3{
                    font-family: $fifthfont;
                    font-size: 48px;
                    color: #ffffff;
                    width: 35%;
                    margin: 0 auto;
                    @include breakpoint(mc){
                        width: 47%;
                    }
                    @include breakpoint(md){
                        width: 60%;
                    }
                    @include breakpoint(sm){
                        width: 100%;
                    }
                    @include breakpoint(xs){
                        font-size: 30px;
                        width: 100%;
                    }
                    @include breakpoint(ss){
                        font-size: 26px;
                    }
                }
            }
            .entry-content{
                p{

                    a{
                        font-family: $fourthfont;
                        font-size: 14px;
                        color: #ffffff;
                        width: 9%;
                        margin: 0 auto;
                        border-bottom: 3px solid $blue;
                        font-weight: 700;
                        letter-spacing: 3px;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                        text-transform:uppercase;
                        padding-bottom: 4px;
                        &:hover{
                            text-decoration: none;
                            opacity: .7;
                            -webkit-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }
                    }
                }
            }
        }
    }
}
.service_section_3{
    .service_thumbnails{
        padding:60px 0;
        .thumbnail{
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
            background-color: transparent;
            .thumbnail-bg{
                background-image: url('../images/houseimage.png');
                width: 350px;
                height: 250px;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -ms-background-size: cover;
                background-repeat: no-repeat;
                @include breakpoint(md){
                    width: 300px;
                    height: 200px;
                }
                @include breakpoint(sm){
                    width: 220px;
                    height: 140px;
                }

                @include breakpoint(xs){
                    width: 100%;
                    height: 250px;
                    display: inline-block;
                }

                @include breakpoint(smls){
                    width: 170px;
                    height: 150px;
                }
                @include breakpoint(mls){
                    width: 170px;
                    height: 150px;
                }
                @include breakpoint(5s){
                    /*width: 100%;*/
                    /*height: 360px;*/
                }
            }
            &.last{
                @include breakpoint(xs){
                    margin-bottom: 0;
                }
            }
            @include breakpoint(xs){
                margin-bottom: 30px;
                text-align: center;
            }
            @include breakpoint(smls){
                margin-bottom: 0;
            }
            @include breakpoint(mls){
                margin-bottom: 0;
            }
        }
    }
}

.section_3{
    .bh_thumb_text{
        background-color:$blue;
        padding: 80px 0;
        .grid{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @include breakpoint(sm){
                /*flex-wrap: nowrap;*/
            }
            @include breakpoint(xs){
                align-items: center;
                flex-direction:column;
            }
            .nav-tabs{
                border: 0;
            }
            .cell{
                width: 40%;
                margin: 0px 78px 40px 0px;
                position: relative;
                .bh-img-bg{
                    background-image: url('../images/houseimage.png');
                    width: 250px;
                    height: 250px;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -ms-background-size: cover;
                    background-repeat: no-repeat;
                    transition: .5s ease;
                    -webkit-transition: .5s ease;
                    -moz-transition: .5s ease;
                    -ms-transition: .5s ease;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.3;
                        transition: .5s ease;
                        -webkit-transition: .5s ease;
                        -moz-transition: .5s ease;
                        -ms-transition: .5s ease;
                    }
                    @include breakpoint(sm){
                        width: 150px;
                        height: 150px;
                    }
                    @include breakpoint(xs){
                        width: 250px;
                        height: 250px;
                    }
                }
                @include breakpoint(sm){
                    width: 47%;
                }
                &:nth-child(2n){
                    @include breakpoint(sm){
                        /*margin-right: 20px !important;*/
                    }
                    @include breakpoint(xs){
                        margin-right: 0 !important;
                    }
                }
                &:nth-child(4n){
                    @include breakpoint(sm){
                        margin-right: 0px !important;
                    }
                }
                @include breakpoint(sm){
                    margin: 0px 20px 40px 0px;
                }
                @include breakpoint(xs){
                    width: auto;
                    margin: 0px 0px 20px 0px;
                }
                &.cell_even{
                    margin-right: 0;
                }
                .cell-title{
                    h4{
                        font-size: 10px;
                        color: #ffffff;
                        font-family: $fourthfont;
                        font-weight: 600;
                        letter-spacing: 3px;
                        @include breakpoint(sm){
                            font-size: 9px;
                        }
                    }
                }
                a{

                    img{
                        width: 100%;
                        height: auto;
                        transition: .5s ease;
                        -webkit-transition: .5s ease;
                        -moz-transition: .5s ease;
                        -ms-transition: .5s ease;
                        backface-visibility: hidden;
                        &:hover{
                            opacity: 0.3;
                            transition: .5s ease;
                            -webkit-transition: .5s ease;
                            -moz-transition: .5s ease;
                            -ms-transition: .5s ease;
                        }
                    }

                }
            }
        }
        .thumbnail-align{
            height: 100%;
            display: flex;
            align-items:center;
        }
        .thumbnail_content{
            width: 74%;
            margin: 0 auto;
            @include breakpoint(md){
                width: 100%;
            }
            @include breakpoint(xs){
                margin-bottom: 20px;
            }
            .tab-pane{
                @include breakpoint(xs){
                    margin-bottom: 50px;
                }   
            }
            .entry-header{
                h3{
                    color: #ffffff;
                    font-family: $fifthfont;
                    font-size: 42px;
                    line-height: 47px;
                    @include breakpoint(xs){
                        font-size: 30px;
                        text-align: center;
                        line-height: 36px;
                    }
                }
            }
            .entry-content{
                p{
                    font-size: 19px;
                    color: #ffffff;
                    line-height: 27px;
                }
            }
            .thumbnail_properties_link{
                &.primary{
                    text-align: center;
                }
                p{
                    a{
                        font-size: 14px;
                        color: #ffffff;
                        letter-spacing: 3px;
                        font-family: $fourthfont;
                        border-bottom: 3px solid #ffffff;
                        width: 46%;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        font-weight: 600;
                        transition: all 0.3s linear;
                        padding-bottom: 4px;
                        &:hover{
                            text-decoration: none;
                            opacity: .7;
                            -webkit-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }
                    }
                    @include breakpoint(xs){
                        text-align: center;
                    }
                }
            }
            .show_more{
                /*margin-bottom: 36px;*/
                h4{
                    text-align: center;
                    /*border-bottom: 2px solid black;*/
                    width: auto;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    font-size: 12px;
                    color: #ffffff;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    letter-spacing: 3px;
                    .fa{
                        font-size: 16px;
                        display: inline-block;
                        vertical-align: text-bottom;
                    }
                }
            }
        }
    }
}

/*slider2 styles*/
.section_2{
    overflow:hidden;
    .bh-textslider{
        background-color: #231f1f;
        position:relative;
        @include breakpoint(xs){
            /*padding: 50px 0;*/
        }
        #bh_slider2_content{

        }
        .bh-textslider_content{
            padding: 12% 22% 0% 24%;
            @include breakpoint(msm){
                padding: 12% 4% 0% 24%;
            }
            @include breakpoint(md){
                padding: 12% 4% 0% 18%;
            }
            @include breakpoint(sm){
                padding: 12% 4% 0% 8%;
            }
            @include breakpoint(xs){
                padding: 15px;
            }
            .entry-header{
                h3{
                    color: #fff;
                    font-size: 42px;
                    line-height: 47px;
                    font-family: $fifthfont;
                    @include breakpoint(sm){
                        font-size: 26px;
                        line-height: 36px;
                    }
                    @include breakpoint(xs){
                        font-size: 30px;
                        line-height: 36px;
                        text-align: center;
                        margin-bottom: 25px;
                    }
                    @include breakpoint(ss){
                        font-size: 26px;
                    }
                }
            }
            .entry-content{
                p{
                    color: #fff;
                    font-size: 19px;
                    line-height: 27px;
                    font-weight: normal;
                }
            }
        }
        .bh-slick-slider2{
            width:100%;
            ul{
                list-style: none;
                padding:0;
                margin-bottom:0;
                li{
                    float: left;
                    margin-bottom:0;
                    cursor: pointer;
                    /*transition: 10000s linear;*/

                    img{
                        /*max-width: 100%;*/
                        height: 100%;
                        transition: 10000s linear;
                        /*                        -webkit-transition: all 0.3s linear;
                                                -moz-transition: all 0.3s linear;
                                                -ms-transition: all 0.3s linear;
                                                -o-transition: all 0.3s linear;*/
                        @include breakpoint(xs){
                            max-width: 100%;
                            height: auto;
                        }
                        /*                        &:hover{
                                                    opacity: 0.2;
                                                    -webkit-transition: all 0.3s linear;
                                                    -moz-transition: all 0.3s linear;
                                                    -ms-transition: all 0.3s linear;
                                                    -o-transition: all 0.3s linear;
                                                }*/
                    }
                }
                .current_slide{
                    width: 40%;
                    @include breakpoint(xs){
                        width: 100%;
                    }
                }
                .next_slide{
                    width: 39%;
                    @include breakpoint(xs){
                        width: 100%;
                    }
                }
            }

            .slick-slide{

            }

        }
        .slide-button-prev{
            background-image: url("../images/left-nav.png");
            left: 58px;
            @include breakpoint(md){
                left: 10px;
            }
        }
        .slide-button-next{
            background-image: url("../images/right-nav.png");
            right: 58px;
            @include breakpoint(md){
                right: 10px;
            }
        }
        .slide-button-prev, .slide-button-next{
            position: absolute;
            top: 50%;
            width: 51px;
            height: 120px;
            z-index: 10;
            cursor: pointer;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -moz-background-size: 51px 120px;
            -webkit-background-size: 51px 120px;
            background-size: 51px 120px;
            background-position: center;
            background-repeat: no-repeat;
            @include breakpoint(md){
                display: none;
            }
        }
        /*        .slick-slide,
                .slick-slider .slick-track,
                .slick-slider .slick-list
                {
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    -ms-transform: translate3d(0, 0, 0);
                    -o-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
        
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
        
                    -webkit-perspective: 1000;
                    -moz-perspective: 1000;
                    -ms-perspective: 1000;
                    perspective: 1000;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    backface-visibility: hidden;
                }*/
    }
}

.vertical-pagination{
    @include breakpoint(xs){
        display: none;
    }
    .pagination{
        position: fixed;
        right: 0px;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
        font-size: 1.4em;
        z-index: 10;
        flex-direction: column;
        li{
            display: list-item;
            list-style: none;
            margin-bottom: 0;
            a{
                display: block;
                height: 20px;
                margin-bottom: 2px;
                color: white;
                margin-top: 2px;
                position: relative;
                padding: 4px;
                font-size: 14px;
                outline: none;
                border: none;
                cursor: pointer;
                &:after{
                    &:hover{
                        background-color: #fff;
                    }
                }
                &.active{
                    &:after{
                        box-shadow: inset 0 0 0 5px;
                    }
                }
                &:after{
                    transition: box-shadow 0.5s ease;
                    width: 10px;
                    height: 10px;
                    display: block;
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 4px;
                    bottom: 0;
                    background-color: rgba(160, 173, 181, 0.5);
                }
            }
        }
    }
}
.contact-img-sec{
    padding-bottom:80px;
    @include breakpoint(xs){
        padding-bottom:50px;
    }
}

/*#bh_headerbanner, #section_1, #section_2, #section_3, #bh_contact_sec{
    height: auto !important;
}*/

.default-temp{
    padding:50px 0; 
    h2{
         font-family:$fifthfont;
         @include breakpoint(xs){
            font-size:30px;
         }
    }
    h3{
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid #5ea1b7;
    font-weight: 400;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 4px;
    margin-top: 15px;
    @include breakpoint(xs){
        text-align:center;
        font-size:20px;
    }
    }  
    p{
        font-size: 20px;
        line-height: 30px;
        color: #606060;
        @include breakpoint(xs){
            font-size:18px;
            text-align:center;
        } 
    }
}