.bcb_faq{
    padding: 50px 0;
    .bcb_entry_header{
        text-align: center;
        margin-bottom:30px;
        h2{
            @include breakpoint(xs){
                font-size: 24px;
                color: #ff0000/*E75625*/;
                letter-spacing: 0.63px;
            }
        }
        .line{
            width: 130px;
        }
    }
    .bcb_faq_accordion{
        .panel-group{
            .panel{
                margin-bottom: 10px;
                box-shadow: none;
                .panel-heading{
                    position: relative;
                    background: #E4E4EA;
                    padding: 15px 15px;
                    cursor: pointer;
                    @include breakpoint(xs){
                        padding: 15px 30px 15px 15px;
                    }
                    &::after{
                            content: "\f107";
                            font-family: FontAwesome;
                            font-style: normal;
                            font-weight: normal;
                            text-decoration: inherit;
                        /*--adjust as necessary--*/
                            color: rgb(117, 116, 116);
                            font-size: 25px;
                            padding-right: 0.5em;
                            position: absolute;
                           right: 0px;
                           top: 8px;
                           display: none;
                            @include breakpoint(md){
                            display: inline-block
                            }
                            @include breakpoint(sm){
                            display: inline-block
                            }
                            @include breakpoint(xs){
                            display: inline-block;
                            padding-right:0.2em;
                            font-size: 20px;
                            right: 10px;
                            }
                            @include breakpoint(ss){
                                padding-right: 0.2em;
                                font-size: 19px;
                             }
                        
                    }
                    &:hover, &.active{
                        background: #FDF2F2;
                        border-color:#E5DBDB;
                        &::after{
                            display: inline-block;
                        }
                    }
                   
                    .panel-title{
                        font-size: 18px;
                        color: #323232;
                        letter-spacing: 0;
                        font-family: $fontfamily;
                        font-weight: 500;
                        text-transform: capitalize;
                        @include breakpoint(xs){
                            font-size: 14px;
                            color: #323232;
                            letter-spacing: 0;
                        }
                        a{
                            &:hover, &:active, &:focus{
                                text-decoration: none;
                                color: #323232;
                            }
                        }
                    }
                }
                .panel-body{
                    p{
                        font-size: 16px;
                        color: #323232;
                        letter-spacing: 0.1px;
                        line-height: 28px;
                        @include breakpoint(xs){
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                    ul{
                        padding: 5px 20px;
                        list-style-type:none;
                        li{
                            font-size: 16px;
                            color: #323232;
                            letter-spacing: 0.1px;
                            line-height: 28px;
                            &:before{
                                content:"- ";
                            }
                        }
                    }
                }
            }
        }
    }
}