#responsive-main-menu{
    position:relative; 
    height:24px; 
    width:30px; 
    color: inherit;
    font-size: inherit;
    margin:13px 0px; 
    left:15px;
    display : none;
    z-index: 11;
    @include breakpoint(xs){
        /*left:20px;*/
    }

    .line{
        display:block; 
        position:absolute;
        height:3px; 
        width: 100%;
        top:0px; 
        background-color: #000000;
        @include fadeinbackground;

        &:before, &:after{
            content:"";
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #000000;
            -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
            -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
        }

        &:before{
            top:-8px;
            -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;

        }

        &:after{
            bottom:-8px;
            -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
        }
    }

    &.cross{
        .line{
            background:none;
            @include fadeinbackground;
        }

        .line:before {
            top: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .line:after {
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .line:before, .line:after {
            -webkit-transition-delay: 0s, 0.3s;
            transition-delay: 0s, 0.3s;
        }
    }


    @include breakpoint(xs){
        display : inline-block;
        margin: 0px 0px 0;
        z-index: 300
    }
}

.ddmenuitem{
    display: none;
    position: absolute;
    right:12px;
    top:8px;
    width: 50px;
    height: 100%;
    cursor: pointer;
    color: $lightblack;
    text-align: center;

    @include breakpoint(xs){
        display: block;
    }
}