.bh-menu-section{
    /*overflow: hidden;*/
    z-index: 99999;
    position: absolute;
    left: 0;
    right: 0;
    top: 9.5%;
    padding: 0 22px;
    @include breakpoint(xs){
        top: 5%;
        padding-left: 0;
    }
    .bh-menu-container{
        position: relative;
        .header-logo{
            display: flex;
            justify-content: center;
            width: 15%;
            margin: 0 auto;
            z-index: 2;
            position: relative;
            bottom: 43px;
            @include breakpoint(xs){
                justify-content: left;
                width: 100%;
                bottom: 0;
                padding-left: 15px;
            }
            &.inner-hdr-logo{
                bottom: 43px;
                @include breakpoint(xs){
                    bottom: 0;
                }
            }
        }
    }
    .button_container {
        position: absolute;
        top: 8px;
        right: 0;
        height: $button-height;
        width: $button-width;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
        &.active{
            top: 4px;
        }
        &:hover {
            opacity: .7;
        }
        @include breakpoint(msm){
            right: 0;
        }
        @include breakpoint(md){
            right: 0;
        }
        @include breakpoint(sm){
            right: 0;
        }
        @include breakpoint(xs){
            right: 0;
        }
        &.active {
            .top {
                transform: translateY(11px) translateX(0) rotate(45deg);
                background: $color-active;
            }
            .middle {
                opacity: 0;
                background: $color-active;
            }

            .bottom {
                transform: translateY(-5px) translateX(0) rotate(-45deg);
                background: $color-active;
            }
        }

        span {
            background: #ffffff;;
            border: none;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition:  all .35s ease;
            cursor: pointer;

            &:nth-of-type(2) {
                top: 8px;
            }

            &:nth-of-type(3) {
                top: 16px;
            }
        }
    }

    .overlay {
        position: fixed;
        background: $color-main;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;

        &.open {
            opacity: 1;
            visibility: visible;
            height: 100%;

            li {
                animation: fadeInRight .5s ease forwards;
                animation-delay: .35s;

                &:nth-of-type(2) {
                    animation-delay: .4s;
                }
                &:nth-of-type(3) {
                    animation-delay: .45s;
                }
                &:nth-of-type(4) {
                    animation-delay: .50s;
                }
            }
        }
        nav {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 48px;
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%; 

            li {
                display: block;
                position: relative;
                opacity: 0;
                line-height: normal;
                font-family:$fourthfont;
                margin-bottom: 20px;
                @include breakpoint(xs){
                    font-size: 30px;
                }
                @include breakpoint(ss){
                    font-size: 22px;
                }
                a {
                    display: block;
                    position: relative;
                    color: $color-link;
                    text-decoration: none;
                    overflow: hidden;
                    font-weight: 600;
                    text-transform:uppercase;   
                    &.current_menu{
                        color: #221f1f;
                    }
                    &:hover:after,
                        &:focus:after,
                        &:active:after {
                        width: 100%;
                    }

                    /*                    &:after {
                                            content: '';
                                            position: absolute;
                                            bottom: 0;
                                            left: 50%;
                                            width: 0%;
                                            transform: translateX(-50%);
                                            height: 3px;
                                            background: $color-link;
                                            transition: .35s;
                                        }*/
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
}
.bh_social_icons{
    display: inline-block;
    float: right;
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 3;
    @include breakpoint(msm){
        right: 0;
    }
    @include breakpoint(md){
        right: 0%;
    }
    @include breakpoint(sm){
        right: 0%;
    }
    @include breakpoint(xs){
        right: 0%;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin-right: 25px;
            @include breakpoint(ss){
                margin-right: 14px;
            }
            a{
                color: #ffffff;
                font-size: 15px;
                vertical-align: super;
                .fa{
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    &:hover{
                        opacity: .7;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
    }
}