.menu-container{
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 99992;
    min-height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #dadada;
    nav{
        height: 60px;
        position: relative;
        #responsive-main-menu{
            top: 50%;
            position: absolute;
            .line{
                border-bottom: none;
            }
        }
        .navbar-brand{
            float: right;
            height: 40px;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
    }
}
#main-menu{
    #mobile-menus-list{
        top: 100%;
        top: 100%;
        position: absolute;
        left: 0;
        right: 0;
        ul{
            background: rgba(248,248,248,0.98);
            margin: 0;
            overflow: auto;
            position: relative;
            list-style: none;
            height: calc(100vh - 35px);
            z-index: 1;
            .mobile-menu-item{
                &:hover{
                    /*background: #f39c36;*/
                }
                width: 100%;
                margin: 0;
                a{
                    text-align: left;
                    padding: 10px 21px;
                    color: #543C30;
                    letter-spacing: 0;
                    font-size: 18px;
                    padding: 11px 24px 11px 0;
                    margin: 0;
                    height: auto;
                    font-weight: 500;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    display: block;
                    margin: 20px 0;
                    img{
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        height: 25px;
                        width: auto;
                    }
                }
                .mobile-sub-menu{
                    height:100%;
                    li{
                        width: 100%;
                        margin: 0;
                        a{
                            text-align: left;
                            padding: 10px 21px;
                            color: #ffffff;
                            font-size: 18px;
                            padding: 11px 24px;
                            margin: 0;
                            height: auto;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            display: block;
                            padding-left: 40px;
                            background-color: #d48831;
                            font-weight: 300;
                        }
                    }
                }
                .ddmenuitem{
                    .fa{
                        font-size: 30px;
                        color: #fff;
                    }
                }
            }
        }
    }
}    