.bcb_our_range {
    background-image: url("../images/Rectangle 12.png");
    position: relative;
    width: 100%;
    min-height: 806px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    background-repeat-x:repeat; 
    @include breakpoint(xs){
        -webkit-background-size: auto;
        -moz-background-size: auto;
        background-size: auto;
        -o-background-size: auto;
    }
    .bcb_ourrange_sec {
        text-align: center;
        padding-bottom: 40px;
        h2 {
            color: #FFFFFF;
            letter-spacing: 1.1px;
            @include breakpoint(xs){
                font-size: 24px;
                color: #FFFFFF;
                letter-spacing: 0.63px;
            }
        }
        p {
            color: #D9D9D9;
            letter-spacing: 0;
            line-height: 28px;
            margin: 0 auto;
            width: 52%;
            @include breakpoint(md){
                width: 66%;
            }
            @include breakpoint(sm){
                width: 78%;
            }
            @include breakpoint(xs){
                width: 100%;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 19px;
            }
        }
    }
    .bcb_ourrange_container{
        margin: 0 auto;
        max-width: 802px;
        @include breakpoint(sm){
            width: 100%;
        }
        .mobile_ourrange{
            @include breakpoint(6s){
                width: 49%;
                display: inline-block;
                &:nth-child(2n){
                    margin-left: 6px;
                }
            }
        }
    }
    .bcb_card_sec-r{
        border: 1px solid rgba(252,252,252,0.24);
        border-radius: 4px;
        margin-bottom: 40px;
    }
    .card {
        text-align: center;
        /*        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
        background-color: #fff;
        width: 371px;
        position:relative;
        border-radius:4px;
        border-top-right-radius: 4px;
        a{
            &:hover {
                text-decoration: none;
            }
        }
        &:hover{
            .overlay{
                opacity: 1;
                width: 100%;
                height: 100%;
            }
            span{
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: transform .5s ease, opacity 1.3s ease;
                transition: transform .5s ease, opacity 1.3s ease;
            }
        }
        .overlay {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            margin: auto;
            width: 0px;
            height: 0px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            -webkit-transition: .4s ease;
            transition: .4s ease;
        }
        span {
            color: #fff;
            text-align: center;
            position: absolute;
            margin: auto;
            width: 90%;
            left: 0;
            top: 50%;
            right: 0;
            opacity: 0;
            transform: translateY(-50%)!important;
            -webkit-transform: translateY(-50%)!important;
            -moz-transform: translateY(-50%)!important;
            -ms-transform: translateY(-50%)!important;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: transform .5s ease, opacity .7s ease;
            transition: transform .5s ease, opacity .7s ease;
        }
        @include breakpoint(sm){
            width: 330px;
        }
        @include breakpoint(xs){
            width: 100%;
            margin: 0 auto;
        }
        .card-img-top {
            display: inline-block;
            height: auto;
            padding-top: 40px;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            /*            &:hover{
                            -webkit-transform: scale(0.9);
                            -moz-transform: scale(0.9);
                            -ms-transform: scale(0.9);
                            transform: scale(0.9);
                            transform: scale(0.9);
                            -webkit-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }*/
        }
        .card-text p {
            font-size: 21px;
            font-weight: 600;
            color: #000000;
            letter-spacing: 0.55px;
            margin: 0px;
        }
        .card-footer {
            background-color: $orange;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position:relative;
            h4{
                margin: 0;
            }
            &:hover{
                background-color: #c00000;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
            .text-bold {
                font-size: 21px;
                color: #FFFFFF;
                letter-spacing: 0.55px;
                padding: 20px 0;
                display: inline-block;
            }
        }
    }
}

.woocommerce-order-received{
    .woocommerce-order{
        .woocommerce-notice{
            a{
                
            }
        }
    }
}
.bcb_philosophy_desc img {
    margin-top: 15px;
   @include breakpoint(xs){
    width: 100%;
   }
}