.bcb_ourprocess{
    background-image: url("../images/Rectangle 12 Copy.png");
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    @include breakpoint(xs){
         -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    }
    .bcb_ourprocess_sec{
        text-align: center;
        padding-bottom: 40px;
        h2{
            color: #FFFFFF;
            letter-spacing: 1.1px;
            @include breakpoint(xs){
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: 0.47px;
                width: 100%;
            }
        }
        p{
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 28px;
            margin: 0 auto;
            width: 52%;
            @include breakpoint(xs){
                width: 100%;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 19px;
            }
        }
    }
    .bcb_ourprocess_videos{
        .bcb_video_sec-r{
            margin-bottom: 30px;
            .video{
                box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
            }
        }
        .bcb_video_sec-l{
            text-align: left;
        }
    }
}