.philosophy {
    padding: 50px 0;
    .bcb_home_philosophy {
        @include breakpoint(xs){
            /*margin-bottom: 40px;*/
        }

        .bcb_entry_header {
            h2 {
                letter-spacing: 1.1px;
                @include breakpoint(xs){
                    font-size: 24px;
                    text-align: center;
                    letter-spacing: 0.63px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                &.bcb_subhead{
                    font-size: 28px;
                    color: #3F3F3F;
                    letter-spacing: 0.73px;
                    text-transform: uppercase;
                    @include breakpoint(md){
                        font-size: 24px;
                    }
                    @include breakpoint(xs){
                        font-size: 14px;
                    }
                }
            }
            .line{
                @include breakpoint(xs){
                    display: none;
                }
            }
        }
        .bcb_entry-content {
            h3 {
                font-size: 28px;
                color: #3F3F3F;
                letter-spacing: 0.73px;
                text-transform: none;
                
                text-transform: uppercase;

                @include breakpoint(md){
                    font-size: 20px;
                }
                @include breakpoint(sm){
                    font-size: 28px;
                }
                
                @include breakpoint(xs){
                    font-size: 14px;
                    color: #3F3F3F;
                    letter-spacing: 0.42px;
                    text-align: center;
                    margin-bottom: 15px;
                }
            }
            &.bcb_philosophy_desc{
                @include breakpoint(xs){
                    margin-bottom: 40px;
                    p{
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .bcb_entry-content {
            p {
                font-size: 16px;
                color: #333333;
                letter-spacing: 0;
                line-height: 28px;
                @include breakpoint(xs){
                    font-size: 14px;
                    color: #333333;
                    letter-spacing: 0;
                    line-height: 23px;
                }
                img{
                    display: inline-block;
                }
            }
        }

    }
    .bcb_coffee_img {
        text-align: center;
        img{
            display: inline-block;
            @include breakpoint(xs){
                height: 166px;
                width: 49px;
            }
            &.why_bcb_img{
                @include breakpoint(xs){
                    width: 152px;
                    height: 157px;
                }
            }
        }
    }

}
.bcb_our_range{
    .bcb_btn_sec{
        text-align: center;
        margin: 0px 0 30px;
        display: inline-block;
        width: 100%;
        a{
            .bcb_btn.shop_Now{
                background: #ff0000;
                border: 2px solid rgba(62, 62, 62, 0.12);
                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                font-size: 21px;
                color: #fff;
                letter-spacing: 0.55px;
                font-family: "Conv_Gobold Regular";
                height: 60px;
                text-transform: uppercase;
                width: 170px;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
                &:hover{
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    background-color: #c00000;
                }
            }
        }
    }
}