.service_section_2{
    .service_section_2_container{
        background-color: $blue;
        padding: 100px 0;
        color: #ffffff;
        @include breakpoint(xs){
            padding: 50px 0;
        }
        .entry-header{
            h3{
                font-size: 42px;
                font-family: $fifthfont;
                line-height: 47px;
                color: #ffffff;
                margin-bottom: 25px;
                @include breakpoint(sm){
                    font-size: 30px;
                    line-height: 36px;
                }
                @include breakpoint(xs){
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
        .entry-content{
            p{
                font-size: 18px;
                a{
                    color: red;
                    -ms-text-decoration: none;
                }
                &:nth-child(4){

                }
                @include breakpoint(xs){
                    font-size: 16px;
                }
            }
        }
        .services_menu{
            ul{
                list-style: none;
                padding-right: 0;
                @include breakpoint(xs){
                    padding-left: 0;
                }
            }
            @include breakpoint(sm){
                padding: 0;
            }
            @include breakpoint(xs){
                padding: 0;
            }
            li{
                font-size: 25px;
                line-height: 42px;
                color: #ffffff;
                @include breakpoint(md){
                    line-height: 32px;
                    font-size: 26px;
                    margin-bottom: 20px;
                }
                @include breakpoint(sm){
                    font-size: 20px;
                    line-height: 26px;
                    color: #ffffff;
                    margin-bottom: 20px;
                }
                @include breakpoint(xs){
                    font-size: 20px;
                    line-height: 30px;
                }
                .line{
                    border-top: 3px solid #eeeeee;
                    width: 14%;
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }
}