.bh_homeslider{
    position:relative;
    .bh-slick-slider{
        &.slick-dotted{
            &.slick-slider{
                margin-bottom: 0;
            }
        }
        .hero{
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
        .hero-1{
            background-image: url('../images/houseimage.png');
            position: relative;
        }
        .hero-2{
            background-image: url('../images/houseimage.png');
            position: relative;
        }
        .hero-3{
            background-image: url('../images/houseimage.png');
            position: relative;
        }
        .slider_title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            width: 100%;
            margin: 0 auto;
            text-align: center;
            @include breakpoint(sm){
                width: 74%;
            }
            @include breakpoint(xs){
                width: 100%;
                text-align: center;
            }
            h1{
                color: #ffffff;
                font-size: 48px;
                font-family: $fifthfont;
                margin-bottom: 14px;
                @include breakpoint(xs){
                    width: 78%;
                    margin: 0 auto; 
                    font-size: 32px;
                    margin-bottom: 14px;
                }
            }
            p{
                text-align: center;
                a{
                    font-family: $fourthfont;
                    font-size: 14px;
                    color: #ffffff;
                    width: auto;
                    margin: 0 auto;
                    border-bottom: 3px solid $blue;
                    font-weight: 700;
                    letter-spacing: 3px;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    text-transform:uppercase;
                    padding-bottom: 4px;
                    cursor: pointer;
                    display: inline-flex;
                    &:hover{
                        opacity: .7;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                        text-decoration: none;
                    }
                }
            }
        }
        .slick-dots {
            position: absolute;
            z-index: 999;
            top: 0;
            right: 0;
            text-align: left;
            display: flex !important;
            justify-content: center;
            flex-direction: column;
            bottom: 0;
            width: 10%;
            li{
                display: block;
                &.slick-active{
                    button{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                button{
                    &:before{
                        color: #ffffff;
                        opacity: 0.6;
                        font-size: 9px;
                    }
                }
            }
        }
    }
}