@import "modules/stylesheets/bootstrap";
@import 'modules/fonts';
@import "modules/flexslider";
$link_color: #d65a9c;
html,
body {
  position: relative;
  @media screen and (min-width: 768px) {
    height: 100%;
  }
}
body {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  /* bottom margin footer height to push footer down */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-color: #000;
  text-decoration: none;
  font-weight: normal;
  color: white;
  padding-top: 40px; // for fixed header
}
 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
 ::selection {
  background: #b3d4fc;
  text-shadow: none;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
div,
img,
ul,
li {
  margin: 0 auto;
  padding: 0;
  border: 0;
}
ul {
  list-style-type: none;
}
div.content {
  width: 960px;
  padding-top: 10px;
  min-height: 95%;
}
// Style Fancybox
.fancybox-close {
  background-image: url(../images/fancybox-close.png);
  top: -28px;
  right: -32px;
  width: 41px;
  height: 41px;
}
.fancybox-overlay {
  background: rgba(194, 194, 194, 0.8) !important;
}
.fancybox-skin {
  background: #351321 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #351321 0%, #531e33 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #351321 0%,#531e33 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #351321 0%,#531e33 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#351321', endColorstr='#531e33',GradientType=0 ) !important;
  /* IE6-9 */
  color: white !important;
  h2 {
    margin-bottom: -3px;
  }
  h4 {
    color: $link_color;
    font-style: italic;
    font-size: 18px;
  }
  small {
    color: $link_color;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 18px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #c6bcbf;
  }
  div.lyrics {
    padding-left: 10px;
  }
   ::-webkit-scrollbar {
    width: 12px;
  }
   ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
    border-radius: 10px;
  }
   ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 100px #e670aa;
  }
  .share-news {
    margin-top: 20px;
  }
  .fancybox-nav {
  	position: fixed;
	  span {
		 visibility: visible;
		}
  }
}
.fancybox-nav span {
	height: 45px !important;
	width: 34px !important;
}
.fancybox-next span {
	background-image: url("../images/arrows_left_right.png") !important;
	background-position: 0px -69px !important;
	right: 20px !important;
}
.fancybox-prev span {
	background-image: url("../images/arrows_left_right.png") !important;
	background-position: -32px -24px !important;
}
.fancybox-title {
  width: 100%;
  right: inherit !important;
  left: 0;
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,1+39,0.7+99,0.7+99,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,0.7) 100%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0.7) 100%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0.7) 100%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  bottom: 34px !important;
  text-align: left !important;
}
.fancybox-title-float-wrap .child {
	margin-right: inherit !important;
	border-radius: 0 !important;
	text-transform: uppercase;
	background: transparent !important;
	@include font-montserrat;
	font-size: 15px;
}
.clear {
  clear: both;
}
.spacer {
  height: 20px;
  clear: both;
}
a,
input,
button {
  outline: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.white {
  color: #fff;
}
.the_champ_sharing_container.the_champ_horizontal_sharing {
  display: none;
}
#main-content.no-sidebar {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .title-mobile {
    max-width: 768px;
  }
}
/*--- sizes calculated using the golden rule ratio
http://modularscale.com/scale/?px1=13&px2=&ra1=1.5&ra2=0***/
.light-bg {
  color: #492933 !important;
}
.dark-bg {
  color: #fff;
}
.page-title {
  @include font-sacramento;
}
#music-container {
  text-align: center;
}
.title-container {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  h1 {
    color: #fff;
    font-size: 70px;
    padding-top: 50px;
  }
}
#music {
  position: absolute;
}
/*For the blog */
h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 80px;
  text-decoration: none;
  font-weight: normal;
  color: #fff;
  .shadow {
    text-shadow: 2px 2px 2px #000000;
  }
}
.blog-title h1 a {
  font-family: 'Shadows Into Light', cursive;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: normal;
  color: #fff;
}
h2,
#main-content h1,
#main-content h1:link,
#main-content h1:hover,
#blog-aside h1 {
  font-family: 'Rokkitt', serif;
  font-size: 2.566em;
  text-shadow: none;
  color: white;
}
h2 a,
h2 a:hover {
  color: #492933;
  text-decoration: none;
}
h3,
#blog-aside h2 {
  font-family: 'Rokkitt', serif;
  font-size: 1.3em;
  line-height: 1.125em;
}
h4 {
  font-family: 'Rokkitt', serif;
  font-size: 1.266em;
  text-decoration: none;
}
.highlighted,
.highlighted p {
  color: #009999;
  font-family: 'Rokkitt';
  font-size: 1.266em;
  line-height: 1.125em;
}
#blog-aside h1 {
  text-transform: none;
}
a {
  color: $link_color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.white,
a.white:hover {
  color: #fff;
  text-decoration: underline;
}
a.white:hover {
  color: #009999;
}
/*For the blog */
/* form elements*/
.panel {
  background-color: transparent;
}
button.btn.btn-primary {
  background-color: #843962;
  border-color: #843962;
  font-size: 1.1em;
  font-family: 'Rokkitt';
  padding: 10px 10%;
  text-transform: uppercase;
  margin-top: 15px;
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 1em;
  }
}
.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    font-size: 1em;
    padding-top: -15px !important;
  }
}
small.help-block {
  color: #fff;
  font-decoration: italic;
  @media screen and (max-width: 768px) {
    color: #492933 !important;
    font-size: 70% !important;
  }
}
.checkbox {
  margin: 0;
  padding: 0;
  font-size: 85%;
  input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
  }
}
.free-download input#inputEmail {
  margin-bottom: 0;
}
.free-download {
  text-align: right;
}
@media screen and (max-width: 768px) {
  input#inputEmail {
    margin-bottom: 0;
  }
}
 ::-webkit-input-placeholder {
  color: #464645 !important;
}
 :-moz-placeholder {
  /* Firefox 18- */
  color: #464645 !important;
}
 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #464645 !important;
}
 :-ms-input-placeholder {
  color: #464645 !important;
}
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.2em;
}

/* Navbar Styles
****************************************************/
header {
	background: black;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.navbar {
	margin-bottom: 0px;
	background: black;
	border-radius: 0;
	border: 0;
	.navbar-brand {
		padding: 3px 15px;
		display: inline-block;
		padding-top: 5px;
	}
	@media screen and (min-width: 768px) {
    li.dropdown {
			a.dropdown-toggle {
				position: relative;
				padding-right: 25px;
				.caret {
					position: absolute;
					right: 15px;
				}
			}
		}
  }
}
.navbar-default .navbar-nav>li>a {
	color: white;
	text-transform: uppercase;
	line-height: 0em;
  margin-top: 10px;
  font-size: 13px;
	@include font-montserrat;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu>li>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background: transparent;
	color: white;
	border-bottom: 3px solid black;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: 3px solid $link_color;
	background: transparent;
	color: white;
}
.dropdown-menu {
	background: black;
	border-radius: 0px;
	min-width: 85px;
	a {
		text-transform: uppercase;
		@include font-montserrat;
		font-size: 13px;
		padding: 	3px 16px;
	}
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background: transparent;
}
#menu-header-nav {
	z-index: 99999;
}

/* End Navbar Styles
****************************************************/



/* Footer & Social Icons
****************************************************/
footer {
  font: 10px Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* IE6-9 */
  #home-promotion {
    display: none;
  }
  @media screen and (max-width: 768px) {
    background: transparent;
    text-align: center;
    margin: 0 auto;
  }
}
.footer-icons {
  font: 10px Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 62px;
  z-index: 999;
  margin-bottom: 10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  .fa-stack {
	  font-size: 14px;
  }
  div {
	  margin-top: -50px;
  }
  a {
    color: #65314b;
    text-decoration: none;
  }
  a:hover,
	a:focus,
	a:active {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation-name: bounce;
	  animation-name: bounce;
	}
	@media screen and (max-width: 1200px) {
	  position: relative;
	  top: inherit;
	  margin-top: 20px;
	  div {
	  	float: none !important;
		  margin-top: 0px;
	  }
	}
}



.page-template-page-templatesfree-download-php footer,
.page-template-page-templatescontact-php footer {
  position: fixed;
  bottom: 0;
  @media screen and (max-width: 768px) {
    position: relative;
  }
}
// .page-template-page-templateshome-php {
// 	footer {
// 	  position: fixed;
// 	  bottom: 0;
// 	  z-index: 11;
// 	  @media screen and (max-width: 768px) {
// 	    position: relative;
// 	  }
// 	}
// 	@media screen and (max-width: 768px) {
//     .footer-icons {
// 	    position: absolute;
// 	    bottom: 70px;
//     }
//   }
//   @media screen and (max-width: 768px) {
//     .footer-icons {
// 	    margin-top: -100px;
//     }
//   }
// }
.page-template-page-templatescontact-thanks-php footer,
.page-template-page-templatesfree-download-thanks-php footer {
  position: fixed;
  bottom: 0;
  @media screen and (max-width: 768px) {
    position: relative;
  }
}

/* END Footer & Social Icons
****************************************************/



/* Full page Pluggin Styles
****************************************************/
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
  overflow: scroll;
}
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
#fp-nav {
  position: fixed;
  right: 17px;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.right {
  right: 17px;
  @media screen and (max-width: 768px) {
    right: 2px;
  }
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 10px;
  position: relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: $link_color;
  border: 0 solid #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  @media screen and (max-width: 768px) {
    width: 10px;
    height: 10px;
  }
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}
/*HOME
*****************************************************************************/
.page-template-page-templateshome-php {
	padding-top: 0px;
  @media screen and (max-width: 768px) {
    #section1,
    #section2,
    #section3 {
      height: 600px !important;
    }
  }
  @media screen and (max-width: 480px) {
    #section1,
    #section2,
    #section3 {
      height: 480px !important;
    }
  }
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  div#home-container {
    @media screen and (min-width: 768px) {
      overflow: hidden !important;
      height: 100%;

      ul, li, div {
        height: 100%;
      }
    }
    // @media screen and (max-width: 768px) {
    //   overflow: visible !important;
    //   height: inherit;
    // }
  }
  .home-bgs {
    z-index: -1;
  }
  #section1 {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
    background: url(../images/bg_home_1.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    #slide1-content {
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      transition: opacity 1s ease;
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 0;
      right: 5%;
      z-index: 10;
    }
    #slide1-img1 {
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 180px;
      right: 160px;
      width: auto;
    }
    #slide1-img2 {
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 195px;
      right: 160px;
      width: auto;
    }
    #slide1-img3 {
      position: absolute;
      -webkit-backface-visibility: hidden;
      right: 400px;
      top: 400px;
      width: auto;
    }
    #slide1-img4 {
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 600px;
      right: 440px;
      width: auto;
    }
    #btn-iTunes {
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 640px;
      right: 340px;
      width: 100px;
    }
    #btn-android {
      position: absolute;
      -webkit-backface-visibility: hidden;
      top: 640px;
      right: 220px;
      width: 116px;
    }
    @media screen and (max-width: 1400px) {
      div#slide1-content img {
        max-width: 500px;
      }
      #slide1-img3 {
        max-width: 300px;
        right: 350px;
        top: 340px;
      }
      #slide1-img4 {
        top: 470px;
        right: 380px;
        max-width: 100px;
      }
      #btn-iTunes {
        top: 500px;
        right: 290px;
      }
      #btn-android {
        top: 500px;
        right: 170px;
      }
    }
    @media screen and (max-width: 768px) {
      background: url(../images/bg_home_1.jpg) right no-repeat !important;
      height: 650px !important;
      .container {
        padding-top: 50px;
      }
      div#slide1-content img {
        max-width: 350px;
      }
      #slide1-img1 {
        right: 10px;
        top: 100px;
      }
      #slide1-img2 {
        top: 120px;
        right: 0;
      }
      #slide1-img3 {
        top: 250px;
        right: 20px;
        max-width: 200px;
      }
      #slide1-img4 {
        top: 400px;
        right: 70px;
      }
      #btn-iTunes {
        top: 520px;
        right: 230px;
      }
      #btn-android {
        top: 520px;
        right: 100px;
      }
    }
    @media screen and (max-width: 480px) {
      .container {
        padding-top: 60px;
      }
      div#slide1-content img {
        max-width: 180px;
      }
      #slide1-img1,
      #slide1-img2 {
        right: 50px;
      }
      #slide1-img1 {
        top: 67px;
      }
      #slide1-img2 {
        top: 70px;
      }
      #slide1-img3 {
        top: 120px;
        right: 80px;
        max-width: 160px;
      }
      #slide1-img4 {
        top: 180px;
        right: 100px;
        max-width: 60px !important;
      }
      #btn-iTunes {
        top: 250px;
        right: 160px;
      }
      #btn-android {
        top: 250px;
        right: 30px;
      }
    }
  }
  .flex-active-slide {
    h1 {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }
    h2 {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }
    #slide4-img1 {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
    #slide4-img2 {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 1.3s;
      -webkit-animation-delay: 1.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
    #slide4-img3 {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
    #slide4-img4 {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 1.9s;
      -webkit-animation-delay: 1.9s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon,
    #slide_4_spotify {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 2.2s;
      -webkit-animation-delay: 2.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
  }

  #section2 {
    background: url(../images/bg_home_2.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-size: 60px;
    color: #fff;
    padding-top: 13%;
    @media screen and (max-width: 1300px) {
      font-size: 40px;
      padding-top: 17%;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      padding-top: 30%;
    }
    h1 {
      text-transform: uppercase;
      font-family: "museo-slab";
      font-weight: 700;
      font-size: 2em;
      span {
        font-size: 2.1em;
        line-height: 0.8em;
        text-transform: capitalize;
        font-weight: 100;
        @include font-sacramento;
        color: #d65a9c;
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 0.5em;
      @media screen and (max-width: 768px) {
        font-size: 0.9em;
        padding: 0 30px;
      }
    }
    a {
      text-align: center;
      text-decoration: none;
      color: #fff;
    }
    .bullets {
      font-size: 0.5em;
      padding: 0 20px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  #section3 {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
    h1 {
      @media screen and (max-width: 768px) {
        font-size: 2em;
      }
    }
    h2 {
      @media screen and (max-width: 768px) {
        font-size: 1.8em;
        padding: 0 30px;
      }
    }
    .bullets {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    width: 100%;
    height: 120vh;
    background-size: cover;
    object-fit: cover;
    text-transform: uppercase;
    a {
      text-align: center;
      text-decoration: none;
    }
    .intro {
      color: #fff;
      padding-top: 20%;
      font-family: "museo-slab",serif;
      text-transform: uppercase;
    }
    .bullets {
      font-size: 0.5em;
      padding: 0 20px;
    }
    h1 {
      font-size: 4em;
      color: #fff;
      font-family: "museo-slab";
      text-transform: uppercase;
      font-weight: 700;
      @media screen and (max-width: 768px) {
        font-size: 1.5em !important;
        padding: 20% 30px 0 !important;
      }
    }
    h2 {
      font-size: 3em;
      line-height: 0.2em;
      @media screen and (max-width: 768px) {
        font-size: 1.2em !important;
        padding-left: 60px !important;
        padding-right: 60px;
        line-height: 1em;
      }
    }
    #myVideo {
      position: absolute;
      -webkit-backface-visibility: hidden;
      z-index: -999;
      width: 100%;
      height: 100vh;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-size: 100% 100%;
      background-color: black;
      /*      background: url('../images/bg_home_video.jpg');*/
      background-size: cover;
      background-position: center center;
      object-fit: cover;
      @-moz-document url-prefix() {
        height: auto !important;
      }
    }
    @media screen and (max-width: 768px) {
      #myVideo {
        display: none !important;
      }
      background: url(../images/bg_home_video.jpg) center no-repeat !important;
      background-size: cover !important;
    }
  }

  .pickmeuplink {
    width: 100vw;
    height: 100vh;
  }

  #section4 {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
    background: url(../images/bg_home_3.jpg) center no-repeat;
    width: 100%;
    background-size: cover;
    @media screen and (max-width: 768px) {
      background: url(../images/bg_home_3.jpg) 45% no-repeat !important;
      background-size: cover !important;
      .container {
        padding-top: 50px;
      }
    }
  }

  .spotify-widget-wrap {
  	position: absolute;
  	top: 90%;
  	left: 66%;
  	display: none;
  }

  #slide_4_mac {
    display: block;
    margin: 0 auto;
    width: 75px;

    img {
      width: 200px;
      margin-left: -6rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    #slide_4_spotify {
      display: none;
    }

    #slide_4_mac {
      position: absolute;
      top: 75%;
      left: 66%;
      width: 300px;

      img {
        width: 300px;
        margin: auto;
        padding: 0;
      }
    }

  	.spotify-widget-wrap {
  		display: block;
  	}
  }

  #slide4-img1 {
    width: 329px;
    position: absolute;
    top: 10%;
    left: 20%;
  }

  #slide4-img2 {
    width: 260px;
    position: absolute;
    top: 25%;
    left: 23%;
  }

  #slide4-img3 {
    width: 387px;
    position: absolute;
    top: 53%;
    left: 20%;
  }

  #slide4-img4 {
    width: 356px;
    position: absolute;
    top: 70%;
    left: 21%;
  }

  #slide_4_itunes,
  #slide_4_google,
  #slide_4_amazon,
  #slide_4_spotify {
    position: absolute;
    -webkit-backface-visibility: hidden;
    top: 80%;
    width: 129px;
  }

  #slide_4_itunes {
    left: 36%;
  }

  #slide_4_google {
    left: 27%;
  }

  #slide_4_amazon {
    left: 18%;
  }

  @media screen and (max-width: 1600px) {
    #slide4-img1 {
      left: 17%;
    }

    #slide4-img2 {
      left: 20%;
    }

    #slide4-img3 {
      left: 17%;
      top: 57%
    }

    #slide4-img4 {
      left: 18%;
      top: 75%;
    }

    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon {
      top: 85%;
    }

    #slide_4_itunes {
      left: 36%;
    }

    #slide_4_google {
      left: 25%;
    }

    #slide_4_amazon {
      left: 14%;
    }
  }

  @media screen and (max-width: 1400px) {
    #slide4-img1 {
      left: 17%;
    }

    #slide4-img2 {
      left: 20%;
    }

    #slide4-img3 {
      left: 17%;
      top: 60%;
    }

    #slide4-img4 {
      left: 18%;
    }

    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon {
      top: 85%;
      width: 100px;
    }

    #slide_4_itunes {
      left: 39%;
    }

    #slide_4_google {
      left: 27%;
    }

    #slide_4_amazon {
      left: 15%;
    }
  }

  @media screen and (max-width: 1200px) {
    #slide4-img1 {
      left: 14%;
      top: 11%;
      width: 250px;
    }

    #slide4-img2 {
      left: 16%;
      width: 200px;
    }

    #slide4-img3 {
      left: 17%;
      width: 200px;
    }

    #slide4-img4 {
      left: 15%;
      width: 240px;
    }

    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon,
    #slide_4_spotify {
      top: 85%;
      width: 75px;
    }

    #slide_4_itunes {
      left: 34%;
    }

    #slide_4_google {
      left: 19%;
    }

    #slide_4_amazon {
      left: 4%;
    }
  }

  @media screen and (max-width: 1000px) {
    #slide4-img1 {
      left: 17%;
      top: 12%;
    }

    #slide4-img2 {
      left: 20%;
      top: 28%;
    }

    #slide4-img3 {
      left: 19%;
      top: 62%;
      width: 225px;
    }

    #slide4-img4 {
      left: 19%;
    }

    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon,
    #slide_4_spotify {
      width: 75px;
    }

    #slide_4_itunes {
      left: 40%;
    }

    #slide_4_google {
      left: 22%;
    }
  }

  @media screen and (max-width: 768px) {
    #slide4-content {
    padding-top: 60px;
    margin-right: 40%;
    background-color: rgba(0,0,0,.4);
    }

    #slide4-img1 {
      width: 225px;
    }

    #slide4-img1,
    #slide4-img2,
    #slide4-img3,
    #slide4-img4,
    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon,
    #slide_4_spotify {
      display: block;
      margin: 0 auto;
      padding: 2rem;
      position: relative;
      top: auto;
      left: auto;
    }

    #slide_4_itunes,
    #slide_4_google,
    #slide_4_amazon,
    #slide_4_spotify {
      padding: 0;

      img {
        margin-left: -2.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  .flexslider {
    margin: 0;
  }
  .flexslider .slides > li {
    -moz-transition: opacity 0.5s ease-in;
    position: relative !important;
  }
  .flex-control-nav .flex-active {
    background: $link_color !important;
    border: 1px solid $link_color !important;
  }
  .flex-control-nav {
    top: 20px;
    right: 7px;
    position: absolute;
  }
  .flex-control-nav li {
    width: 15px;
    height: 15px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    margin: 10px;
  }
  .direction {
    top: 45%;
    width: 20px;
    height: 190px;
    position: fixed;
    right: 15px;
    z-index: 9999;
    @media screen and (max-width: 768px) {
      display: none;
    }
    a:hover {
	    color: $link_color;
    }
  }
  .next {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    z-index: 9999;
    color: #fff;
  }
  .prev {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
  }
  a.next,
  a.prev {
    text-decoration: none !important;
  }
  footer {
    text-align: center;
  }
  footer a {
    text-decoration: none;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}
/* Blog and Events
****************************************************/
body.page-template-page-templatesnews-php {
  background: url(../images/bg_news.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.page-template-page-templatesevents-php {
  background: url(../images/bg_events.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-content {
  background-color: #fff;
  width: 600px;
  padding: 0 20px 20px;
  font-size: 10pt;
  float: left;
  z-index: 100;
}
#main-content h1 {
  float: left;
  margin-top: 0 !important;
  margin-bottom: 20px;
  padding-top: 28px;
  text-transform: none;
  max-width: 70%;
}
#main-content p {
  clear: both;
  padding-top: 20px;
}
#main-content iframe,
#main-content img {
  margin-left: auto !important;
  margin-right: auto;
  text-align: center !important;
}
article.blog-post {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 2px dotted #492933;
}
article.blog-post img {
  max-width: 100%;
  max-height: 100%;
}
.article-preview-image img {
  width: 100%;
  height: auto;
}
figure.article-preview-image {
  margin: 0;
}
.article-meta li {
  display: inline;
}
.article-meta li:before {
  content: '\00b7';
  color: #492933;
  margin-right: 5px;
}
.article-meta li:first-child:before {
  content: '';
  margin-left: 10px;
}
.article-meta-comments {
  background-image: url(../images/comments_bg.jpg) top left no-repeat;
}
.article-date {
  text-transform: uppercase;
}
.article-meta {
  float: right;
  padding-top: 28px;
}
.post-start {
  clear: both;
}
#blog-aside {
  background-color: rgba(255, 255, 255, .92);
  width: 300px;
  float: right;
  z-index: 100;
}
#blog-aside h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
#blog-aside img {
  width: 100%;
  height: auto;
}
#blog-aside p {
  margin-top: 0;
}
.schedule-widget {
  padding: 0 25px 25px;
}
.schedule-widget h1 {
  text-transform: none;
}
.albums-widget img {
  margin-bottom: 4px;
}
.posts-widget {
  border-bottom: 2px dotted #492933;
}
.blog-widget {
  padding: 25px;
}
.posts-widget {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog-title {
  margin-bottom: -25px;
  margin-top: -30px;
}
.article-meta li {
  display: inline;
}
.article-meta li:before {
  content: '\00b7';
  color: #492933;
  margin-right: 5px;
}
.article-meta li:first-child:before {
  content: '';
  margin-left: 10px;
}
.article-meta-comments {
  background-image: url(../images/comments_bg.jpg) top left no-repeat;
}
.article-date {
  text-transform: uppercase;
}
.article-meta {
  float: right;
  padding-top: 28px;
}
.post-start {
  clear: both;
}
#blog-aside {
  background-color: rgba(255, 255, 255, .92);
  width: 300px;
  float: right;
  z-index: 100;
}
#blog-aside h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
#blog-aside img {
  width: 100%;
  height: auto;
}
#blog-aside p {
  margin-top: 0;
}
.schedule-widget {
  padding: 0 25px 25px;
}
.schedule-widget h1 {
  text-transform: none;
}
.albums-widget img {
  margin-bottom: 4px;
}
.posts-widget {
  border-bottom: 2px dotted #492933;
}
.blog-widget {
  padding: 25px;
}
.posts-widget {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog-title {
  margin-bottom: -25px;
  margin-top: -30px;
}
.pagination li {
  display: inline;
}
.pagination li:before {
  content: '|';
  color: #492933;
  margin-right: 5px;
}
.pagination li:first-child:before {
  content: '';
}
/*News page
***************************************************/
.page-template-news {
  div.content {
    width: 1180px;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  .grid {
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
      width: 600px
    }
    @media screen and (max-width: 480px) {
      width: 300px;
    }
  }
  .grid-item {
    width: 285px;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    iframe {
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
    }
    h2 {
      margin: 0;
      cursor: pointer;
      font-size: 28px !important;
    }
    h4 {
      margin-top: 2px;
      font-style: italic;
      font-size: 13px;
    }
    img {
    	width: 100%;
      max-width: 100%;
      height: auto;
    }
    .grid-content {
      padding: 20px;
    }
    p {
	    font-size: 13px;
    }
  }
  .fancybox-skin {
    .featured-img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-bottom: 10px;
    }
    iframe {
	    width: 648px;
	    height: 460px;
	    max-width: 100%;
	    @media screen and (max-width: 480px) {
        width: 100%;
        height: auto;
      }
    }
    .news-content {
      padding: 20px;
      img {
	      max-width: 100%;
	      height: auto;
      }
    }
  }
  .share-news {
  	font-size: 12px;
  	line-height: 2em;
    span,
    i {
      display: inline-block;
      margin-right: 5px;
    }
    span:first-child {
      color: #985a96;
    }
    a {
      color: #d0d0d0;
      &:hover {
        color: #985a96;
      }
    }
    .at-icon-wrapper {
      display: none;
    }
  }
  .read-more {
    color: #985a96;
    font-size: 12px;
  }
  #loading-spinner {
    display: none;
    i,
    p {
      color: $link_color;
    }
  }
}
.single-news {
  background: url(../images/bg_news.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  div.content {
	  padding-bottom: 50px;
  }
  #main-content {
	  width: 100% !important;
  }
}
.pagination li {
  display: inline;
}
.pagination li:before {
  content: '|';
  color: #492933;
  margin-right: 5px;
}
.pagination li:first-child:before {
  content: '';
}
/*Photos page (AKA MEDIA PAGE)
***************************************************/
body.page-template-page-templatesphotos-php {
  .fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #fp-nav {
    display: none;
  }
  #section0 {
    background-image: url(../images/bg_video.jpg);
    padding: 0;
    background-size: cover;
    background-position: top right;
    h1 {
      @media screen and (max-width: 768px) {
        color: #fff;
      }
    }
  }
  #section1 {
    h1 {
      padding-top: 50px;
    }
    padding: 0;
    height: 100%;
    margin-bottom: -70px;
    margin-top: -20px;
  }
  @media screen and (max-width: 768px) {
    margin-top: -20px;
  }
}
.page-template-photos {
  background-image: url(../images/bg_photos.jpg);
  background-size: cover;
  background-position: top right;
}
#necklace {
  position: absolute;
  top: 0;
  width: 40%;
  right: 1px;
  top: -40;
}
.content.videos .ca-container {
  height: 250px !important;
}
.ca-container {
  position: relative;
  margin: 25px auto 20px;
  width: 82%;
  height: 450px;
}
ul.slides.photo-slides {
	padding-left: 30px;
}
.ca-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .flex-direction-nav .flex-prev {
	  margin-left: 0 !important;
	  margin-right: 0 !important;
	  left: -10% !important;
	  opacity: 1 !important;
  }
  .flex-direction-nav .flex-next {
	  margin-left: 0 !important;
	  margin-right: 0 !important;
	  right: -11% !important;
	  opacity: 1 !important;
  }
  .flex-direction-nav a {
	  width: 33px;
	  height: 46px;
  }
}
.ca-item-odd,
.ca-item-even {
  position: relative;
  float: left;
  width: 330px;
  height: 100%;
  text-align: center;
}
.ca-item-main {
  width: 100%;
  position: absolute;
  margin-left: 0;
}
.ca-item-even h3 {
  width: 280px;
  height: 58px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  color: #623847;
  position: absolute;
  text-align: center;
  margin-top: -73px !important;
  line-height: 19px;
  padding-left: 60px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}
.ca-item-even .photos-thumb {
  padding-top: 44px !important;
}
.ca-item-odd .photos-thumb {
  padding-top: 65px;
}
.galleries {
  text-align: center;
  margin-bottom: 50px;
}
.gallery-wrapper {
  //wraps gallery chunks so that each chunk of 3 will be on one line
  display: block;
  margin: 0 auto;
}
.gallery,
.ca-icon,
.photos-thumb {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.gallery {
	cursor: pointer;
  display: inline-block;
  margin: 5px;
   :hover {
    img {
      -webkit-filter: blur(4px);
    }
    #viewphotos {
      opacity: 1;
      img {
        -webkit-filter: none;
      }
    }
  }
  .ca-icon {
    text-align: center;
    display: inline-block;
  }
  .photos-thumb {
    display: inline-block;
    text-align: center;
    position: relative;
  }
  img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 300px;
    width: auto;
    min-width: 100%;
  }
  h3 {
    @include font-montserrat;
    @include thumbnail-title;
  }
  button {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 300px;
    img {
      width: 155px;
      height: 47px;
    }
  }
}
#viewphotos {
  background: url(../images/photos_button.png) center center fixed no-repeat;
  padding: 0;
  margin: 0;
  width: 155px;
  height: 47px;
  bottom: 150px;
  left: 75px;
  border: none;
  opacity: 0;
  @media screen and (max-width: 768px) {
  	opacity: 1;
  }
  span {
    opacity: 0;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.ca-item-odd h3 {
  width: 240px;
  height: 58px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  color: #623847;
  position: absolute;
  margin-top: -83px !important;
  line-height: 19px;
  padding-left: 50px;
  transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  /* IE 9 */
  -webkit-transform: rotate(1deg);
  /* Opera, Chrome, and Safari */
  margin-top: -64px !important;
}
.ca-content-wrapper {
  background: #b0ccc6;
  position: absolute;
  width: 0;
  /* expands to width of the wrapper minus 1 element */
  height: 440px;
  top: 5px;
  text-align: left;
  z-index: 10000;
  overflow: hidden;
}
.ca-nav span {
  width: 28px;
  height: 28px;
  background: transparent url(../images/arrows.png) no-repeat top left;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: -40px;
  text-indent: -9000px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
}
.ca-nav span.ca-nav-next {
  background-position: top right;
  left: auto;
  right: -40px;
}
.ca-nav span:hover {
  opacity: 1.0;
}
.photo-shadow-even {
  margin-top: -65px;
}
.photo-shadow-odd {
  margin-top: -55px;
}
#photosPage .flex-control-nav {
  display: none;
}
.video-container {
	position: relative;
  height: 155px;
  width: 275px;
  margin-bottom: 5px;
  background: url(http://placehold.it/275X155) center top no-repeat;
  display: inline-table;
  cursor: pointer;
  h3 {
  	@include font-montserrat;
  	@include thumbnail-title;
  	font-size: 13px !important;
  	&.active {
	  	@include thumbnail-title-hover;
	  	font-size: 13px !important;
  	}
  }
  &:hover {
  	h3 {
	  	@include thumbnail-title-hover;
	  	font-size: 13px !important;
  	}
  }
}
/* MEDIA Page (Aka music page)
****************************************************/
.btn-play-video {
  background: url(../images/icon_play.png) center top no-repeat;
  text-indent: -99999px;
  float: left;
  margin-left: 43.33%;
  margin-top: 12%;
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.btn-play-video:hover {
  background-position: center bottom;
}
.page-template-videos {
  background: url(../images/bg_video.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	div.content {
		width: 1100px;
		@media screen and (max-width: 768px) {
	    width: 100%;
	  }
	}
	@media screen and (max-width: 768px) {
		div.content iframe,div.container iframe {
	    width: 95% !important;
	    height: 250px;
	  }
	}
}
#videos img {
  padding-right: 500;
  padding-bottom: 30;
}
.media-body {
  display: block;
}
.buttons {
  display: block;
  margin-top: 20px;
  text-align: center;
   :first-child {
    margin: 0;
  }
  img {
    display: inline-block;
  }
  a {
    margin-left: 2px;
  }
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  top: -17px;
}

.page-template-media {
  background: url(../images/bg_music.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  footer {
	  position: fixed;
	  bottom: -20px;
  }

  @media screen and (max-width: 728px) {
  	footer {
	  	position: relative;
	  	bottom: inherit;
  	}
  }

  @media screen and (max-width: 480px) {
    #fp-nav {
	    display: none;
    }
    .buttons img {
	    width: 100px;
    }
    .media-left .wp-post-image {
	    width: 200px;
    }
    .audioplayer {
	    height: 55px;
	    text-align: left;
	    .btn-audioplayer {
		    position: relative;
		    display: inline-block;
		    margin-top: 23px;
		    right: inherit;
		    margin-left: 10px;
		    z-index: 999;
		    &:first-child {
			    margin-left: 45px;
		    }
	    }
    }
  }
  div.content {
    padding-top: 0;
    width: auto;
    max-width: 1200px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .fp-tableCell {
    vertical-align: middle !important;
  }
  #menu li {
    display: inline-block;
    margin: 0 20px;
  }
  #menu li.active {
    background: #009999;
    color: #fff;
  }
  #menu li a {
    text-decoration: none;
    color: #000;
  }
  #menu li.active a:hover {
    color: #000;
  }
  #menu li:hover {
    background: #009999;
  }
  #menu li a,
  #menu li.active a {
    padding: 0;
    display: block;
  }
  #menu li.active a {
    color: #fff;
  }
  #menu {
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    position: fixed;
    top: 150px;
    text-align: center;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #menu h1 {
    color: #fff;
    font-size: 1em;
    left: 45%;
  }
  .slides li {
    padding-top: 300px;
    background-height: 100%;
  }
  #section0,
  #section1,
  #section2,
  #section3,
  #section4 {
    background: transparent;
    padding: 0;
    background-size: cover;
    background-position: top right;
  }
  .fp-section {
	  .content {
		  margin-top: 140px !important;
	  }
  }
  #media-nav-container {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 280px;
  }
  #media-nav-container:hover #media-Nav {
    display: block;
  }
  #media-nav-container {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 280px;
  }
  div#media-Nav {
    background: rgba(0, 0, 0, 0.6);
    height: 280px;
    display: none;
    z-index: 2;
  }
  #media-Nav {
    z-index: 2;
  }
  .title {
    text-align: center;
    margin-bottom: 35px;
  }
  #media-Nav {
    z-index: 2;
  }
  .title {
    text-align: center;
    margin-bottom: 35px;
  }
  .btn-fullpage-arrow {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 9px;
    &:hover {
      color: $link_color;
    }
  }
  #fp-nav ul {
    margin-bottom: 20px;
  }
}
.media-nav-animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.media-right {
	width: 100%;
  text-align: left;
  h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.media-right h3 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-size: 42px;
  font-weight: normal;
  text-decoration: none;
}
.media-right p,
.media-left p {
  line-height: 2em;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
}
.media-left {
	img.wp-post-image {
		width: 431px;
	}
}
.media-right a.buyNow {
  width: 56px;
  height: 20px;
  display: inline-block;
  background: url(../images/btn_buy_now.png) center top no-repeat;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  z-index: 100;
}
.media-right a.buyNow:hover {
  background-position: center bottom;
}
div.content.music {
  padding-top: 70px;
  z-index: 999;
  overflow-x: hidden;
}
/*Added*/
#album-Description {
  padding-left: 80px;
  margin-top: 0;
  width: 300px;
  float: left;
}
#album-Details {
  font-family: Arial, sans-serif;
  font-size: 9pt;
  text-decoration: none;
}
/*!End Added*/
#special-audio-download {
  margin: 0 auto 20px;
  padding-bottom: 20px;
}
#special-audio-download input {
  opacity: 1;
  padding: 8px 10px;
  font-family: 'Rokkitt', serif;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
#special-audio-download button {
  padding: 8px 20px;
  margin-top: -2px;
}
/* FREE DOWNLOAD */
img.title-mobile {
  float: right;
}
.free-download-form {
  clear: both;
  @media screen and (max-width: 768px) {
    float: none !important;
  }
}
#main-content {
  background-color: rgba(255, 255, 255, .92);
  width: 600px;
  padding: 0 20px 20px;
  font-size: 10pt;
  float: left;
  z-index: 100;
}
#main-content h1 {
  float: left;
  margin-top: 0 !important;
  margin-bottom: 20px;
  padding-top: 28px;
  text-transform: none;
  max-width: 70%;
}
#main-content p {
  clear: both;
  padding-top: 20px;
}
#main-content iframe,
#main-content img {
  margin-left: auto !important;
  margin-right: auto;
  text-align: center !important;
}
article.blog-post {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 2px dotted #492933;
}
article.blog-post img {
  max-width: 100%;
  max-height: 100%;
}
.article-preview-image img {
  width: 100%;
  height: auto;
}
figure.article-preview-image {
  margin: 0;
}
.article-meta li {
  display: inline;
}
.article-meta li:before {
  content: '\00b7';
  color: #492933;
  margin-right: 5px;
}
.article-meta li:first-child:before {
  content: '';
  margin-left: 10px;
}
.article-meta-comments {
  background-image: url(../images/comments_bg.jpg) top left no-repeat;
}
.article-date {
  text-transform: uppercase;
}
.article-meta {
  float: right;
  padding-top: 28px;
}
.post-start {
  clear: both;
}
#blog-aside {
  background-color: rgba(255, 255, 255, .92);
  width: 300px;
  float: right;
  z-index: 100;
}
#blog-aside h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
#blog-aside img {
  width: 100%;
  height: auto;
}
#blog-aside p {
  margin-top: 0;
}
.schedule-widget {
  padding: 0 25px 25px;
}
.schedule-widget h1 {
  text-transform: none;
}
.albums-widget img {
  margin-bottom: 4px;
}
.posts-widget {
  border-bottom: 2px dotted #492933;
}
.blog-widget {
  padding: 25px;
}
.posts-widget {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog-title {
  margin-bottom: -25px;
  margin-top: -30px;
}
.pagination li {
  display: inline;
}
.pagination li:before {
  content: '|';
  color: #492933;
  margin-right: 5px;
}
.pagination li:first-child:before {
  content: '';
}
/********************** EVENTS PAGE ************************/
.panel-heading:before {
  content: " ";
  display: table;
}
.panel-heading:after {
  clear: both;
}
.event-post .col-heading {
  padding-top: 8px;
}
.panel-heading {
  line-height: 15px;
  padding: 15px;
}
.panel-group {
   :nth-child(odd) > .panel-heading, :nth-child(odd) > .panel-collapse .panel-body {
    background-color: rgba(255, 255, 255, 0.5);
  }
   :nth-child(even) > .panel-heading, :nth-child(even) > .panel-collapse .panel-body {
    background: transparent;
  }
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
	border-top: 0px;
}
.panel-default > .panel-heading {
  color: #fff;
  @include font-montserrat;
  text-transform: uppercase;
  font-size: 13px;
  a:hover,
  a:focus {
    text-decoration: none;
  }
}
.share {
  margin: 20px 0 0;
  border-top: 2px dotted #009999;
}
p.share-txt {
  @include font-montserrat;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 7px;
  padding-right: 5px;
}
.post-social a {
  font-size: 20px;
  color: #009999;
  display: block;
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  padding-top: 8px;
  overflow: hidden;
  text-decoration: none;
}
.post-social a:hover {
  color: #fff;
  background: #009999;
  text-decoration: none;
}
.post-social a span {
  display: none;
}
@media screen and (max-width: 768px) {
  .col-sm-2.event-place {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
  .col-sm-2.event-btn {
    width: 50%;
    float: right;
    margin-top: 10px;
  }
}
.panel-default {
  border-color: transparent;
}
.post-event {
  padding-top: 10px;
  padding-bottom: 10px;
}
a.collapsed,
a.collapse-link {
  text-decoration: none;
  background-color: #c95693;
  border-radius: 7px;
  padding: 9px 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 9px;
  float: right;
  margin-top: 2px;
  &:hover {
	  background-color: #65314b;
  }
}
.event-place {
  color: #c95693;
  font-size: 12px;
}
.panel-group .panel {
  border-radius: 0;
  margin-top: 0 !important;
}
.panel-group {}
.panel-body {
	font-size: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 0 20px 18.2%;
  @include font-montserrat;
  h1 {
    font-family: 'Rokkitt';
    font-size: 24px;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: #009999;
  }
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #009999;
  }
}
#past-events {
  display: none;
}
a.events-toggle {
  color: #fff;
  font-family: 'Rokkitt';
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  img {
	  position: absolute;
	  left: -14px;
	  top: -10px;
  }
}
/********************** !END EVENTS PAGE ************************/



/********************** BIO PAGE ************************/
.page-template-bio {
  background: url(../images/bg_bio_mobile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: url(../images/bg_bio.jpg);
  }
  .container {
	  p {
		  color: white;
		  text-indent: 20px;
		  text-align: justify;
		  font-family: 'Rokkitt', serif;
		  font-size: 1.2em;
	  }
  }
}
#bio {
  width: 100%;
  height: 94%;
}
/********************** !END BIO PAGE ************************/
/********************** CONTACT PAGE ************************/
body.page-template-page-templatescontact-php {
  background: url(../images/bg_contact.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  p, label {
	  font-family: 'Rokkitt', serif;
	  font-size: 18px;
  }
}
.left-paragraph {
  width: 30%;
  margin: 0;
  float: left;
}
.form-contact {
  margin-top: 10%;
  width: 40%;
  float: left;
  margin-left: 30px;
}
#contactForm label {
  font-size: 13px;
  font-family: Arial;
  text-align: right;
}
.navbar.navbar-default.navbar-static-top .container {
  padding-top: 0 !important;
}
/********************** !END CONTACT PAGE ************************/
/********************** EPK PAGE *******************************/

.page-template-kayleeEPK {
  background-color: #525659;
}

/********************** !END EPK PAGE ************************/

@import 'modules/animations';
@import 'modules/fonts';
@import 'modules/mediaQueries';
@import 'modules/audioplayer';
