body { 
	font-family: 'Rokkitt', serif; font-size:14px; background-color:#7e4a60;  background-image:url("../catalog_images/main_bg.jpg"); background-repeat:repeat;    background-size: 100% auto; 
	margin-top: -63px;
	}
* { margin:0px; padding:0px; }
a, a:focus { outline:none; }
a, input, button {
    outline: none !important;
}
li, ul { list-style-type:none; }
p, li, h1, h2, h3, h4, h5, h6 { margin:0px; padding:0px; }
.container-fluid { padding:0px; }
.music_nav { position:absolute; width:100%; }
.navbar-default {
     background-color: transparent;
     border:none;
}
.music_banner img { width:100%; }
.music_banner { position:relative; margin-top:73px; }
.music_banner h1 {   
	position:absolute;
	text-align:center; bottom:10%; width:100%;
    font-size:120px; 
    text-transform: capitalize;
    font-weight: 100;
    font-family: 'Sacramento', cursive;
    color: #d65a9c;
}
.container-fluid.catalog_fluid { padding:0px; color:#fff;  background-image:url("../catalog_images/Catalogbg.jpg");    background-repeat: no-repeat;    background-size: 100% auto; }
.catalog_fluid .music_catalog { font-family:'Rokkitt', serif; width:100%; max-width:570px; padding:95px 10px 0px; margin:0px auto; }
.music_catalog h1 { font-size:60px; font-family:'Rokkitt', serif; text-align:center; padding-bottom:85px; text-transform:none; }
.music_catalog h2 { font-size:60px; text-align:center; padding-bottom:65px; font-family:'Rokkitt', serif; padding-top:40px; }
.catalog_catagery { padding-bottom:55px; }
.release_catagery.catalog_catagery { padding-bottom:0px; } 
.catalog_catagery ul li { background:#663249; font-family:'Rokkitt', serif; line-height: 40px; padding-left:0px; border-radius: 5px; font-size:21px; margin-bottom:8px; padding-top:0px;   }
.catalog_catagery ul li button { background:none; border:none; color:#fff; font-family:'Rokkitt', serif; } 
.catagery_tagline { font-size:30px; color:#e770ab; line-height:30px; padding-bottom:25px; /*32px*/ text-transform:capitalize;   }
.catagery_listsec { padding-bottom:30px; }

 
.catagery_img  .buttons { margin-left:-15px; padding-top:10px;  }
.catagery_img .buttons a:first-child { margin-right:10px; }
.catagery_img .buttons a { margin-left:0px; }
@media (min-width:1600px){
	.music_banner h1 { font-size:120px;  }
}
@media (max-width:1599px){
	.music_banner h1 { font-size:100px;  }
}

@media (max-width:1024px){
	.music_banner h1 { font-size:80px;  }
	.music_nav .navbar-nav	 { padding-top:0px; }
	/*.music_nav .navbar-inverse .navbar-nav > li > a { font-size:14px; padding:12px 18px;  }*/
	.music_nav .navbar-inverse { padding-top:10px; }
		
}
@media (max-width:800px){
	.music_nav .navbar-inverse .navbar-nav > li > a { padding:15px 15px 12px;  }	
	.music_banner h1 { font-size:60px;  }
}
 

@media (max-width:767px){
	.music_banner { margin-top:50px; }  
	.play_list { width:80%; margin:0px auto; }
	footer { height:100px; }
	footer .pull-right, footer .pull-left { text-align:center; float:none !important; margin:0px auto; }
	#copy-right { padding-top:0px; }
	.catagery_tagline { text-align:center; }
	.audio_list { max-width:80%; margin:0px auto; }
	.music_banner h1 { font-size:40px;  }
	.row { margin:0px; }
	.catagery_img { padding-bottom:20px; }
	.catalog_fluid .music_catalog { padding-bottom:0px; padding-top:30px; }
	.catalog_fluid .music_catalog h1 { padding-bottom:20px;  font-size:40px; }
	.music_catalog h2 { padding-top:20px; font-size:40px; padding-bottom:20px; }
	.catalog_catagery { padding-bottom:0px;}
	footer { margin-top:20px; }
	.row .col-sm-6 { padding-left:0px;padding-right:0px; }
	.catagery_img { text-align:center; }
}
@media (max-width:480px){
	.music_banner h1 { font-size:35px;  }
	.music_nav .navbar-inverse .navbar-nav > li { float:none; }
	.navbar-toggle  { margin-top:0px; }  

}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{top:-17px}
.audioplayer #title{width:auto;
margin-left:42px;
top:5px}
.audioplayer #title{width:auto}
.audioplayer{height:40px;
color:#472933; 
position:relative;
z-index:1;
background:#663249 !important;
border-radius:5px; 
font-size:18px;
color:white;
margin-bottom: 8px;}
.audioplayer-mini{width:2.5em;
margin:0 auto}
.audioplayer>div{position:absolute}
.audioplayer-playpause{ cursor:pointer; height:auto; }
.audioplayer-mini .audioplayer-playpause{width:100%}
.audioplayer-playpause a{display:block}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{width:0;
height:0;
border-top:10px solid transparent;
border-bottom:10px solid transparent;
border-left:18px solid;
border-left-color:#996778;
content:'';
position:absolute;
top:19px;
left:17px;
margin:-0.5em 0 0 -0.25em}
.audioplayer-playing .audioplayer-playpause a{
	border:none !important;
width:0.75em !important; 
height:0.75em !important;
position:absolute !important;
    margin: 0px !important;
    top: 12px;
    left: 11px;}
.audioplayer-playing .audioplayer-playpause a:before,.audioplayer-playing .audioplayer-playpause a:after{width:40% !important;
height:100% !important;
background-color:#996778 !important;
content:'';
position:absolute !important;
top:0 !important}
.audioplayer-playing .audioplayer-playpause a:before{left:0 !important}
.audioplayer-playing .audioplayer-playpause a:after{right:0 !important}
.audioplayer-time{display:none}
.audioplayer-time-current{border-left:1px solid #111;
border-left-color:rgba(0,0,0,0.25);
left:2.5em}
.audioplayer-time-duration{border-right:1px solid #555;
border-right-color:rgba(255,255,255,0.1);
right:3.5em}
.audioplayer-novolume .audioplayer-time-duration{border-right:0;
right:0}
.audioplayer-bar{height:0.875em;
background-color:#ccc;
cursor:pointer;
z-index:1;
top:50%;
right:6.875em;
left:6.875em;
margin-top:-0.438em}
.audioplayer-novolume .audioplayer-bar{right:4.375em}
.audioplayer-bar div{width:0;
height:100%;
position:absolute;
left:0;
top:0}
.audioplayer-bar-loaded{background-color:#888;
z-index:1}
.audioplayer-bar-played{background:#007fd1;
background:-webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
background:-webkit-linear-gradient(left, #007fd1, #c600ff);
background:-ms-radial-gradient(left, #007fd1, #c600ff);
background:linear-gradient(left, #007fd1, #c600ff);
z-index:2}
.audioplayer-volume{width:2.5em;
height:100%;
text-align:left;
text-indent:-9999px;
cursor:pointer;
z-index:2;
top:0;
right:0}
.audioplayer-volume:hover,.audioplayer-volume:focus{background-color:#ccc}
.audioplayer-volume-button{display:none}
.audioplayer-volume-button a{width:0.313em;
height:0.375em;
background-color:#996778;
display:block;
position:relative;
z-index:1;
top:40%;
left:35%}
.audioplayer-volume-button a:before,.audioplayer-volume-button a:after{content:'';
position:absolute}
.audioplayer-volume-button a:before{width:0;
height:0;
border:0.5em solid transparent;
border-left:none;
border-right-color:#996778;
z-index:2;
top:50%;
right:-0.25em;
margin-top:-0.5em}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after{width:0.313em;
height:0.313em;
border:0.25em double #996778;
border-width:0.25em 0.25em 0 0;
left:0.563em;
top:-0.063em;
border-radius:0 0.938em 0 0;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg)}
.audioplayer-volume-adjust{height:6.25em;
cursor:default;
position:absolute;
left:0;
right:-1px;
top:-9999px;
background:#ccc;
background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888));
background:-webkit-linear-gradient(top, #ccc, #888);
background:-ms-radial-gradient(top, #ccc, #888);
background:linear-gradient(top, #ccc, #888);
-webkit-border-top-left-radius:2px;
-webkit-border-top-right-radius:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
border-top-left-radius:2px;
border-top-right-radius:2px}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust{opacity:0}
.audioplayer-volume:hover .audioplayer-volume-adjust{top:auto;
bottom:100%}
.audioplayer-volume-adjust>div{width:40%;
height:80%;
background-color:#222;
cursor:pointer;
position:relative;
z-index:1;
margin:30% auto 0}
.audioplayer-volume-adjust div div{width:100%;
height:100%;
position:absolute;
bottom:0;
left:0;
background:#007fd1;
background:-webkit-gradient(linear, left bottom, left top, from(#007fd1), to(#c600ff));
background:-webkit-linear-gradient(bottom, #007fd1, #c600ff);
background:-ms-radial-gradient(bottom, #007fd1, #c600ff);
background:linear-gradient(bottom, #007fd1, #c600ff)}
.audioplayer-novolume .audioplayer-volume{display:none}
.audioplayer-play,.audioplayer-pause,.audioplayer-volume a{-webkit-filter:drop-shadow(1px 1px 0 #000);
-moz-filter:drop-shadow(1px 1px 0 #000);
-ms-filter:drop-shadow(1px 1px 0 #000);
-o-filter:drop-shadow(1px 1px 0 #000);
filter:drop-shadow(1px 1px 0 #000)}
.audioplayer-bar,.audioplayer-bar div,.audioplayer-volume-adjust div{border-radius:4px}
.audioplayer-bar,.audioplayer-volume-adjust>div{box-shadow:-1px -1px 0 rgba(0,0,0,0.5),1px 1px 0 rgba(255,255,255,0.1)}
.audioplayer-volume-adjust div div,.audioplayer-bar-played{box-shadow:inset 0 0 5px rgba(255,255,255,0.5)}
.audioplayer-volume-adjust{box-shadow:-2px -2px 2px rgba(0,0,0,0.15),2px -2px 2px rgba(0,0,0,0.15)}
.audioplayer *,.audioplayer *:before,.audioplayer *:after{-webkit-transition:color .25s ease, background-color .25s ease, opacity .5s ease;
transition:color .25s ease, background-color .25s ease, opacity .5s ease}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{border-left-color:rgb(230, 112, 170) !important}
.audioplayer-playing .audioplayer-playpause a:before,.audioplayer-playing .audioplayer-playpause a:after{background-color:rgb(230, 112, 170) !important}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover { background:#9A657D; border-radius:5px; }
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover a{border-left-color:rgba(255,255,255,0.9) !important}
.audioplayer-playing .audioplayer-playpause a:before,.audioplayer-playing .audioplayer-playpause a:after{background-color:rgb(230, 112, 170) !important}
.track:hover .audioplayer{background-color:rgba(106,61,77,0.9) !important}
.audioplayer>div{position:relative; top:0px; width:100%; }
.audioplayer-bar{display:none !important}
@media screen and (max-width: 768px){
	.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{rgb(230, 112, 170) !important}
.audioplayer-playing .audioplayer-playpause a:before,.audioplayer-playing .audioplayer-playpause a:after{background-color:#fff !important}
}
