// =======================================
//            variables & mixins
// =======================================

$bluetext: #033a7d;



// =======================================
//            custom css
// =======================================

#wrapper{
	background-image:url("../img/pinnacle.header.png");
	background-repeat: no-repeat;
  background-position: center;
  margin-top: 10.3125rem;
  max-width: 87.5rem;
  height: 50.9375rem;
}

#navbar{
  opacity: .97;
  .nav-item{
    margin-right: 1rem;
    color: black;
  }
}

.jumbotron{
  background: none;
  color: white;
  h1{
    font-family: serif;
    margin-top: 3rem;
  }
  p{
    color: white;
    text-decoration: underline;
  }
}  

#down_arrow{
  margin-top: -2rem;
  text-align: center;
}

#opportunity{
  font-family: serif;
  h1{
    color: $bluetext;
  }
  p, h1{
    margin-left: 20%;
    margin-right: 20%;
  }
}

#houses{
  background-image:url("../img/houses.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 45.1875rem;
  max-width: 87.5rem;
  .row{
    // height: 45.1875rem;

  }
  .card{
    background: none;
    border: none;
    font-family: serif;
    color: white;
  }
  .col-3{
    vertical-align: top;
  }
}

#membership{
  // .card{border: none;}
  h1{
    color: $bluetext
  }
}


// =======================================
//            media queries
// =======================================

//***** large *****//
@media (max-width: 992px){
  #navbar{
    .navbar-nav{
      margin-left: .1rem;
    }
    .nav-item{
      font-size: .75rem;
      margin-right: .1rem;
    }
    img{
      width: 50%;
      height: 50%;
    }
  }
  #wrapper {
    margin-top: 6rem;
    h1{
      font-size: 5rem;
    }
  }
}


//***** medium *****//
@media (max-width: 768px){
  #wrapper {
    h1{
      font-size: 4.5rem;
    }
  }
  #opportunity{   
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 0.93rem;
    }
    p, h1{
      margin-left: 3%;
      margin-right: 12%;
    }
  }
}


//***** small *****//
@media (max-width: 576px){
  #wrapper {
    h1{
      font-size: 4rem;
    }
  }
  #opportunity{
    p, h1{
      margin-left: 3%;
      margin-right: 12%;
    }
  }
}

