body {
  font-family: 'Bitter', serif;
}
.content {
  margin-top: 50px;
}
.navbar {
  border-top: 1px solid #E5E5E5;
}
.sc-red {
  color: #d82425;
}
.social-media-top {
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  padding-left: 0px;
  margin-top: 10%;
}
.social-media-top li a .fa-lg{
  font-size: 22px;
}
.social-media-top,
.social-media {
  list-style-type: none;
}
.social-media-top li,
.social-media li {
  display: inline;
}
.social-media-top li a {
  padding: 0 5px 0 5px;
  color: #d82425;
}
.social-media li a {
  color: #d82425;
  padding: 0 8px 0 8px;
}
header {
  margin-top: 10px;
}
#header {
  background: url('../img/header.png');
  height: 300px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav.nav-primary li {
    display: inline-block;
}
.nav-link {
  font-size: 16px;
  color:#000 !important;
  font-weight: bold;
}
/*.logo{
  border-right: 2px solid #9e9e9e;
  padding-right: 5px;
}*/

/*}
.jobs-header {
  border-left: 2px solid #9e9e9e;
  padding-left: 8px;
}*/
.btn-sportclip {
  color: #fff;
  background-color: #EA3E2A;
  padding: 1.2rem 2.0rem;
  font-size: 1.3rem;
  font-family: 'Bitter', serif;

}
.form-control, select{
  font-family: 'Bitter', serif;
}
footer {
  margin-top: 50px;
}
.footer-logo {
  padding-bottom: 10px;
}
nav {
  text-align: center;
}
.search-item{
    width: 44%;
    margin-right: 0px;
    display: flex !important;
    justify-content: flex-end;
}
.search-item form{
  width: 54%;
  display: inline-block;
}
.fa-search {
  color: #d82425 !important;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.3em;
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 99;

}
#heading {
  margin-top: 110px;
  /*margin-left: 50px;*/
  color: #ffffff;
  font-size: 3.0rem;
}
#gdheader {
  padding: 15px 0 15px 0;
  font-weight: 100;
}
/*#searchicon {
  background-color: #d82425 !important;
  color: #fff !important;
}*/
#searchbox {
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  border-color: #454546 !important;
}
.navbar-toggler{
  color: red!important;
}
.form-control-file {
  font-family: sans-serif !important;
  font-size: 11px !important;
  margin-bottom: 5px;
}
.content p {
  color: #6A6A6A;
  font-size: 18px;
  line-height: 30px;
}

/*new styles */
.inline-fields{
  display: flex;
  justify-content: space-between;
}

.inline-fields .form-group{
  width: 49%;
}
#searchbox{
  font-family: 'Bitter', serif;
}
@media only screen and (max-width: 1024px){
  .px-5 {
      padding-right: 2.5rem!important;
      padding-left: 2.5rem!important;
  }
   .form-check-inline{
    margin-left: 0 !important;
    margin-right: 10px;
   }
   .search-item {
      width: 34%;
      margin-right: 0px;
      display: flex !important;
      justify-content: flex-end;
  }
  .search-item form {
      width: 70%;
      display: inline-block;
  }
}
@media only screen and (max-width: 992px){
  .search-item form {
      width: 94%;
      display: inline-block;
  }
  .search-item {
    width: 38%;
    margin-right: 0px;
    display: flex !important;
    justify-content: flex-end;
    margin-top: 15px !important;
}
  .social-media-top{
    display: none;
  }
  .career-text{
    display: block !important;
  }
  .career-text-2{
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .inline-fields{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  } 
  .search-item{
    display: none !important;
  }  
  .inline-fields .form-group{
      width: 100%;
    }
    #header{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 183px;
    }
    #header #heading{
      padding: 0 !important;
      font-size: 32px;
      width: 80%;
      margin: 0 auto;
    }
    .content{
      padding: 0 38PX;
    }
    .btn-sportclip{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53%;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .event-box{
      justify-content: center;
    }
    footer {
      margin-top: 0px;
  }
  .footer-logo img{
    width: 230px;
  }
  .fa-3x {
      font-size: 1.5em;
  }
  #gdheader{
    font-size: 24px;
  }
  .social-media{
        padding: 0;
  }
  .form-check-inline{
    display: block;
    margin-left: 0 !important;
  }
  .form-check-inline.form-check-inline-b{
    display: inline-block;
    margin-right: 16px;
  }
  .navbar-toggler{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0;

  }
  .navbar-toggler:focus{
    outline: none;
  }
  .header-logo{
       width: 100%;
      text-align: center;
  }
  .header-logo img{
    width: 300px;
    vertical-align: middle;
    margin: 0 auto;
  }
}