html, body, div, a, img {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

#banner {
  position: relative;
  width: 728px;
  /*border: 1px solid black;*/
  overflow: hidden;
  opacity: 0;
  height: 90px;
}
div {
  position: relative;
}
#main-links {
	position: absolute;
	height: 100%;
	width: 100%;
}
#opener {
	position: absolute;
	z-index: 999;
}
#rotator {
  width: 100%;
  height: 90px;
  overflow: hidden;
  z-index: 800;
}
#rotator img {
  position: absolute;
  transform: translateY(90px);
  margin-top: 0;
}
#controls{
  position: relative;
  top: 10px;
  width: 100%;
  z-index: 900;
  opacity: 0;
}
#btnNext{
  color: #ffffff;
    position: absolute;
    right: 1%;
    bottom: 15px;
}
#btnNext:active, #btnNext:focus {
  color: #ffffff;
}
