/********************************************************************/
/* THEME OPTIONS  													*/
/********************************************************************/
/*PAGE CUSTOM FIELDS*/
#poststuff .box{margin-bottom:1.5em; border:1px solid #ccc; padding:0;}
	#poststuff .box h2{padding:8px 10px;}
	#poststuff .box h4{margin:0 0 1em; font-size: 14px;}

#poststuff .item{
    /*display: block;*/
    position: relative;
    background:#fafafa;
}
	#poststuff .itemlist{margin-bottom:25px;}
	#poststuff .item-header{position: relative; display: block; padding:10px 5px; background-color:#ccc; border-bottom:1px solid #ddd;}
		#poststuff .item-header .itemtitle{padding:0; line-height: 1; color:#353535; font-weight: bold; cursor:move;}
		#poststuff .item-header .removeitem{position: absolute; margin:0; top:8px; right:5px; color:red;}

	#poststuff .item-content{margin-bottom:2em; padding:15px; border:1px solid #ccc; margin-bottom:1.5em;}
		#poststuff .item-content .custom-control-container{padding:0;}
		#poststuff .item-content .mce-tinymce{border:1px solid #e5e5e5; margin:5px 0 0;}

	#poststuff .custom-image-container{border:1px solid #777; background:#999; padding:3px; width:auto; width:150px; height:150px; overflow:hidden; margin-right:1em;}
		#poststuff .custom-image-container img{width:100%; height:auto; display:block; position:relative;}

	#poststuff .custom-control-container{display:block; position:relative; padding:15px;}
	/*#poststuff .custom-control-container:nth-child(odd){}*/
	#poststuff .custom-control-container:nth-child(even){background-color: #ececec;}

		#poststuff .custom-control-container label{display:block; font-size:14px; }
		#poststuff .custom-control-container input{width: auto;} 
		#poststuff .custom-control-container textarea{width:100%;}

		#poststuff .custom-control-container .full-width{width: 100%;}
		#poststuff .custom-control-container .half-width{width: 49%; display: inline-block;}

		#poststuff .custom-control-contaner .button{cursor:pointer;}


.simple-table td{padding:0; vertical-align:top; margin-bottom:0; line-height:1;}
.text-upload{position:relative; width:250px; margin-bottom:1em;}
.header-input-container .button{min-width:110px;}

/*THEME OPTIONS*/
#theme-option-form .tab-container{padding:0;}
#theme-option-form h3{ padding:15px; margin:0; background:#9f9f9f; color:#fff; }
#theme-option-form .form-table{display:block; position:relative; width:100%; min-width:300px;}
	#theme-option-form .form-table tbody{display:block;}
		#theme-option-form .form-table tr{display:block; padding:0 15px; }
		#theme-option-form .form-table tr:nth-child(even){background:#f0f0f0; }
			#theme-option-form .form-table th{vertical-align: top; text-align: left; min-width:180px;}	
			#theme-option-form .form-table td{vertical-align: top; text-align: left; width:80%;}

#theme-option-form .inside-table{display:block; position: relative; width: 100%;}
	#theme-option-form .inside-table tr{padding:0;}
		#theme-option-form .inside-table td{width: auto;}

.control-wrapper{display:block; position:relative; margin-bottom:1em;}
.control-wrapper:after{content:''; display:block; position:relative; clear:both;}

.control-wrapper .control-label{display:block;}
.control-wrapper .control-image{width:auto; max-width:200px; height:200px; overflow: hidden; vertical-align:top; margin-bottom:1em;}
	.control-image img{width:100%; background:#ededed;}

.control-wrapper .control-field{width:100%; margin-bottom:1em;}
	.control-field input[type="text"]{width:100%; display: block;}
	.control-field textarea{display:block; width:100%;}

	.button-upload{display:inline-block; }
	.button-remove{line-height:28px; display: inline-block;}

/*col*/
.row-field{width:100%; display:block; position:relative; padding:0;}
.row-field:nth-child(even){background-color: #fafafa;}
.row-field:after{content:''; display:block; position:relative; clear:both;}
.row-field [class*="col-field-"]{float:left; padding:0;}
.row-field .col-field-3{width:23%;}
.row-field .col-field-4{width:31.3333%;}
.row-field .col-field-6{width:48%;}
.row-field .col-field-12{width:100%;}

/*theme option*/
.theme_option_result{position:relative; width:100%;	min-height: 30px; display: block; text-align: center;}
.result-saved{border:1px solid green; text-align: center; padding:5px; }

/*wpeditor*/
.wp-core-ui .quicktags-toolbar input.button.button-small{width:auto; display:inline-block; position: relative;}







/* custom theme option */
// #theme-option-form{
// 	.tab-container{
// 		padding:0;
// 	}
// }

/* custom field option */
// #poststuf{
// 	.box{
// 		margin-bottom:1.5em;
// 		border:1px solid #ccc;
// 		padding:0;
// 		h2{
// 			padding:8px 10px;
// 		}
// 		h4{
// 			margin:0 0 1em;
// 			font-size:14px;
// 		}
// 	}

// 	/* not on item list */
// 	.custom-image-container{
// 		border:1px solid #777;
// 		background-color:#999;
// 		padding:3px;
// 		width:150px;
// 		height:15px;
// 		overflow: hidden;
// 		margin-right: 1em;
// 		img{
// 			width: 100%;
// 			height: auto;
// 			display: block;
// 			position: relative;
// 		}
// 	}

// 	.custom-control-container{
// 		display: block;
// 		position: relative;
// 		padding: 15px;
// 		label{
// 			display: block;
// 			font-size: 14px;			
// 		}

// 		input{
// 			width:auto;
// 		}

// 		textarea{
// 			width: 100%;
// 		}

// 		.mce-tinymce{
// 			border:1px solid #e5e5e5; 
// 			margin:5px 0 0;
// 		}

// 		.full-width{
// 			width:100%;
// 		}

// 		.half-width:{
// 			display: inline-block;
// 			width:49%;
// 		}

// 		.button{
// 			cursor:pointer;
// 		}

// 	}

// 	.itemlist{
// 		margin-bottom:25px;
// 		.item{
// 			display:block;
// 			position: relative;
// 			background-color: #fafafa;
// 			.item-header{
// 				position: relative;
// 				display: block;
// 				padding:10px 5px;
// 				background-color:#ccc;
// 				border-bottom:1px solid #ddd;
// 				.item-title{
// 					padding:0;
// 					line-height:1;
// 					color:#353535;
// 					font-weight: bold;
// 					cursor:move;
// 				}
// 				.removeitem{
// 					position: absolute;
// 					margin: 0;
// 					top:8px;
// 					right:5px;
// 					color:red;
// 				}
// 			}

// 			.item-content{
// 				padding:15px;
// 				border:1px solid #ccc;
// 				margin-bottom:1.5em;

// 				table.custom-field-table{
// 					tr{
// 						td{
// 							vertical-align: top;
// 						}
// 					}
// 				}

// 				.custom-control-container{
// 					padding:0;
// 				}
// 			}
// 		}
// 	}
// }



/* CONVERT TO SASS */

// #theme-option-form .tab-container{padding:0;}
// #theme-option-form h3{ padding:15px; margin:0; background:#9f9f9f; color:#fff; }
// #theme-option-form .form-table{display:block; position:relative; width:100%; min-width:300px;}
// 	#theme-option-form .form-table tbody{display:block;}
// 		#theme-option-form .form-table tr{display:block; padding:0 15px; }
// 		#theme-option-form .form-table tr:nth-child(even){background:#f0f0f0; }
// 			#theme-option-form .form-table th{vertical-align: top; text-align: left; min-width:180px;}	
// 			#theme-option-form .form-table td{vertical-align: top; text-align: left; width:80%;}

// #theme-option-form .inside-table{display:block; position: relative; width: 100%;}
// 	#theme-option-form .inside-table tr{padding:0;}
// 		#theme-option-form .inside-table td{width: auto;}

// .control-wrapper{display:block; position:relative; margin-bottom:1em;}
// .control-wrapper:after{content:''; display:block; position:relative; clear:both;}

// .control-wrapper .control-label{display:block;}
// .control-wrapper .control-image{width:auto; max-width:200px; height:200px; overflow: hidden; vertical-align:top; margin-bottom:1em;}
// 	.control-image img{width:100%; background:#ededed;}

// .control-wrapper .control-field{width:100%; margin-bottom:1em;}
// 	.control-field input[type="text"]{width:100%; display: block;}
// 	.control-field textarea{display:block; width:100%;}

// 	.button-upload{display:inline-block; }
// 	.button-remove{line-height:28px; display: inline-block;}

// /*col*/
// .row-field{width:100%; display:block; position:relative; padding:0;}
// .row-field:nth-child(even){background-color: #fafafa;}
// .row-field:after{content:''; display:block; position:relative; clear:both;}
// .row-field [class*="col-field-"]{float:left; padding:0;}
// .row-field .col-field-3{width:23%;}
// .row-field .col-field-4{width:31.3333%;}
// .row-field .col-field-6{width:48%;}
// .row-field .col-field-12{width:100%;}

// /*theme option*/
// .theme_option_result{position:relative; width:100%;	min-height: 30px; display: block; text-align: center;}
// .result-saved{border:1px solid green; text-align: center; padding:5px; }

// /*wpeditor*/
// .wp-core-ui .quicktags-toolbar input.button.button-small{width:auto; display:inline-block; position: relative;}

.wrap.rd-site-settings a {
  position: relative;
  float: left;
  width: 21%;
  padding: 15px;
  background: #ccc;
  margin: 7px;
  text-decoration: none;
  color: #000; }

/* ACF Options Page Settings */
.wrap.rd-site-settings a {
    position: relative;
    float: left;
    width: 21%;
    padding: 15px;
    background: #E0D4FE;
    margin: 7px;
    text-decoration: none;
    color: #000;
}

/* ACF Options - Sub Page - Hide Menu */
li#toplevel_page_site-general-settings .wp-submenu {
    display: none;
}
