.ssslider{  
  position: relative;
  z-index: 10;
  margin-top: -16px;
  margin-bottom: -8px;
  width: 103.1%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;

  // margin-left: -8px;
  // background-image: url('../img/slider_background_image.png');
  // background-position: center;
  // background-size: cover;
  // background-blend-mode: lighten;
  h2{
    color: $pinnacle_blue_text;
  }

}

.slider {
  margin: 0;
  // padding: 0;
}

.slider .slide {
  width: 103.1%;
  height: 100%;
}

.slick-next {
  right: 0;

}

.slider_clubhouse_bg{
  background-image: url('../images/golf_cart_noshadow.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // overflow: hidden;
  // transform: skew(15deg);
  clip-path: polygon(20% 0, 96% 0, 80% 100%, 0 100%);
  // min-height: 500px;
  // position: relative;
}

// .slider_bikeandhike_bg{
//   background-image: url('../img/clubhouse.png');
// }



.slider_bg_images{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% center;
  // transform: skew(-15deg);
  // clip-path: polygon(20% 0, 96% 0, 80% 100%, 0 100%);
  min-height: 500px;

  position: relative;
  right: -10px;
  overflow: hidden;
  // box-shadow: -4px 0px 60px -6px #000000;
  box-shadow: 8px 2px 30px 4px #939393;
}

@media (max-width: 767px){
    .slider_bg_images{
    top: 1.5rem;
    right: -30px!important;
  }
  .ssslider{
    margin-top: 0px;
  }
    nav.action.slider a{
    font-size: 11px;  
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .slider_bg_images{
    top: 1.5rem;
  }
  .ssslider{
    z-index: -1;
  }
  nav.action.slider a{
    font-size: 12px;  
  }
}

@media (min-width: 576px){
  #xs-only{
    display: none;
  }
}
@media (max-width: 575px){
  #sm-and-up{
    display: none;
  }
}

