*{
    outline:none;
    border:none;
}
// Global styling for this template
html{ overflow-x:hidden;}
body,
html {
    width: 100%;
    height: 100%;
    @include Libre-serif-font;

}

body {
    /* @include serif-font;*/
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}

hr.light {
    border-color: $white;
}
ul{
    padding: 0 0 0 20px;
     margin-bottom:0rem !important;
}
ul, li{
    margin-bottom: 1rem;
    font-size:18px;
    line-height: 35px;
    color:$gray-600;
    @include breakpoint(xs){
        font-size: 16px;
    }
}
p{
    @include Libre-serif-font;
    font-size:18px;
    line-height: 35px;
    color:$gray-600;

}

a{
    font-family: montserrat!important;
    font-weight:normal;
    color: $pinnacle-blue-text;
    &:hover{
        color: $pinnacle-blue-text;
    }
}


#hrgray{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


a {
    @include transition-all;
    &:hover {
        color: $pinnacle-blue-text;

    }
}
.justify-content-between, .mx-auto{
    a{

        &:hover{
            text-decoration: none;
        }
    }
}
h1,h2,h3,h4,h5,h6 {
    /*@include sans-serif-font;*/
}

h2{
    color: $pinnacle-blue-text;
    text-transform: unset;
    @include Domine-serif-font;
    font-size: 42px;
    line-height: 52px;
    @include breakpoint(ml){
        font-size: 39px;
    }
    @include breakpoint(sm){
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }
    @include breakpoint(xs){
        font-size: 24px;
        text-align: center;
        margin: 15px 0;
    }
    @include breakpoint(ss){
        font-size: 24px;
        text-align: center;
    }
}

h3{
    color: $pinnacle-blue-text;
    margin-bottom: 15px;
    margin-top:15px;
    text-transform: unset;
    @include Domine-serif-font;
    font-size: 32px;
    line-height: 42px;
    @include breakpoint(ml){
        font-size: 29px;
    }
    @include breakpoint(sm){
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    @include breakpoint(xs){
        font-size: 16px;
        text-align: center;
        margin: 15px 0;
    }
    @include breakpoint(ss){
        font-size: 16px;
        text-align: center;
    }
}


.heading{
    font-size:42px;
    @include breakpoint(ss){
        font-size: 24px;
    }
}
.bg-dark{
    background-color: $gray-900 !important;
}

.text-faded {
    color: fade-out($white, .3);
}

li.borderless{
    border-left: none;
    border-right: none;
}

.pinnacle_logo{
    @media (max-width: 991px){
        img{
            width: 10%;
            height: auto;
        }
    }
    @media (max-width: 575px){
        img{
            width: 11%;
            height: auto;
        }
    }
}

.underline-blue{
    border-bottom: 3px solid $pinnacle-blue;
    padding-bottom: 2.5px;
    font-size: 1rem;
    font-size: 22px;
    color:$gray-600;
    font-weight: normal;
    text-transform: uppercase;
    @include breakpoint(sm){
        font-size: 18px;
    }
    @include breakpoint(xs){
        font-size: 16px;
    }
    @include breakpoint(su){
        font-size: 14px;
    }
    @include breakpoint(ss){
        font-size: 14px;
    }
    &:hover{
        text-decoration: none;
        color:$gray-600;
    } 
}

.underline-white{
    border-bottom: 3px solid white;
    padding-bottom:inherit;
    @include Montserrat-font;
    font-size:22px;
    @include breakpoint(sm){
        font-size: 20px;
    }
    @include breakpoint(xs){
        font-size: 16px;
    }
    &:hover{
        text-decoration: none;
    } 
}


//accordions
.circle-plus{
    background:url("../images/circle_plus.png");
    width: 33px;
    content: '';
    height: 33px;
    position: relative;
    top: 9px;
    margin-right: 10px;

}

.circle-minus{
    background:url("../images/circle_minus.png");
    width: 33px;
    content: '';
    height: 33px;
    position: relative;
    top: 9px;
    margin-right: 10px;
}
//end accordions


#opportunity{
    h2{
        color: #033a7d; 
    }
}

#about{
    h2{
        color: $pinnacle-blue-text; 
    }
    p{
        color: gray;
    }
}

//only for home page
#circle_down_arrow_home{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -28px;
    @include breakpoint(xs){
        margin-top: -18px;
        img{
            width:10%;
        }
    }
    @media(max-width: 991px){
        display: block;

    }
    @media (min-width: 1200px){
        margin-top: -78px;
    }
    @media (min-width: 1350px){
        margin-top: -103px;
    }
    @media (min-width: 1500px){
        margin-top: -153px;
    }
    @media (min-width: 1600px){
        margin-top: -228px;
    }
    @media (min-width: 1800px){
        margin-top: -308px;
    }

}

//for all other pages except home page
#circle_down_arrow{
    margin-top: -1.75rem;
    text-align: center;
    @include breakpoint(xs){
        margin-top: -1.25rem;
        img{
            width: 10%;
        }
    }
}

//footer blue bar
#interested{
    background-color: #002d64;
    padding-left: 1rem;
    margin-bottom: -1rem;
    p{
        color:$white;
        font-size: 30px;
        padding: 50px 0 !important;

        @include Domine-serif-font;
        @include breakpoint(msm){
            font-size: 28px;
        }
        @include breakpoint(md){
            font-size: 24px;
        }
        @include breakpoint(xs){
            font-size:20px;
        }
        span{
            /*font-size: 32px;*/
            margin-left: 10px;
            @include breakpoint(xs){
                font-size: 20px;
            }
        }
    }
    @media (min-width: 300px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }
    .phone-blue{
        color: #72b1ff
    }
}


//footer testimonials
#testimonials{
    position: relative;
    /*    padding-bottom: calc(10rem - 56px);*/
    background-image: url('../images/testimonials_background.png');
    background-position: center 80%;
    @include background-cover;
    @include breakpoint(xs){
        position: relative;

    }
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 60px;
        font-weight:500;
        @include Domine-serif-font;
        margin-bottom: 80px;
        @include breakpoint(sm){
            font-size:40px;
        }
        @include breakpoint(xs){
            font-size: 30px;
        }
    }
    p {
        color:$white;
        font-size: 18px;
        font-weight:500;
        @include Montserrat-font;
        @include breakpoint(xs){
            font-size: 16px;
        }
    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {
        min-height: auto;

    }
    @media (min-width: 1200px) {

    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgba(0,0,0,0.5);
        left: 0px;
    }

}

.blue-text{
    color: $pinnacle-blue-text;
    margin-bottom: 5px;
    @include Domine-serif-font;
    font-size:42px;
    margin-top:0px;
    line-height: normal;
    @include breakpoint(ml){
        font-size: 39px;
    }
    @include breakpoint(sm){
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }
    @include breakpoint(xs){
        font-size: 24px;
        text-align: center;
        margin: 15px 0;
    }
    @include breakpoint(ss){
        font-size: 24px;
        text-align: center;
    }
}
.white-heading{
    color: $white;
    margin-bottom: 5px;
    @include Domine-serif-font;
    font-size:42px;
    @include breakpoint(ml){
        font-size: 39px;
    }
    @include breakpoint(sm){
        text-align: center;
    }
    @include breakpoint(xs){
        font-size: 22px;
    }
}
.white-text{
    color:$white
}
.blue-clr{
    color: $pinnacle-blue-text;
    margin: 40px 0 0px 0;
    font-size: 20px;

}
.heading3{
    font-size: 32px;
    @include breakpoint(md){
        font-size: 24px;
    }
    @include breakpoint(sm){
        font-size: 24px;
    }
    @include breakpoint(xs){
        font-size: 24px;
    }
}
.blue-text-small{
    color: $pinnacle-blue-text;
    margin-bottom:20px;
    @include Montserrat-font;
    font-size:22px;
    font-weight:400;

    @include breakpoint(sm){
        font-size:20px;
        p{
            text-align: left;
        }
    }
    @include breakpoint(xs){
        margin-left: 0px;
    }

    @include breakpoint(ss){
        margin-left: 0px;
    }
    a{
        color:$pinnacle-blue-text;
        text-decoration: none;
        @include breakpoint(xs){
            font-size: 18px;
        }
        @include breakpoint(ss){
            font-size: 14px;
        }
    }
    img{
        margin-right:10px;
    }
    .card-block{
        margin-left: 50px;
    }
}

.pinnacle-blue{
    color: $pinnacle-blue;
}

//contact page
#planning_contact{
    padding-bottom: calc(10rem - 56px);
    background-image: url('../images/blue_background_2.png');
    background-position: center 80%;
    @include background-cover;
}
.contact-accordions{
    margin-left: .5rem;
    padding-left: 0px;
}


//amenities page
.sub_menu_bar_1{
    background-color: #002d64;
    min-height: 50px;
    margin-bottom: 0px;
    @include breakpoint(ml){
        padding-top: 0 !important;
        min-height: auto;
    }
    a{
        color: #6986a9;
        @include Montserrat-font;
        font-size:24px;
        padding: 1.3rem 1rem;
        @include breakpoint(ml){
            font-size: 20px;
            padding: 10px 0;
        }

        @include breakpoint(msm){
            font-size: 16px;
            padding: 0.7rem 0rem;

        }

    }
    .active{
        color: white;

    }
    #sm-and-up{
        @include breakpoint(ml){
            /*margin: 0 !important;*/
        }
    }
}
//amenities page
// .blue_arrow_1 {
//   margin-top: 0rem;
//   position: relative;
//   z-index: 11;

//   @media (max-width: 991px){
//   display: none;
//   }
// }


// reverses the image on the properties page
#resort-life-properties{
    img {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    @include breakpoint(xs){
        .container-fluid{
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

.bookings{
    .golf_cart_img{
        margin-left: -24px;
        @include breakpoint(xs){
            margin-left: 0px;
        }
    }
}



@media (max-width: 992px){
    .vl{
        display: none;
    }
}

section {
    padding: 1rem 0;
    @include breakpoint(sm){
        padding: 0rem 0;
    }
    &#sub_menu_bar_1{
        padding:60px 0 0;
        @include breakpoint(xs){
            padding:10px 0 0;
        }
    }
    &.membership, &.golf_collage_list {
        padding: 2rem 0;
        @include breakpoint(md){
            padding: 2rem 0;
        }
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom:30px;
    @include breakpoint(md){
        margin-bottom:20px;
    }
    @include breakpoint(xs){
        margin-bottom: 10px;
    }
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $gray-900;
}


//general responsive text media queries

@media (max-width: 576px){
    h2{
        font-size: 1.5rem;
        font-family: domine;
    }
    p{
        font-size:16px;
        text-align: center;

    }
    a{
        font-family: montserrat;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 18px;


    }
    a{
        font-family: montserrat;
    }

}
@media (max-width: 992px){

}
@media (min-width: 993px){


    a{
        font-family: montserrat;
    }
}

#membership_plans{

    .circle {
        position: relative;
        display: block;
        margin:0.7em 0;
        background-color: transparent;
        text-align: center;
        @include breakpoint(xs){
            width: 100%;
            margin: 0.7em auto;
        }
        @include breakpoint(su){
            width: 70%;
            margin: 0.7em auto;
        }
        @include breakpoint(ss){
            width: 70%;
            margin: 0.7em auto;
        }
    }

    .circle:after {
        display: block;
        padding-bottom: 100%;
        width: 100%;
        height: 0;
        border-radius: 50%;
        border:2px solid $white;
        content: "";
    }

    .circle__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .circle__wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }

    .circle__content {
        display: table-cell;
        padding: 1em;
        font-size:18px;
        vertical-align: middle;
        text-transform: capitalize;
        @include Libre-serif-font;
        @include breakpoint(sm){
            font-size: 16px;
        }
        @include breakpoint(xs){
            font-size: 14px;
        }
        @include breakpoint(su){
            font-size: 22px;
        }
        @include breakpoint(ss){
            font-size: 16px;
        }
    }

    .memeberplan_txt{
        h2{
            color:$white;
        }
    }
}

#membership{
    background-color: #e4e4e4;
    padding: 50px 0;
    .blue-text{
        @include breakpoint(ml){
            font-size: 39px;
        }
        @include breakpoint(sm){
            font-size: 30px;
            margin-top:30px;
        }
        @include breakpoint(xs){
            font-size: 30px;
            margin-top: 20px;
        }
        @include breakpoint(ss){
            font-size: 24px;
            margin-top: 20px;
        }
    }
    @include breakpoint(msm){
        padding: 5rem 0;
    }
    @include breakpoint(sm){
        padding: 3rem 0;
    }
    @include breakpoint(xs){
        padding: 2rem 0;
    }
}

.pdf_section{
    @include sans-serif-font;
    float: right;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 33px rgba(0, 0, 0, 0.2);
    text-align: center;
    @include breakpoint(sm){
        margin:7% 0;
    }
    @include breakpoint(xs){
        padding:15px;
    }
    h2{ 
        margin:10px 0 20px;
    }
    p{
        color:$gray-600;
        margin-bottom: 0.4rem;
        &+p{
            color:$pinnacle-blue-text;
            &+p{
                color:$gray-600;
            }
        }
        a{
            color: $pinnacle-blue-text;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .pdf_icon{
        display: block;
        margin: 80px 0 00px;
        @include breakpoint(xs){
            margin: 50px 0 00px;
        }
        a{
            text-decoration:none;
        }
    }
    span.download_link{
        color:$gray-600;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: inline-block;
        font-size:22px;
        @include Montserrat-font;
        @include breakpoint(xs){
            font-size: 18px;
        }

    }

}


.overlap_images_section{

    .background_img{
        display: inline-block;
        text-align: left;
        position: relative;
        @include breakpoint(sm){
            width: 100%;
            margin: 0 auto 7%;
            text-align: center;
        }

        .img1{
            box-shadow: 3px 11px 53px rgba(0, 0, 0, 0.5);
            width: 385px;
            height: auto;
            @include breakpoint(msm){
                width: 325px;
            }
            @include breakpoint(sm){
                width: auto;
            }
            @include breakpoint(xs){
                width:auto;
            }
        }
        .img2{  
            position: absolute;
            z-index: 99;
            top: 90px;
            left: 230px;
            width: 263px;
            box-shadow: 3px 5px 31px rgba(0, 0, 0, 0.5);
            height: auto;
            @include breakpoint(msm){
                left: 110px;
            }
            @include breakpoint(xs){
                width: 245px;
                top: 40px;
                left: inherit;
                right: 40px;
            }
            @include breakpoint(su){
                width: 205px;
                top:40px;
                left: inherit;
                right: -10px;
            }
            @include breakpoint(ss){
                width: 205px;
                top: 40px;
                left: inherit;
                right: -10px;
            }
        }
    }

    @include breakpoint(xs){
        margin: 20px 0;
    }


}
.aminites_over_img{
    .overlap_images_section{
        .background_img{
            display: inline-block;
            text-align: right;
            position: relative;

            @include breakpoint(msm){
                left:-10%;
            }
            @include breakpoint(sm){
                display: inline-block;
                text-align: center;
                position: relative;
                width: auto;
                left: 0;
                margin-bottom: 10%;
            }
            @include breakpoint(xs){
                left:0%;
                margin-bottom: 15%;
            }
            .img1{
                box-shadow: 3px 11px 53px rgba(0, 0, 0, 0.5);
                width: 385px;
                height: auto;
                @include breakpoint(xs){
                    width: 95%;
                    height: auto;
                }
            }
            .img2{
                position: absolute;
                z-index: 99;
                top: 90px;
                left: -80px;
                width: 263px;
                box-shadow: 3px 5px 31px rgba(0, 0, 0, 0.5);
                height: auto;
                @include breakpoint(sm){
                    top: 70px;
                    left: -60px;
                    width: 60%;
                }
                @include breakpoint(xs){
                    top: 50px;
                    left: 0px;
                    width: 190px;
                }
                @include breakpoint(su){
                    top: 30px;
                    left: 0px;
                    width: 190px;
                }
                @include breakpoint(ss){
                    top: 30px;
                    left: 0px;
                    width: 190px;
                }
            }
        }


    }
}
.left-column{
    .overlap_images_section{
        .background_img{
            display: inline-block;
            text-align: right;
            position: relative;
            left: 15%;
            top: 80px;
            margin-bottom: 10%;


            .img1{
                box-shadow: 3px 11px 53px rgba(0, 0, 0, 0.5);
                width: 425px;
                height: auto;
                @include breakpoint(sm){
                    width: 100%;
                    margin-bottom:0%;
                }
                @include breakpoint(xs){
                    width: 95%;
                    margin-bottom: 5%;
                }
            }
            .img2{
                position: absolute;
                z-index: 99;
                top: -90px;
                left: -110px;
                width: 426px;
                box-shadow: 3px 5px 31px rgba(0, 0, 0, 0.5);
                height: auto;
                @include breakpoint(sm){
                    top: -60px;
                    left: -80px;
                    width: 90%;

                }
                @include breakpoint(xs){
                    top: -40px;
                    left: 0px;
                    width: 82%;
                }
            }
            @include breakpoint(sm){
                left:0%;
                top:80px;
                margin-bottom: 5%;
                width: auto;
            }
            @include breakpoint(xs){
                left: 2%;
                top: 50px;
                margin-bottom: 5%;
                text-align: center;
            }
        }


    }
}
.right-column{
    .overlap_images_section{
        .background_img{
            display: inline-block;
            text-align: right;
            position: relative;
            right: 10%;
            top: 80px;
            margin-bottom: 10%;
            @include breakpoint(sm){
                margin-bottom: 5%;
            }

            .img1{
                box-shadow: 3px 11px 53px rgba(0, 0, 0, 0.5);
                width: 425px;
                height: auto;
                @include breakpoint(sm){
                    width: 100%;
                    margin-bottom: 5%;
                }
                @include breakpoint(xs){
                    width: 95%;
                    margin-bottom: 5%;
                    text-align: center;
                }
            }
            .img2{
                position: absolute;
                z-index: 99;
                top: -40px;
                left: 70px;
                width: 426px;
                box-shadow: 3px 5px 31px rgba(0, 0, 0, 0.5);
                height: auto;
                @include breakpoint(sm){
                    top: -70px;
                    left: 120px;
                    width: 90%;

                }
                @include breakpoint(xs){
                    top: -70px;
                    left: 58px;
                    width: 82%;

                }
            }
            @include breakpoint(sm){
                right:0%;
                top: 80px;
                width:auto;
            }
            @include breakpoint(xs){
                right: 0%;
                top: 80px;
                text-align: center;
            }
        }
    }


}


/***************custom_form*********************/
.custom_form{
    font-family: montserrat!important;
    float: right;
    width: 80%;
    background: #fff;
    padding: 50px 20px 20px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 33px rgba(0, 0, 0, 0.2);
    text-align: center;
    @include breakpoint(ml){
        width: 100%;
    }
    @include breakpoint(msm){
        width: 100%;
    }
    @include breakpoint(sm){
        margin-top: 4%;
        margin-bottom: 7%;
    }
    @include breakpoint(xs){
        margin-top:30px;
    }
    form{
        font-family: montserrat!important;
        margin-top:20px;
        font-size: 14px;
        .gform_footer{
            text-align: center;
        }

        input{
            width: 100% !important;
            outline: none;
            border: none;
            font-weight: normal;
            padding: 5px;
            font-family: montserrat!important;
            margin-bottom:0px;
            @include sans-serif-font;
            border-bottom: 1px solid $pinnacle-blue;
            &::placeholder{
                font-weight: normal;
            }
            &.gform_button{
                width: auto !important;
                outline: none;
                border: none;
                text-transform: uppercase;
                font-weight: normal;
                background: none;
                cursor: pointer;
                font-size: 20px !important;
                color:$gray-600;
                padding: 0px;
                border-bottom: 2px solid $pinnacle-blue;
            }


        }
        textarea{
            width: 100% !important;
            outline: none;
            border: none;
            border-bottom: 1px solid #002d64;
            padding: 4px;
            height: 30px !important;
            resize: initial;
            overflow: auto;
            font-family: montserrat !important;
            font-size: 16px !important;
            &::placeholder{
                font-weight: normal;
            }
        }
        select{
            width: 100% !important;
            outline: none;
            border: none;
            border-bottom: 1px solid #002d64;
            padding: 5px 0;
            height: auto;
            resize: initial;
            overflow: auto;
            background: none;
            font-weight: normal;
            margin-bottom: 20px;
            color:$gray-600;
        }
        .ginput_recaptcha{
            >div{
                width: 100% !important;
                height: 78px;
                margin: 0 auto;
                text-align: center !important;
                iframe{
                    @include breakpoint(ss){
                        width: 100%;
                        border:1px solid #d3d3d3;
                    }
                }


            }

        }
        .rc-anchor-content{
            width: auto;
            .rc-anchor-center-item{
                width: auto;
            }

        }

        ::placeholder {
            color:$gray-600;
            text-transform: uppercase;
            font-size: 14px;
            font-weight:600;
        }
        :-ms-input-placeholder { 
            color:$gray-600;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }
        ::-ms-input-placeholder {
            color:$gray-600;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }
        span.wpcf7-not-valid-tip{
            font-size: 0.8em;
            text-align: left;
            position: relative;
            top: -25px;
        }
        .ginput_container_time{
            max-width: 33.33% !important;
            text-align: right;
            select{
                margin-top: 18px;
                margin-bottom: 0px;
                @include breakpoint(md){
                    margin-top: 8px; 
                }
                @include breakpoint(sm){
                    margin-top: 8px; 
                }
                @include breakpoint(xs){
                    margin-top: 8px; 
                }
            }
            label{
                font-size: 14px !important;
            }
            i{
                display: none;
            }
        }

    }

}


/****************Golf Page *********************/
hr#blue{
    border-color:$pinnacle-blue;
    max-width: 100px;
    margin-top: 0.3rem;
}
.golf_collage_list{
    .callout_section{
        border:1px solid $gray-900;
        border-radius:8px;
        text-align: center;
        padding:32px 23px 55px;
        position: relative;
        height: 100%;
        max-height: 360px;
        @include breakpoint(md){
            max-height: none;
        }
        @include breakpoint(sm){
            padding:32px 23px 35px;
            margin-bottom: 40px;
        }
        @include breakpoint(xs){
            height: auto;
            margin-bottom: 20px;
        }
        p{
            text-align: left;
        }
        a.days-date{
            font-size:18px;
            @include Montserrat-font;
            color:$gray-600;
            @include breakpoint(md){
                font-size: 14px;
            }
            @include breakpoint(sm){
                font-size: 14px;
            }
            @include breakpoint(xs){
                font-size: 14px;
            }
        }
        ._down_arrow{
            position: absolute;
            bottom: -18px;
            margin: 0 auto;
            left: 0px;
            right: 0px;
            @include breakpoint(md){
                bottom: -28px;
            }
            @include breakpoint(sm){
                bottom: -28px;
            }
            button{
                background: url("../images/add-icon.png");
                width: 62px;
                height: 62px;
                display: inline-block;
                border: none;
                outline: none;
                cursor: pointer;
                background-repeat: no-repeat;
                @include breakpoint(sm){
                    background-size: cover;
                    width: 52px;
                    height: 52px;
                }
                @include breakpoint(xs){
                    background-size: cover;
                    width: 52px;
                    height: 52px;
                }
                &:hover{
                    background: url("../images/add-hover-icon.png");
                    @include breakpoint(sm){
                        background-size: cover;
                        width: 52px;
                        height: 52px;

                    }
                    @include breakpoint(xs){
                        background-size: cover;
                        width: 52px;
                        height: 52px;

                    }
                    .callout_section{

                    }

                }
            }
        }
        p{
            font-size:18px;
            @include Libre-serif-font;
            color: $gray-600;
            margin: 15px 0 0;
            @include breakpoint(md){
                text-align: center;
                font-size:16px;
            }
            @include breakpoint(sm){
                text-align: center;
                font-size:16px;
            }
            @include breakpoint(xs){
                font-size: 16px;
                text-align: center;
            }
            @include breakpoint(ss){
                font-size: 14px;
                text-align: center;
            }

        }
        &:hover{
            cursor: pointer;
            box-shadow: 0px 3px 33px rgba(0,0,0,0.2);
            border: 1px solid rgba(255,255,255,0.2);
            ._down_arrow{
                button{
                    background: url(../images/add-hover-icon.png);
                    background-size: cover;
                    @include breakpoint(xs){
                        background-size: cover;
                        width: 52px;
                        height: 52px;

                    }
                }
                a{
                    background: url("../images/add-hover-icon.png"); 
                    background-size: cover;
                }
            }
        }

    }

}
.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow: auto;
    @include breakpoint(xs){
        top: 10px;
        bottom: 10px;
        left: 20px;
        right: 20px;
    }
}
.poup_msg{
    width: 890px;
    border-radius: 4px;
    background: #fff;
    position: relative;
    text-align: center;
    padding: 20px 40px 80px;
    z-index: 9999; 
    left: 50%;
    right: 0px; 
    top: 1%; 
    transform: translateX(-50%);
    box-shadow: 0px 3px 43px rgba(0, 0, 0, 0.6);
    @include breakpoint(sm){
        padding: 20px 45px 80px;
        width: 100%;
        top: 4%;
    }
    @include breakpoint(xs){
        width: 100%;
        padding: 25px 10px 80px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        box-shadow: none;
    }
    ._down_arrow{
        position: absolute;
        bottom: -18px;
        margin: 0 auto;
        left: 0px;
        right: 0px;

        @include breakpoint(msm){
            bottom: 2px;
        }
        @include breakpoint(md){
            bottom: -28px;
        }
        @include breakpoint(sm){
            bottom: -28px;
        }
        button{
            /*background: url("../images/add-icon.png");*/
            background: url("../images/add-hover-icon.png");
            transform: rotate(135deg);
            width: 62px;
            height: 62px;
            outline: none;
            cursor: pointer;
            display: inline-block;
            background-repeat: no-repeat;
        }
    }
    .mx-auto{
        a{
            font-size: 18px;
            color:$gray-600;
        }

    }

    p{
        margin-bottom: 0.4rem;
        line-height: 30px;
        em{
            font-size: 14px;
            font-style: normal;
        }
    }
    h3{
        color: #022d64;
        margin-bottom: 5px;
        font-family: 'Domine', serif;
        font-size: 32px;
        margin: 25px 0 10px;
        @include breakpoint(msm){
            margin: 12px 0 6px;
        }
        @include breakpoint(xs){
            font-size: 24px;
        }
        @include breakpoint(ss){
            font-size: 24px;
        }
    }
    h4{
        color: #022d64;
        margin-bottom: 5px;
        font-family: 'Domine', serif;
        font-size: 24px;
        margin: 25px 0px 5px;
        @include breakpoint(msm){
            margin:5px 0px 5px;
        }
        @include breakpoint(sm){
            margin: 15px 0px 5px;
        }
        @include breakpoint(xs){
            margin: 15px 0px 5px;
        }
    }
    p{
        > a{

            color:$gray-600;
            text-decoration: none;
            margin-top:10px;
            border-bottom:2px solid $pinnacle-blue;
            @include breakpoint(xs){
                word-break: break-word;    
                font-size: 14px;

            }
            @include breakpoint(ss){
                word-break: break-word;
            }
        }
    }
}
.golf-memebers{
    padding-bottom: 40px !important;
    h2{
        font-size: 42px;
        margin-top: 20px;
        color:$white;
        @include breakpoint(xs){
            margin-bottom: 25px !important;
            font-size:30px;
        }
        @include breakpoint(ss){
            font-size: 24px;
        }
    }
    ul.members_list{
        display: inline-block;
        margin-top: 50px;
        list-style-type:none;
        color:$white;
        margin-bottom: 0rem;
        margin-left: 50px;
        @include Montserrat-font;
        @include breakpoint(mg){
            margin-left: 0px;
        }
        @include breakpoint(md){
           margin-left: 20px;;
        }
         @include breakpoint(sm){
           margin-left: 40px;;
        }
        @include breakpoint(xs){
            margin-top:0px;
            margin-bottom: 0px;
            margin-bottom: 0rem;
            margin-left:10px;
        }
        @include breakpoint(ss){
            margin-top:0px;
            margin-bottom: 0px;
            padding:0px 0 0 10px;
        }
        li{
            font-size: 22px;
            margin-bottom: 20px;
            color:$white;
            @include breakpoint(ss){
                font-size: 16px;
            }
        }
        &.one{
            margin-left: 25px;
        }
    }
}
#membership_plans{
    &.golf-memebers{
        padding-top: 40px;
    }
}
.group{
    .golf_collage_list {
        .callout_section{
            margin-bottom: 60px;
            @include breakpoint(sm){
                margin-bottom: 30px;
            }
            @include breakpoint(xs){
                margin-bottom: 50px;
            }
        }
    }
    .pwc_groups_txt{
        margin-top:45%;
        text-align: left;
        @include breakpoint(sm){
            margin-top:0%;
            text-align: center;
        }
        @include breakpoint(xs){
            margin-top: 0%;
        }
        h2{
            font-size:42px;
            margin-bottom:20px;
            @include breakpoint(xs){
                font-size: 24px;
            }
        }
        p{
            color:$gray-600;     
            margin-top: 5%;
            display: inline-block;
            font-size:18px;
            @include breakpoint(sm){
                font-size: 16px;
                margin:0% 0 5%;
            }
            @include breakpoint(xs){
                text-align: center;
            }
        }
    }
}
/******************booking page forms***********************/
.custom_form{
    p{
        font-size:22px;
        color:$gray-700;
    }
    &.booking_form{
        padding:0px;
        margin-top:7%;
        @include breakpoint(sm){
            margin-top:4%;
            margin-bottom:7%;
        }
        @include breakpoint(xs){
            margin-top:7%;
            margin-bottom:7%;
        }
        form{
            width: 90%;
            margin: 0 auto;
        }
        #exTab1{
            .tab-content {
                background-color: none;
                padding : 40px 15px;
                @include breakpoint(xs){
                    padding : 40px 0px;
                }

            }
            .form_tabs{
                > li {
                    width: 50%;
                    box-sizing: border-box;
                    > a {
                        background:$pinnacle-blue;
                        width: 100%;
                        font-size:20px;
                        color:$white;
                        display: inline-block;
                        padding: 20px 25px;
                        box-sizing: border-box;
                        @include breakpoint(msm){
                            font-size: 16px;
                        }
                        @include breakpoint(md){
                            font-size: 14px;
                        }
                        @include breakpoint(xs){
                            font-size: 12px;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                        &.active{
                            background: $white;
                            color:$pinnacle-blue;
                        }

                    }



                }
            }
        }


    }

}
/************Women's Club bottom section*********************************/
#womens_club_bg{
    background:url("../images/img_3.png") no-repeat left top;
    background-size: cover;
    padding: 0px;
    .overlay{
        width: 100%;
        height:100%;
        background: rgba(0,0,0,0.5);
    }
    .text_area{
        width:100%;
        display: inline-block;
        text-align:center;
        padding: 50px 0px 90px;
        @include breakpoint(sm){
            padding: 10px 0px 40px;
        }
        @include breakpoint(xs){
            padding: 10px 0px 40px;
        }
        h2{
            margin:20px 0;
            @include breakpoint(xs){
                font-size:30px;
            }
        }
        p{
            font-size:20px;
            width: 80%;
            margin: 0 auto;
            color:$white;
            @include breakpoint(sm){
                width: 100%;
            }
            @include breakpoint(xs){
                width: 100%;
                font-size: 18px;
            }
            @include breakpoint(ss){
                font-size:16px;
            }
            strong{
                font-size: 30px;
                @include Domine-serif-font;
                margin-top:30px;
                display: inline-block;
                @include breakpoint(ss){
                    font-size: 24px;
                }
            }
        }
    }
}
/*****************************board_comittee_members*********************************/
.memebers_section{
    width:100%;
    display:inline-block;
    text-align: center;
    margin: 50px 0;

    span{
        color:$gray-600;
        font-size:22px;
        margin: 18px 0;
        display: inline-block;
        text-transform: capitalize;
        @include breakpoint(xs){
            font-size:18px;
        }
        @include breakpoint(ss){
            font-size:16px;
        }
    }
    .board_members{
        text-align:left;
        display: inline-block;
        margin:30px 0 ;
        @include breakpoint(sm){
            margin:30px 0 0;   
        }
        @include breakpoint(xs){
            margin: 10px 0 0;
            width: 100%;
            text-align:center;
        }

        h2{
            color:$pinnacle-blue-text;
            margin-bottom: 30px;
            @include breakpoint(sm){
                margin-bottom:20px;
            }
        }
        p{
            color:$gray-700;
            font-size: 18px;
            text-align: left;
            @include breakpoint(xs){
                text-align: center;
            }
            @include breakpoint(ss){
                text-align: center;
            }
        }
    }

}
footer{
    p{
        font-size:1rem;
        line-height: 22px;

    }
}
.slick-slide{
    img{
        display:inline-block;
    }
}
.single-item{
    .slick-prev{
        display:none !important;
    }
    .slick-next{
        display:none !important;
    }
    .slick-dots{
        bottom: 60px;
        li{
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                        color: $white;
                        font-size: 16px;
                        content: '•';
                        border: 0px solid $white;
                        width:13px;
                        height:13px;
                        line-height: 15px;
                    }
                }
            }
            button{
                &:before{
                    opacity: 1;
                    color: none;
                    font-size: 16px;
                    border-radius: 50%;
                    border: 1px solid $white;
                    content: '';
                    line-height: 13px;
                    width: 13px;
                    height: 13px;

                }
            }
        }
    }
}

.slick_down_arrow{
    width: 180px;
    height: 100px;
    position:absolute;
    left:4%;
    z-index:99;
   display:none;
    @include breakpoint(sm){
        
    }
    @include breakpoint(xs){
        width: 90px;
        height: 20px;
        position: absolute;
        left: 50%;
        z-index: 99;

        transform: translateX(-50%);
    }
    &:after{
        content: " " url(../images/blue_arrow.png);
        width: 40px;
        height: 43px;
        position: absolute;
        top: 0px;
        right: 50px;

    }
}

.slick-slider{
    &.single-item{

        width:100%;
        .slick-track{
            height: 100% !important;
        }

    }

}
.variable-width{
    background:url("../images/amenities_slider-bg.png") no-repeat left top;
    background-size: cover;
    .slick-dots{
        display: none !important;
    }
    .slider_clubhouse_bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70% center;
        min-height: 500px;
        position: relative;
        background: none;
        right: -90px;
        overflow: hidden;
        box-shadow: 8px 2px 30px 4px #939393;
        @include breakpoint(mu){
            right: -75px;
        }
        @include breakpoint(ml){
            right: -65px;
        }
        @include breakpoint(msm){
            right: 0px;
        }
        @include breakpoint(xs ){
            right: 0px;
            clip-path: inherit;
            margin-top:0%;
            -webkit-clip-path: inherit;
        }

        #inner{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            /*            -ms-transform: skew(0deg, 0deg);
                        -webkit-transform: skew(30deg, 0deg);
                        transform: skew(30deg, 0deg);*/
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 57% 32%;
            /*clip-path: polygon(461% 0%,0% 0%,0% 0%,0% 108%);*/
            @include breakpoint(md){
                background-position: 58% 100%;
            }
            @include breakpoint(sm){
                background-position: 38% 100%;
            }
            @include breakpoint(xs){
                background-position: 34% 100%;
            }
        }
    }



}

body .mac{
    .variable-width{
        .slider_clubhouse_bg {
            right: -0px;
        }
    }
}

.ssslider{
    margin-bottom: 0px;
    margin-top: -1px !important;
}

#resort-life-properties{
    padding:30px 0  0;
    @include breakpoint(xs){
        padding: 0px 0 0;
        .mobile_content{
            margin:40px 0 0;
        }
    }
}
.spacing_bar{
    margin:30px 0;
    @include breakpoint(sm){
        margin:30px 0 0;
    }
    @include breakpoint(xs){
        margin:30px 0 0;
    }
}
.spacing_bar_bottom{
    margin:0px 0 30px;
}

.padding_more{
    width:69%;
}
a{
    &.event_link{
        &:hover{
            text-decoration: none;
        }
    }
}
.upcoming_events_section{
    > p{
        a{
            color:$gray-600;
            text-decoration: underline;
            font-family: 'Libre Baskerville', serif !important;
        }
    }
}
#opportunity .text-sm-center{
    > p{
        a{
            color:$pinnacle-blue-text;
            text-decoration: none;
            border-bottom:1px solid $pinnacle-blue-text;
            font-family: 'Libre Baskerville', serif !important;
        }
    }

}
a.visit_link{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }

    @include breakpoint(xs){
        margin:20px 0;
        .underline-blue{
            margin-top:20px;
            display: inline-block;
        }
    }
    @include breakpoint(sm){
        margin-top:20px;
        display: inline-block;

    }
}
ul.list-group{
    margin-bottom:80px;
    li{
        &.list-group-item{
            border: 1px solid rgba(0,0,0,0.9);
            border-left: 0px;
            border-right: 0px;
            padding:30px 0;
            text-align: left;

            @include breakpoint(xs){
                p{
                    font-size: 16px;
                    text-align: left;
                    span{
                        display: block;
                        margin: 0px !important;
                    }
                }
            }
            @include breakpoint(su){
                p{
                    font-size: 14px;
                    text-align: left;
                    line-height: 22px;
                    margin: 0px;
                    span{
                        display: block;
                        margin: 0px !important;
                    }
                }
            }
            @include breakpoint(ss){
                p{
                    font-size: 14px;
                    text-align: left;
                    line-height: 22px;
                    margin: 0px;
                    span{
                        display: block;
                        margin: 0px !important;
                    }
                }
            }
            a{
                &.badge{
                    span{
                        .underline-blue{
                            font-size: 14px;
                        }

                    }
                }
            }
        }
        &:first-child{
            border-top:none;
        }
        &.firstchild{
            border-top:none;
        }

    }
}

/*.bookings_section , .page-template-womensClub-page{
    #interested{
        padding: 30px 0;
    }
}*/
.page-template-bookings-page{

    footer{
        section{
            .container{
                margin-top:50px;
                .mb-4{
                    display:none; 
                }
            }
        }

    }

}
.page-template-contact-page{
    footer{
        section{
            .text-gray-dark{
                & > .row{
                    display: none;
                }
            }  
        }
    }

}

#outer{
    position: relative;
    margin-top:100px;
    margin-left:100px;
    -ms-transform: skew(-30deg,0deg);
    -webkit-transform: skew(-30deg,0deg);
    transform: skew(-30deg,0deg);
    outline:1px solid #fff;
    width: 200px;
    height: 200px;
    overflow: hidden;
    #inner{
        position: absolute;
        left:-60px;

        width:400px;
        height: 200px;  
        -ms-transform: skew(30deg,0deg);
        -webkit-transform: skew(30deg,0deg);
        transform: skew(30deg,0deg);
    }
}

.picture_collage .properties-left{
    background: none;
    padding-right: 0px;
    margin-right: 4px !important;

}
.slider_content_left{
    @include breakpoint(msm){
        .content_widht{
            max-width: 90%;
        }
    }
    @include breakpoint(sm){
        .content_widht{
            max-width: 100%;
            display: inline-block;
            overflow: hidden;
            height: 470px;
            p{
                text-align:left;
            }
        }
    }
    @include breakpoint(xs){
        .content_widht{
            height: 550px;

        }
    }
}
@include breakpoint(sm){
    .mobile_section{
        margin-left:0px !important;
        margin-right:0px !important;
        margin-top:0px !important;
    }
    .mobile_section1{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top:0px !important;
    }
    .mobile_pad{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .mobile_margin_btm{
        margin-bottom:0px !important;

    }
    .mobile_wdth{
        max-width: 100%;
    }
}
@include breakpoint(xs){
    .mobile_section{
        margin-left:0px !important;
        margin-right:0px !important;
        margin-top:0px !important;
    }
    .mobile_section1{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top:0px !important;
    }
    .mobile_pad{
        padding-left:0px !important;
        padding-right:0px !important;
    }

    .mobile_wdth{
        max-width: 100%;
    }
}
/*new styles*/
.spacing_bar{
    p{
        text-align: left;
        @include breakpoint(xs){
            text-align: center;
        }
    }
}
.video_section{
    width: 100%;
    float: left;
    iframe{
        width: 100%;
        height: auto;
        height: calc(62vh - 100px);
    }
}
.mobile_center{
    text-align:center;
}
body {
    -webkit-tap-highlight-color:inherit;
}
.spacing_bar{
    &.opportunityabout{
        p{
            text-align: center !important;
        }
    }
}
@include breakpoint(sm){
    #featurehomesites-properties{
        .custom_form{
            margin-top: 7%;
            margin-bottom: 7%;
        }

    }
    .align_center{
        text-align: center;
    }
}


/***************************mobile_aminities_slider**********************/
.slick_main_mobile  {
    display:block;
    margin:0 auto;
    width:100%;

    .slick-list{
        padding: 0 0 0 5px;
        @include breakpoint(sm){
            padding: 0 0 0 35px;
        }
        @include breakpoint(xs){
            padding: 0 0 0 12px;
        }
    }
    .slick-track{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider{
        a{
            font-size: 14px !important;
            text-align: center;
            font-weight: 600; 
            width: calc(82vw /2) !important;
            &.active{
                width:calc(82vw /2) !important;

            }

            &.slick-active{
                width:calc(82vw /2) !important;
            }
            &.slick-current{
                &.slick-active{
                    color:#fff;
                }
            }


            @include breakpoint(su){

                position: relative;
            }
            @include breakpoint(ss){
                position: relative;
                font-size: 11px !important;
                width:calc(82vw /2) !important;
            }


        }

    }
    .slick-next {
        right: -25px;
    }
    .slick-prev {
        left: -25px;
    }

}
body.mac{
    .slick_main_mobile  {
        display:block;
        margin:0 auto;
        width:100%;

        .slick-list{
            padding: 0 0 0 30px;
            @include breakpoint(xs){
                padding: 0 0 0 30px;
            }
        }
    }
}
@include breakpoint(sm){
    .ameties_left_section{
        margin-top: 40px !important;
        h2{
            text-align: left;
        }
    }
}
@include breakpoint(xs){
    .ameties_left_section{

        margin-top: 40px !important;
        padding:0 45px;
        h2{
            text-align:center;
        }
    }
}


.morecontent{
    span{
        display: none;
    }
    a.morelink{
        color:$pinnacle-blue;
        font-size: 16px;
        text-transform: uppercase;
        @include breakpoint(xs){
            font-size: 14px;
        }
    }
}
@include breakpoint(sm){
    .ameties_content_section{
        .container-fluid{
            > .justify-content-between{
                width:100%;
                margin:0 auto;
                display: block !important;
                a{
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }   
    }
}

@include breakpoint(xs){
    .ameties_content_section{
        .container-fluid{
            > .justify-content-between{
                width:100%;
                margin:0 auto;

            }
        }   
    }
}
.gform_wrapper .top_label .gfield_label{
    color:$gray-600;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:normal;
    font-family: montserrat !important;
    font-size: 16px !important;
}
.gform_wrapper.gf_browser_chrome select{
    padding: 0!important;
    font-family: montserrat !important;
    font-size: 16px !important;
}
.gform_wrapper.gf_browser_chrome select option{
    padding: 0!important;
    font-family: montserrat !important;
    font-size: 16px !important;
}
.gform_wrapper .top_label .gfield_label{
    padding: 5px 4px;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    margin-left: 0px !important; 
    font-family: montserrat !important;
    font-size: 16px !important;
}

.gform_wrapper ul li.gfield{
    margin: 0px !important;
}
.custom_form{
    .gform_wrapper{
        .gfield_label{
            display: none;
            .gfield_required{
                display: none;
            }
        }
    } 
}
.page-template-page-templateswomensClub-page-php{
    @include breakpoint(sm){
        #interested {
            margin-top: 2rem;
        }
    }
}
.post-content-sec{
    text-align: center;
    height: 100%;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc_event_details{
    text-align: center;
    font-weight: 600;
    color: #043062;
}
#mainNav{
    &.calendarmenu{
        display: none !important;
    }
}
.seeicons{
    width: 100%;
    text-align: right;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: fixed; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    a{
        margin-right: 4%;
        img{
            width: 40px;
            /*background-color: #043062;*/
            border-radius: 50%;
        }
    }
}

.error404{
    #bh_headerbanner{
        margin-top: 5%;
        @include breakpoint(md){
            margin-top: 15%;
        }
        @include breakpoint(sm){
            margin-top: 15%;
        }
        @include breakpoint(xs){
            margin-top: 24%;
        }
    }
    .sec1-section{
        @include breakpoint(xs){
            text-align: center;
            margin-bottom: 25px;
        }
    }
}

.booking_mobile_video{
    display:none;
}
.booking_desktop_video{
    display: block;
}


@include breakpoint(mu){

    .gfield_time_ampm{
        position: relative;
        top:3px;
    }
}

@include breakpoint(msm){
    .visible_lg{
        display:none;
    }
    .gfield_time_ampm{
        position: relative;
        top:3px;
    }
}
@include breakpoint(xs){
    .gfield_time_ampm{
        position: relative;
        top:5px;
    }
}
@include breakpoint(su){
    .gfield_time_ampm{
        position: relative;
        top:0px;
    }
}
@include breakpoint(ss){
    .gfield_time_ampm{
        position: relative;
        top:10px;
    }
}
@include breakpoint(sm){
    #membership_plans{
        .memeberplan_txt{
            .heading{
                br{
                    display:none;
                }
            }
        }   
    }
    .booking_mobile_video{
        display:block;
        margin-bottom:3%;
    }
    .booking_desktop_video{
        display: none;
    }

}

.gform_wrapper{
    ul{
        li.gfield{
            &:last-child{
                text-align: center;
            }
        }
    }
}
.gfield_time_hour, .gfield_time_minute{

    label{
        display: none !important;


    }
}
.footer_links{
    p { 
        a{
            color: #606060;
            font-family: 'Libre Baskerville', serif !important;
            font-size: 1rem;
            line-height: 22px;
        }
    }
}

/**************************Header Video Css***************************/
.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px){
        top: -40px;
    }
    @media (min-width: 991px){
        top: -80px;
    }
    @media (min-width: 1200px){
        top: -130px;
    }
    @media (min-width: 1350px){
        top: -155px;
    }
    @media (min-width: 1500px){
        top: -125px;
    }
    @media (min-width: 1600px){
        top: -200px;
    }
    @media (min-width: 1700px){
        top: -250px;
    }
    @media (min-width: 1800px){
        top: -280px;
    }
}

//only for home page
#circle_down_arrow_home{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -28px;
    @media(min-width: 768px){
        margin-top: -68px;
    }
    @media(min-width: 991px){
        margin-top: -108px;
    }
    @media (min-width: 1200px){
        margin-top: -158px;
    }
    @media (min-width: 1350px){
        margin-top: -183px;
    }
    @media (min-width: 1500px){
        margin-top: -153px;
    }
    @media (min-width: 1600px){
        margin-top: -228px;
    }
    @media (min-width: 1700px){
        margin-top: -278px;
    }
    @media (min-width: 1800px){
        margin-top: -308px;
    }
}

/*****************************IE edge css*******************/
body.windows{
    @supports (-ms-ime-align:auto) and (not (-ms-accelerator:true)) {
        .variable-width{
            .slider_clubhouse_bg {
                box-shadow: -3px 2px 20px 4px #939393;
                right:-40px;

            }
        }



    }
}


/***********************************/
@include breakpoint(sm){
    .despktop_slider_navigation{
        display:none;
    }
}
@include breakpoint(xs){
    #xs-only {
        display: block !important;
    }
    .despktop_slider_navigation{
        display:none;
    }
}
@include breakpoint(sa){
    #xs-only {
        display: none;
    }
}

@media only screen and (min-width: 641px){
    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        padding: 0px;
    }
}



