#houses_index_page{
      #blue {
        background-image: url("../images/blue_background.png");
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height: 650px;
        max-height: 650px;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
        z-index: 2;
      }
      #club {
        background-image: url("../images/clubhouse.png");
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-left: -15px;
        width: 100%;
        min-height: 650px;
        max-height: 650px;
        z-index: 1;
      }
      #shore {
        background-image: url("../images/shoreline.png");
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height: 650px;
        max-height: 634px;
        clip-path: polygon(40% 0, 100% 0, 100% 100% , 0 100% );
        z-index: 2;
      }
      #innertext {
        width: 70%;
      }
      .header2-bottom {
        bottom: 10px;
        left: -70px;
        position: absolute;
      }
      .header3-bottom {
        bottom: 10px;
        left: 60px;
        position: absolute;
      }
      @media (min-width: 768px) and (max-width: 900px){
        #blue, #club, #shore {
          height: 675px;
          p{
            font-size: .95rem;
          }
        }
      }
      @media (min-width: 0px) and (max-width: 768px) {
        #bluemobile {
          background-image: url("../img/blue_background.png");
          background-position: center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          min-height: 300px;
        }
        #clubmobile {
          background-image: url("../images/clubhouse.png");
          background-position: center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          min-height: 300px;
          border-bottom: 4px solid white;
        }
        #shoremobile {
          background-image: url("../images/shoreline.png");
          background-position: center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          min-height: 300px;
        }
        #innertext {
          width: 70%;
        }
        .header2-bottom {
          bottom: 10px;
          left: 60px;
          position: absolute;
        }
        .header3-bottom {
          bottom: 10px;
          left: 60px;
          position: absolute;
        }
      }
      }


      // new houses css

// .pool_image_rotate{

//   img{
//     opacity: 0;
//   }
// }

// .pool_image{
//   background-image: url('../img/clubhouse.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   height: 660px;
//     @media (min-width: 992px){
//   min-height: 35rem;
  
//   position: relative;
  
// }
//   position: relative;

//   overflow: hidden;
  


  // clip-path: polygon(40% 0, 100% 0, 100% 100% , 0 100% );
  
// }

// .lake_image{
//   background-image: url('../img/shoreline.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 53% 0%;
//   img{
//     opacity: 0;
//   }
//   @media (min-width: 992px){
//   min-height: 35rem;
//   position: relative; 

  
  

  // clip-path: polygon(40% 0, 100% 0, 100% 100% , 0 100% );
//   }
// }











