.circles_seciton{
    width: 100%;
    height: 100%;
    float: left;
    position:relative;
    top: 0px;
    @include breakpoint(ml){
        width: auto;
    }
    @include breakpoint(msm){
        padding: 0 !important;
    }
    @include breakpoint(sm){
        padding: 0 !important;
        margin: 30px auto;
        width: 94%;
    }
    @include breakpoint(xs){
        img{
            width: 100%;
        }
    }

    .circles_seciton_content{
        width: 100%;
        height: 100%;
        float: left;

        text-align: center;


        .eclips1{
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            left: 27%;
            top: 13%;
            transform: translate(-25% , 1%);
            background:$gray-600;
            overflow: hidden;
            vertical-align: middle;

            img{
                width: 100%;
                height:100%;
                @include breakpoint(xs){

                }
            }
            &.right-align{
                width: 320px;
                height: 320px;
                border-radius: 50%;
                right: 16%;

                left: inherit;
                top: 14%;
                transform: translate(33%, 6%);


                @include breakpoint(msm){
                    width: 270px;
                    height: auto;
                    border-radius: 50%;
                    /*right: 0%;*/
                    right: -2%;
                    left: inherit;
                    /*top: 19%;*/
                    top: 19%;
                    /*transform: translate(53%, 6%);*/
                    transform: translate(-28%, 6%);
                }
                @include breakpoint(md){
                    width: 216px;
                    right: 8%;
                }

                @include breakpoint(sm){
                    width: 41%;
                    height: auto;
                    border-radius: 50%;
                    right:7%;
                    background: none;
                    left: inherit;
                    top: 19%;
                    transform: translate(0%, 0%);
                }
                @include breakpoint(xs){
                    width: 48%;
                    height: auto;
                    border-radius: 50%;
                    right:4%;
                    background: none;
                    left: inherit;
                    top: 19%;
                    transform: translate(0%, 0%);
                }
            }
            @include breakpoint(msm){
                left: 25%;
                top: 20%;
                width: 45%;
                height: auto;
            }
            @include breakpoint(sm){
                left: 27%;
                top: 17%;
                width: 35%;

            }
        }
        .eclips2{
            position: absolute;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            left: 54%;
            top: 21%;
            transform: translate(-52%, 3%);
            background: $gray-600;
            overflow: hidden;
            vertical-align: middle;
            z-index: 3; 
            @include breakpoint(ms){
                width: 390px;
            }
            @include breakpoint(sm){
                width: 55%;
                height: auto;
                left: 54%;
                top: 23%;
            }
            img{
                width: 100%;
                height:100%;
                @include breakpoint(xs){

                }
            }
            &.right-align2{
                width: 450px;
                height: auto;
                border-radius: 50%;
                right: 23%;
                left: inherit;
                top: 3%;
                transform: translate(0%, 3%);
                @include breakpoint(mu){
                    width: 67%;
                    height: auto;
                    border-radius: 50%;
                    right: 23%;
                    left: inherit;
                    top: 13%;
                    transform: translate(0%, 3%);
                }
                @include breakpoint(mg){
                    width: 67%;
                    height: auto;
                    border-radius: 50%;
                    right: 23%;
                    left: inherit;
                    top: 13%;
                    transform: translate(0%, 3%);
                }
                @include breakpoint(ml){
                    width: 67%;
                    height: auto;
                    border-radius: 50%;
                    right: 23%;
                    left: inherit;
                    top: 13%;
                    transform: translate(0%, 3%);
                }

                @include breakpoint(msm){
                    /*right:-6%;*/
                    right:23%;
                    left: inherit;
                    /*top: 1%3;*/
                    transform: translate(-3%, 3%);
                }
                @include breakpoint(md){
                    right: 30%;
                    width: 380px;
                }
                @include breakpoint(xs){
                    right: 16%;
                    left: inherit;
                    top: 16%;
                    transform: translate(-28%, 3%);
                    width: 64%;
                    background: none;
                }
            }
            @include breakpoint(msm){
                width: 400px;
                height: 400px;
                left: 54%;
                top: 23%;
            }
            @include breakpoint(xs){
                width: 53%;
                height: auto;
                left: 0;
                transform:translate(51%, 70%);
                top: 0;

            }
        }

    }
}
.event-news{
    overflow: hidden;
}