// Styling for the masthead
header#home{
    background-image: url('../images/pinnacle.header.pn');
    @media (min-width: 992px){
        height: 70vh;
        min-height: 640px;
    }
    .row{
        position: relative;
        @media (max-width: 575px){
            hr{
                display: none;
            }
        }
        @media (min-width: 575px) and (max-width: 640px){
            top: -40px;
        }
        @media (min-width:800px){
            top: 20px;
        }
        @media (min-width:900px){
            top: 60px;
        }
        @media (min-width:1024px){
            top: 60px;
        }
        @media (min-width: 1200px){
            top: 90px;
        }
        @media (min-width: 1350px){
            top: 135px;
        }
        @media (min-width: 1500px){
            top: 205px;
        }
        @media (min-width: 1600px){
            top: 280px;
        }
        @media (min-width: 1800px){
            top: 380px;
        }
    }
}



header#amenities{
    background-image: url('../images/amenitiesheader.png');
}

header#about{
    background-image: url('../images/aboutheader.png');
}

header#events{
    background-image: url('../images/eventsheader.png');
}

header#properties{
    background-image: url('../images/propertiesheader.png');
}

header#membership{
    background-image: url('../images/membershipheader.png');
    min-height: 428px;
    @media (min-width: 576px) and (max-width: 767px){
        position: relative;
        bottom: 14px;
    }
}

header.masthead{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    @include background-cover;
    @include breakpoint(sm){
        padding-top:11rem;
    }
    @include breakpoint(xs){
        padding-top:8rem;
        padding-bottom: calc(6rem - 56px);
    }
    @include breakpoint(su){
        padding-top:4rem;
    }
    @include breakpoint(ss){
        padding-top: 4rem;
    }
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 3rem;
        font-weight:400;
        @include Domine-serif-font;

    }
    p {
        font-weight: 300;
    }
    @media (min-width: 768px) {
        p {
            font-size: 1.15rem;
        }
    }
    @media (min-width: 992px) {
        min-height: 415px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -2px;
        h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {

        h1 {
            font-size: 4.6rem;
        }
    }
    @media (max-width: 575px) {
        h1 {
            font-size: 30px;
            margin-top: 1rem;
            margin-bottom:10px

        }
        hr{
            margin-top: 1rem;
            margin-bottom: -1.5rem;
        }
        a{
            font-size: .85rem;
            z-index: 100;
        }
    }
    @include breakpoint(su){
        h1 {
            font-size:30px;
            margin-top: 5rem;
            margin-bottom: 2px;

        }
    }
    @include breakpoint(ss){
        h1 {
            font-size: 24px;
            margin-top: 5rem;
            margin-bottom: 2px;

        }
    }
}



.page-template-front-page-php{
    header.masthead{
        @include breakpoint(sm){
            padding-top:0rem;
            h1 {
                font-size: 30px;
                margin-top: 14rem;
                margin-bottom: 2px;

            }
        }
        @include breakpoint(xs){
            padding-top: 4rem;
            h1 {
                font-size: 34px;
                margin-top:7.5rem;
                margin-bottom: 2px;

            }
        }
        @include breakpoint(sd){
            padding-top: 4rem;
            h1 {
                font-size: 34px;
                margin-top:7.5rem;
                margin-bottom: 2px;

            }
        }
        @include breakpoint(s-574){
            padding-top: 4rem;
            h1 {
                font-size: 34px;
                margin-top:3.5rem;
                margin-bottom: 2px;

            }
        }

        @include breakpoint(su){
            padding-top: 3rem;
            h1 {
                font-size: 24px;
                margin-top: 6rem;
                margin-bottom: 2px;

            }
        }


        @include breakpoint(sk){
            padding-top: 3rem;
            h1 {
                font-size: 24px;
                margin-top: 3.5rem;
                margin-bottom: 2px;

            }
        }
        @include breakpoint(ma){
            padding-top: 3rem;
            h1 {
                font-size: 18px;
                margin-top: 3.5rem;
                margin-bottom: 2px;

            }
        }
        @include breakpoint(ss){
            padding-top: 3rem;
            h1 {
                font-size: 24px;
                margin-top: 1.8rem;
                margin-bottom: 2px;

            }
        }

    }
}

.page-template-page-templateswomensClub-page-php{
    header.masthead{
        background-position: center 105px;
        @include breakpoint(mg){

            background-position: center 105px;
        }
        @include breakpoint(sm){
            padding-top:3rem;
            background-position: center 65px;
        }
        @include breakpoint(sd){
            h1 {
                font-size: 36px;
                margin-top: 4rem;
                margin-bottom: 3rem;
            }
        }

    }
}
@include breakpoint(mg){
    .page-template-golfClub-page{
        header.masthead{
            min-height: auto;

        }
    }
}
@include breakpoint(sm){
    .page-template-golfClub-page{
        header.masthead{
            min-height:auto;
            padding-top: 0rem;
            padding-bottom: calc(3rem - 56px);
            h1 {
                font-size: 2.5rem;
                margin-top: 130px;
            }
        }
    }
}
@include breakpoint(xs){
    .page-template-golfClub-page{
        header.masthead{
            padding-top: 0rem;
            padding-bottom: calc(0rem - 0px);
            h1 {
                font-size: 2.2rem;
                margin-top: 130px;
                padding-bottom: 1rem;
            }
        }
    }
}

@include breakpoint(su){
    .page-template-golfClub-page{
        header.masthead{
            padding-top: 3rem;
            padding-bottom: calc(7rem - 56px);
            h1 {
                font-size: 2.2rem;
                margin-top: 40px;   
            }
        }
    }
}
@include breakpoint(sd){
    .page-template-golfClub-page{
        header.masthead{
            padding-top: 0rem;
            padding-bottom: calc(0rem - 0px);
            h1 {
                font-size: 2.2rem;
                margin-top: 110px;
                padding-bottom: 2.7rem;
            }
        }
    }
}
@include breakpoint(sk){
    .page-template-golfClub-page{
        header.masthead{
            padding-top: 0rem;
            padding-bottom: calc(0rem - 0px);
            h1 {
                font-size: 2rem;
                margin-top: 110px;
                padding-bottom: 3.1rem;
            }
        }
    }
}
@include breakpoint(ss){
    .page-template-golfClub-page{
        header.masthead{
            padding-top: 3rem;
            padding-bottom: calc(7rem - 56px);
            h1 {
                font-size: 2rem;
                margin-top: 66px;
                padding-bottom: 0.1rem;
            }
        }
    }
}


.bottom_space{
    margin-bottom: 45px;
}
.bottom_top{
    margin-top: 16.7%;
    @include breakpoint(ml){
        margin-top: 160px;
    }
}

