@mixin breakpoint($point) {
    /* default mediaquery */
    @if $point == lg {
        @media (min-width:1920px) { @content; }
    }
    @else if $point == md {
        @media (max-width:1200px) { @content; }
    }    
    @else if $point == sm {
        @media (max-width: 991px) { @content; }
    }

    @else if $point == xs {
        @media (max-width: 767px) { @content; }
    }
    @else if $point == smt {
        @media (max-width: 601px) { @content; }
    }


    /* custom mediaquery */
    @else if $point == ld{
        @media (max-width: 1919px) { @content; }
    }

    @else if $point == mu {
        @media (max-width:1799px) { @content; }
    }

    @else if $point == mg {
        @media (max-width:1679px) { @content; }
    }

    @else if $point == ml {
        @media (max-width:1599px) { @content; }
    }

    @else if $point == mc {
        @media (max-width:1439px) { @content; }
    }

    @else if $point == mm {
        @media (max-width:1365px) { @content; }
    }

    @else if $point == msm{
        @media (max-width:1280px) { @content; }
    }
    @else if $point == md{
        @media (max-width:1024px) { @content; }
    }
    @else if $point == ms{
        @media (max-width:1023px) { @content; }
    }
    @else if $point == tp{
        @media (max-width:992px) { @content; }
    }
    @else if $point == sa {
        @media (max-width: 576px) { @content; }
    }
     @else if $point == sd {
        @media (max-width: 575px) { @content; }
    }
     @else if $point == s-574 {
        @media (max-width: 574px) { @content; }
    }
    @else if $point == su {
        @media (max-width: 500px) { @content; }
    }
    @else if $point == sk {
        @media (max-width: 499px) { @content; }
    }
    @else if $point == ma {
        @media (max-width: 375px) { @content; }
    }

    @else if $point == me {
        @media (max-width: 360px) { @content; }
    }

    @else if $point == ss {
        @media (max-width: 350px) { @content; }
    }
    @else if $point == smls {
        @media screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {@content;}
    }
    @else if $point == 5s {
        @media only screen  and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
            @content;
        }
    }
    @else if $point == mls {
        @media screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio : 3) and (orientation: landscape) {@content;}
    }
    @else if $point == 6s7s8s {
        @media screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {@content;}
    }
    @else if $point == 6s {
        @media screen and (min-width: 500px) and (max-width: 761px) {@content;}
    }
    @else if $point == dt {
        @media screen and (min-width: 1025px) and (max-width: 1920px) {@content;}
    }

    @else if $point == ipad-portrait{
        @media only screen 
        and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (orientation: portrait){@content;}
    }
    @else if $point == andriod{
        @media screen 
        and (device-width: 360px) 
            and (device-height: 640px) 
            and (-webkit-device-pixel-ratio: 2) 
            and (orientation: portrait) {@content;}
    }  

    @else if $point == mobile-landscape{
        @media only screen 
        and (min-device-width: 320px) 
            and (max-device-width: 736px) 
            and (orientation: landscape)
            {@content;}
    }
}





