// Styling for the navbar
#mainNav {
    border-bottom: 1px solid fade-out($gray-900, .9);
    background-color: $white;
    @include Montserrat-font;
    @include transition-all;
    font-size:14px;
    @include breakpoint(sm){
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom:0px;
    }
    @include breakpoint(xs){
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom:0px;
    }

    .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
        @include Montserrat-font;
        &:focus,
            &:hover {
            color: darken($primary, .1);
        }
    }
    .navbar-toggler {
        outline:none;
        @include breakpoint(sm){
            margin-right: 10px;
            margin-top: 20px;
            position: relative;
            top: -11px;
        }
        @include breakpoint(xs){
            margin-right: 10px;
            margin-top: 20px;
            position: relative;
            top: -11px;
        }
    }
    .navbar-nav {
        position:relative;
        @include breakpoint(sm){
            top: 50px;
        }
        @include breakpoint(xs){
            background: $white;
            margin-bottom:0px !important;
            text-align: left;
            margin-top: 0px !important;
            top: 10px;
            height: calc(100vh - 80px);
            overflow-y: auto;
        }
        > li.menu-item {
             margin-bottom:0rem;
            @include breakpoint(sm){
                background: $pinnacle-blue;
                text-align: left;
                margin-bottom: 0rem;
                border-bottom: 1px solid rgba(255,255,255,0.1);
                &:first-child{
                    display: none;
                    border-bottom: 0px solid $light-blue;
                }
                &:last-child{
                    border-bottom:0px solid $light-blue;
                }


            }
            @include breakpoint(xs){
                background: $pinnacle-blue;
                margin-bottom: 0rem;    
                border-bottom: 1px solid rgba(255,255,255,0.1);
                &:first-child{
                    display: none;
                    border-bottom: 0px solid $light-blue;
                }
                &:last-child{
                    border-bottom:0px solid $light-blue;
                }


            }
            &.current-menu-item{
                a, a:focus {
                    text-decoration: none;
                    border-bottom: 4px solid #fff;
                    @include breakpoint(md){
                        border-bottom: 4px solid #343a40;
                    }
                    @include breakpoint(sm){
                        border-bottom: 0px solid #fff;
                        background:#cddff5;
                        color:$pinnacle-blue;
                    }
                    @include breakpoint(xs){
                        border-bottom: 0px solid #fff;
                        background:#cddff5;
                        color:$pinnacle-blue;
                    }
                    &:after{
                        /*content:" "url(../images/teetime_icon_small.png);*/
                        @include breakpoint(sm){
                            content:" ";
                        }
                        @include breakpoint(xs){
                            content:" ";
                        }
                    }

                }



            }
            > a,
            > a:focus {
                font-size: .9rem;
                font-weight:600;
                @include Montserrat-font;
                font-size: 14px;
                color: $gray-900;
                @include breakpoint(sm){
                    color: $white;
                    text-transform: uppercase;
                    border-bottom: 0px solid #fff;
                    padding: 15px;  
                    display: block;
                    font-size: 20px;
                }
                @include breakpoint(xs){
                    color: $white;
                    text-transform: uppercase;
                    border-bottom: 0px solid #fff;
                    padding: 15px;  
                    display: block;
                    font-size:16px;
                }
                &:hover {
                    /*color: $primary;*/
                    text-decoration: none;
                    border-bottom: 4px solid #fff;
                    @include breakpoint(sm){
                        color: $pinnacle-blue-text; 
                        border-bottom: 0px solid #fff;
                    }
                    @include breakpoint(xs){
                        background:#cddff5;
                        color: $pinnacle-blue-text; 
                        border-bottom: 0px solid #fff;
                    }
                }
                &.current-menu-item{
                    text-decoration: underline;

                    // text-shadow: .5px .5px 3px #000000; 
                    // color: #9bc2cf !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.home-link{
                    border:none;
                    &:after{
                        content:"";
                    }
                }
            }
            ul.sub-menu{
                width: 88%;
                position: absolute;
                left: -20px;
                right: 0px;
                padding: 0px;
                text-align: right;
                top: 0px;
                margin: 0px;
                padding-top:36px;
                list-style-type: none;
                display: none;
                z-index: 1;
                @include breakpoint(sm){
                    position: relative;
                    padding-top: 0px;
                    position: relative;
                    padding-top: 0px;
                    background:  $light-blue;
                    width: 100%;
                    left:0px;
                }
                @include breakpoint(xs){
                    position: relative;
                    padding-top: 0px;
                    position: relative;
                    padding-top: 0px;
                    background:  $light-blue;
                    width: 100%;
                    left:0px;
                }
                &:after{
                    content:" "url(../images/blue_arrow.png);
                    width: 40px;
                    height: 43px;
                    position: absolute;
                    top: 6px;
                    right: 50px;
                    transform: scaleY(-1);
                    @include breakpoint(sm){
                        display: none;
                    }
                    @include breakpoint(xs){
                        display: none;
                    }


                }
                li{
                    width: auto;
                    display: inline-block;
                    padding: 15px;
                    margin-bottom:0px;
                    @include breakpoint(sm){
                        display: block;
                        border-bottom: 1px solid rgba(255,255,255,0.3);
                        &:last-child{
                            border: none;
                        }
                    }
                    @include breakpoint(xs){
                        display: block;
                        border-bottom: 1px solid rgba(255,255,255,0.3);
                        &:last-child{
                            border: none;
                        }
                    }

                    a{
                        text-transform: uppercase;
                        color:$white;
                        text-decoration: none;
                        &:hover{
                            color: #6986a9 !important;
                        }
                        @include breakpoint(sm){
                            text-align: left;
                        }
                        @include breakpoint(xs){
                            text-align: left;
                        }

                    }
                    &.current_page_item{
                        a{
                            color: #6986a9 !important;
                        }
                    }
                    &:first-child{
                        &:after{
                            content:'-';
                            font-size: 15px;
                            color:$white;
                            position: relative;
                            left: 18px;
                            @include breakpoint(sm){
                                display: none;
                            }
                            @include breakpoint(xs){
                                display: none;
                            }
                        }
                    }
                }


            }


            cursor: pointer;
            display: inline-block;


            &:hover {
                background-color: transparent;
                @include breakpoint(sm){
                    background:$pinnacle-blue;
                    a{
                        color:$pinnacle-blue-text;
                    }
                }
                @include breakpoint(xs){
                    background:$pinnacle-blue;
                    a{
                        color:$pinnacle-blue-text;
                    }
                }

            }
            &.menu-item-has-children{


            }
            &:nth-child(8){
                a{

                    border:none;
                    &:hover{
                        border-bottom: 4px solid #fff; 
                        @include breakpoint(sm){
                            border-bottom: 0px solid #fff; 
                        }
                        @include breakpoint(xs){
                            border-bottom: 0px solid #fff; 
                        } 
                    }
                }
                ul.sub-menu{
                    li{
                        &.current-menu-item{
                            a{
                                border-bottom:0px solid #fff;
                                color:$white !important;
                                @include breakpoint(sm){
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                                @include breakpoint(xs){
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
                        a{
                            &:hover{
                                border-bottom:0px solid #fff;
                                color:$white !important;
                            }
                            &:after{
                                display:none;
                            }
                        }

                    }
                }
            }


        }
        //membership page




        //membership page
        .blue_arrow_2 {
            transform: scaleX(1);
            transform: scaleY(-1);
            margin-top: -1.5rem;
            img{
                margin-right: 11.4rem;
            }
            @media (max-width: 991px){
                display: none;
            }
        }

        .membership{
            .member-application-image{
                margin-top: -30px;
            }
            .right-arrow-image{
                max-height: 14px;
            }
        }

        #membership_plans{
            padding-bottom: calc(10rem - 56px);
            background-image: url('../images/blue_background_2.png');
            background-position: center 80%;
            @include background-cover;
        }
    }
    @media (min-width: 1202px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color: fade-out($white, .3);
            &:focus,
                &:hover {
                color: $white;

            }
        }
        .navbar-nav > li.menu-item > a{
            margin: 0.5rem 1rem;
            position: relative;
            z-index: 2;
        }
        .navbar-nav > li.menu-item > a,
        .navbar-nav > li.menu-item > a:focus {
            color: fade-out($white, .1);
            text-transform: uppercase;
            &:hover {
                color: $white;
                text-decoration: none;


            }
            &.social_booking{
                &:hover{
                    text-decoration: none;
                    border: none;
                } 
            }
        }
        &.navbar-shrink {
            border-bottom: 1px solid fade-out($gray-900, .9);
            background-color: $white;
            ul{
                li.current-menu-parent.menu-item-has-children{
                    a{border-bottom: none !important;}
                    .sub-menu .menu-item a{ border-bottom: none !important;}
                }
            }
            ul{
                li.menu-item.current-menu-item a{
                    border-bottom: 4px solid #343a40;
                }
            }
            ul{
                li.menu-item ul.sub-menu li.current-menu-item a{
                    border-bottom: none !important;
                }
            }
            .navbar-brand {
                color: $primary;
                &:focus,
                    &:hover {
                    color: darken($primary, .1);
                    border-bottom: 4px solid #343a40;
                }
            }
            .navbar-nav > li.menu-item > a{
                color: $gray-900;
                &:hover{
                    border-bottom: 4px solid #343a40;
                }
            }

            .navbar-nav > li.menu-item > a:focus {

                border-bottom: 4px solid #343a40;

                &:hover {
                    color: #343a40;
                    text-decoration: none;
                    border-bottom: 4px solid #343a40;
                }
                &.social_booking{
                    &:hover{
                        text-decoration: none;
                        border: none;
                    } 
                }
            }

        }
    }

}
.page-template-bookings-page, .page-template-contact-page, .page-template-membership-page, .page-template-golfClub-page, .page-template-womensClub-page , .page-template-contactThankYou-page, .error404{
    #mainNav{
        background:#fff;
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        .navbar-nav{
            li{
                a{
                    color: #343a40 !important;
                    @include breakpoint(sm){
                        color: $white !important;
                        cursor: pointer;
                        font-size: 20px;
                    }
                    @include breakpoint(xs){
                        color: $white !important;
                        cursor: pointer;
                        font-size: 16px;
                    }
                    &:hover{
                        border-bottom: 4px solid #343a40;
                        @include breakpoint(sm){
                            border-bottom:0px solid #343a40;
                        }
                        @include breakpoint(xs){
                            border-bottom:0px solid #343a40;
                        }
                    }

                }
                ul.sub-menu{
                    li{
                        a{
                            color: #6986a9 !important;
                            @include breakpoint(sm){
                                color: #002d64 !important;
                                font-size: 20px;
                                font-weight: 600;
                                display: block;
                                background: none;

                                padding-left: 35px;
                            }
                            @include breakpoint(xs){
                                color: #002d64 !important;
                                font-size: 16px;
                                font-weight: 600;
                                display: block;
                            }

                        }

                        &.current-menu-item {
                            @include breakpoint(sm){
                                a{
                                    background: none;
                                }
                            }

                        }
                    }
                }
                &:nth-child(8){
                    a{
                        &:hover{
                            border-bottom: 4px solid #343a40;
                        }
                    }
                    &.current-menu-item {
                        a{

                            border-bottom: 0px solid #343a40;
                        }

                    }
                }
                &.current-menu-item {
                    a{


                        border-bottom: 4px solid #343a40;
                        @include breakpoint(sm){
                            border-bottom: 0px solid #343a40;
                        }
                    }

                }
                &.current-menu-parent{
                    background:#fff;
                    a{
                        color:$pinnacle-blue-text !important; 
                    }  
                }
            }
        }
    }
}


.sub_menu_section{
    background-color: #002d64;
    position: fixed;
    left: 0px;
    display: none;  
    right: 0px;
    padding: 0px;
    top: 56px;
    min-height: 50px;
    margin: 0px;
    list-style-type: none;
    width: 100%;
    @include breakpoint(sm){
        display:none !important;
    }
    @include breakpoint(xs){
        display:none !important;
    }
}
@media (min-width: 992px) {

    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
        color: fade-out($white, .3);
        &:focus,
            &:hover {
            color: $white;

        }
    }
    .navbar-nav > li.menu-item > a{
        margin: 0.5rem 0.7rem;
        position: relative;
        z-index: 2;
    }
    .navbar-nav > li.menu-item > a,
    .navbar-nav > li.menu-item > a:focus {
        color: fade-out($white, .1);
        text-transform: uppercase;
        &:hover {
            color: $white;
            text-decoration: none;


        }
        &.social_booking{
            &:hover{
                text-decoration: none;
                border: none;
            } 
        }
    }
    &.navbar-shrink {
        border-bottom: 1px solid fade-out($gray-900, .9);
        background-color: $white;
        ul{
            li.menu-item.current-menu-item a{
                border-bottom: 4px solid #343a40;
            }
        }
        .navbar-brand {
            color: $primary;
            &:focus,
                &:hover {
                color: darken($primary, .1);
                border-bottom: 4px solid #343a40;
            }
        }
        .navbar-nav > li.menu-item > a{
            color: $gray-900;
            &:hover{
                border-bottom: 4px solid #343a40;
            }
        }

        .navbar-nav > li.menu-item > a:focus {

            border-bottom: 4px solid #343a40;

            &:hover {
                color: #343a40;
                text-decoration: none;
                border-bottom: 4px solid #343a40;
            }
            &.social_booking{
                &:hover{
                    text-decoration: none;
                    border: none;
                } 
            }
        }
    }
}