.picture_collage{


  .membership-left{
    background-image: url('../images/golf_cart_noshadow.png');
  }
  .properties-left{
    background-image: url('../images/golf_cart_noshadow.png');
  }

  .collage-left{
    height: 168px;
    @media (min-width: 576px){
      height: 188px;
    }
    @media (min-width: 768px){
      height: 278px;
    }
    @media (min-width: 992px){
      height: 398px;
    }
    @media (min-width: 1200px){
      height: 488px;
    }
  }

  .membership-right-top-left{
    background-image: url('../images/tennis_woman.png');
  }
  .properties-right-top-left{
    background-image: url('../images/tennis_woman.png');
  }
  .membership-right-top-right{
    background-image: url('../images/swimming.png');
  }
  .properties-right-top-right{
    background-image: url('../images/swimming.png');
  }

  .collage-right-top-left,.collage-right-top-right{
    height: 120px;
    @media (min-width: 576px){
      height: 130px;
    }
    @media (min-width: 768px){
      height: 185px;
    }
    @media (min-width: 992px){
      height: 205px;
    }
    @media (min-width: 1200px){
      height: 250px;
    }
  }

  .membership-right-bottom{
    background-image: url('../images/on_the_green.png');
  }
  .properties-right-bottom{
    background-image: url('../images/on_the_green.png');
  }
  .collage-right-bottom{
    height: 168px;
    @media (min-width: 576px){
      height: 165px;
    }
    @media (min-width: 768px){
      height: 250px;
    }
    @media (min-width: 992px){
      height: 185px;
    }
    @media (min-width: 1200px){
      height: 230px;
    }
  }

  .collage-left,.collage-right-top-left,.collage-right-top-right,.collage-right-bottom{
    background-size: cover;
    background-position: center;
  }
}