// Styling for the services section


.service-box {
    max-width: 400px;
}

/*****************Home page image slide Css********************/
.section_2{
    overflow:hidden;
    padding:0;
    height:650px;
    position: relative;
    /*    background-image: url(../images/clubhouse.png);*/
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 650px;
    max-height: 650px;
    z-index: 1;
    @include breakpoint(sm){
        max-height: initial;
        height: auto;
    }
    @include breakpoint(xs){
        max-height: initial;
        height: auto;
    }
    #bh_slider2_content{
        background-image:url('../images/blue_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height: 650px;
        max-height: 650px;
        clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
        -webkit-clip-path:  polygon(0 0, 100% 0, 70% 100%, 0 100%);
        -moz-clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
        -ms-clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
        z-index: 2;
        @include breakpoint(sm){
            display: none;
        }
        @include breakpoint(xs){
            display: none;
        }
    }

    .bh-textslider-btn{
        &.entry-footer{
            margin:40px 0;
            a{
                color: #fff;
                font-size: 22px;
                @include Montserrat-font;

                text-transform: uppercase;
                border-bottom: 3px solid #fff;
                &:hover{
                    text-decoration: none;
                }
            }    
        }

    }
    .bh-textslider{
        background-color:none;
        position:relative;
        height: 100%;
        @include breakpoint(sm){
            /*padding: 50px 0;*/
            background-color: #231f1f;
            position: relative;
        }
        @include breakpoint(xs){
            /*padding: 50px 0;*/
            background-color: #231f1f;
            position: relative;
        }
        #bh_slider2_content{
        }
        .bh-textslider_content{
            padding: 10% 22% 0% 24%;
            @include breakpoint(msm){
                /*padding: 10% 4% 0% 24%;*/
                padding: 10% 24% 0% 8%;
            }
            @include breakpoint(md){
                padding: 10% 22% 0% 6%;
            }
            @include breakpoint(sm){
                padding: 10% 4% 0% 8%;
            }
            @include breakpoint(sm){
                padding: 15px;
                text-align: center;
                background: url(../images/blue_background.png);
            }
            @include breakpoint(xs){
                padding: 15px;
                background: url(../images/blue_background.png);
            }
            .entry-header{
                h3{
                    color: #fff;
                    font-size: 42px;
                    line-height: 47px;
                    @include Domine-serif-font;
                    @include breakpoint(ml){
                        font-size: 39px;
                    }
                    @include breakpoint(sm){
                        font-size: 26px;
                        line-height: 36px;
                        margin-top: 20px
                    }
                    @include breakpoint(xs){
                        font-size: 30px;
                        line-height: 36px;
                        text-align: center;
                        margin-bottom: 25px;
                        margin-top: 30px;
                    }
                    @include breakpoint(ss){
                        font-size: 24px;
                    }
                }
            }
            .entry-content{
                margin:40px 0;
                @include breakpoint(sm){
                    width: 80%;
                    margin: 40px auto;
                }
                p{
                    color: #fff;
                    font-size: 16px;
                    line-height:35px;
                    font-weight: normal;
                }
            }
        }
        .bh-slick-slider2{
            width:100%;
            ul{
                list-style: none;
                padding:0;
                margin-bottom:0;
                li{
                    float: left;
                    margin-bottom:0;
                    height: 650px;
                    @include breakpoint(sm){
                        height: auto;
                    }
                    @include breakpoint(xs){
                        height: auto;
                    }
                    /*transition: 10000s linear;*/
                    img{
                        height: 100%;
                        transition: 10000s linear;
                        position: relative;
                        left: -300px;
                        @include breakpoint(sm){
                            max-width: 100%;
                            height: auto;
                            position: static;
                        }
                        @include breakpoint(xs){
                            max-width: 100%;
                            height: auto;
                            position: static;
                        }

                    }
                    &.last_carousel{
                        clip-path: polygon(75% 0, 150% 0, 165% 141%, 0 100%);
                        -webkit-clip-path: polygon(75% 0, 150% 0, 165% 141%, 0 100%);
                        -moz-clip-path: polygon(75% 0, 150% 0, 165% 141%, 0 100%);
                        -ms-clip-path: polygon(75% 0, 150% 0, 165% 141%, 0 100%);
                        z-index: 2;
                        position: relative;
                        left: -100px;
                        @include breakpoint(mg){
                            left: -96px;
                        }
                        @include breakpoint(ml){
                            left: -88px;
                        }
                        @include breakpoint(mc){
                            left: -80px;
                        }
                        @include breakpoint(msm){
                            left: -68px;
                        }
                        @include breakpoint(ms){
                            left: -60px;
                        }
                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            /* IE10+ CSS styles go here */
                            left:200px;
                        }

                        h2{
                            @include breakpoint(ml){
                                left: 50%;
                                font-size: 30px;
                                width:100%;
                            }
                        }
                    }
                    .home_side_content_div{
                        position: absolute;
                        z-index: 999;
                        bottom: 40px;
                        color: $white;
                        h2{ 
                            @include Domine-serif-font;
                            font-size: 42px;
                            color: $white;
                            @include breakpoint(ml){
                                font-size: 30px;
                            }
                            @include breakpoint(msm){
                                font-size: 30px;

                            }
                        }
                        @include breakpoint(msm){

                            left: 80px;
                            width: 100%;
                        }
                        a.link{
                            position: absolute;
                            bottom: -20px;
                            text-align: center;
                            width: 100%;
                            font-weight:400;
                            font-size: 18px;
                            cursor: pointer;
                            background: none;
                            color: $white;
                            @include breakpoint(msm){
                                width: 68%;
                            }
                        }
                    }
                }
                .current_slide{
                    width: 40%;
                    @include breakpoint(sm){
                        width: 100% !important;
                    }
                    @include breakpoint(xs){
                        width: 100%;
                    }
                }
                .next_slide{
                    width: 39%;
                    img{
                        cursor: pointer;
                        @include breakpoint(sm){

                            cursor: default;
                        }
                    }
                    @include breakpoint(sm){
                        width: 100% !important;
                    }
                    @include breakpoint(xs){
                        width: 100%;

                    }
                }
            }
            .slick-slide{
            }

            @include breakpoint(sm){
                .mobile_home_secton{
                    position: relative;
                    h2{
                        position: absolute;
                        bottom:0px;
                        width: 100%;
                        text-align: center;
                        left: 0px;
                        font-size:30px;
                        color: $white;
                    }
                }
            }

            @include breakpoint(xs){
                .mobile_home_secton{
                    position: relative;
                    h2{
                        position: absolute;
                        bottom:0px;
                        width: 100%;
                        text-align: center;
                        left: 0px;
                        font-size:30px;
                        color: $white;
                    }
                }
            }
        }
        .slide-button-prev{
            /*            background-image: url("../images/left-nav.png");*/
            left: 58px;
            @include breakpoint(md){
                left: 10px;
            }
        }
        .slide-button-next{
            /*            background-image: url("../images/right-nav.png");*/
            right: 58px;
            @include breakpoint(md){
                right: 10px;
            }
        }
        .slide-button-prev, .slide-button-next{
            position: absolute;
            top: 25%;
            width: 23px;
            height:46px;
            z-index: 10;
            cursor: pointer;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -moz-background-size: 21px 60px;
            -webkit-background-size:21px 60px;
            background-size:21px 60px;
            background-position: center;
            background-repeat: no-repeat;
            @include breakpoint(md){
                display: none;
            }
        }
        /*        .slick-slide,
                .slick-slider .slick-track,
                .slick-slider .slick-list
                {
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    -ms-transform: translate3d(0, 0, 0);
                    -o-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
        
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
        
                    -webkit-perspective: 1000;
                    -moz-perspective: 1000;
                    -ms-perspective: 1000;
                    perspective: 1000;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    backface-visibility: hidden;
                }*/
    }
}


@supports (-ms-ime-align: auto) {
    /* Microsoft EdgeV13&14 CSS styles go here */
    .section_2 .bh-textslider .bh-slick-slider2 ul li img{
        right: 0;
    }
    .section_2 .bh-textslider .bh-slick-slider2 ul li.last_carousel{
        left:270px;
        .imgtitle-content{
            left: -95%;
            @include breakpoint(mg){
                font-size: 28px;
            }
        }
    }
    .imgtitle-content{
        left:20%;
        @include breakpoint(mg){
            font-size: 28px !important;
        }
    }
}

@supports (-ms-accelerator: true) {
    /* Microsoft EdgeV13 CSS styles go here */
    .section_2 .bh-textslider .bh-slick-slider2 ul li img{
        right: 0;
    }
    .section_2 .bh-textslider .bh-slick-slider2 ul li.last_carousel{
        left:270px;
        .imgtitle-content{
            left: -65%;
            @include breakpoint(mg){
                font-size: 28px;
            }
        }
    }
    .imgtitle-content{
        left:20%;
        @include breakpoint(mg){
            font-size: 28px !important;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10 & IE11 CSS styles go here */
    .section_2 .bh-textslider .bh-slick-slider2 ul li img{
        right: 0;
    }
    .section_2 .bh-textslider .bh-slick-slider2 ul li.last_carousel{
        left:270px;
        .imgtitle-content{
            left: -65%;
            @include breakpoint(mg){
                font-size: 28px;
            }
        }
    }
    .imgtitle-content{
        left:20%;
        @include breakpoint(mg){
            font-size: 28px !important;
        }
    }
}

.spacing_bar{
    &.opportunityabout{
        p{
            text-align: left;
        }
    }
} 
#resort-life-properties{
    .blue-text{
        padding-bottom: 30px;
        @include breakpoint(sm){
            padding-bottom: 0px;
        }
        @include breakpoint(sm){
            padding-bottom: 0px;
        }
        @include breakpoint(xs){
            padding-bottom: 0px;
        }
    }
}
#events_scroll_down{
    padding: 0;
    margin-top: -40px;
    @include breakpoint(sm){
        margin-top:20px;
    }
    @include breakpoint(sm){
        margin-top:10px;
    }
    @include breakpoint(xs){
        margin-top:10px;
    }
    img{
        &.responsive-img{
            width: 100%;
            margin-top:10%;
            @include breakpoint(sm){
                margin-top:0%;
            }
        }
    }
}
.resortlife-img{
    &.text-center{
        @include breakpoint(ml){
            text-align: left !important;
            margin-left: 24px;
        }
        @include breakpoint(sm){

            margin-left:0px;
        }

    }
}
#opportunity{
    padding: 60px 0;
    @include breakpoint(sm){
        padding: 60px 0 0;
    }
    @include breakpoint(xs){
        padding: 60px 0;
    }
}
#featurehomesites-properties{
    .pr-3{
        h2{
            padding-bottom:20px;
            @include breakpoint(xs){
                padding-bottom: 0px;
                margin: 5px 0;
            }
        }
    }
}
.bookings{
    background-color: #e4e4e4;
    @include breakpoint(sm){
        padding-top: 5%;
    }
}
.contact{
    background-color: #e4e4e4;
}
.custom_form{
    p{
        font-size: 18px;
        font-family: 'Domine', serif;  
        @include breakpoint(sm){
            text-align: center;
        }
        @include breakpoint(xs){
            width: 90%;
            margin: 0 auto;
            font-size: 14px;

        }


    }
    /*    & > p{
            width: 70%;
            margin: 10px auto 0;
            line-height: 26px;
            @include breakpoint(mg){
                font-size: 16px;
            }
            @include breakpoint(mc){
                font-size: 16px;
            }
            @include breakpoint(msm){
                font-size: 14px;
            }
            @include breakpoint(md){
                width:100%;
            }
        }*/
}
.pinanical-address, .blueheron-address{
    p{
        font-size: 14px;
        color: #606060;
        line-height: 36px;
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.ssslider{
    padding-left: 0!important;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.slider_clubhouse_bg{
    -webkit-clip-path: polygon(20% 0,96% 0,80% 100%,0 100%);
}
#events_scroll_down{
    .order-2{
        @include breakpoint(md){
            margin-top: 50px;
        }
        h2{
            @include breakpoint(md){
                font-size: 30px;
                margin-top: 20px;
            }
            @include breakpoint(xs){
                font-size: 30px;
                margin-top: 20px;
            }
            @include breakpoint(ss){
                font-size: 24px;
            }
        }
        .mt-5{
            margin-top: 0 !important;
        }
    }   
}

/*calendar*/
.cal-entry-content{
    margin: 2rem;
    @include breakpoint(xs){
        margin: 1rem;
    }
}
.wrapper-large {
    margin: 0 auto;
    max-width: 1200px;
    padding: 7rem 2rem;
    text-align: center;
    @include breakpoint(xs){
        margin-top: 68px;
        padding: 9% 0 7%;
    }
}
#content {
    margin:2rem;
}
#sc_events_calendar_head {
    height: 5.5rem;
    padding: 10px;
}
#sc_event_select {
    display:inline;
}
#sc_event_select select {
    display:inline;
    width:6rem;
    /*height:4.2rem;*/
    height: 3.4rem;
    padding:.85rem;
    background-color: transparent;
    border: 1px solid #3e3e49;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0.6rem 1.3rem 0.6rem 1.7rem;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    resize: none;
    z-index: 100;
    @include breakpoint(ms){
        width: 4rem;
        height: 3.4rem;
        padding: 0.6rem 0.4rem 0.6rem 0.4rem;
    }
}
#sc_calendar_title {
    display:inline;
    color:#3e3e49;
}
#sc_event_nav_wrap {
    display: inline;
}
#sc_calendar td.calendar-day{
    height:100px;
}
#sc_calendar td div.day-number{
    font-size:20px;
    margin: 0px;
}
#sc_events_calendar_head h2 {
    text-align: center;
    line-height: 26px;
    font-size: 3rem;
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    padding-top: 4px;
    @include breakpoint(ms){
        width: 34%;
        font-size: 2rem;
    }
}
#sc_calendar th{
    width: 13.25%;
    background: #fdfdfd;
    border: 1px solid #ddd;
    text-align: center;
    text-transform: capitalize;
    padding: 6px 4px!important;
}
.sc_day_div a{
    font-size:16px;
    color: #043062;
    text-decoration: underline;
    font-weight:700;
}
#sc_submit{
    background-color:#043062;
    border-radius: 0.2rem;
    /*    height: 4.2rem;
        line-height: 3.8rem;*/
    height: 3.4rem;
    line-height: 3.4rem;
    padding: 0 2.4rem;
    color: #FFFBFC;
    @include breakpoint(ms){
        padding: 0 1.6rem;
    }
}
.sc_calendar_submit{
    background-color:#043062;
    border-radius: 0.2rem;
    /*    height: 4.2rem;
        line-height: 3.8rem;*/
    height: 3.4rem;
    line-height: 3.4rem;
    padding: 0 3rem;
    color: #FFFBFC;
    @include breakpoint(ms){
        padding: 0 1rem;
    }
}
#sc_calendar{
    @include breakpoint(xs){
        overflow-x: auto !important;
        width: 100%;
    }
}

@media(max-width:700px){
    #sc_events_calendar_head{
        height: 12rem;
    }
    #sc_events_calendar_head h2{
        clear: both;
        width:100%;
        height: auto;
    }
    #sc_event_nav_wrap{
        width:100%;
    }
    #sc_event_nav_wrap form{
        width:100%;
        display: inline-block;
        text-align: center;
        margin-top: 12px;
    }
    #sc_event_select{
        display:none;
    }
}

#sc_calendar table{
    margin-bottom: 3%;
}

/*form new styles*/
.post-password-form{
    text-align:center;
    input{
        border-bottom: 3px solid #002d64;
        padding-bottom: 2.5px;
        font-size: 1rem;
        font-size: 18px;
        color: #606060;
        font-weight: normal;
        text-transform: uppercase;
        background: transparent;
    }
    input[type="submit"]{
        cursor: pointer;
    }
}