@font-face {
    font-family: 'Conv_Gobold Regular';
    src: url('../fonts/gobold/Gobold Regular.eot');
    src: local('☺'), url('../fonts/gobold/Gobold Regular.woff') format('woff'), url('../fonts/gobold/Gobold Regular.ttf') format('truetype'), url('fonts/Gobold Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Gobold-Bold';
    src: url('../fonts/gobold/Gobold-Bold.eot');
    src: local('☺'), url('../fonts/gobold/Gobold-Bold.woff') format('woff'), url('../fonts/gobold/Gobold-Bold.ttf') format('truetype'), url('fonts/Gobold-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_baskvl';
    src: url('../fonts/baskvl/fonts/baskvl.eot');
    src: local('☺'), url('../fonts/baskvl/fonts/baskvl.woff') format('woff'), url('../fonts/baskvl/fonts/baskvl.ttf') format('truetype'), url('fonts/baskvl.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: $fontfamily;
    background-color: #F1F1F3;
}
@-moz-document url-prefix() {
    body {
        font-weight: lighter!important;
    }
}

h2{
    font-size: 42px;
    color: $blue;
    font-family: $fifthfont;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 22px;
}


h5{
    font-size: 20px;
}

h6{
    font-size: 18px;
}
.line{
    border-bottom: 1px solid $blue;
}


h1,h2,h3, h4, h5, h6{
    font-family:$fontfamily; 
    font-weight: $normal;
}

h2,h3,h4,h5, h6{
    margin-bottom: 15px;
    font-weight: $normal;
}

blockquote{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    margin-left: 0px;
    margin-bottom:25px;
}

.xtrasmall, .text-input, .submit-input{
    font-size:$xtrasmall;
}

.normal, p{
    margin-bottom:10px;
    font-size: 16px;
    line-height: $medium;
    @include breakpoint(md){
        font-size: 18px;
    }
    @include breakpoint(sm){
        font-size: 16px;
    }
    @include breakpoint(xs){
        font-size: 18px;
    }
}

.small{
    font-size:$small;
}

.medium{
    font-size:$medium;
}

.large{
    font-size:$large;
}

.xtralarge{
    font-size:$xtralarge;
}



a{
    color: #ff0000;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        color: #c72121;
        text-decoration: none;
        outline: 0 none;
    }
    &:active{
        color: #c72121;
        text-decoration: none;	
    }
}

p{ 
    a {
        color: $orange;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: $orange;
        }
    }
}
li{
    a {
        color:#ff0000;
        @include transition(0.3s);
        text-decoration: none;
        &:hover{
            color:$darkcolor;
            @include transition(0.3s);
            text-decoration: none;
        }
    } 
}

input{
    &:focus{
        outline: 0 none;
        outline-color: transparent;
    }
}



@include breakpoint(sm) {
    .xtralarge{
        font-size: $large;
    }

    .large{
        font-size: $medium;
    }
    .medium{
        font-size:$regular;
    }
}

.margintop, .margin-top{
    margin-top:25px;
}
.paddingtop, .padding-top{
    padding-top:25px;
}

.marginbottom, .margin-bottom{
    margin-bottom:25px;
}

.paddingbottom, .padding-bottom{
    padding-bottom: 25px;
}

.nomargin, .no-margin{
    margin:0;
}

.nopadding, .no-padding{
    padding:0;
}

.rounded-circle img{
    @include borderradius(50%);
}

.pad-left0{
    padding-left: 0px;
    @include breakpoint(xs){
        padding: 0;
    }
}

.pad-right0{
    padding-right: 0px;
    @include breakpoint(xs){
        padding: 0;
    }
}
.image-container{
    a{
        text-decoration: none;
    }		

    .vc_figure{
        .vc_single_image-wrapper{

        }
    }

    img{
        width:100%;
        max-width:100%;
        height:auto;


    }

}

.embed-container,
.embed-responsive{
    position:relative;
    overflow: hidden !important;
    padding-bottom:56.25%;
    padding-top:0;
    height:0;
    iframe, embed, object, video{
        position: absolute;
        top: 0;
        left: 0;
        bottom:0;
        border:0;
        width:100%;
        height:100%;
    }
}

.embed-container,
.embed-responsive{
    height: 100%;
    /*    @include border-top-left-radius(30px !important);
        @include border-top-right-radius(30px !important);*/
    z-index: 2;
    iframe{
        z-index: 1;
        border: 0 none;
        @include borderradius(0px);
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom:25px;

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }

    &.embed-responsive-16by9 {
        padding-bottom: 56.25%;
    }

    &.embed-responsive-4by3 {
        padding-bottom: 75%;
    }
}



.edit-link{
    position: fixed;
    bottom:10%;
    left:10px;
    background: #777;
    border:1px solid #333;
    z-index: 9999;
    padding:3px 10px;
    opacity:0.5;
    a{
        color:$white;
    }
    .fa{
        font-size: 16px;
        margin-right: 5px;
        color:$white;
    }

    display : none;
}

.zmdi, .fa{
    font-size: $regular; 
}

.custom-list{
    ul{
        list-style: none;
        padding-left: 23px;
        margin-bottom: 15px;  
        li{
            margin-bottom: 10px;
            &:before {    
                font-family: 'FontAwesome';
                content: '\f0c8';
                font-size: 95%;
                margin:0 6px 0 -22px;
            }
            ol, ul{
                list-style: none;
                li{
                    margin-bottom: 0px;
                    &:before {    
                        font-family: 'FontAwesome';
                        content: '\f096';
                        font-size: 95%;
                        margin:0 6px 0 -22px;
                    } 
                }
            }
        }
    }
    ol{
        padding-left: 23px;
        margin-bottom: 15px; 
        li{
            margin-bottom: 10px;
            ul{
                list-style: none;
                li{
                    margin-bottom: 0px;
                    &:before {    
                        font-family: 'FontAwesome';
                        content: '\f096';
                        font-size: 95%;
                        margin:0 6px 0 -22px;
                    } 
                }
            }
            ol{
                li{
                    margin-bottom: 0px;
                }
            }
        }
    }    
}

.overlay{
    background: $white;
    position: absolute;
    left:0px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;
}

::-moz-selection { /* Code for Firefox */
    color: $primarycolor;
    background: $secondarycolor;
}

::selection {
    color: $white;
    background: rgba(5, 176, 146, 0.72);
}
.inner-loader{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    i{
        color: #ccc;
        @include fadeincolor;
        font-size: 250%;
        display: none;
    }
}
.error404{
    a {
        color: $orange;
        @include transition(0.3s);
        text-decoration: none;
        &:hover{
            color: #af1616;
            @include transition(0.3s);
            text-decoration: none;
        }
        &.backtohome{
            font-size: 14px;
            color: #606060;
            letter-spacing: 3px;
            font-family: "Montserrat", sans-serif;
            border-bottom: 3px solid $blue;
            width: 46%;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            font-weight: 600;
            transition: all 0.3s linear;
            padding-bottom: 4px;
            &:hover{
                opacity: 0.7;
                @include transition(0.3s);
            }
        }
    }
}

::selection {
    background:$selectcolor !important;
}            

/************Key Frames*****************/
@keyframes fadeInLeft{ 
    0% {opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fadeOUT{ 
    0% {opacity: 1;}
    100% { opacity: 0;}
}
@keyframes fadeRight{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes gradeant_in{
    0% {opacity: 0;}
    100% {opacity:0.6;}
}
@keyframes gradeant_out{
    0% {opacity: 0.6;}
    100% {opacity:0;}
}
#shopoverly{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.54);
    z-index: 9999999;
    .fa-spin{
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        color: #fff;
        display: inline-block;
    }
}
/**************New Add Styles*****************/
span{
    color: #333333;
    @include breakpoint(xs){
        font-size:14px;
    }  
}
ul{
    margin-bottom:10px;
    padding: 0 25px;
    li{
        line-height: 28px;
        color: #333333;
        margin-bottom: 5px;
        @include breakpoint(xs){
            font-size: 14px;
        }
    }
}
.bcb_philosophy_desc{
    img{
        margin-top: 15px;
    }
}

.philosophy .bcb_home_philosophy .bcb_entry-content h3 span {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $fontfamily;
    font-weight: 600;
    @include breakpoint(md){
        font-size: 16px;
    }
    @include breakpoint(sm){
        font-size: 20px;
    }
    @include breakpoint(xs){
        font-size:14px;
    }

}
.woocommerce a.button.wc-forward{
    width: 200px;
    margin: 3px 10px 3px 0;
    padding: 11px;
    font-size: 18px;
    position: relative;
    top:0px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: $secondaryfont;
    border-radius: 2px;
    color: #ffffff;
    font-weight: normal;
    line-height: 1;
    background: #FCD59A;
    border: 2px solid rgba(62,62,62,0.12);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    color: #000000;
    letter-spacing: 0.63px;
    text-transform: uppercase;
    @include transition(0.3s);
    &:hover, &:focus, &:active{
        background-color:  #FFDFAE;
        @include transition(0.3s);
    }
    @include breakpoint(sm){
        width: 30%;
    }
    @include breakpoint(xs){
        width: 42%;
        font-size: 14px;
        top: 7px;
    }
    @include breakpoint(ss){
        width: 44%;
        font-size: 11px;
        top: 12px;
    }

}
ul.woocommerce-error{
    margin-bottom: 40px !important;
    a.button.wc-forward{
        top:0px;
        border: none;
        cursor: pointer;
        font-family: $secondaryfont;
        border-radius: 2px;
        color: #ffffff;
        font-weight: normal;
        line-height: 1;
        background: #FCD59A;
        border: 2px solid rgba(62,62,62,0.12);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.05);
        border-radius: 4px;
        color: #000000;
        letter-spacing: 0.63px;
        text-transform: uppercase;

    }

    li {
        color: #fff;

    }

} 
.scroll_bottom_arrow{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: none;

    text-align: center;
    @include breakpoint(md){
        bottom: 0px;
        bottom: 40px;   
    }
    @include breakpoint(sm){
        bottom: 0px; 
        bottom: 40px; 
    }
    @include breakpoint(xs){
        bottom:40px;  
    }
    .arrow_button{
        width: 35px;
        height: 65px;
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid rgba(225, 225, 225, .8);
        border-radius: 23px;
        background: rgba(255,0,0,0.4);
        @include breakpoint(xs){
            width: 25px;
            height: 45px;
        }
        cursor: pointer;

        .fa-circle{
            color:#fff;
            font-size: 10px;
            content: '';
            position: absolute;
            top:29%;
            left: 0px;
            right: 0px;
            bottom: 0px;
            -webkit-animation: dothide 2.5s linear infinite;
            -moz-animation: dothide 2.5s linear infinite;
            animation: dothide 2.5s linear infinite;
            @include breakpoint(xs){
                font-size: 8px;
            }

        }
        &:hover{
            background:rgba(255,0,0,1);  
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            @include breakpoint(xs){
                background: rgba(255,0,0,0.4);
            }
        }
    }
}


/*Mouse Animation*/
@-webkit-keyframes dothide {
    0% { opacity: 1; top: 29%;}
    15% { opacity: 1;  top: 50%; }
    50% { opacity: 0; top: 50%; }
    100% { opacity: 0;top: 29%; }
}
@-moz-keyframes dothide {
    0% {opacity: 1;top: 29%;}
    15% {opacity: 1;top: 50%;}
    50% {opacity: 0; top: 50%; }
    100% {opacity: 0; top: 29%; }
}
@keyframes dothide {
    0% { opacity: 1; top: 29%; }
    15% { opacity: 1; top: 50%; }
    50% { opacity: 0; top: 50%;}
    100% {opacity: 0; top: 29%; }
}

#toTop {
    background: $blue;
    position: fixed;
    text-decoration: none;
    bottom: 10%;
    right: 5%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 0px solid #cacaca;
    z-index: 1000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    .fa {
        color: #ffffff;
        display: block;
        font-size: 18px;
        text-align: center;
        padding: 10px 0 0;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        &:hover{
            opacity: .7;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    }
}