@mixin primarybackground(){
  background: -moz-linear-gradient(left,  rgba(#4abdbb, 0.7) 0%, rgba(#0e425e, 0.9) 100%);
  background: -webkit-linear-gradient(left,  rgba(#4abdbb,0.7) 0%,rgba(#0e425e, 0.9) 100%);
  background: linear-gradient(to right,  rgba(#4abdbb,0.7) 0%,rgba(#0e425e, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4bc0bd', endColorstr='#b3054b65',GradientType=1 );
}

@mixin secondarybackground(){
  background: -moz-linear-gradient(left,  rgba(38,203,147,0.7) 0%, rgba(12,148,191,0.6) 100%);
  background: -webkit-linear-gradient(left,  rgba(38,203,147,0.7) 0%,rgba(12,148,191,0.6) 100%);
  background: linear-gradient(to right,  rgba(38,203,147,0.7) 0%,rgba(12,148,191,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d626cb93', endColorstr='#e60c94bf',GradientType=1 );
}

@mixin primarybackgroundopaque(){
  background: -moz-linear-gradient(left,  rgba(75,192,189,1) 0%, rgba(5,75,101,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(75,192,189,1) 0%,rgba(5,75,101,1) 100%);
  background: linear-gradient(to right,  rgba(75,192,189,1) 0%,rgba(5,75,101,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4bc0bd', endColorstr='#b3054b65',GradientType=1 );
}

@mixin secondarybackgroundopaque(){
  background: -moz-linear-gradient(left,  rgba(38,203,147,1) 0%, rgba(12,148,191,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(38,203,147,1) 0%,rgba(12,148,191,1) 100%);
  background: linear-gradient(to right,  rgba(38,203,147,1) 0%,rgba(12,148,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d626cb93', endColorstr='#e60c94bf',GradientType=1 );
}

@mixin headerbackground(){
  background: -moz-linear-gradient(left, rgba(74, 189, 187, 0.9) 0%, rgba(14, 66, 94, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(74, 189, 187, 0.9) 0%, rgba(14, 66, 94, 0.9) 100%);
  background: linear-gradient(to right,  rgba(74, 189, 187, 0.9) 0%, rgba(14, 66, 94, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0153534', endColorstr='#d9153635',GradientType=1 );
}

/*gradient white*/
@mixin verticalbackgroundgradient($colorstart: #dbdbdb, $colorend : #ffffff){
    background: -moz-linear-gradient(top,  rgba($colorstart, 0.5) 0%, rgba($colorend,0.03) 100%);
    background: -webkit-linear-gradient(top,  rgba($colorstart, 0.5) 0%,rgba($colorend,0.03) 100%);
    background: linear-gradient(to bottom,  rgba($colorstart, 0.5) 0%,rgba($colorend,0.03) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#08ffffff',GradientType=0 );
}

/* gradient vertical black */
@mixin verticalbackgrounddarkgradient(){
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.05) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.05) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#0d000000',GradientType=0 );
}

@mixin transparentgradientbackground(){
  background: -moz-linear-gradient(top,  rgba(190,190,190,0.42) 0%, rgba(208,208,208,0.26) 27%, rgba(223,223,223,0.15) 50%, rgba(225,225,225,0.13) 54%, rgba(236,236,236,0.05) 77%, rgba(236,236,236,0.05) 78%, rgba(242,242,242,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(190,190,190,0.42) 0%,rgba(208,208,208,0.26) 27%,rgba(223,223,223,0.15) 50%,rgba(225,225,225,0.13) 54%,rgba(236,236,236,0.05) 77%,rgba(236,236,236,0.05) 78%,rgba(242,242,242,0) 100%);
  background: linear-gradient(to bottom,  rgba(190,190,190,0.42) 0%,rgba(208,208,208,0.26) 27%,rgba(223,223,223,0.15) 50%,rgba(225,225,225,0.13) 54%,rgba(236,236,236,0.05) 77%,rgba(236,236,236,0.05) 78%,rgba(242,242,242,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbebebe', endColorstr='#00f2f2f2',GradientType=0 );
}

@mixin trasparentgradientbar(){
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}


.fixed {
  position : fixed;
}

.hide-layer{
  display:none;
  @include breakpoint(xs) {
    display:inline-block;
  }
}

.show-layer{
  display:block;
  @include breakpoint(xs){
    display:none;
  }
}


//Large devices (1800px and up)
@include breakpoint(lg){
}

//large devices (1920px and down)
@include breakpoint(ld){
}

//medium devices (1799 and down)
@include breakpoint(mu){
}

//medim devices (1680 and down)
@include breakpoint(mg){
}

//medium devices (1599 and down)
@include breakpoint(ml){
}

//medium devices (1440 and down)
@include breakpoint(mc){
}

//medium devices (1366 and down)
@include breakpoint(mm){
}

//medium devices (1200px and down) 
@include breakpoint(md){
}

//medium devices (1024px and down) 
@include breakpoint(su){
}

//small devices (992px and down)
@include breakpoint(sm){
}

//Xtra Small devices (767px and down)
@include breakpoint(xs){
}

//small Small devices (500 and down)
@include breakpoint(ss){
}