@mixin transitiondelay($time: .3s){
    -webkit-transition-delay:$time;
    -moz-transition-delay:$time;
    -ms-transition-delay:$time;
    -o-transition-delay:$time;
    transition-delay:$time;
}

@mixin transition($time: .3s){
    -webkit-transition:all $time linear;
    -moz-transition:all $time linear;
    -ms-transition:all $time linear;
    -o-transition:all $time linear;
    transition:all $time linear;
}

@mixin notransition($none){
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

@mixin transition1($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin fadeinbackground($time: .3s){
    -webkit-transition:background $time linear;
    -moz-transition:background $time linear;
    -ms-transition:background $time linear;
    -o-transition:background $time linear;
    transition:background $time linear;
}

@mixin fadeincolor($time: .3s){
    -webkit-transition:color $time linear;
    -moz-transition:color $time linear;
    -ms-transition:color $time linear;
    -o-transition:color $time linear;
    transition:color $time linear;
}

@mixin fadeinopacity($time: .3s){
    -webkit-transition:opacity $time linear;
    -moz-transition:opacity $time linear;
    -ms-transition:opacity $time linear;
    -o-transition:opacity $time linear;
    transition:opacity $time linear;
}

@mixin backgroundoverlay(){
    background: -moz-linear-gradient(left,  rgba(23,59,58,0.83) 0%, rgba(21,53,52,0.91) 1%, rgba(21,54,53,0.91) 99%, rgba(21,54,53,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(23,59,58,0.83) 0%,rgba(21,53,52,0.91) 1%,rgba(21,54,53,0.91) 99%,rgba(21,54,53,0.85) 100%);
    background: linear-gradient(to right,  rgba(23,59,58,0.83) 0%,rgba(21,53,52,0.91) 1%,rgba(21,54,53,0.91) 99%,rgba(21,54,53,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4173b3a', endColorstr='#d9153635',GradientType=1 );
}

@mixin transparentgradientbackground(){
    background: -moz-linear-gradient(left,  rgba(23,59,58,0.83) 0%, rgba(21,53,52,0.91) 1%, rgba(21,54,53,0.91) 99%, rgba(21,54,53,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(23,59,58,0.83) 0%,rgba(21,53,52,0.91) 1%,rgba(21,54,53,0.91) 99%,rgba(21,54,53,0.85) 100%);
    background: linear-gradient(to right,  rgba(23,59,58,0.83) 0%,rgba(21,53,52,0.91) 1%,rgba(21,54,53,0.91) 99%,rgba(21,54,53,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4173b3a', endColorstr='#d9153635',GradientType=1 );
}


/*roundedcorners*/
@mixin roundedcorners($radius:10px){
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius; 
    border-radius: $radius;  
}

/* borderraduis */
@mixin borderradius($radius:10px){
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius; 
    border-radius: $radius;  
}

@mixin border-top-left-radius($radius:10px){
    -moz-border-top-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius:10px){
    -moz-border-top-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius:10px){
    -moz-border-bottom-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius:10px){
    -moz-border-bottom-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}



/*boxshadow*/
@mixin boxshadow($parameter){
    -webkit-box-shadow: $parameter;
    -moz-box-shadow: $parameter;
    box-shadow: $parameter;
}

/*cover*/
@mixin cover($cover: cover){
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;
    background-size: $cover;
}

@mixin curveline($color){
    height:40px;  
    border:solid 4px $color;
    border-color:transparent transparent $color transparent;
    -webkit-border-radius: 0 0 120px 120px 0 0 40px 40px;
    -moz-border-radius: 0 0 120px 120px / 0 0 40px 40px;
    border-radius: 0 0 120px 120px / 0 0 40px 40px;
}

@mixin halfcircleup($color){
    border: 2px solid $color;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-left: none;
    border-right: none;
    border-top: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    transform: $val;
}

