//Fonts
$fontfamily:            'Conv_baskvl';
$secondaryfont:         'Conv_Gobold Regular';
$thiredfontfamily:      'Dancing Script', cursive;
$secondaryfontBold:     'Conv_Gobold-Bold';
$fourthfont:            'Montserrat', sans-serif;
$fifthfont:             'Domine', serif;
$normal:        	300;
$normalbold: 		400;
$semibold: 		    500;
$bold:		      	700;                 

//Colors
$primarycolor: 		#ffffff; /* 100% white font color*/

$secondarycolor:	#e3e3e3; /* heading light orange*/


$darksecondclr:	        #7f7e83; /* heading color gray*/

$hovercolor:	        #c9c7ca; /*  color gray*/
$selectcolor:           #7c7d82;
$ctacolor:		        #b2121a; /* light red */
$backgroundcolor:	    #f1f1f1;
$activecolor:           #c9c7ca;
$footerbg   :           #e0e0e0;
$orange     :           #FE0000 /*E75625*/;
$blue       :           #5ea1b7;
$defaultcolor:		#7f7e83; /*  color light gray*/

$bordercolor: 		#E6E6E6;
$labelcolor:            #3F2A2E;
$booking-btn-bg:        #b6121b;
$gray-bg:               #E6EAEF;
$iconcolor:             #bb111c;

$paginationfontColor:   #343434;
$disablecolor:          #D6D6D6;

$oddcolor: 		#ebeced;
//$evencolor: 		#9CB0C5;

//Base Color
$white:			#ffffff;
$contentclr:            #F5F5F5;
$black: 		#000000;
$lightblack: 		#333333;
$darkcolor :            #CC1F30;
$normalgray: 		#f8f8f8;
$gray:                  #5F646A;
$green:                 #00B092; /* font color*/
$yellow:                #FE0000/*ce5b1c*/;
$mobile-bg-color:       #FE0000/*ed7d28*/;
$dropdown-txt-color:    #949699;


// fontsize
$xtralarge: 		40px; 
$large: 		30px;
$medium: 		24px;
$regular:		20px;
$base: 			20px;
$small:			14px;
$xtrasmall:		12px;

$color-background: #F5F5F5;
$color-main: #5da1b8;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 25px;