/* Custom CSS


//Table of contents. Search to find each section.
1. Base
2. Header
3. Navbar
4. Prefooter
5. Footer nav
6. Homepage
  6.1. Carousel Images
  6.2. Slider
  6.3. Logos
  6.4. Testimonials
  6.5. Services
7. Blog
8. Single Post and search
9. Contact
10. LIFTER
11. Membership Dashboard
12. Single Course
13. Single Lesson
14. Full Width Template
15. Services and Testimonials Templates
------------------------------------------------------------ */

/* 1. Base
------------------------------------------------------------ */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html,
body{
  height: 100%;
}

body {
  font-family: 'Lato';
  font-size: 15px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

/* Correct `block` display not defined for `main` in IE 11.
 */
main {
  display: block;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 4em;
}

p {
  font-size: 1em;
}

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
  color: #073f65;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  background-color: #d11e2c !important;
  border-color: #d11e2c !important;
  border-style: none;
  border-radius: 0px !important;
  color: #fff;
  font-size: 1em;
  padding: .50em 1em;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

strong, b {
  font-weight: 900;
}

.entry-title {
  text-align: center;
}

.site-inner {
  min-height: calc(100vh - 323px);
}

.site-inner main {
  min-height: 25em;
}

@media screen and (min-width: 728px) {
  /*.site-inner main {
    min-height: 50em;
  }*/

  .full-width-content main {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (min-width: 1100px) {
  .full-width-content main {
    width: 60%;
  }
}

.entry-content {
  margin: 0 auto;
  margin-top: 2em;
}

.custom-single .site-inner .content {
  width: 100% !important;
}

/* 2. Header
------------------------------------------------------------ */

.site-header {
  height: 90px;
}

.gch-header {
  padding-top: 50px;
}

#menu-mainmenu {
  font-size: 1.4em;
	float: right;
  padding-top: 20px;
}

#menu-mainmenu > .active > a {
	color: #FF0000;
}

/* 3. Navbar
------------------------------------------------------------ */

.navbar-inverse {
  background-color: rgba(252, 253, 253, 1);
  border-color: rgba(255, 255, 255, 0);
  min-height: 90px;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .navbar-inverse {
    background-color: rgba(252, 253, 253, 0.8);
  }
}

.navbar-inverse .navbar-brand {
  color: #073f65;
}

.navbar-inverse .navbar-nav > li > a {
	color: #073f65;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ef3644;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand img {
  height: 3em;
}

.navbar-header {
  min-height: 90px;
}

.nav-secondary {
  margin: 0;
}

.navbar-toggle {
  background-color: #333;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #073f65;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #073f65;
  background-color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #073f65;
}

.dropdown-menu > li > a {
  color: #073f65;
}

@media screen and (min-width: 768px) {
  li.dropdown:hover .dropdown-toggle{
    color: #073f65;
    background-color: #e5e5e5;
  }

  li.dropdown:hover .dropdown-menu{
    display: block;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    text-align: center;
    width: 100%;
  }

  .navbar-nav li {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {

  .nav-primary > .container-fluid {
    display: flex;
  }

  #nav-collapse-primary {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  #menu-mainmenu {
    float: none;
  }

  .navbar-header {
    display: inline;
  }

}

/* 4. Prefooter
------------------------------------------------------------- */
#prefooter {
  background-color: #03618d;
  color: #ededed;
  font-size: 1.4em;
  min-height: 80px;
}

#pre_footer_one,
#pre_footer_two {
  margin-top: 1.5em;
}

#pre_footer_three {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon-text,
.phony {
  vertical-align: top;
}

.icon-text {
  display: inline;
  margin-left: 5px;
}

.fa-stack-1x {
    font-size: 1em !important;
}

.fa {
  color: #ffffff;
}


/* 5. Footer nav
------------------------------------------------------------------*/

footer {
  min-height: 150px;
}

#menu-secondary-menu {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

#menu-secondary-menu > li {
  border-right: 2px solid #073f65;
  display: inline;
  float: none;
  height: 25px;
}

#menu-secondary-menu > li:last-child {
  border-right: none;
}

#menu-secondary-menu > li > a {
  display: inline;
  padding-top: 3px;
  font-size: 1.1em;
}

#menu-secondary-menu > li > a:hover {
  color: #ef3644;
}

.copyright-content {
  color: #073f65;
}

#nav-collapse-secondary {
  display: inline-block;
}

.nav-secondary {
  margin-top: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (max-width: 768px) {
  .nav-secondary {
    margin-top: 0;
  }

  .nav-secondary > .container-fluid > .navbar-header {
    min-height: 50px;
  }
}


/* 6. Homepage
------------------------------------------------------------ */

.home .site-inner {
  min-height: 0;
}

.home .site-inner main {
  height: 0;
  min-height: 0;
  margin-top: 0;
}

  /* 6.1. Carousel Images
  -------------------------------------------------- */

  .slick-slider img { /* keep images full screen */
    width: 100%;
  }

  .slick-slide {
    position: relative;
  }

  .chevron-container { /* full slider height container for chevrons */
    height: 100%;
    position: absolute;
    width: 100px;
  }

  .slick-right { /* keeps right arrow to the right */
    right: 0;
    top: 0;
  }

  .chevron-container > .fa { /* positions chevrons in vertical center */
    bottom: 0;
    color: black;
    font-size: 7em;
    height: 2em;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .fa-chevron-right {
    right: 0;
  }

  .slick-slider .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }

  .slick-slider .info > div {
    display: inline-block !important;
    position: relative;
    vertical-align: middle;
    width: 100%
  }

  /* 6.2. Slider
  ------------------------------------------------------------ */
  .slider-heading {
    color: #d11e2c;
    font-size: 4em;
    margin: 0 auto;
    max-width: 85%;
  }

  @media screen and (min-width: 768px) {
    .slider-heading {
      font-size: 6em;
    }
  }

  @media screen and (min-width: 1200px) {
    .slider-heading {
      font-size: 8em;
    }
  }

  .slider-subheading {
    color: #000000;
    font-size: 2.5em;
  }

  .btn-danger {
    background-color: #d11e2c !important;
    border-color: #d11e2c !important;
    border-radius: 0px !important;
    color: #fff;
    font-size: 1em;
    padding: .50em 1em;
  }

  .btn-down-arrow {
    background-color: #d11e2c !important;
    border-color: #d11e2c !important;
    border-radius: 50% !important;
    color: #fff;
    font-size: 1em;
    padding: 1em;
  }

  .youtube-video {
    background-color: #000000;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }

  /* 6.3. Logos
    ------------------------------------------------------------ */

  .demo .item {
    margin-bottom: 60px;
  }

  .content-slider li {
    background-color: #ebebeb;
    color: #FFF;
    text-align: center;
  }

  .content-slider h3 {
    margin: 0;
    padding: 70px 0;
  }

  .demo {
    width: 1400px;
  }

  .lSSlideWrapper {
    background-color: #ebebeb;
  }


  /* 6.4. Testimonials
  ------------------------------------------------------------ */
  #test-section {
    background-color: #dedede;
    font-family: 'Lato', sans-serif;
    width: 100%;
  }

  #inner-tests {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .test-info {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%;
  }

  .test-info a {
    align-self: flex-end;
    color: white;
    margin-bottom: 1em;
    text-decoration: none;
  }

  #test-title {
    text-align: center;
  }

  #test-title h2 {
    font-size: 3.5em;
    margin: 0;
  }

  .testimonial {
    font-style: italic;
    width: 90%;
  }

  .testimonial p {
    font-size: 1em;
  }

  .test-info a {
    font-size: 1em;
  }

  .test-link {
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  #test-title,
  .skew2 {
     background: linear-gradient(to right, #00618c 0%,#003b59 100%);
     overflow: hidden;
  }

  .skew1 {
     background: linear-gradient(to right, #00618c 0%,#003b59 100%);
     overflow: hidden;
  }

  .skew1:before {
    border-radius: 30%;
    box-shadow: -50px 60px 90px 0px #000;
    content: '';
    display: block;
    height: 70px;
    left: -70px;
    transform: rotate(-2deg);
    top: -110px;
    position: absolute;
    width: 60%;
    z-index: 9999;
  }

  .skew2:before {
    border-radius: 30%;
    box-shadow: -50px 60px 90px 0px #000;
    content: '';
    display: block;
    height: 70px;
    position: absolute;
    right: -70px;
    transform: rotate(2deg);
    top: -110px;
    width: 60%;
    z-index: 9999;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media screen and (min-width: 1000px) {
    #inner-tests {
      width: 70%;
    }

    .home .testimonial {
      width: 60%;
      font-size: 1em;
    }

    #test-title,
    .skew2 {
      transform: skew(30deg);
    }
    #test-title .testimonial,
    #test-title h2,
    #test-title a,
    .skew2 .testimonial,
    .skew2 h3,
    .skew2 a {
      transform: skew(-30deg);
    }

    .skew1 {
      left: 10%;
      transform: skewX(-30deg);
    }

    .skew1 .testimonial,
    .skew1 a {
      transform: skew(30deg);
    }
  }

  @media screen and (min-width: 1400px) {
    #inner-tests {
      width: 50%;
    }
  }

  /* 6.5. Services
  -------------------------------------------------------------*/
  #services {
    background: linear-gradient(to bottom, #a7a7a7 0%,#dadada 100%);
    display: flex;
    flex-direction: column;
  }

  /* neatly spaced stuff for mobile */
  .img-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .circle {
    border-radius: 50%;
    cursor: pointer;
    fill: white;
    height: 15em;
    margin-top: 2em;
    width: 15em;
  }

  .circle:focus,
  .circle:hover {
    background-color: red;
  }

  .circle-red {
    background-color: red;
  }

  .text-container {
    color: #e92837;
    text-align: center;
    max-width: 30em;
  }

  .text-container h2 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: .5em;
  }

  .text-container p {
    color: #025a83;
    font-size: 1.75em;
    margin-bottom: 2em;
  }

  .services-button {
    background: #e92837;
    border: none;
    color: #ffffff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 1.5em;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
  }

  .services-button:hover {
    text-decoration: none;
  }

  .services-logo {
    margin: 0 auto;
    max-width: 90%;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media screen and (min-width: 900px) {

   /* centers the image container and constrains proportions */
    .img-container {
      height: 50%;
      margin: 1.75em auto 0;
      min-height: 1100px;
      padding: 2.8em;
      position: relative;
      width: 50%;
    }

    /* sets circles up in center of img-container to prepare for translations */
    .circle {
      display: block;
      height: 10em;
      left: 50%;
      margin: -5em;
      outline: none;
      position: absolute;
      top: 50%;
      width: 10em;
    }

    /* positions all text containers in the center of the img-container */
    .text-container {
      display: none;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 17em;
      position: absolute;
      right: 0;
    }

    .text-1 {
      display: block;
    }

    .services-logo {
      margin: -25em auto 0 auto;
    }

    /* TRANSLATIONS */

    .deg0 {
      transform: translate(25em);
    }

    .deg30 {
      transform: rotate(-30deg) translate(25em) rotate(30deg);
    }

    .deg60 {
      transform: rotate(-60deg) translate(27em) rotate(60deg);
    }

    .deg90 {
      transform: rotate(-90deg) translate(27em) rotate(90deg);
    }

    .deg120 {
      transform: rotate(-120deg) translate(27em) rotate(120deg);
    }

    .deg150 {
      transform: rotate(-150deg) translate(25em) rotate(150deg);
    }

    .deg180 {
      transform: rotate(-180deg) translate(25em) rotate(180deg);
    }

  }

  @media screen and (min-width: 1000px) {

    .img-container {
      min-height: 1300px;
    }
  }

/* 7. Blog
-------------------------------------------------------------*/

#blog_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#blog_header_text {
  color: #ffffff;
}

#blog_header_text h1 {
  font-size: 5em;
  margin: 0;
}

#blog_header_text h3 {
  font-size: 2.5em;
  font-style: italic;
}

.blog .entry-title {
  text-align: left;
}

.entry-title a {
  color: #000;
  font-size: .75em;
  font-weight: bold;
}

.entry-content {
  width: 90%;
}

// .entry-content a {
//   padding: .25em 2em;
// }

.widgettitle {
  padding-bottom: 1em;
  text-align: center;
}

.widget ul li {
  padding-bottom: .75em;
  text-align: center;
}

.widget ul li:before {
  content: '> ';
  color: #79abc3;
}

.widget ul li a {
  color: #555555;
}

.widget .form-group {
  display: flex;
  justify-content: center;
}

.widget .mc4wp-form-fields {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .widget .form-group {
    display: inline;
  }

  .widget .mc4wp-form-fields {
    text-align: left;
  }
}

.entry-footer {
  height: 1px !important;
}

body.archive .post, body.blog .post {
  border: none;
}

body.blog .post {
  padding-bottom: 0;
  margin-bottom: 0;
}

.entry-meta {
  margin: 1em 0;
}

.mc4wp-form-fields label {
  display: block;
}

.mc4wp-form-fields > p:nth-child(4) > input {
  background-color: #d11e2c !important;
  border: 1px solid transparent;
  border-color: #d11e2c !important;
  border-radius: 0px !important;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {

  .post {
    margin: 0 auto;
    max-width: 70%;
  }

  .entry-header img {
    height: auto;
    width: 100%;
  }

  .widgettitle, .widget ul li {
    text-align: left;
  }

}

/* 8. Single post and search
-------------------------------------------------------------*/

.single-post .content, .sidebar {
  margin-top: 5em;
}

.search .content {
  margin-top: 5em;
}

.search .archive-description {
  text-align: center;
  margin-bottom: 2em;
}

.search .archive-description > h1 {
  margin-top: 0;
}

/* 9. Contact
-------------------------------------------------------------*/

.contact-header {
  color: #e92837;
  text-align: center;
}

.page-template-contact .entry-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.page-template-contact .entry-content > h1 {
  flex: 0 1 100%;
 }

.page-template-contact .entry-content h4 {
  color: #e92837;
  font-weight: bold;
  margin-bottom: 3em;
 }

.contact-form {
  flex: 1 0 60%;
  text-align: center;
  margin-bottom: 2em;
}

.contact-info {
  flex: 1 0 25%;
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 767px) {
  .contact-info {
    min-width: 100%;
  }
}

.contact-info > div:first-of-type {
  margin-bottom: 1.5em;
}

.contact-info > div:nth-of-type(2) {
  margin-bottom: 6em;
}

.num-circle,
.contact-num {
  display: inline;
  text-align: left;
}

.num-circle {
  border: 1px solid #03618d;
  border-radius: 50%;
  margin-right: 1em;
  padding: 4px 8px;
}

.page-template-contact form {
  text-align: left;
}

.inbound-field input[type=text],
.inbound-field input[type=url],
.inbound-field input[type=email],
.inbound-field input[type=tel],
.inbound-field input[type=number],
.inbound-field input[type=password],
select.form-control {
  width: 100%;
}

.page-template-contact .inbound-now-form {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.page-template-contact iframe {
  padding: 0;
}

/* 10. LIFTER
-------------------------------------------------------------*/

.llms-button-primary,
.llms-button-action {
  background: #e92837;
  border-radius: 5px;
}

.llms-button-primary:hover,
.llms-button-primary:active,
.llms-button-primary:focus,
.llms-button-action:hover,
.llms-button-action:active,
.llms-button-action:focus {
  background: #d01625;
}

.llms-progress .progress-bar-complete {
  background: #e92837;
}

.llms-sd-section {
  background-color: #03618d;
  border-radius: 10px;
  color: white;
  padding: 2rem;
}

.llms-sd-section > h3 {
  border-radius: 5px;
  color: #03618d;
}

.llms-sd-section > a,
.membership-item > a,
.llms-my-courses a {
  color: white;
  text-decoration: underline;
}

.llms-return > a {
  text-decoration: underline;
  padding: 0;
}

svg .llms-animated-circle {
  stroke: #e92837;
}

/* 11. Membership Dashboard
-------------------------------------------------------------*/

.llms-sd-items {
  display: flex;
  justify-content: center;
}

.llms-student-dashboard .llms-sd-item {
  float: none;
}

.llms-student-dashboard .llms-sd-item .llms-sep {
  display: none;
}

.llms-student-dashboard .llms-sd-link {
  color: #03618d;
  padding: .25em 1em;
  text-decoration: underline;
}

.meta > h3 > a,
.listing-memberships a {
  color: white;
  text-decoration: underline;
  padding: 0;
}

/* 12. Single Course
-------------------------------------------------------------*/

.llms-lesson-preview .llms-lesson-link {
  background-color: #03618d;
  color: white;
}

.llms-lesson-preview .llms-lesson-link:hover {
  background-color: #024564;
}

.llms-lesson-preview .llms-lesson-link:visited {
  color: white;
}


/* 13. Single Lesson
-------------------------------------------------------------*/

.llms-parent-course-link a {
  padding: 0;
  text-decoration: underline;
}

.llms-quiz-results > h3 {
  background-color: #024564;
  border-radius: 5px;
  color: white;
}

.mejs-container {
  margin-bottom: 2rem;
}

/* 13. Full Width Template
-------------------------------------------------------------*/

.page-template-full-width {
  #main-content-container {
    float: none;
    margin: 0 auto;
  }
}


/* 14. Services and Testimonials Templates
-------------------------------------------------------------*/

.page-template-services, .page-template-testimonials {
  #main {
    @media screen and (min-width: 768px) {
      width: 75%;
      margin: 0 auto;
    }
  }
}
