html, body, div, a, img {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

#banner {
  position: relative;
  width: 298px;
  border: 1px solid black;
  overflow: hidden;
  opacity: 0;
  height: 248px;
}
div {
  position: relative;
}
#main-links {
	position: absolute;
	height: 100%;
	width: 100%;
}
#opener {
  top: 0;
  left: 0;
	position: absolute;
	z-index: 999;
}
#logo {
	position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  z-index: 900;
}
#rotator {
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
#rotator img {
  position: absolute;
  transform: translateX(300px);
}
#controls{
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 900;
  opacity: 0;
}
#btnNext{
  color: #ffffff;
  position: absolute;
  right: 2%;
}
#btnNext:active, #btnNext:focus {
  color: #ffffff;
}
