/*! All properties are in alphabetical order, with extends/includes first

Table of contents. Search for a section to find it.

1. Site-wide styles
2. Header
3. Footer
4. Forms
*/

// 1. Site-wide styles

.site-content {
  margin-top: 50px;
}

.menu-open {
  height: 100vh;
  overflow-y: hidden;
}

.hero-img {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;

  &--content {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-row {
  padding-left: 0;
  padding-right: 0;

  * {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  height: auto;
  width: 100%;
}

.wrapper-large:empty {
    display: none;
}

@media screen and (min-width: 585px) {
  .center-img {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 960px) {
  .site-content {
    margin-top: 62px;
  }
}

// 2. Header

header {
  background-color: $brand-1;
  color: $white;
  justify-content: space-between;
  max-height: 5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  > * {
    flex-grow: 0 !important;
    width: 175px;
  }

  .header-links {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-height: 5rem;

    a {
      color: $white;
      flex: 0 0 auto;
      margin-right: 2rem;
    }
  }
}

.main-navigation {
  position: relative;
}

.hamburger {

  &:active,
  &:hover,
  &:focus {
    background-color: rgba(0,0,0,0);
  }

  &-box {
    height: 20px;
    width: 20px;
  }

  &-inner {
    background-color: $white;
    height: 2px;
    width: 20px;

    &:before,
    &:after {
      background-color: $white;
      height: 2px;
      width: 20px;
    }

    &:before {
      top: -5px;
    }

    &:after {
      bottom: -5px;
    }
  }
}

.menu-toggle {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

.menu-mainmenu-container {
  align-items: center;
  background-color: transparentize($brand-1, .1);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  z-index: 999;

  #primary-menu {
    left: 50%;
    line-height: 5rem;
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    a {
      color: $white;
      font-size: 4rem;
      line-height: 5rem;
      text-decoration: none;
    }
  }
}

.site-branding {
  img {
    height: 100px;
    margin: 0 auto;
    width: auto;
  }
}

@media screen and (min-width: 900px) {

  #primary-menu {

    a {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

// 4. Forms

form {
  padding: 0;
}

.gform_wrapper {
  margin: 0 !important;

  & .chosen-container-active .chosen-single {
    background: $white !important;
    border-bottom-color: $white !important;
    box-shadow: none !important;
  }

  & .gfield_required {
    color: #d51d2a !important;
  }

  & div.validation_error {
    color: #d51d2a !important;
    border-top: 0 solid #d51d2a !important;
    border-bottom: 0 solid #d51d2a !important;
  }

  & li.gfield.gfield_error,
  & li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: rgba(255,223,224,0) !important;
    border-top: 0px solid #d51d2a !important;
    border-bottom: 0px solid #d51d2a !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  & .gfield_error .gfield_label {
    color: #d51d2a !important;
  }

  & .validation_message {
    color: #d51d2a !important;
  }
}

.gform_title {
  display: none;
  margin-bottom: 0 !important;
}

.gform_body {

  label {
    color: $black;
  }

  input,
  textarea {
    background-color: $white;
    width: 100% !important;
  }

  input,
  textarea,
  select {
    z-index: 0 !important;
  }
}

.gform_footer {
  input[type='submit'] {
    text-transform: uppercase;
  }
}

.search-form {
  margin: 0 auto;
  max-width: 300px;

  label {
    text-align: left;

    span {
      color: $black;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  > input[type=submit] {
    display: block;
    margin-top: 1rem;
    text-align: left;
  }
}
