.btn,
.gform_button,
.button {
background-color: transparent;
border: 3px solid #fff;
color: #fff;
font-weight: bold;

  &:link,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    color: #231f20;
  }
}

.btn--secondary {
  background-color: #043062;
  border: 0;

  &:link,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus,
  &:active {
    border: 3px solid #043062;
    color: #043062;
  }
}

.menu-toggle {
  background-color: rgba(0, 0, 0, 0);
}
