%valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%fullAbsolute {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%columnFlex {
	display: flex;
	flex-direction: column;
}

%rowFlex {
	display: flex;
	flex-direction: row;
}
