@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

%baseFont {
  font-family: 'Source Sans Pro', sans-serif;
}

$font-size:   1.6rem !default;
$line-height: 2.4rem !default;

body {
  @extend %baseFont;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 6rem;
  font-weight: bolder;
  line-height: 7rem;
  opacity: .8;
}

h2 {
  color: $white;
  font-size: 3rem;
  font-weight: bolder;
}

h3 {
  color: $black;
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
}

.primary-header {
  color: $white;
  font-size: 6rem;
  font-weight: bolder;
  line-height: 6rem;
  opacity: .8;
}

.secondary-header {
  color: $white;
  font-size: 2.4rem;
  font-weight: bolder;
}

.templates-header {
  color: $black;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.footer-callout {
  color: $brand-1;
  font-size: 2.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 10rem;
    line-height: 10rem;
  }

  .primary-header {
    font-size: 7rem;
    line-height: 7rem;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 12rem;
    line-height: 12rem;
  }

  .primary-header {
    font-size: 8rem;
    line-height: 8rem;
  }
}
