.hero-content {
  top: 220px;
  padding-bottom: 0px;
  height: 400px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #e6e6e6;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
}

.quotes {
  width: 20px;
  height: 15px;
}

li {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.entry-content {
  padding-left: 35px;
  padding-right: 35px;
}

.wrapper-large {
  padding-top: 5px;
}

.ta-center {
  padding-top: 20px;
  padding: 20px;
}

.ptsTableFrontedShell {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #dbdbdb;
  padding-top: 20px;
}