/* Custom CSS for the Admin Section */

.btn-danger {
    background-color: #d11e2c !important;
    border-color: #d11e2c !important;
    border-radius: 0px !important;
    color: #fff;
    font-size: 1em;
    padding: .50em 1em;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
