/*container-header*/
.container_header{
   
}

/*.llms-student-dashboard{
    width: 57%;
    margin: auto;
}*/
.course-image img{
    width: 140px;
    height: 140px;
}
.llms-progress{
    /*width: 50%;*/
    margin: auto;
    /*display: inline-block;*/
}
.llms-sts-enrollment{
    /*float: left;*/
    display: block;
}
.course-prograss-bar{
    display: block;
    clear: both;
}
.course-link{
    text-align: right;
/*    float: right;*/
    display: inline-block;
}
.progress__indicator{
   /*float: left;*/
   font-size: 14px;
   color: #939393;
}
.progrees-bar-containe{
   position: relative;
   /*background: #0f6;*/
   padding: 10px 0;
}
.llms-my-courses .listing-courses{
    padding: 0 10px;
}
.listing-courses li:last-of-type{
    margin: 0 !important;
}
.listing-courses .course-item .course{
    padding: 0 20px;
}
.llms-person-information-form h3{
    margin: 0;
    background-color: #03618d;
    color: #fff;
    padding: 6px 20px;
}
.llms-person-information-form div{
    border: 1px solid #dadada;
    margin-bottom: 50px;
}
.llms-person-information-form div:last-of-type{
    border: none;
}
/*.llms-person-information-form div:nth-child(3){
    margin-bottom: 0;
}*/
.llms-person-information-form div p{
    padding: 30px 50px 0px 50px;
}
.llms-person-information-form div p:last-of-type{
    padding-bottom: 30px;
    /*border-top: 1px solid #dadada;*/
    /*text-align: right;*/  
}


#llms_country_options{
    background-color: #fff;
    padding: 6px 20px;
    border: 1px solid #dadada;
    border-radius: 4px;
}
/*.gform_wrapper .gform_body{
    border: 1px solid #dadada;
    padding: 10px 30px;
    box-shadow: 0px 0px 7px #dadada;
}*/
#edit_form_btns{
    border-top: 1px solid #dadada;
    text-align: right;
    margin-bottom: 0;
    padding: 20px 50px;
}
#edit_form_btns .frm-subit,#edit_form_btns .frm-cancle{
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
}
#edit_form_btns .frm-cancle{
    margin-right: 15px;
}
/*contact-form*/
.contact-form{
        box-shadow: 0px 0px 7px #dadada;
        border: 1px solid #dadada;
        padding: 25px 40px;
}
.contact-form h4,.contact-form span,.contact-form p{
    display: inline-block;
}
.contact-form i{
    color: #0da0ed;
}
.contact_title_form {
    position: relative;
}
.contact_title_form h4{
    font-size: 20px;
}
.contact_title_form p{
    position: absolute;
    right: 0px;
    top: 8px;
}
.contact-info{
    box-shadow: 0px 0px 7px #dadada;
    background-color: #fafafa;
    border: 1px solid #dadada;
}
.contactinfo_container .contact_call, .contactinfo_container .contact_letter{
    padding: 20px 0;
}
.contactinfo_container .contact_call h3{
    margin-bottom: 20px;
    color: #323232;
}
.contactinfo_container .contact_letter h3{
    margin-bottom: 20px;
    margin-top: 0;
    color: #323232;
}
.contact-info .contact_phone{position: relative;}
.contact-info .contact_call .contact_phone:before{
    content: "";
    background-image: url(../images/mob.png);
    display: inline-block;
    position: absolute;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-info .contact_location{position: relative;}
.contact-info .contact_letter .contact_location:before{
    content: "";
    background-image: url(../images/location.png);
    display: inline-block;
    position: absolute;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form .contact_title_form p:before{
    content: "";
    background-image: url(../images/message.png);
    display: inline-block;
    position: relative;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 8px;
}
.contactinfo_container{
    text-align: left;
    padding: 10px 24px;
}
.contactinfo_container p{
        padding-left: 50px;
        color: #636363 !important;
}

.contact-form .inbound-field{
    width: 47%;
}
.contact-form .inbound-field:nth-child(even){
    float: right;
    
}

.page-template-contact .inbound-now-form{
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}
.contact-form #inbound-form-wrapper{
        max-width: 100%;
        /*padding: 20px 40px 0px 40px;*/
        margin: 0;
}
/*.contact-form .inbound-field input{
    height: 50px;
}*/
.inbound-field input[type=text]{
    height: 50px;
}
.inbound-field input[type=email]{
    height: 50px;
}
.inbound-field textarea.form-control{
    height: 150px;
    width: 100%;
}
.contact-form .inbound-now-form .custom-select{
    width: 100% !important;
    height: 50px;
}
.contact-form .inbound-submit-area{
    width:100%;
    text-align: right;
    margin-top: 2em;
}
.contact-form .inbound-button-submit{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 8px 60px;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e92837 !important;
    color: #fff !important;
    box-shadow: 0px 0px 1px #e92837;
}




/*Become a Certified DREAM Workplace Partner*/
.content_title{
    background-color: #03618d;
    color: #ffffff;
    padding: 40px 0px;
    font-size: 32px;
    font-weight:500;
    text-align: center;
    /*margin: 0 -999px;*/
}
.content_title_dashboard{
    background-color: #03618d;
    color: #ffffff;
    padding:15px;
    font-weight: 500;
    text-align: center;
}
.content_title_dashboard p{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    color: #d2d2d2;
}
.content_title_dashboard p strong{
    color: #fff;
    font-weight: 500;
}
.content_title_dashboard .course-tab_view{
    text-align: left;
}
.content_title_dashboard .course-tab_view ul{
    margin-bottom: 0;
    padding-left: 0;
}
.entry-content{
    padding: 20px 0;
}
.entry-content.page_slug_contact{
    padding: 80px 0;
}
.entry-content p{
    font-weight: normal;
    color: #5f5f5f;
    font-size: 18px;
}
.entry-content h2{
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
    font-weight: 500;
}
.inbound-field label{
    color:#666666;
}

.entry-content ul li{
    line-height: 2;
}
#inbound-form-wrapper{
    max-width: 100%;
}
/*beocme a client form*/
/*.become-client-form {
    padding: 20px 40px 0px 40px;
    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
}*/

.become-partner-form , .become-client-form {
    padding: 20px 40px 0px 40px;
    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
    /*margin-bottom: 40px;*/
}
.become-partner-form .inbound-field, .become-client-form .inbound-field{
    width: 48%;
    margin-bottom: 20px;
}
.become-client-form .inbound-field:nth-child(7), .inbound-field:nth-child(8), .inbound-field:nth-child(9){
    width: 100%;
}
/*.become-partner-form .inbound-field:nth-child(even){
    float: right;
}*/
.become-partner-form .inbound-field:nth-child(2), .become-partner-form .inbound-field:nth-child(4), .become-client-form .inbound-field:nth-child(2), .become-client-form .inbound-field:nth-child(4), .become-client-form .inbound-field:nth-child(6){
    float: right;
}
.become-partner-form .inbound-field:last-of-type{
    display: block;
    margin-top: 0;
}
.become-partner-form .inbound-input, .become-partner-form .inbound-field:nth-child(5){
    width: 100%;
}
/*.become-partner-form .inbound-field input{
    height: 60px;
}*/
#course-list{
    padding-top: 0;
}
#course-list li{
    line-height: 1.5;
}
.entry-content ol li{
    line-height: 1.5;
    padding-bottom: 20px;
}
input[type="radio"],input[type="checkbox"]{
     min-width: 20px;
     height: 20px;
 }
 
input[type="radio"]:checked:before {
    background:green;
    content: "";
}
 .gform_wrapper ul.gfield_radio li input[type=radio]{
     
 }
.entry-content ol{
    margin-bottom: 0;
}
.become-partner-form .inbound-button-submit,input[type="submit"],button[type="submit"]{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 8px 40px;
    font-size: 18px;
    line-height: 1.428571429;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e92837 !important;
    color: #fff !important;
    box-shadow: 0px 0px 1px #e92837;
    font-weight: 500;
    border-radius: 4px;
}
.gform_fields li{
    
}
/*.become-partner-form .inbound-field:nth-child(4){
    float: right;
}
.become-partner-form .inbound-field:nth-child(6){
    float: right;
}
*/
.baner_sec_1{
  border: 1px solid #dadada;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px #dadada;
}
.sec_title{
  border-bottom: 1px solid #dadada;
  padding:10px;
}
.sec_title p{
  margin: 0;
}
.sec_data{
  padding: 14px;
  border-bottom: 1px solid #dadada;
  }
.sec_data:hover{
  background-color: #dadada;
}
.sec_data a > div {
    display: inline-block;
    padding: 0px 4px;
}
.sec_content{
  width: 90%;
}
.sec_img .fa-play-circle-o{
  font-size: 18px;
  color: #888383;
}

.dashboard-box{
  border: 1px solid #dadada;
}
.course-sec{
  border-bottom: 1px solid #dadada;
  padding: 30px 30px 30px 30px;
}
.course-sec .course-content p a{
    color: #414141;
}
.course-sec .course-content .author, .course-sec .course-content .author span{
    color:#565656 !important;
}
.course-sec .course-content span:nth-child(1){
    color:#939393;
}
.course-sec .course-content span:nth-child(2){
    color:#6ea028;
}
.course-footer{
  background-color: #dadada;
}
.course-footer footer a{
  margin: 0;
  padding: 10px;
  text-align:center;
  display: block;
  color: #000;
}  
.course-title{
  background-color: #03618d;
  /*color: #fff;*/
}
.course-view-btn{
    margin-top: 48px;
}
.course-title h1{
  margin: 0;
  font-size: 18px;
  padding: 10px;
  color: #fff;
}

.course-tab_view ul li {
  display: inline;
}
.course-tab_view ul li:last-of-type {
  float: right;
  position: relative;
}
.course-tab_view ul li:last-of-type :before {
    content: "";
    background-image: url(../images/signout.png);
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: initial;
    background-repeat: no-repeat;
    left: -22px;
    top: 4px;
}
.course-tab_view ul li a {
  padding:5px;
  margin: 0;
  color: #d2d2d2;
}
.course-tab_view ul .active a{
    border-bottom: 4px solid !important;
    border-bottom-width: medium !important;
    text-decoration: none !important;
    color: #fff !important;
}
/*.course-tab_view ul li a:hover{
  border-bottom:4px solid;
  border-bottom-width: medium;
  text-decoration: none;
  color: #fff;
}*/

.course-tab_view{
/*  display: inline-block;
  width: 90%;*/
}
.dashboard_signout{
  display: inline-block;
}
.dashboard_signout a{
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
}
#menu-mainmenu{
    margin-top: 24px;
    font-size: 18px;
    float: right;
    width: 76%;
}
#menu-mainmenu li{
    /*padding-right: 20px;*/
    margin-right: 22px;
}
#menu-mainmenu li:nth-child(7){
    margin-right:0;
    padding-right: 8px;
}
#menu-mainmenu li:nth-child(7) a{
    padding-right: 0;
}
#menu-mainmenu li a{
    padding-right: 16px;
    padding-left: 7px;
}
#menu-mainmenu li ul li{
    padding-right: 0;
}
.dropdown-menu{
    padding: 0;
   
    width: 100%;
}
.dropdown-menu li{
    border-bottom: 1px solid #dadada;
}
#menu-mainmenu .dropdown-menu li{
    margin-right: 0;
}
.dropdown-menu li a{
    padding: 10px;
}
#menu-mainmenu li:hover{
    background-color:#dadada;
}
.llms-input-text{
    padding: 8px;
}
.site-footer .navbar-inverse{
    min-height: 0;
    background-color: #03618d;
}

.secondary-menu-wrapper{
    line-height: 1.6;
}
.site_footer_clr {
    background-color: #03618d;
    padding: 20px 0;
    padding-bottom: 0;
}
.site_footer_clr #prefooter{
    padding-bottom: 20px;
}
.site_footer_clr hr{
    margin: 0 auto;
    border-color: #368eb7;
    width: 86%;
    margin-left: 58px;
}
.site-footer #menu-secondary-menu{
    padding: 13px 0;
}
.site-footer .copyright-content{
    margin: 0;
    padding-bottom:10px;
    margin-bottom: 10px;
    color: #a3b7c4;
    font-size: 14px;
}
.view_student_course .course-content{
    text-align: left;
    font-size: 20px;
}
.view_student_course .course-date p{
    color: #fff;
}
.view_student_course .progress__indicator{
    float: none;
}
.view_student_course .llms-progress{
    width: 100%;
}
.view_course_signout{
    text-align: right;
}
.view_course_signout:before{
    content: "";
    background-image: url(../images/signout.png);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: initial;
    background-repeat: no-repeat;
    left: -6px;
    top: 6px;
}
.view_course_signout a{
    color:#d2d2d2;
    padding-bottom: 4px;
}
.view_course_signout a:hover{
    color: #fff;
}
.gsurvey-rating > input:checked ~ label{
    background-image: url(../images/star2.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}
.gsurvey-rating:not(:checked) > label {
    float: right;
    width: 25px !important;
    height: 25px !important;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px!important;
    line-height: 30px;
    background-image: url(../images/star.png)!important;
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 0 5px; 
}
.gsurvey-rating:not(:checked) > label:hover, .gsurvey-rating:not(:checked) > label:hover ~ label {
    background-image: url(../images/star2.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}
/*.page_slug_survey .gsurvey-rating-wrapper .gsurvey-rating input{
    width: 25px !important;
    height: 25px;
    background-image: url(../images/star.png)!important;
    background-size: 100%;
 }*/
.course-date p{
        color: #323232;
    }
h1.page-title {
 display: none;
}
.g-recaptcha {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin:left top; 
}
/*video player*/
.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
}
.videoWrapper43 {
  padding-top: 75%;
}
.videoWrapper169 {
  padding-top: 44%;
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -23px 0 0px -12px;
  border-left: 40px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:hover:before, .videoPoster:focus:before {
  border-color: #fff;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #fff;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
.sidebar .widget_search, .sidebar .widget_categories,.sidebar .recent-posts-widget-with-thumbnails{
    padding: 20px 18px;
    margin-bottom: 24px;
    border: 1px solid #dadada;
    border-radius: 0; 
}
.sidebar .recent-posts-widget-with-thumbnails ul li a span{
    font-size: 15px;
    display: block;
}
.widget_search .widget-title{border-bottom: 0!important;padding-bottom: 0 !important;}
input.search-field{
    width: 96%;
    border-radius: 4px;
}
.widget-wrap .search-submit{
    padding: 7px 8px;
    font-size: 12px;
}
.widget-wrap .widget-title{
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px;
    margin-top: 0;
    font-size: 22px;
}
.sidebar .widget_search .input-group{
    width: 100%;
}
/*.sidebar .widget_categories{
    padding: 20px 18px;
    margin-bottom: 24px;
    border: 1px solid #dadada;
    border-radius: 0;
}*/
.widget{
    padding:0;
    margin-bottom: 0;
}
#menu-mainmenu .caret{
    position: absolute;
    right: 5px;
    top: 50%;
}
.lession_full_content form{
    border: 1px solid #dadada;
    box-shadow: 0px 0px 7px #dadada;
}
.lession_full_content .gform_heading{
    border-bottom: 1px solid #dadada;
    padding: 15px 30px;
    margin-bottom: 0;
}
.lession_full_content .gform_title{
    margin: 0;
    font-size: 1.5em !important;
}
.lession_full_content .gform_wrapper span.gform_description{
    margin-bottom: 0;
}
.lession_full_content .gform_body{
    padding:0 30px;
}
.lession_full_content .gform_wrapper .gform_footer{
    padding: 30px 30px;
    margin: 0;
}
.lession_full_content .gform_wrapper .top_label input.medium {
    width: 100%;
}
.lession_full_content input{
    height: 50px;
}
@-webkit-keyframes down-arrow {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,1) translate(0px, 20px); 
  }

  75%{
    transform: scale(1,1) translate(0px, 0px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}


.down-arrow {
     -webkit-animation: down-arrow 1.5s infinite;
     -moz-animation: down-arrow 1.5s infinite;
     -ms-animation: down-arrow 1.5s infinite;
    position: absolute;
    z-index: 999;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    }
    .slick-slider .slick-list{
        height: calc(100vh - 92px);
    }    

    .overlay-slider:before{
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        opacity: 0.2;
        z-index: 1;
    }
  .slick-slider .info {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    z-index: 99999;
}
#services {
  background: -webkit-linear-gradient(top, #a7a7a7 0%, #dadada 100%);
  background: linear-gradient(to bottom, #a7a7a7 0%, #dadada 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}

.lSSlideWrapper {
    background-color: #ebebeb;
}
.text-container p {
    color: #025a83;
    font-size: 18px;
    margin-bottom: 2em;
    line-height: 28px;
}
.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: .5em;
}
#pre_footer_one, #pre_footer_two {
    font-size: 22px;
}
#pre_footer_one{
    padding-top: 13px;
}
#pre_footer_two img{
    vertical-align: -webkit-baseline-middle;
}
#pre_footer_two .icon-text{
    vertical-align: -webkit-baseline-middle;
}
.nav-primary{
    background-color: #fcfdfd;
}
.nav-secondary{
    background-color:#fcfdfd;   
}
#menu-secondary-menu > li > a {
    display: inline;
    padding-top: 3px;
    font-size: 18px;
    color: #fcfdfd;
}
#menu-secondary-menu > li {
    border-right: 2px solid #fcfdfd;
    display: inline;
    float: none;
    height: 25px;
}
 #pre_footer_three span{
        margin-right: 12px;       
}
.llms-person-login-form-wrapper{width: 50%;
    margin: 0 auto;}
.llms-person-login-form-wrapper .llms-login{
    width: 100%;
    background:#fff;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-heading{
    background: rgba(0, 90, 120, 0.9);
    color: #fff;
    font-weight: normal;
    font-size: 1em;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-bottom: 15px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-fields{
    padding: 0 13px;
    padding-bottom: 14px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-field label{
    font-weight: normal;
}
.llms-person-login-form-wrapper .llms-login .llms-form-field #llms_login, .llms-person-login-form-wrapper .llms-login .llms-form-field #llms_password{
    padding: 5px;
    height: 50px;
    border-radius: 4px;
    font-weight: normal;
}
.llms-person-login-form-wrapper .llms-login .llms-field-button{
    width: 100px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: 500;
    padding: 6px 24px;
}
.llms-person-login-form-wrapper .llms-login .type-checkbox{
    display: inline;
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
}
.llms-person-login-form-wrapper .llms-login .type-checkbox label{
    display: inline;
    position: relative;
    margin-left: 5px;
    font-size: 0.8em;
    bottom: 4px;
}
.llms-person-login-form-wrapper .llms-login .type-email.llms-cols-6, .type-password.llms-cols-6{
    width: 100%;
}
.llms-form-field.type-submit{
    width: auto;
}
.llms-form-field.type-checkbox{
    width: auto;
}
.page_slug_survey .survey-form_wrapper{
    
    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
}
.page_slug_survey .survey-form_wrapper .gform_body{
    padding: 20px 40px 20px 40px;
}
.page_slug_survey .survey-form_wrapper .gform_footer{
  padding: 20px 40px 40px 40px;
  margin: 0;
}
.page_slug_survey .gform_wrapper .gform_heading{
    border-bottom: 1px solid #dadada;
    padding: 20px 40px 20px 40px;
    margin-bottom: 0;
    background-color: #f3f3f3;
}
.page_slug_survey .gform_wrapper .gform_heading span{margin-bottom: 0;}
.page_slug_survey .survey-form_wrapper .survey-form ul .gfield{ 
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    padding-bottom: 20px;
}
.page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(6) > div input, .page_slug_survey .survey-form_wrapper .gfield_select{
    height: 50px;
}

.page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(7) > div, .page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(8) > div { 
    padding-bottom: 10px;
}
.page_slug_survey .survey-form_wrapper .survey-form .gsurvey-rank.ui-sortable{
    padding-left: 0;
}
.page_slug_survey .gform_wrapper .top_label .gfield_label, .page_slug_survey .gform_wrapper .gfield_radio li label, .page_slug_survey .gform_wrapper .field_sublabel_below ul.gfield_checkbox li label{
    font-weight: normal;
    font-size: 18px;
}
.page_slug_survey .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: 500;
}
.testimonial h3{
     font-size: 18px;
    line-height: 1.5;
}

.testimonial .test h4{
  font-size: 14px;
  line-height: 0.7;
}
.llms-form-field .llms-description {
 display: none;
}
/*our team page */
#main #primary {
     padding: 20px 40px 50px;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.team-page-wrapper {
    background: none;
}
.team-page-wrapper .team-content {
    width: 100%;
    display: block;
    float: left;
    margin: 20px 0px 0px;
    color: #231F20;
}
.team-page-wrapper .team-left .col-cs-4{
    float: left;
    width: 24%;
    text-align: center;
}
.team-page-wrapper .team-content .image-container {
    float: left;
    width: 100%;
}
.team-page-wrapper .team-content .image-container .img-inner {
    height: 165px;
    width: 165px;
    overflow: hidden;
    display: block;
    margin: 5px auto 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.team-page-wrapper .team-content .image-container .img-inner .circle-img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.team-page-wrapper .team-member-wrapper a {
    color: #231F20;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.team-page-wrapper .team-member-name {
    font-size: 24px;
    color: #00B092;
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}
.team-page-wrapper .team-member-wrapper a {
    color: #231F20;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.team-page-wrapper .team-member-wrapper .team-member-position {
    color: #231F20;
    font-weight: 700;
}
.team-page-wrapper .col-cs-8 {
    width: 76%;
    float: left;
}
.team-page-wrapper .team-content .team-left .team-member-details {
    padding: 0px 20px 0px 20px;
}
.team-page-wrapper .team-content .team-member-details h3.team-member-name {
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
}
.team-page-wrapper .team-member-name {
    font-size: 24px;
    color: #00B092;
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}
.team-page-wrapper .team-member-caption {
    font-size: 16px;
    font-style: italic;
    margin: 2px auto;
}
.team-page-wrapper .team-member-content {
    margin: 10px 0px 0px;
}
.team-page-wrapper .separator {
    clear: both;
    margin: 15px auto;
    border-color: #dadada;
    float: left;
    width: 100%;
    border-width: 2px;
}
.team-page-wrapper .team-right .col-cs-4 {
    float: right;
    width: 24%;
    text-align: -webkit-center;
}
.slider_bg_img{
    height: calc(100vh - 92px);
    background-size: cover;
    background-repeat: no-repeat;
}
/*media queries */
@media screen and (min-width:1280px) and (max-width:1500px){
   
}
@media screen and (max-width:1280px){
    
}
@media screen and (max-width : 1024px){ 
  #menu-mainmenu {
    margin-top: 24px;
    font-size: 14px;
    float: right;
    width: 76%;
    }
    .page-template-contact .entry-content{
        width: 87%;
    }
    #menu-mainmenu li{
        margin-right: 12px;
    }
    .entry-content.page_slug_contact {
        padding: 40px 0;
    }
    #services{
      zoom:0.8;
    }
}
@media screen and (max-width:992px){
    #menu-mainmenu {
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 12px;
    /* float: none; */
    }
    .navbar-brand{
        margin-top: 14px;
    }
    #menu-mainmenu .caret {
    right: 5px;
    }
    #menu-mainmenu li a {
    padding-right: 16px;
    padding-left: 5px;
    }
    .contact-form .inbound-submit-area {
    width: 100%;
     text-align: left; 
    margin-top: 1em;
    margin-bottom: 1em;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 6px;
    }
    #test-section {
        padding:0;
    }
    #services .img-container img{
        width: 40%;
    }
    .slider_bg_img{
      background-size: contain;
      height: 457px !important;
    }
    #services{
      zoom:0.8;
    }
    .navbar-brand img {
        width: 100px;
    }
    #menu-mainmenu{
        width: 84%;
    }
}

@media screen and (max-width:767px){
    .navbar-brand{
        margin-top: 0;
    }
    .site-header {
        height: 51px;
    }
    .navbar-inverse{
        min-height: 50px;
    }
    .site_footer_clr hr{
        margin-left: auto;
    }
   #nav-collapse-primary {
    padding: 0;
    background: #1C2B39;
    position:absolute;
    width: 100%;
    }
    #menu-mainmenu {
        margin: 0;
        width: 100%;
    }
    #menu-mainmenu li {
        padding-right: 0;
        margin-right: 0;
        font-size: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    }
    #menu-mainmenu li a {
        color: #fff;
        padding-left: 24px;
        padding-bottom: 13px;
    }
    #menu-mainmenu .caret {
        position: absolute;
        right: 22px;
        top: 15px;
        /* width: 50px; */
        height: 100%;
        cursor: pointer;
        color: #ffffff;
        text-align: center;
    }
    #menu-mainmenu .dropdown-menu {
        width: 100%;
        box-shadow: none;
        position: relative;
        background-color: #667786;
    }
    #menu-mainmenu li:hover {
        background-color: #1C2B39;
    }
    #menu-mainmenu li a:hover {
        background-color: #1C2B39;
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: #1C2B39;
    }
    /*media query for header*/
    .slider_bg_img.visible-xs-block{
      height: auto !important;
      position: relative;
    }
    #blog_header{
        height: auto !important;
        margin-bottom: 2em !important;
        margin-top: 51px;
        padding: 20% 0;
    }
    #blog_header_text h1{
        font-size: 36px;
    }
    .entry-title a {
        color: #000;
        font-size: 28px;
        font-weight: bold;
    }
    .entry-meta {
        padding: 10px 0;
        margin-bottom: 0;
        font-style: italic;
        font-size: 15px;
    }
    .blog .entry-title {
        text-align: left;
        margin: 0;
    }
    body.blog .post {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
    #menu-mainmenu .caret {
/*       right: 16px !important;*/
    }
/*    #menu-mainmenu li:hover{
        background-color:#dadada;
    }*/
    .dropdown-menu > li > a:focus {
        /*background-color: #667786;*/
    }
    .navbar-brand img{
        width: 100px;
    }
    .navbar-inverse{
        background-color: #fcfdfd;
    }
    .navbar-inverse .navbar-toggle .icon-bar{
            background-color: #000;
    }
/*    #menu-mainmenu { 
        margin-bottom: 0;
        margin-top: 30px;
        font-size: 12px;
        width: 83%;
    }*/
/*    #menu-mainmenu li a {
        padding-right: 7px;
        padding-left: 7px;
    }*/
/*    #menu-mainmenu li a{
        padding: 0 10px;
    }*/
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: transparent;
    }
    
    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .inbound-field input[type=text]{
        width: 100%;
    }
    .inbound-field input[type=email]{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
    .llms-person-information-form div p {
        padding: 8px 20px 0px 20px;
    }
    .llms-input-text{
        padding: 8px 10px 8px 12px;
    }
    #menu-mainmenu ul li a{
        padding: 9px 24px;
    }

    .site-footer ul{
        margin: 0;
       text-align: -webkit-center;

    }
    .site-footer li{
        display: inline-block;
    }
    .site-footer li:focus{
        border: none;
    }
    .site-footer li a{
        background-color: transparent !important;
        padding: 0px 10px;
    }
    .site-footer .navbar-inverse .navbar-nav > li > a:focus{
        background: none;
    }
    .site-footer .navbar-inverse{
        border: none;
        margin: 0;
    }
    .site-footer #pre_footer_two .icon-text{
        display: inline-block;
        margin: 0;
        vertical-align: super;
    }
    .site-footer #pre_footer_one, .site-footer #pre_footer_two, .site-footer #pre_footer_three{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .site-footer #pre_footer_two a{
        display: inline-block !important;
    }
    .site_footer_clr{
        padding: 14px 0;
    }
    .site-footer{}
    #menu-mainmenu .dropdown-menu{
        width: 100%;
        box-shadow: none;
        /*position: relative;*/
        /*background-color: #667786;*/
    }
    #menu-mainmenu li{
        /*padding-right: 0;*/
    }
    #menu-mainmenu .dropdown-menu li:last-child{
        border-bottom: 0;
    }
/*    .container_header .navbar-header{
        padding: 20px 2px;
    }*/
    
    .content_title {
        background-color: #03618d;
        color: #ffffff;
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        /*margin-top: 51px;*/
    }
    .content_title h1{
        margin: 0;
    }
    .entry-content p{
        font-size: 16px;
    }
    .entry-content h2{
        font-size: 20px;
    }
    .become-partner-form {
        padding: 10px 18px 0px 18px;
        box-shadow: 0px 0px 2px #dadada;
        width: 100%;
        margin: auto;
    }
    .inbound-field input[type=text] {
        height: auto;
    }
    .inbound-field input[type=email] {
        height: auto;
    }
    .entry-content ul li {
        line-height: 1.8;
    }
    .contact-form, become-client-form{
        padding: 10px 18px 0px 18px;
        box-shadow: 0px 0px 2px #dadada;
        width: 100%;
        margin: auto;
    }
    .form-group.inbound-field.inbound-label-top.inbound-vertical.label-inbound-label-top {
        float: none;
        width: 100%;
    }
    .custom-select{
        height: 34px;
    }
    .contact-form .inbound-button-submit, .become-partner-form .inbound-button-submit,button[type="submit"]{
        padding: 5px 10px;
        font-size: 16px;
    }
    .dashboard-box .course-content{
        padding: 10px 0;
    }    
    .dashboard-box .course-date ,.course-view-btn{
        text-align: left;
        margin: 0;
    }

    .dashboard-box .course-sec{
        padding: 20px 20px 20px 20px;
    }
    .dashboard-box .course-title{
        color:#fff;
    }
    .dashboard-box .course-title h1{
        font-size: 20px;
    }
    .slick-slider .slick-list{
        height: auto !important;
    }  
    .chevron-container .slick-right .slick-arrow{
        display: none;
    }
   
    #pre_footer_two img {
        vertical-align: baseline;
    }
    #prefooter {
        color: #ededed;
    }
    #menu-secondary-menu > li > a {
        display: inline;
        padding-top: 3px;
        font-size: 16px;
        color: #fcfdfd;
    }
    .site-footer .copyright-content {
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #a3b7c4;
    }
    .down-arrow{
        top: 44%;
    }
    /*reset landscape*/
    .down-arrow {
       -webkit-animation: down-arrow 1.5s infinite;
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .lSSlideWrapper{
        padding: 10px 0;
    }
    .down-arrow a{
        color:#fff;
    }
    #menu-mainmenu{
        margin: 0;
        width: 100%;
    }
    
    #services .img-container{
    padding: 30px 20px;
    }

    #services .img-container img{
        width: 56%;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
/*    #nav-collapse-primary {
        padding: 0;
        background: #1C2B39;
        height: 100%;
        position: fixed;
        width: 100%;
        max-height: 100% !important;
       
    }*/
    #menu-mainmenu li{
        font-size: 18px;
/*        border-bottom: 1px solid #b5aeae;*/
    }
    .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
/*    .content_title {
        background-color: #03618d;
        color: #ffffff;
        padding: 10px 10px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-top: 51px;
    }*/
    #menu-mainmenu .caret{
        position: absolute;
        right: 22px;
        top: 15px;
        /* width: 50px; */
        height: 100%;
        cursor: pointer;
         color: #ffffff; 
        text-align: center;
    }
    .container_header .navbar-header {
        padding:0;
    }
    .content_title_dashboard {
        background-color: #03618d;
        color: #ffffff;
        padding: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 51px;
    }
   .content_title_dashboard p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .page-template-contact .entry-content {
        width: 100%;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1C2B39;
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color:  #1C2B39;
    }
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #1C2B39;
    }   
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
        background-color: #667786;
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
    #menu-mainmenu li a{color:#fff;padding-left: 24px;padding-bottom: 13px;}
     #test-section{
        padding:10px 20px;
    }
    #menu-mainmenu .dropdown-menu{
        width: 100%;
        box-shadow: none;
        position: relative;
        background-color: #667786;
    }
    #menu-mainmenu li{
        padding-right: 0;
        margin-right: 0;
    }
    .text-container h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: .5em;
    }
    .text-container {
        color: #e92837;
        text-align: center;
        max-width: 30em;
    }
    .text-container p {
        color: #025a83;
        font-size: 18px;
        margin-bottom:0;
        line-height: 20px;
    }
    .chevron-container > .fa{
        display: none;
    }
    .site-inner, .site-inner main{
        min-height: auto;
    }
    .llms-person-login-form-wrapper{
        width: 100%;
    }
    #main #primary {
        padding: 15px 15px 15px;
    }
    .team-page-wrapper .team-left .col-cs-4 {
        width: 100%;
    }
    .team-page-wrapper .col-cs-8 {
        width: 100%;
    }
    .team-page-wrapper .team-content .team-left .team-member-details {
         padding: 0; 
    }
    .team-member-name {
        margin: 20px auto 2px;
    }
    .team-page-wrapper .team-content{
        margin: 0;
        padding: 0;
    }
    .team-page-wrapper .team-right .col-cs-4{
        width: 100%;
    }
    .entry-content.page_slug_contact{
        padding: 20px 0;
    }
    #menu-mainmenu li:hover{
        background-color: #1C2B39;
    }

}
@media screen and (max-width:482px){
    /*media query for header*/
    .down-arrow {
       -webkit-animation: down-arrow 1.5s infinite;
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .lSSlideWrapper{
        padding: 10px 0;
    }
    .down-arrow a{
        color:#fff;
    }
    #menu-mainmenu{
        margin: 0;
        width: 100%;
    }
    
    #services .img-container{
    padding: 30px 20px;
    }

    #services .img-container img{
        width: 56%;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
/*    #nav-collapse-primary {
        padding: 0;
        background: #1C2B39;
        height: 100%;
        position: fixed;
        width: 100%;
        max-height: 100% !important;
       
    }*/
    #menu-mainmenu li{
        font-size: 18px;
/*        border-bottom: 1px solid #b5aeae;*/
    }
    .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
/*    .content_title {
        background-color: #03618d;
        color: #ffffff;
        padding: 10px 10px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-top: 51px;
    }*/
    #menu-mainmenu .caret{
        position: absolute;
        right: 22px;
        top: 15px;
        /* width: 50px; */
        height: 100%;
        cursor: pointer;
         color: #ffffff; 
        text-align: center;
    }
    .container_header .navbar-header {
        padding:0;
    }
    .content_title_dashboard {
        background-color: #03618d;
        color: #ffffff;
        padding: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 51px;
    }
   .content_title_dashboard p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .page-template-contact .entry-content {
        width: 100%;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1C2B39;
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color:  #1C2B39;
    }
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #1C2B39;
    }   
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
        background-color: #667786;
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
    #menu-mainmenu li a{color:#fff;padding-left: 24px;padding-bottom: 13px;}
     #test-section{
        padding:10px 20px;
    }
    #menu-mainmenu .dropdown-menu{
        width: 100%;
        box-shadow: none;
        position: relative;
        background-color: #667786;
    }
    #menu-mainmenu li{
        padding-right: 0;
        margin-right: 0;
    }
    .text-container h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: .5em;
    }
    .text-container {
        color: #e92837;
        text-align: center;
        max-width: 30em;
    }
    .text-container p {
        color: #025a83;
        font-size: 18px;
        margin-bottom:0;
        line-height: 20px;
    }
    .chevron-container > .fa{
        display: none;
    }
    .site-inner, .site-inner main{
        min-height: auto;
    }
    .llms-person-login-form-wrapper{
        width: 100%;
    }
    #main #primary {
        padding: 15px 15px 15px;
    }
    .team-page-wrapper .team-left .col-cs-4 {
        width: 100%;
    }
    .team-page-wrapper .col-cs-8 {
        width: 100%;
    }
    .team-page-wrapper .team-content .team-left .team-member-details {
         padding: 0; 
    }
    .team-member-name {
        margin: 20px auto 2px;
    }
    .team-page-wrapper .team-content{
        margin: 0;
        padding: 0;
    }
    .team-page-wrapper .team-right .col-cs-4{
        width: 100%;
    }
    .entry-content.page_slug_contact{
        padding: 20px 0;
    }
    #menu-mainmenu li:hover{
        background-color: #1C2B39;
    }
}

