@media all and (max-width:1280), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
}
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .widget ul li {
    text-align: left;
}
li.dropdown:hover .dropdown-menu {
    display: block;
}
.entry-header img {
   height: auto;
   width: 100%;
   margin-top: 10px;
}
#inner-tests {
    width: 50%; }
#test-title h2{
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    }
    .home .testimonial {
        width: 60%;
        font-size: 1em;
    }
    .skew2 .testimonial{
        -webkit-transform: skew(-30deg);
        transform: skew(-30deg);
    }
    .skew1 .testimonial, .skew1 a {
        -webkit-transform: skew(30deg);
        transform: skew(30deg);
    }
     #test-title,
    .skew2 {
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg); }
    .skew1 {
    left: 10%;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    }
  .deg0 {
    -webkit-transform: translate(25em);
    -ms-transform: translate(25em);
            transform: translate(25em); }
  .deg30 {
    -webkit-transform: rotate(-30deg) translate(25em) rotate(30deg);
    -ms-transform: rotate(-30deg) translate(25em) rotate(30deg);
            transform: rotate(-30deg) translate(25em) rotate(30deg); }
  .deg60 {
    -webkit-transform: rotate(-60deg) translate(27em) rotate(60deg);
    -ms-transform: rotate(-60deg) translate(27em) rotate(60deg);
            transform: rotate(-60deg) translate(27em) rotate(60deg); }
  .deg90 {
    -webkit-transform: rotate(-90deg) translate(27em) rotate(90deg);
    -ms-transform: rotate(-90deg) translate(27em) rotate(90deg);
            transform: rotate(-90deg) translate(27em) rotate(90deg); }
  .deg120 {
    -webkit-transform: rotate(-120deg) translate(27em) rotate(120deg);
    -ms-transform: rotate(-120deg) translate(27em) rotate(120deg);
            transform: rotate(-120deg) translate(27em) rotate(120deg); }
  .deg150 {
    -webkit-transform: rotate(-150deg) translate(25em) rotate(150deg);
    -ms-transform: rotate(-150deg) translate(25em) rotate(150deg);
            transform: rotate(-150deg) translate(25em) rotate(150deg); }
  .deg180 {
    -webkit-transform: rotate(-180deg) translate(25em) rotate(180deg);
    -ms-transform: rotate(-180deg) translate(25em) rotate(180deg);
            transform: rotate(-180deg) translate(25em) rotate(180deg); }
    .text-container {
    display: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17em;
    position: absolute;
    text-align: center;
    max-width: 30em;
    width: 50%;
    right: 0; }
    
    .services-logo {
/*    margin: -25em auto 0 auto;*/
    }
    #services{
     min-height: 1300px;
    }
.img-container {
    min-height: 1300px; }
   .services-logo {
    max-width: 85%;       
    position: absolute;      
    bottom: 0;       
    left: 0;       
    right: 0;
    text-align: center;
    margin: 0 auto;
} 
.skew2 a {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
}

.img-container {
    height: 50%;
    margin: 1.75em auto 0;
    min-height: 1300px;
    padding: 2.8em;
    position: relative;
    width: 50%;
}
.img-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.deg180 {
    -webkit-transform: rotate(-180deg) translate(25em) rotate(180deg);
    transform: rotate(-180deg) translate(25em) rotate(180deg);
}
.circle{
    display: block;
    height: 10em;
    left: 50%;
    margin: -5em;
    outline: none;
    position: absolute;
    top: 50%;
    width: 10em;
}
.services-logo {
    max-width: 85%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
    width: 100%;
}
.services-logo {
    margin: -25em auto 0 auto;
}
.gform_wrapper.gf_browser_ie .gform_footer input.button{
    padding: 8px 40px !important;
}
.blog_article_main {
    padding-bottom: 30px;
}
body.blog .post {
    padding-bottom: 0;
    margin-bottom: 0;
}
.blog .entry-title {
    text-align: left;
    margin: 0;
}
.entry-meta {
    padding: 10px 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 15px;
}
.blog_article_main .entry-content p {
    font-size: 16px;
    font-style: regular;
}
.type-post .entry-footer {
    margin-top: 20px;
}
}


/*container-header*/
.container_header{

}
.llms-person-form-wrapper.edit_login_form{
    width: 75%;
    margin: 0 auto;
}
.edit_login_form .llms-success{
border: 0;
}
.edit_login_form .llms-field-input{
    height: 50px;
}
.edit_login_form .llms-password-change-toggle{
    text-align: right;
}
/*.llms-student-dashboard{
    width: 57%;
    margin: auto;
}*/
.course-image img{
    width: 140px;
    height: 140px;
}
.llms-progress{
    /*width: 50%;*/
    margin: auto;
    /*display: inline-block;*/
}
.gform_wrapper .gfield_required {
    color: #f00 !important;
    margin-left: 4px;
}
.no_cousre_title{
    text-align: center;
    color: #ff0000;
    padding-top: 5px;
}
.llms-sts-enrollment{
    /*float: left;*/
    display: block;
}
.home_page_site_inner{
    display:none;
}
.course-prograss-bar{
    display: block;
    clear: both;
}
.course-link{
    text-align: right;
    /*    float: right;*/
    display: inline-block;
}
.progress__indicator{
    /*float: left;*/
    font-size: 14px;
    color: #939393;
}
.site-inner.lession_full_content .entry-meta {
 display: none;
}
.site-inner #container .llms-loop .llms-loop-item-content{
    padding-bottom: 0;
}
.site-inner #container .llms-loop .llms-loop-item-content .llms-loop-title{
    margin-top: 0;
}
.site-inner #container .llms-loop .llms-loop-item-content .llms-loop-title{
    padding: 10px 10px;
}
.progrees-bar-containe{
    position: relative;
    /*background: #0f6;*/
    padding: 10px 0;
}
.llms-my-courses .listing-courses{
    padding: 0 10px;
}
.listing-courses li:last-of-type{
    margin: 0 !important;
}
.listing-courses .course-item .course{
    padding: 0 20px;
}
.llms-person-information-form h3{
    margin: 0;
    background-color: #03618d;
    color: #fff;
    padding: 6px 20px;
}
.llms-person-information-form div{
    border: 1px solid #dadada;
    margin-bottom: 50px;
}
.llms-person-information-form div:last-of-type{
    border: none;
}
/*.llms-person-information-form div:nth-child(3){
    margin-bottom: 0;
}*/
.llms-person-information-form div p{
    padding: 30px 50px 0px 50px;
}
.llms-person-information-form div p:last-of-type{
    padding-bottom: 30px;
    /*border-top: 1px solid #dadada;*/
    /*text-align: right;*/  
}
.tools_container .tools_heading{
    font-size: 24px;
    margin-top: 0;
}

#llms_country_options{
    background-color: #fff;
    padding: 6px 20px;
    border: 1px solid #dadada;
    border-radius: 4px;
}


/*.gform_wrapper .gform_body{
    border: 1px solid #dadada;
    padding: 10px 30px;
    box-shadow: 0px 0px 7px #dadada;
}*/
#edit_form_btns{
    border-top: 1px solid #dadada;
    text-align: right;
    margin-bottom: 0;
    padding: 20px 50px;
}
#edit_form_btns .frm-subit,#edit_form_btns .frm-cancle{
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
}
#edit_form_btns .frm-cancle{
    margin-right: 15px;
}
/*contact-form*/
.inbound-required{
    color: #e5554e;
    padding-left: 1px;
}
.contact-form{
    box-shadow: 0px 0px 7px #dadada;
    border: 1px solid #dadada;
    padding: 25px 40px;
}
.contact-form h4,.contact-form span,.contact-form p{
    display: inline-block;
}
.contact-form i{
    color: #0da0ed;
}
.contact_title_form {
    position: relative;
}
.contact_title_form h4{
    font-size: 20px;
}
.contact_title_form p{
    position: absolute;
    right: 0px;
    top: 8px;
}
.contact-info{
    box-shadow: 0px 0px 7px #dadada;
    background-color: #fafafa;
    border: 1px solid #dadada;
}
.contact-info .contact_call{
    border-bottom: 1px solid #dadada;
}
.contactinfo_container .contact_call, .contactinfo_container .contact_letter{
    padding: 20px 0;
}
.contactinfo_container .contact_call h3{
    margin-bottom: 20px;
    color: #323232;
}
.contactinfo_container .contact_letter h3{
    margin-bottom: 20px;
    margin-top: 0;
    color: #323232;
}
.contact-info .contact_phone{position: relative;}
.contact-info .contact_call .contact_phone:before{
    content: "";
    background-image: url(../images/mob.png);
    display: inline-block;
    position: absolute;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-info .contact_location{position: relative;}
.contact-info .contact_letter .contact_location:before{
    content: "";
    background-image: url(../images/location.png);
    display: inline-block;
    position: absolute;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form .contact_title_form p:before{
    content: "";
    background-image: url(../images/message.png);
    display: inline-block;
    position: relative;
    color: #cc9375;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 8px;
}
.contactinfo_container{
    text-align: left;
    padding: 10px 24px;
}
.contactinfo_container p, .contactinfo_container a{
    padding-left: 50px;
    color: #636363 !important;
}

.contact-form .inbound-field{
    width: 47%;
    display: inline-block;
    min-height:110px;
}
.contact-form .inbound-now-form .custom-select:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #f99300;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}
.contact-form .inbound-field:nth-child(even){
    float: right;

}
.llms-lesson-button-wrapper{
    color:#ff0000;
    font-size: 24px;
    padding-top: 8px;
}
.gform_wrapper .top_label .gfield_label{
    font-size: 16px;
}
.llms-lesson-preview{
    width: 100%;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    margin-left: 0px !important;
}
.page-template-contact .inbound-now-form{
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}
.contact-form #inbound-form-wrapper{
    max-width: 100%;
    /*padding: 20px 40px 0px 40px;*/
    margin: 0;
}
/*.contact-form .inbound-field input{
    height: 50px;
}*/
.inbound-field input[type=text]{
    height: 50px;
}
.inbound-field input[type=email]{
    height: 50px;
}
.inbound-field textarea.form-control{
    height: 150px;
    width: 100%;
}
.contact-form .inbound-now-form .custom-select{
    width: 100% !important;
    height: 50px;
}
.contact-form .inbound-submit-area{
    width:100%;
    text-align: right;
    margin-top: 2em;
    min-height: 70px;
}
.contact-form .inbound-button-submit{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 8px 60px;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e92837 !important;
    color: #fff !important;
    box-shadow: 0px 0px 1px #e92837;
}
.llms-notice{
    background: rgba(255, 34, 34, 0.3);
    border-color: #ff3222;
}



/*Become a Certified DREAM Workplace Partner*/
.content_title{
    background-color: #03618d;
    color: #ffffff;
    padding: 40px 0px;
    font-size: 32px;
    font-weight:500;
    text-align: center;
    /*margin: 0 -999px;*/
}

.content_title.content_title_blog{
    background-image: url('../images/blog-header-bg.png');
    width: 100%;
    background-color: #d11e2c;
    height: 149px;
    background-position: 50% 20%;
    margin-bottom: 20px;
    position: relative;
}
.content_title h1{
    margin: 0 auto;
}
.content_title.content_title_blog .container{
position: absolute;
top: 50%;
left: 0;
right: 0;   
transform: translateY(-50%);
}
 #blog_header {
    width: 100%;
    background-image: url("../images/blog-header-bg.png");
    background-color: #d11e2c;
    height: 393px;
    margin-bottom: 4em;
}
/*.player{
    padding-bottom: 56.25%;
    position: relative;
}
.youtube-video{
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 25px;
}*/
.content_title h1{
    text-transform: capitalize;
}
.content_title_dashboard{
    background-color: #03618d;
    color: #ffffff;
    padding:15px;
    font-weight: 500;
    text-align: center;
}
.content_title_dashboard p{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    color: #d2d2d2;
}
.content_title_dashboard p strong{
    color: #fff;
    font-weight: 500;
}
.content_title_dashboard .course-tab_view{
    text-align: left;
}
.content_title_dashboard .course-tab_view ul{
    margin-bottom: 0;
    padding-left: 0;
}
.entry-content{
    padding: 40px 0;
}
.entry-content.page_slug_test_blog{
    padding: 0;
}
.llms-video-wrapper{
    margin-bottom: 50px;
}
.entry-content.page_slug_contact{
    padding: 80px 0;
}
.entry-content p{
    font-weight: normal;
    color: #5f5f5f;
    font-size: 18px;
}
.entry-content h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
    font-weight: 500;
}
.inbound-field label{
    color:#666666;
}
.page_slug_case-studies blockquote{
    margin: 0 0 0;
}
.entry-content ul li{
    line-height: 2;
}
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio{
    color: #333333 !important;
}
.gform_wrapper .gfield_error .gfield_label{
    color: #333333 !important;
}
.gform_wrapper .validation_message{
    color: #f00 !important;
    font-size: 13px !important;
    font-weight:400 !important;
}
.gform_wrapper div.validation_error{
    color: #f00 !important;
    font-size: 15px;
    font-weight: 400 !important; 
    padding-bottom:0 !important;
    margin-bottom: 0 !important;
    clear: both ;
    width: 100% ;
    text-align: center !important;
    padding-top: 26px !important;
    border:0 !important;
}
.gform_wrapper .field_description_below .gfield_description{
    padding-top: 0px !important;
    margin-top: -6px;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea{
    border:1px solid #dadada!important;
}
#inbound-form-wrapper{
    max-width: 100%;
}
/*beocme a client form*/
/*.become-client-form {
    padding: 20px 40px 0px 40px;
    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
}*/

.become-partner-form , .become-client-form {
    padding: 20px 40px 0px 40px;
    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
    /*margin-bottom: 40px;*/
}
.page_slug_survey .gsurvey-rank-choice{
    padding-left: 26px;
}
.become-partner-form .inbound-field, .become-client-form .inbound-field{
    width: 48%;
    margin-bottom: 0px;
    display: inline-block;
    min-height: 120px;
}
.become-client-form .inbound-field:nth-child(7), .inbound-field:nth-child(8), .inbound-field:nth-child(9){
    width: 100%;
}
/*.become-partner-form .inbound-field:nth-child(even){
    float: right;
}*/
.become-partner-form .inbound-field:nth-child(2), .become-partner-form .inbound-field:nth-child(4), .become-client-form .inbound-field:nth-child(2), .become-client-form .inbound-field:nth-child(4), .become-client-form .inbound-field:nth-child(6){
    float: right;
}


.become-partner-form .inbound-input, .become-partner-form .inbound-field:nth-child(5){
    width: 100%;
}
/*.become-partner-form .inbound-field input{
    height: 60px;
}*/
#course-list{
    padding-top: 0;
}
.audio-video-container{
        margin-bottom: 50px;
}
#course-list li{
    line-height: 1.5;
}
.gform_wrapper li.gfield.gfield_error{
    background-color: transparent !important;
    border-top: none !important;
    padding-top: 0 !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    border: none !important;
    padding-bottom: 0 !important;
}
.search-form .search-field+.input-group-btn .search-submit{
    width: 100% !important;
    border-radius: 0px 4px 4px 0px !important;
}
/*.single-post .content, .sidebar .input-group-btn {width: 1% !important;}*/
.social_share_link em{
    font-size: 22px;
    padding-left: 8px;
}
.entry-content ol li{
    line-height: 1.5;
    padding-bottom: 20px;
}
.entry-content ol li ol li, .entry-content ol li ul li
{
    padding-bottom: 0;
}
input[type="radio"],input[type="checkbox"]{
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

input[type="radio"]:checked:before {
    background:green;
    content: "";
}
.gform_wrapper ul.gfield_radio li input[type=radio]{
    cursor: pointer;
}
.entry-content ol{
    margin-bottom: 0;
    padding-left: 17px;
}
.become-partner-form .inbound-button-submit,input[type="submit"],button[type="submit"]{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 8px 40px;
    font-size: 18px !important;
    line-height: 1.428571429;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e92837 !important;
    color: #fff !important;
    box-shadow: 0px 0px 1px #e92837;
    font-weight: 500;
    border-radius: 4px;
}
.gform_fields li{

}

/*.become-partner-form .inbound-field:nth-child(4){
    float: right;
}
.become-partner-form .inbound-field:nth-child(6){
    float: right;
}
*/
.baner_sec_1{
    border: 1px solid #dadada;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px #dadada;
}
.sec_title{
    border-bottom: 1px solid #dadada;
    padding:10px;
}
.sec_title p{
    margin: 0;
}
.sec_data{
    padding: 14px;
    border-bottom: 1px solid #dadada;
}
.sec_data:hover{
    background-color: #dadada;
}
.sec_data a > div {
    display: inline-block;
    padding: 0px 4px;
    vertical-align: text-top;
}
.sec_content{
    width: 90%;
}
.sec_img .fa-play-circle-o{
    font-size: 18px;
    color: #888383;
}

.dashboard-box{
    border: 1px solid #dadada;
}
.course-sec{
    border-bottom: 1px solid #dadada;
    padding: 30px 30px 30px 30px;
}
.course-sec .course-content p a{
    color: #414141;
}
.course-sec .course-content .author, .course-sec .course-content .author span{
    color:#565656 !important;
}
.course-sec .course-content span:nth-child(1){
    color:#939393;
}
.course-sec .course-content span:nth-child(2){
    color:#6ea028;
}
.course-footer{
    background-color: #dadada;
}
.course-content .course_complete{
    display: inline-block;
}
.course-footer footer a{
    margin: 0;
    padding: 10px;
    text-align:center;
    display: block;
    color: #000;
} 
button{
    outline: none;
}
.content-area .required{
    color:#ff0000;
}
.course-title{
    background-color: #03618d;
    /*color: #fff;*/
}
.course-view-btn{
    margin-top: 48px;
}
.course-view-btn a:after{
    content: ">";
    position: relative;
    top: 1px;
    left: 2px;

}
.course-title h1{
    margin: 0;
    font-size: 18px;
    padding: 10px;
    color: #fff;
}
.page_slug_case-study-1 p{
    margin-bottom: 20px;
}
.course-tab_view ul li {
    display: inline;
}
.course-tab_view ul li:last-of-type {
    float: right;
    position: relative;
}
.course-tab_view ul li:last-of-type :before {
    content: "";
    background-image: url(../images/signout.png);
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: initial;
    background-repeat: no-repeat;
    left: -22px;
    top: 4px;
}
.course-tab_view ul li a {
    padding:5px;
    margin: 0;
    color: #d2d2d2;
}
.page_slug_services ul{
    padding-left:20px;
}
.course-tab_view ul .active a{
    border-bottom: 4px solid !important;
    border-bottom-width: medium !important;
    text-decoration: none !important;
    color: #fff !important;
}
/*.course-tab_view ul li a:hover{
  border-bottom:4px solid;
  border-bottom-width: medium;
  text-decoration: none;
  color: #fff;
}*/

.course-tab_view{
    /*  display: inline-block;
      width: 90%;*/
}
.dashboard_signout{
    display: inline-block;
}
.dashboard_signout a{
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
}
#menu-mainmenu{
    margin-top: 24px;
    font-size: 18px;
    float: right;
    width: 76%;
}
#menu-mainmenu li{
    /*padding-right: 20px;*/
    margin-right: 22px;
}
#menu-mainmenu li:nth-child(7){
    margin-right:0;
    padding-right: 8px;
}
#menu-mainmenu li:nth-child(7) a{
    padding-right: 0;
}
#menu-mainmenu li a{
    padding-right: 16px;
    padding-left: 7px;
}
#menu-mainmenu li ul li{
    padding-right: 0;
}
.dropdown-menu{
    padding: 0;

    width: 100%;
}
.dropdown-menu li{
    border-bottom: 1px solid #dadada;
}
#menu-mainmenu .dropdown-menu li{
    margin-right: 0;
}
.dropdown-menu li a{
    padding: 10px;
}
#menu-mainmenu li:hover{
    background-color:#dadada;
}
.llms-input-text{
    padding: 8px;
}
.site-footer .navbar-inverse{
    min-height: 0;
    background-color: #03618d;
    padding-bottom: 10px;
}

.secondary-menu-wrapper{
    line-height: 1.6;
}
.site_footer_clr {
    background-color: #03618d;
    padding: 30px 0;
    padding-bottom: 0;
}
.site_footer_clr #prefooter{
    padding-bottom: 20px;
}
.site_footer_clr hr{
    margin: 0 auto;
    border-color: #368eb7;
    width: 86%;
    margin-left: 58px;
}
.site-footer #menu-secondary-menu{
    padding: 13px 0;
}
.site-footer .copyright-content{
    margin: 0;
    padding-bottom:10px;
    margin-bottom: 10px;
    color: #a3b7c4;
    font-size: 14px;
}
.view_student_course .course-content{
    text-align: left;
    font-size: 20px;
}
.view_student_course .course-content p{
    margin-bottom: 0;
}
.view_student_course .course-date p{
    color: #fff;
}
.view_student_course .progress__indicator{
    float: none;
}
.view_student_course .llms-progress{
    width: 100%;
}
.view_course_signout{
    text-align: right;
    float: right;
}
.entry-content.page_slug_our-process ol,
.entry-content.page_slug_our-process ul{
    padding-top: 15px;
    padding-left: 17px;
    margin-bottom: 0;
}
.view_course_signout:before{
    content: "";
    background-image: url(../images/signout.png);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: initial;
    background-repeat: no-repeat;
    left: -6px;
    top: 6px;
}
.view_course_signout a{
    color:#d2d2d2;
    padding-bottom: 4px;
}
.view_course_signout a:hover{
    color: #fff;
}
.gsurvey-rating > input:checked ~ label{
    background-image: url(../images/star2.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}
.gsurvey-rating:not(:checked) > label {
    float: right;
    width: 25px !important;
    height: 25px !important;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px!important;
    line-height: 30px;
    background-image: url(../images/star.png)!important;
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 0 5px; 
}
.gsurvey-rating:not(:checked) > label:hover, .gsurvey-rating:not(:checked) > label:hover ~ label {
    background-image: url(../images/star2.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}
.main_no_result{
    width: 66.44%;
    height: 0;
}
.blog_not_found{
    text-align: center;
    font-size: 26px;
    color: #ff0000;
}
.back_blog{
    text-align:center;
}
.back_blog a{
    position: relative;
    z-index: 9;
}
.course-date p{
    color: #323232;
}
h1.page-title {
    display: none;
}
.g-recaptcha {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin:left top; 
}
/*video player*/
.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000;
}
.videoWrapper43 {
    padding-top: 75%;
}
.videoWrapper169 {
    padding-top: 44%;
}

.videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#bcmp-first, #bcmp-phne, #bcmp-pfsn, #bcmp-descrip, #bcmp-cptcha, #bcmp-email, #bcmp-lastnm, #bcmp-cmpny{
    position: relative;
    top: 2px;
}
.videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}
.videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -23px 0 0px -12px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #fff;
}
.videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #fff;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}
.page_slug_whitepaper #inbound-form-wrapper{
    width: 50%;
}
.sidebar .widget_search, .sidebar .widget_categories,.sidebar .recent-posts-widget-with-thumbnails{
    padding: 15px 18px 20px;
    margin-bottom: 24px;
    border: 1px solid #dadada;
    border-radius: 0; 
}
.sidebar .recent-posts-widget-with-thumbnails ul li a span{
    font-size: 15px;
    display: block;
    margin-top: 6px;
}
.widget_search .widget-title{border-bottom: 0!important;padding-bottom: 0 !important;}
input.search-field{
    width: 96%;
    border-radius: 4px;
}
.widget-wrap .search-submit{
    padding: 7px 8px;
    font-size: 12px !important;
}
.widget-wrap .widget-title{
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px;
    margin-top: 0;
    font-size: 22px;
}
.sidebar .widget_search .input-group{
    width: 100%;
}
/*.sidebar .widget_categories{
    padding: 20px 18px;
    margin-bottom: 24px;
    border: 1px solid #dadada;
    border-radius: 0;
}*/
.widget{
    padding:0;
    margin-bottom: 0;
}
#menu-mainmenu .caret{
    position: absolute;
    right: 5px;
    top: 50%;
    width: 8px;
    height: 4px;
/*    background-color: #000;*/
}
.lession_full_content form{
    border: 1px solid #dadada;
    box-shadow: 0px 0px 7px #dadada;
}
.lession_full_content .gform_heading{
    border-bottom: 1px solid #dadada;
    padding: 15px 30px;
    margin-bottom: 0;
}
.lession_full_content .gform_title{
    margin: 0;
    font-size: 1.5em !important;
}
.lession_full_content .gform_wrapper span.gform_description{
    margin-bottom: 0;
}
.lession_full_content .gform_body{
    padding:0 30px;
}
.lession_full_content .gform_wrapper .gform_footer{
    padding: 30px 30px;
    margin: 0;
}
.lession_full_content .gform_wrapper .top_label input.medium {
    width: 100%;
}
.lession_full_content input{
    height: 50px;
}
@-webkit-keyframes down-arrow {
    0% {
        transform: scale(1,1) translate(0px, 0px);
    }

    30%{
        transform: scale(1,1) translate(0px, 20px); 
    }

    75%{
        transform: scale(1,1) translate(0px, 0px); 
    }

    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}

.lSSlideWrapper #content-slider li{
    padding: 12px 24px;
}
.llms-start-quiz-form .llms-form-field.type-submit{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.llms-lesson-button-wrapper form{
    border: none;
    box-shadow: none;
}
.down-arrow {
    -webkit-animation: down-arrow 1.5s infinite;
    -moz-animation: down-arrow 1.5s infinite;
    -ms-animation: down-arrow 1.5s infinite;
    position: absolute;
    z-index: 999;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}
.slick-slider .slick-list{
    height: calc(100vh - 92px);
}    

.overlay-slider:before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}
.slick-slider .info {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    z-index: 99999;
    width: 70%;
}
.entry-content table td{
    vertical-align: middle !important;
}
.lightSlider.lsGrab > *{
    cursor: auto !important;
}
#services {
    background: -webkit-linear-gradient(top, #a7a7a7 0%, #dadada 100%);
    background: linear-gradient(to bottom, #a7a7a7 0%, #dadada 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
    position: relative;
}

.lSSlideWrapper {
    background-color: #fff;
}
.text-container p {
    color: #025a83;
    font-size: 18px;
    margin-bottom: 2em;
    line-height: 28px;
}
.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: .5em;
}
#pre_footer_one, #pre_footer_two {
    font-size: 22px;
}
#pre_footer_one{
    padding-top: 13px;
}
#pre_footer_two img{
    vertical-align: -webkit-baseline-middle;
}
#pre_footer_two .icon-text{
    vertical-align: -webkit-baseline-middle;
    color: #ededed;
}
.nav-primary{
    background-color: #fcfdfd;
}
.nav-secondary{
    background-color:#fcfdfd;   
}
#menu-secondary-menu > li > a {
    display: inline;
    padding-top: 3px;
    font-size: 18px;
    color: #fcfdfd;
}
#menu-secondary-menu > li > a:hover 
{color:#92d3f1;}
#menu-secondary-menu > li {
    border-right: 2px solid #fcfdfd;
    display: inline;
    float: none;
    height: 25px;
}
#pre_footer_three span{
    margin-right: 12px;       
}
#pre_footer_three span a img:hover{
    opacity: 0.5;
}
.llms-person-login-form-wrapper{width: 50%;
                                margin: 0 auto;}
.llms-person-login-form-wrapper .llms-login{
    width: 100%;
    background:#fff;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-heading{
    background: rgba(0, 90, 120, 0.9);
    color: #fff;
    font-weight: normal;
    font-size: 1em;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-bottom: 15px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-fields{
    padding: 0 13px;
    padding-bottom: 14px;
}
.llms-person-login-form-wrapper .llms-login .llms-form-field label{
    font-weight: normal;
}
.llms-person-login-form-wrapper .llms-login .llms-form-field #llms_login, .llms-person-login-form-wrapper .llms-login .llms-form-field #llms_password{
    padding: 5px;
    height: 50px;
    border-radius: 4px;
    font-weight: normal;
}
.llms-person-login-form-wrapper .llms-login .llms-field-button{
    width: 100px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: 500;
    padding: 6px 24px;
}
.llms-person-login-form-wrapper .llms-login .type-checkbox{
    display: inline;
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
}
.llms-person-login-form-wrapper .llms-login .type-checkbox label{
   display: inline-block;
    position: relative;
    margin-left: 5px;
    font-size: 0.8em;
    margin: 0;
    vertical-align: bottom;
}
.llms-person-login-form-wrapper .llms-login .type-email.llms-cols-6, .type-password.llms-cols-6{
    width: 100%;
}
.llms-form-field.type-submit{
    width: auto;
}
.llms-form-field.type-checkbox{
    width: auto;
}
.page_slug_survey .survey-form_wrapper{

    box-shadow: 0px 0px 2px #dadada;
    border: 1px solid #dadada;
    width: 100%;
    margin: auto;
}
.page_slug_survey .gform_wrapper .gfield_required{
    color:#ff0000;
}
.page_slug_survey .survey-form_wrapper .gform_body{
    padding: 20px 40px 20px 40px;
}
.page_slug_survey .survey-form_wrapper .gform_footer{
    padding: 20px 40px 40px 40px;
    margin: 0;
}
.page_slug_survey .gform_wrapper .gform_heading{
    border-bottom: 1px solid #dadada;
    padding: 20px 40px 20px 40px;
    margin-bottom: 0;
    background-color: #f3f3f3;
}
.page_slug_survey .gform_wrapper .gform_heading span{margin-bottom: 0;}
.page_slug_survey .survey-form_wrapper .survey-form ul .gfield{ 
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    padding-bottom: 20px;
}
.page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(6) > div input, .page_slug_survey .survey-form_wrapper .gfield_select{
    height: 50px;
}

.page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(7) > div, .page_slug_survey .survey-form_wrapper .survey-form ul li:nth-child(8) > div { 
    padding-bottom: 10px;
}
.page_slug_survey .survey-form_wrapper .survey-form .gsurvey-rank.ui-sortable{
    padding-left: 0;
}
.page_slug_survey .gform_wrapper .top_label .gfield_label, .page_slug_survey .gform_wrapper .gfield_radio li label, .page_slug_survey .gform_wrapper .field_sublabel_below ul.gfield_checkbox li label{
    font-weight: normal;
    font-size: 18px;
}
.page_slug_survey .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: 500;
}
.testimonial h3{
    font-size: 18px;
    line-height: 1.5;
}

.testimonial .test h4{
    font-size: 14px;
    line-height: 0.7;
}
.testimonial .test h4:nth-child(1){
    font-weight: 600;
}
.llms-form-field .llms-description {
    display: none;
}
/*our team page */
#main #primary {
    padding: 0px 40px 40px;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.team-page-wrapper {
    background: none;
}
.team-page-wrapper .team-content {
    width: 100%;
    display: block;
    float: left;
    /*margin: 20px 0px 0px;*/
    color: #231F20;
}
.home_video_background{
    padding: 20px 0px;
    background-color: #ccc;
}
.team-page-wrapper .team-left .col-cs-4{
    float: left;
    width: 24%;
    text-align: center;
}
.team-page-wrapper .team-content .image-container {
    float: left;
    width: 100%;
}
.team-page-wrapper .team-content .image-container .img-inner {
    height: 165px;
    width: 165px;
    overflow: hidden;
    display: block;
    margin: 5px auto 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.team-page-wrapper .team-content .image-container .img-inner .circle-img {
    width: 100%;
    /*height: 100%;*/
    background-position: 50% 50%;
    background-size: contain;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.team-page-wrapper .team-member-wrapper a {
    color: #231F20;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.team-page-wrapper .team-member-name {
    font-size: 24px;
    color: #00B092;
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}
.team-page-wrapper .team-member-wrapper a {
    color: #231F20;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.team-page-wrapper .team-member-wrapper .team-member-position {
    color: #231F20;
    font-weight: 700;
    display: block;
    text-align: center;
}
.post-edit-link{display: none;}
.team-page-wrapper .col-cs-8 {
    width: 76%;
    float: left;
}
.team-page-wrapper .team-content .team-left .team-member-details {
    padding: 0px 20px 0px 20px;
}
.team-page-wrapper .team-content .team-member-details h3.team-member-name {
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
}
.team-page-wrapper .team-member-name {
    font-size: 24px;
    color: #00B092;
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}
.team-page-wrapper .team-member-caption {
    font-size: 16px;
    font-style: italic;
    margin: 2px auto;
}
.team-page-wrapper .team-member-content {
    margin: 10px 0px 0px;
}
.team-page-wrapper .separator {
    clear: both;
    margin: 15px auto;
    border-color: #dadada;
    float: left;
    width: 100%;
    border-width: 2px;
}
.separator{
    border-color: #dadada;
}
.separator:last-of-type{
    display: none;
}
.team-page-wrapper .team-right .col-cs-4 {
    float: right;
    width: 24%;
    text-align: -webkit-center;
}
.slider_bg_img{
    height: calc(100vh - 92px);
    background-size: cover;
    background-repeat: no-repeat;
}
#test-section {
    background-color: #dedede;
    font-family: 'Lato', sans-serif;
    width: 100%; }
#inner-tests {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    /*  width: 100%;*/
}

.test-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 275px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%; }

.test-info a {
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: white;
    margin-bottom: 1em;
    text-decoration: none; }

#test-title {
    text-align: center; }

#test-title h2 {
    font-size: 2.5em;
    margin: 0; }

.testimonial {
    font-style: italic;
}

.testimonial p {
    font-size: 0.9em; }

.test-info a {
    font-size: 1em; }

.test-link {
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    right: 1em; }
#test-title,
.skew2 {
    background: -webkit-linear-gradient(left, #00618c 0%, #003b59 100%);
    background: linear-gradient(to right, #00618c 0%, #003b59 100%);
    overflow: hidden; }

.skew1 {
    background: -webkit-linear-gradient(left, #00618c 0%, #003b59 100%);
    background: linear-gradient(to right, #00618c 0%, #003b59 100%);
    overflow: hidden; }

.skew1:before {
    border-radius: 30%;
    box-shadow: -50px 60px 90px 0px #000;
    content: '';
    display: block;
    height: 70px;
    left: -70px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    top: -110px;
    position: absolute;
    width: 60%;
    z-index: 9999; }

.skew2:before {
    border-radius: 30%;
    box-shadow: -50px 60px 90px 0px #000;
    content: '';
    display: block;
    height: 70px;
    position: absolute;
    right: -70px;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    top: -110px;
    width: 60%;
    z-index: 9999; }

/*.content-sidebar-wrap{
    padding: 0 25px;
}*/
.site-footer #pre_footer_one span a, .site-footer #pre_footer_one span {
    color: #fff;
}
.site-footer .copyright-content a, .site-footer .copyright-content {
    color: #a3b7c4;
}
/* #menu-mainmenu > .active > a {
    color: #fff;
    background-color: #337ab7;
}*/
#menu-mainmenu  > .active .caret{
    color: #ff0000;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.fa-chevron-right, .fa-chevron-right{
    cursor: pointer;
}
.llms-complete-lesson-form .llms-form-field{
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
.become-partner-form .inbound-field:last-of-type, .become-client-form .inbound-field:last-of-type{
    display: block;
    min-height: 70px;
}
.lession_deatils_scroll::-webkit-scrollbar {
    width: 5px;
}
.lession_deatils_scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.lession_deatils_scroll::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.lession_deatils_scroll::-webkit-scrollbar-thumb:window-inactive{
  background: #ccc;
  opacity: 0.8;
}
.lession_deatils_scroll{
    margin-bottom: 50px;
    border: 1px solid #dadada;
    padding: 25px;
    box-shadow: 0px 0px 1px 1px #dadada;
    height: 850px;
    overflow-y: auto;
}
.llms-parent-course-link{
    margin-bottom: 20px;
}
.page_slug_who-we-are h2{
    margin-bottom: 5px;
}
.page_slug_who-we-are ul:nth-child(1){
    margin-bottom: 25px;
}
.blog_article_main .entry-content{
    padding: 0;
}
.student_lession_preview .sec_data .llms-lesson-link-locked {
    min-height: auto;
}
.student_lession_preview .sec_data .llms-tooltip{
    top: -40px;
}
/*media queries */
@media screen and (min-width:1280px) and (max-width:1500px){

}
@media screen and (max-width:1280px){
      #inner-tests {
    width: 70%; }
.img-container {
    /*min-height: 1100px;*/
}
#services{
    /*padding-top: 6%;*/
}
.services-logo {
    margin: -11em auto 0 auto;
}
  
}
@media screen and (max-width : 1024px){ 
    .lession_deatils_scroll{
    height: auto;
    overflow-y: hidden;
    }
    .services-logo{
     margin: 0 auto;   
    }
    #menu-mainmenu {
        margin-top: 24px;
        font-size: 14px;
        float: right;
        width: 76%;
    }
    .page-template-contact .entry-content{
        width: 87%;
    }
    #menu-mainmenu li{
        margin-right: 12px;
    }
    .entry-content.page_slug_contact {
        padding: 40px 0;
    }
    #services{
        zoom:0.8;
    }
    .slider-heading{
        font-size: 40px;
    }
    .slider-subheading{
        font-size: 20px;
    }
    .nav-primary {
        box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 5px 0.5px !important;
    }
}
@media screen and (max-width:992px){
    .contactinfo_container .contact_phone p{
        padding-left: 34px;
    }
    .testimonial{
     padding: 0 10px;   
    }
    #pre_footer_two{
        padding-bottom: 8px;
    }
    .lession_deatils_scroll{
        height: auto;
        overflow-y: hidden;
    }
    #menu-mainmenu {
        margin-bottom: 0;
        margin-top: 24px;
        font-size: 12px;
        /* float: none; */
    }
    .navbar-brand{
        margin-top: 14px;
    }
    #menu-mainmenu .caret {
        right: 4px;
    }
    #menu-mainmenu li a {
        padding-right: 16px;
        padding-left: 5px;
    }
    .contact-form .inbound-submit-area {
        width: 100%;
        text-align: left; 
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 6px;
    }
    #test-section {
        padding:0;
    }
    #services .img-container img{
        width: 21%;

    }
    #services .img-container{
        padding-bottom: 40%;
    }
    .site-footer #pre_footer_one span a, .site-footer #pre_footer_one span {
        color: #fff;
    }
    .site-footer .copyright-content a, .site-footer .copyright-content {
        color: #a3b7c4;
    }
    #services .circle{
        height: 200px;
    }
    .slider_bg_img{
        background-size: cover;
        height: 457px !important;
    }
    #services{
        zoom:0.8;
    }
    .navbar-brand img {
        width: 100px;
    }
    #menu-mainmenu{
        width: 84%;
    }
    .down-arrow{
        top: 46%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); 
    }
    .page-template-contact .entry-content{
        width: 100%;
    }
    .text-container p{
        margin-bottom: 10px;
    }
    .slider-heading{
        font-size: 40px;
    }
    .slider-subheading{
        font-size: 20px;
    }
    .nav-primary {
        box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 5px 0.5px !important;
    }
    .services-button {
        background: #e92837;
        border: none;
        color: #ffffff;
        font-size: 13px;
        padding: 10px;
        text-decoration: none;
    }
      #inner-tests {
    width: 100%; }
}

@media screen and (max-width:767px){
      #inner-tests {
    width: 100%; }
    .main_no_result{
    width: 100%;
    height: auto;
}
    .dashboard-box .course-content p{
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    .dashboard-box .course-date p{
        padding-bottom: 0;
    }
    .student_lession_preview  .sec_title p{
        padding-bottom: 4px;
    }
    .sec_data a > div{
        padding: 0px 1px;
        vertical-align: text-top;
    }
    .llms-video-wrapper, .audio-video-container {
        margin-bottom: 35px;
    }
    .lession_deatils_scroll{
         height: auto;
        overflow-y: hidden;
    }
    .content-sidebar-wrap{
        padding: 0 25px;
    }
    #menu-mainmenu > .current_page_parent.current-menu-parent > a{
        color: #fff;
        background-color: #337ab7;
    }
    .lSSlideWrapper #content-slider li{
        padding: 0;
    }
   
    .page_slug_whitepaper #inbound-form-wrapper{
        width: 100%;
    }
    #edit_form_btns {
        padding:20px 17px;
        text-align: center;
    }
    .baner_sec_1:last-of-type{
        margin-bottom: 0;
    } 
    .content-sidebar-wrap{
        padding: 0 25px;
    }
    .test-info, #test-title{
        background: #fff;
        color: #000;
        padding: 0 18px;
    }
    .test-info p{
        margin-bottom: 0;
    }
    .test-info.skew2{
        padding-top: 30px;    
    }
    .test-link {
        position: relative;
        display: block;
        width: 100%;
        text-align: right;
        bottom: 0px;
    }

    .contactinfo_container .contact_call, .contactinfo_container .contact_letter{
        padding: 30px 0;
    }
    .llms-person-login-form-wrapper .llms-login .type-checkbox{
        top: 3px;
    }
    .player{
        clear: both;
    }
    .page_slug_who-we-are ul, .page_slug_what-to-expect ul{
        padding-left: 15px;
    }
    .entry-content ol {
        padding-left: 15px;
    }
    #menu-secondary-menu > li:last-child {
        border-right: none;
    }
    .navbar-toggle{
        position: relative;
        top:1px;
    }
    #services{
        zoom:1;
    }
    .services-button {
        background: #e92837;
        border: none;
        color: #ffffff;
        font-size: 13px;
        padding: 10px;
        text-decoration: none;
    }
    .course-tab_view ul li{
        font-size: 11px;

    }
    .tools_container .tools_heading{
        margin: 0;
        padding-bottom: 8px;
        font-size: 20px;
    }
    .tools_container#course-list{
        padding-left: 15px;
    }

    .slider-heading {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin: 0 auto;
        max-width: 85%;
        padding-bottom: 5px;
    }
    .slider-subheading {
        color: #fff;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .navbar-brand{
        margin-top: 0;
    }
    .site-header {
        height: 51px;
    }
    .navbar-inverse{
        min-height: 50px;
    }
    .site_footer_clr hr{
        margin-left: auto;
    }
    #nav-collapse-primary {
        padding: 0;
        background: #1C2B39;
        position:absolute;
        width: 100%;
    }
    #menu-mainmenu {
        margin: 0;
        width: 100%;
    }
    #menu-mainmenu li {
        padding-right: 0;
        margin-right: 0;
        font-size: 18px;
        border-bottom: 1px solid #babbbb;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }
    #menu-mainmenu li a {
        padding-left: 24px;
        padding-bottom: 13px;
    }
    #menu-mainmenu .caret {
        position: absolute;
        right: 22px;
        top: 15px;
        /* width: 50px; */
        height: 100%;
        cursor: pointer;
        color: #ffffff;
        text-align: center;
    }
    .llms-person-login-form-wrapper .llms-login .type-checkbox label{
        margin-left: 0;
        bottom: -2px;
        display: inline-block;
        vertical-align: bottom;
        -webkit-vertical-align: bottom;
        position: relative;
    }
    input[type="radio"], input[type="checkbox"]{
        margin-right: 0px !important;
    }
    .mobile_arrows{
        display: block;
        position: absolute;
        right: 8px;
        top: 6px;
        width: 50px;
        height: 100%;
        cursor: pointer;
        color: #ffffff;
        text-align: center;
    }

    #menu-mainmenu > .active > a {
        color: #fff;
        background-color: #337ab7;
    }
    #menu-mainmenu .dropdown-menu {
        width: 100%;
        box-shadow: none;
        position: relative;
        background-color: #667786;
    }
    #menu-mainmenu li:hover {
        background-color: #1C2B39;
    }
    #menu-mainmenu li a:hover {
        /*background-color: #1C2B39;*/
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: #1C2B39;
    }
    /*media query for header*/
    .slider_bg_img.visible-xs-block{
        height: auto !important;
        position: relative;
    }
    #blog_header{
        height: auto !important;
        margin-bottom: 2em !important;
        /*margin-top: 51px;*/
        padding: 20% 0;
    }

    #blog_header_text h1{
        font-size: 30px;
    }
    .entry-title a {
        color: #000;
        font-size: 28px;
        font-weight: bold;
    }
    .entry-meta {
        padding: 10px 0;
        margin-bottom: 0;
        font-style: italic;
        font-size: 15px;
    }
    .blog .entry-header a> img{
        padding: 0px 0px 8px;
    }
    .blog .entry-title {
        text-align: left;
        margin: 0;
    }
    body.blog .post {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
    #menu-mainmenu .caret {
        /*       right: 16px !important;*/
    }
    /*    #menu-mainmenu li:hover{
            background-color:#dadada;
        }*/
    .dropdown-menu > li > a:focus {
        /*background-color: #667786;*/
    }
    .navbar-brand img{
        width: 100px;
    }
    .navbar-inverse{
        background-color: #fcfdfd;
    }
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: #000;
    }
    /*    #menu-mainmenu { 
            margin-bottom: 0;
            margin-top: 30px;
            font-size: 12px;
            width: 83%;
        }*/
    /*    #menu-mainmenu li a {
            padding-right: 7px;
            padding-left: 7px;
        }*/
    /*    #menu-mainmenu li a{
            padding: 0 10px;
        }*/
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: transparent;
    }

    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .inbound-field input[type=text]{
        width: 100%;
    }
    .inbound-field input[type=email]{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
    .llms-person-information-form div p {
        padding: 8px 20px 0px 20px;
    }
    .llms-input-text{
        padding: 8px 10px 8px 12px;
    }
    #menu-mainmenu ul li a{
        padding: 9px 24px;
    }

    .site-footer ul{
        margin: 0;
        text-align: -webkit-center;

    }
    .site-footer li{
        display: inline-block;
    }
    .site-footer li:focus{
        border: none;
    }
    .site-footer li a{
        background-color: transparent !important;
        padding: 0px 10px;
    }
    .site-footer .navbar-inverse .navbar-nav > li > a:focus{
        background: none;
    }
    .site-footer .navbar-inverse{
        border: none;
        margin: 0;
    }
    .site-footer #pre_footer_two .icon-text{
        display: inline-block;
        margin: 0;
        vertical-align: super;
    }
    .site-footer #pre_footer_one, .site-footer #pre_footer_two, .site-footer #pre_footer_three{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .site-footer #pre_footer_one span a,
    .site-footer #pre_footer_one span  
    {
        color:#fff;
    }
    .site-footer #pre_footer_two a{
        display: inline-block !important;
    }
    .site_footer_clr{
        padding: 14px 0;
    }
    .site-footer{}
    #menu-mainmenu .dropdown-menu{
        width: 100%;
        box-shadow: none;
        /*position: relative;*/
        /*background-color: #667786;*/
    }
    #menu-mainmenu li{
        /*padding-right: 0;*/
    }
    #menu-mainmenu .dropdown-menu li:last-child{
        border-bottom: 0;
    }
    .dropdown-menu{border-radius: 0;}
    /*    .container_header .navbar-header{
            padding: 20px 2px;
        }*/

    .content_title {
        background-color: #03618d;
        color: #ffffff;
        padding: 20px 0;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        /*margin-top: 51px;*/
    }
    .content_title h1{
        margin: 0;
        font-size: 20px;
    }
    .entry-content p{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .page_slug_case-study-1 p{
        margin-bottom: 0;
    }
    .entry-content h2{
        font-size: 20px;
    }
    .become-partner-form, .become-client-form {
        padding: 10px 18px 0px 18px;
        box-shadow: 0px 0px 2px #dadada;
        width: 100%;
        margin: auto;
    }

    .inbound-field input[type=text] {
        height: 50px;
    }
    .inbound-field input[type=email] {
        height: 50px;
    }
    .entry-content ul li {
        line-height: 1.8;
    }
    .contact-form, become-client-form{
        padding: 10px 18px 0px 18px;
        box-shadow: 0px 0px 2px #dadada;
        width: 100%;
        margin: auto;
    }
    .form-group.inbound-field.inbound-label-top.inbound-vertical.label-inbound-label-top {
        float: none;
        width: 100%;
    }
    .custom-select{
        height: 34px;
    }
    .contact-form .inbound-button-submit, .become-partner-form .inbound-button-submit,button[type="submit"]{
            width: 80%;
        /*        padding: 5px 10px;
                font-size: 16px;*/
    }
    .inbound-submit-area{
        text-align: center !important;
        width: 100% !important;
    }
    .become-client-form .inbound-submit-area{
        margin-top: 0;
    }
    .contact-form .inbound-button-submit{
        padding: 8px 40px;
        font-size: 18px;
    }
    .dashboard-box .course-content{
        padding: 10px 0;
    }    
    .dashboard-box .course-date ,.course-view-btn{
        text-align: left;
        margin: 0;
    }

    .dashboard-box .course-sec{
        padding: 20px 20px 20px 20px;
    }
    .dashboard-box .course-title{
        color:#fff;
    }
    .dashboard-box .course-title h1{
        font-size: 20px;
    }
    .slick-slider .slick-list{
        height: auto !important;
    }  
    .chevron-container .slick-right .slick-arrow{
        display: none;
    }

    #pre_footer_two img {
        vertical-align: baseline;
    }
    #prefooter {
        color: #ededed;
    }
    #menu-secondary-menu > li > a {
        display: inline;
        padding-top: 3px;
        font-size: 16px;
        color: #fcfdfd;
    }
    .site-footer .copyright-content a, .site-footer .copyright-content {
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #a3b7c4;
    }
    .down-arrow{
        top: 44%;
    }
    /*reset landscape*/
    .down-arrow {
        -webkit-animation: down-arrow 1.5s infinite;
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .lSSlideWrapper{
        padding: 10px 0;
        border-bottom: 1px solid #dadada;
    }
    .down-arrow a{
        color:#fff;
    }
    #menu-mainmenu{
        margin: 0;
        width: 100%;
    }

    #services .img-container{
        padding: 30px 20px;
    }

    #services .img-container img{
        width: 40%;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
    /*    #nav-collapse-primary {
            padding: 0;
            background: #1C2B39;
            height: 100%;
            position: fixed;
            width: 100%;
            max-height: 100% !important;
           
        }*/
    #menu-mainmenu li{
        font-size: 18px;
        /*        border-bottom: 1px solid #b5aeae;*/
    }
    .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
    /*    .content_title {
            background-color: #03618d;
            color: #ffffff;
            padding: 10px 10px;
            font-size: 22px;
            font-weight: 500;
            text-align: center;
            margin-top: 51px;
        }*/
    /*    #menu-mainmenu .caret{
            position: absolute;
            right: 22px;
            top: 15px;
             width: 50px; 
            height: 100%;
            cursor: pointer;
             color: #ffffff; 
            text-align: center;
        }*/
    .become-partner-form .inbound-field:last-of-type, .become-client-form .inbound-field:last-of-type{
        display: block;
        min-height: 72px;
        margin-top: 6px;
    }
    .contact-form .inbound-submit-area{
        margin-top: 6px;
    }
    .contact-form .inbound-field{
        min-height: auto;
    }
    .container_header .navbar-header {
        padding:0;
    }
    .content_title_dashboard {
        background-color: #03618d;
        color: #ffffff;
        padding: 15px 0;
        font-weight: 500;
        text-align: center;
        /*margin-top: 51px;*/
    }
    .course-tab_view ul li:last-of-type{
        top: 4px;
    }
    .course-tab_view ul li:last-of-type :before{
        left: -16px;
        top: -1px;
    }
    .content_title_dashboard p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .page-template-contact .entry-content {
        width: 100%;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1C2B39;
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color:  #1C2B39;
    }
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #1C2B39;
    }   
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
        background-color: #667786;
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
    #menu-mainmenu li a{padding-left: 24px;padding-bottom: 13px;}

    #menu-mainmenu .dropdown-menu{
        width: 100%;
        box-shadow: none;
        position: relative;
        background-color: #ebebeb;
    }
    #menu-mainmenu li{
        padding-right: 0;
        margin-right: 0;
        clear: both;
    }
    .text-container h2 {
        font-size: 30px;
        font-weight: bold;
        margin:0;
        padding: 10px 0;
    }
    .text-container {
        color: #e92837;
        text-align: center;
        /*max-width: 30em;*/
        padding-bottom: 40px;
    }
    .text-container p {
        color: #025a83;
        font-size: 18px;
        margin-bottom:0;
        line-height: 24px;
        padding: 10px 0;
    }
    .chevron-container > .fa{
        display: none;
    }
    .site-inner, .site-inner main{
        min-height: auto;
    }
    .llms-person-login-form-wrapper{
        width: 100%;
    }
    #main #primary {
        padding: 15px 15px 15px 25px;
    }
    .team-page-wrapper .team-left .col-cs-4 {
        width: 100%;
    }
    .team-member-content p{
        padding-bottom: 10px;
    }
    .team-page-wrapper .col-cs-8 {
        width: 100%;
    }
    .team-page-wrapper .team-content .team-left .team-member-details {
        padding: 0; 
    }
    .team-member-name {
        margin: 20px auto 2px;
    }
    .team-page-wrapper .team-content{
        margin: 0;
        padding: 0;
    }
    .team-page-wrapper .team-right .col-cs-4{
        width: 100%;
    }
    .entry-content.page_slug_contact{
        padding: 20px 0;
    }
    #menu-mainmenu li:hover{
        background-color: #1C2B39;
    }
    .skew1:before, .skew2:before{
        box-shadow: none;  
        display: none;
    }
    /*    .skew1 , .skew2{
            background: #fff;
            color: #000;
            padding-top: 30px;
            padding-bottom:0;
        }*/
    /*    .test-info{
            height: 100%;
            display: block;
        }*/
    .test-info a{
        color: #073f65;
        margin-bottom: -0.1em;
    }
    .test-info {
        display: block;
        flex-direction: inherit;
    }
    #test-title.testinfo{
        color: #fff;
    }
    #test-title{
        padding: 30px 0;
        width: 100%;
        min-height: 130px;
        display: inline-block;
    }
    .test-info{
        height: auto;
        min-height: 220px;   
    }
    #inner-tests{
        margin-bottom: 30px;
    }
    .navbar-inverse {
        border-color: rgba(255, 255, 255, 0);
    }
    .nav-primary{
        box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 5px 0.5px !important;
    }
    .page_slug_case-studies blockquote{
        margin: 0 0 0;
    }
    .testimonial .test h4{
        line-height: normal;
        margin: 6px 0;
    }
    .page_slug_survey .survey-form_wrapper .gform_body {
        padding: 20px 14px 20px 14px;
    }
    .back_blog{
        margin-bottom: 2em;
    }
    .page_slug_case-studies p{
        margin-bottom: 0;
    }

    .testimonial h3{
        margin-top: 0;
    }
    .page_slug_survey .gform_wrapper .gform_heading{
        text-align: center;
    }
    .page_slug_survey .gform_wrapper .gform_heading span{
        width: calc(100% - 0px);
    }
    .social_share_link{
        text-align: right;
        padding-bottom: 4px;
    }
    .comment-respond input[type="text"], .comment-respond input[type="email"], .comment-respond input[type="url"]{
        width: 100%;
        height: 40px;
    }
    .g-recaptcha{
        padding-top: 10px;
    }
    .comment-respond .form-submit{
        text-align: center;
        padding-top: 10px;
    }
    .copyright-content span{
        display:block;
    }
    .become-partner-form .inbound-field, .become-client-form .inbound-field{
        min-height: auto;
    }
    #menu-mainmenu > .active .caret {
        color: #fff;
    }
    #menu-mainmenu > .current_page_parent.current-menu-parent .caret{
        color: #fff;
    }
}
@media screen and (max-width:482px){
    /*media query for header*/
    .down-arrow {
        -webkit-animation: down-arrow 1.5s infinite;
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .lSSlideWrapper{
        padding: 10px 0;
    }
    .down-arrow a{
        color:#fff;
    }
    #menu-mainmenu{
        margin: 0;
        width: 100%;
    }

    #services .img-container{
        padding: 30px 20px;
    }

    /*media queries for contact form*/
    .contact-form .inbound-field:nth-child(even){
        float: none;
    }
    .contact-form .inbound-field{
        width: 100%;
    }
    .become-partner-form .inbound-field:nth-child(even){
        float: none;
    }
    .become-partner-form .inbound-field{
        width: 100%;
    }
    /*    #nav-collapse-primary {
            padding: 0;
            background: #1C2B39;
            height: 100%;
            position: fixed;
            width: 100%;
            max-height: 100% !important;
           
        }*/
    #menu-mainmenu li{
        font-size: 18px;
        /*        border-bottom: 1px solid #b5aeae;*/
    }
    .dropdown-menu > li > a:focus {
        background-color: #667786;
    }
    /*    .content_title {
            background-color: #03618d;
            color: #ffffff;
            padding: 10px 10px;
            font-size: 22px;
            font-weight: 500;
            text-align: center;
            margin-top: 51px;
        }*/
    /*    #menu-mainmenu .caret{
            position: absolute;
            right: 22px;
            top: 15px;
             width: 50px; 
            height: 100%;
            cursor: pointer;
             color: #ffffff; 
            text-align: center;
        }*/
    .container_header .navbar-header {
        padding:0;
    }
    /*    .content_title_dashboard {
            background-color: #03618d;
            color: #ffffff;
            padding: 15px;
            font-weight: 500;
            text-align: center;
            margin-top: 51px;
        }*/
    .content_title_dashboard p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .page-template-contact .entry-content {
        width: 100%;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1C2B39;
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color:  #1C2B39;
    }
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #1C2B39;
    }   
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
        background-color: #667786;
    }
    .navbar-inverse .navbar-nav > .active > a{
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #667786;
    }


    #menu-mainmenu li{
        padding-right: 0;
        margin-right: 0;
    }

    .chevron-container > .fa{
        display: none;
    }
    .site-inner, .site-inner main{
        min-height: auto;
    }
    .llms-person-login-form-wrapper{
        width: 100%;
    }
    .team-page-wrapper .team-left .col-cs-4 {
        width: 100%;
    }
    .team-page-wrapper .col-cs-8 {
        width: 100%;
    }
    .team-page-wrapper .team-content .team-left .team-member-details {
        padding: 0; 
    }
    .team-member-name {
        margin: 20px auto 2px;
    }
    .team-page-wrapper .team-content{
        margin: 0;
        padding: 0;
    }
    .team-page-wrapper .team-right .col-cs-4{
        width: 100%;
    }
    .entry-content.page_slug_contact{
        padding: 20px 0;
    }
    #menu-mainmenu li:hover{
        background-color: #1C2B39;
    }
}

