html, body, div, a, img {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

#banner {
  position: relative;
  width: 968px;
  border: 1px solid black;
  overflow: hidden;
  /* opacity: 0; */
  height: 248px;
}
/* div {
  position: relative;
}
#main-links {
	position: absolute;
	height: 100%;
	width: 100%;
}*/
#opener {
	position: absolute;
  z-index: 999;
  transition: all 0.5s ease;
}
#banner.blur #opener{
  filter: blur(3px);
}
/*#rotator {
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: 800;
}
#rotator img {
  position: absolute;
  transform: translateY(250px);
  margin-top: 0;
}
 #controls{
  position: relative;
  top: 10px;
  width: 100%;
  z-index: 900;
  opacity: 0;
} */
/* #btnNext{
  color: #000000;
    position: absolute;
    right: 2%;
    bottom: 8px;
    z-index: 1000;
    display: none;
  }
#btnNext:active, #btnNext:focus {
  color: #000000;
}*/
