<span style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>Session Highlights</b>
</span>


<ul style="margin-top: 5px; padding-top: 5px;margin-bottom: 20px;padding-bottom:5px;">

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/session/607" target="_blank" style="color: #0000EE;">Cardiovascular Nursing Clinical Symposium </a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/session/608" target="_blank" style="color: #0000EE;">Congenital Heart Disease & Pediatric Cardiology Seminar </a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/session/1680" target="_blank" style="color: #0000EE;">Presidential Session</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/524" target="_blank" style="color: #0000EE;">AHA’s Strategic Goals in 2019 and Beyond</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/557" target="_blank" style="color: #0000EE;">Atrial Fibrillation: From Wearables to Guidelines</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/1695" target="_blank" style="color: #0000EE;">Virtual Patient Challenge</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/1704" target="_blank" style="color: #0000EE;">Interactive Digital iWall Experiential Learning</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/1710" target="_blank" style="color: #0000EE;">Simulation Zone: Cases in Adult Congenital Heart Disease, Valvular Heart Disease, and Arrhythmias</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/399" target="_blank" style="color: #0000EE;">Genetic Determinants and Outcomes in Congenital Heart Disease</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/209" target="_blank" style="color: #0000EE;">Running Uphill: The Ups and Downs of Exercise Recommendations in Pediatric Cardiology</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/621" target="_blank" style="color: #0000EE;">Opening Session and Cutting-Edge in CV Medicine: Genes to Behavior Change in the 21st Century</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/598" target="_blank" style="color: #0000EE;">Mitral Valve Therapies: When Drugs are Not Enough</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/576" target="_blank" style="color: #0000EE;">STS at AHA: Management of Challenging Clinical Scenarios: Intraoperative Tips and Tricks</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/228" target="_blank" style="color: #0000EE;">Maximizing Talent and Achieving Gender Equity in Our Workforce</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/538" target="_blank" style="color: #0000EE;">Managing Diabetes in Heart Failure: Finding the Sweet Spot</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/405" target="_blank" style="color: #0000EE;">Amyloid Heart Disease: Emerging from the Shadows into YOUR Practice </a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/405" target="_blank" style="color: #0000EE;">The Future of AF is Now – How Do I Answer My Patient’s New Questions?</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@SummitType=Frontiers%20in%20Science$_3a%20Arrhythmia%20Research%20Summit/1" target="_blank" style="color: #0000EE;">Frontiers in Science Summit: Arrhythmia Research</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/333" target="_blank" style="color: #0000EE;">Cardio-Oncology or Onco-Cardiology: Cardiac ad Cancer Treatment in the Balance</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/135" target="_blank" style="color: #0000EE;">Clonal Hematopoiesis – CHIPing Away at CV Risk</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/1589" target="_blank" style="color: #0000EE;">Late Breaking Basic Science Posters</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/session/551" target="_blank" style="color: #0000EE;">Late-Breaking Basic Science I</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/%40sessionCategory=Cardiac%20Development%2c%20Structure%20and%20Function/4" target="_blank" style="color: #0000EE;">Late-Breaking Basic Science II</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/session/318" target="_blank" style="color: #0000EE;">Single-Cell RNA Sequencing Boot Camp</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><u>Vaping: What You Need to Know Now</u>
    <br>Saturday, November 16, 2019, 1:00 pm - 2:15 pm Heart Theater</li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="" target="_blank" style="color: #0000EE;">Late Breaking Science II: Results for the Ischemia Trials: To Intervene or Not To Intervene</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>ISCHEMIA</b> - International Study of Comparative Health Effectiveness with Medical and Invasive Approaches: Primary Report of Clinical Outcomes</li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>ISCHEMIA</b> - International Study of Comparative Health Effectiveness with Medical and Invasive Approaches: Primary Report of Quality of Life Outcomes</li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>ISCHEMIA-CKD </b> - International Study of Comparative Health Effectiveness with Medical and Invasive Approaches in Chronic Kidney Disease (ISCHEMIA-CKD): Primary Results of Clinical Outcomes</li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/session/1634" target="_blank" style="color: #0000EE;">Late Breaking Science III: Controversies in Contemporary Management of AS</a>
  <br>
  Saturday, 5:30-6:45PM
  </li>

    <ul>
      <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>GALILEO </b>- Global Comparison of a Rivaroxaban-based Antithrombotic Strategy Versus an Antiplatelet-based Strategy after Transcathether Aortic Valve Replacement to Optimize Clinical Outcomes</li>
      <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>GALILEO-4D </b>- Randomized Clinical Trial Comparing a Rivaroxaban-based Strategy with an Antiplatelet-based Strategy for the Prevention of Subclinical Leaflet Thrombosis in Transcatheter Aortic Valves</li>
      <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;">Balloon-expandable versus Self-expandable TAVR on Paravalvular Regurgitation and 2-year Mortality: A Propensity-matched Comparison from The France-TAVI Registry</li>
      <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><b>RECOVERY</b> - Early Surgery versus Conventional Management for Asymptomatic Severe Aortic Stenosis</li>
    </ul>

    <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#%21/7891/sessions/%40sessionCategory=Imaging%20and%20Nuclear%20Medicine/1" target="_blank" style="color: #0000EE;">Global Roundtable: AI in Cardiovascular Imaging with AHA, European Association of Nuclear Medicine, Saudi Society of Echocardiography, and Argentine Society of Cardiology</a></li>

</ul>


<li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="" target="_blank" style="color: #0000EE;"></a></li>






<ul style="margin-top: 5px; padding-top: 5px;margin-bottom: 20px;padding-bottom:5px;">

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Epidemiology,%20Big%20Data%20and%20Precision%20Medicine/1" target="_blank" style="color: #0000EE;">Epidemiology, Big Data and Precision Medicine</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Nursing%20Research%20and%20Clinical/1" target="_blank" style="color: #0000EE;">Nursing Research and Clinical </a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Congenital%20Heart%20Disease%20and%20Pediatric%20Cardiology/1" target="_blank" style="color: #0000EE;">Congenital Heart Disease & Pediatric Cardiology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessiontype=Late-Breaking%20Science" target="_blank" style="color: #0000EE;">Late-Breaking Science</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Cardiometabolic%20Health%20and%20Diabetes/1" target="_blank" style="color: #0000EE;">Cardiometabolic Health and Diabetes</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Acute%20Coronary%20Syndromes/1" target="_blank" style="color: #0000EE;">Acute Coronary Syndromes</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Cardio-Oncology/1" target="_blank" style="color: #0000EE;">Cardio-Oncology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Electrophysiology%20and%20Arrhythmias/1" target="_blank" style="color: #0000EE;">Electrophysiology and Arrhythmias</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=GRFW%20and%20Special%20Populations/1" target="_blank" style="color: #0000EE;">Go Red for Women & Special Populations</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Heart%20Failure%20and%20Cardiomyopathies/1" target="_blank" style="color: #0000EE;">Heart Failure and Cardiomyopathies</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Arteriosclerosis,%20Thrombosis,%20Vascular%20Biology/1" target="_blank" style="color: #0000EE;">Arteriosclerosis, Thrombosis and Vascular Biology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Cardiac%20Development,%20Structure%20and%20Function/1" target="_blank" style="color: #0000EE;">Cardiac Development, Structure and Function</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Cellular%20Biology/1" target="_blank" style="color: #0000EE;">Cellular Biology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Drug%20Discovery" target="_blank" style="color: #0000EE;">Drug Discovery</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Genetics%20and%20Genomics/1" target="_blank" style="color: #0000EE;">Genetics and Genomics</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Metabolism%20and%20Physiology/1" target="_blank" style="color: #0000EE;">Metabolism and Physiology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Signaling/1" target="_blank" style="color: #0000EE;">Signaling</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Vascular%20Disease%20and%20Thrombosis/1" target="_blank" style="color: #0000EE;">Vascular Disease and Thrombosis</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@SummitType=Frontiers%20in%20Science:%20Vascular%20Disease%20Summit/1" target="_blank" style="color: #0000EE;">Frontiers in Science: Vascular Disease Summit</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@SummitType=Frontiers%20in%20Science$_3a%20Thrombosis%20Summit/1" target="_blank" style="color: #0000EE;">Frontiers in Science: Thrombosis Summit</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@SummitType=Health%20Tech%20Summit/1" target="_blank" style="color: #0000EE;">Health Tech</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Hypertension%20and%20Nephrology/1" target="_blank" style="color: #0000EE;">Hypertension and Nephrology</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Pulmonary%20Hypertension%20$_26%20Critical%20Care/1" target="_blank" style="color: #0000EE;">Pulmonary Hypertension & Critical Care</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Imaging%20and%20Nuclear%20Medicine" target="_blank" style="color: #0000EE;">Imaging & Nuclear Medicine</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Lifestyle%20$_26%20Behavioral%20Medicine/1" target="_blank" style="color: #0000EE;">Lifestyle & Behavioral Medicine</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Prevention,%20Health%20and%20Wellness/1" target="_blank" style="color: #0000EE;">Prevention Health & Wellness</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Quality%20of%20Care/1" target="_blank" style="color: #0000EE;">Quality of Care</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Stroke%20$_26%20Neuroscience/1" target="_blank" style="color: #0000EE;">Stroke and Neuroscience</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Surgery%20$_26%20Anesthesia/1" target="_blank" style="color: #0000EE;">Surgery & Anesthesia </a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Interventional%20Treatments/1" target="_blank" style="color: #0000EE;">Interventional Treatments</a></li>

  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessionCategory=Vascular%20Disease%20and%20Thrombosis" target="_blank" style="color: #0000EE;">Vascular Disease and Thrombosis</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessiontype=Hall/1" target="_blank" style="color: #0000EE;">Science and Technology Hall Programming</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891/sessions/@sessiontype=Early%20Career/1" target="_blank" style="color: #0000EE;">Early Career Programming</a></li>
  
  <li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="https://www.abstractsonline.com/pp8/#!/7891" target="_blank" style="color: #0000EE;">Scientific Sessions Online Program Planner</a></li>

</ul>


<li style="font-family:'Source Sans Pro','Open Sans', sans-serif !important;font-size: 20px !important;"><a href="" target="_blank" style="color: #0000EE;"></a></li>














