@import 'all';

/*! All properties are in alphabetical order, with extends/includes first

Table of contents. Search for a section to find it.
1. Homepage
2. Products
3. Compatible Systems
4. Compatible Systems Single
  4.1 Enterprise
5. Events
  5.1 Events Sub
6. About
7. Contact
8. Blog
*/

/*! =========================================
██╗  ██╗ ██████╗ ███╗   ███╗███████╗██████╗  █████╗  ██████╗ ███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝██╔══██╗██╔══██╗██╔════╝ ██╔════╝
███████║██║   ██║██╔████╔██║█████╗  ██████╔╝███████║██║  ███╗█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  ██╔═══╝ ██╔══██║██║   ██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗██║     ██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝  1. Homepage
========================================= */

.hero-img {
  @extend %columnFlex;
  background-size: cover;
  background-position: right top;
  min-height: calc(100vh - 140px);
  position: relative;
}

.hero-content {
  background: rgba(31,68,127,0.8); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(51,96,174,0.8) 0%, rgba(31,68,127,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51,96,174,0.8) 0%,rgba(31,68,127,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51,96,174,0.8) 0%,rgba(31,68,127,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  flex-grow: 1;

  * {
    color: $white;
  }

  .btn {
    margin: 2rem;
  }

  .wrapper-large {
    margin: 0 auto;
    padding-bottom: 0;
  }
}

.homepage-video {
  align-items: center;
  display: flex;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.fr-dialogmodal {
  background-color: transparentize($black, .3);
  opacity: 0;
  transition: opacity 1s;

  &--is-active {
    opacity: 1;
    transition: opacity 1s;
  }
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
  top: 40%;
}

.fr-dialogmodal-modal {
  height: 50%;
  width: 100%;

  .video {
    width: 100%;
  }
}

.fr-dialogmodal-open {
  width: 100%;
}

.video-textarea {
  padding: 2rem;
}

.home-products {
  color: $white;
}

.home-svg {
  @extend %columnFlex;
  align-items: center;
  justify-content: space-between;

  img,
  h5,
  p {
    transition: all .5s ease-out;
  }

  &:hover {
    img,
    h5,
    p {
      transform: scale(1.2);
      transition: all .5s ease-out;
    }

    img {
      margin: 0;
    }

    h5 {
      margin: 1rem 0;
      padding: 0;
    }
  }
}

.biz-small {
  transform: scale(.8);
}

.biz-line {
  display: none;
}

.svg-img {
  margin-top: 2rem;
}

.home-compatible {
  padding: 4rem 0;
}

.compatible-img {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 80%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */

  .compatible-img {
    display: block;

    img {
      margin: 0 auto;
      transform: translateY(50%);
    }
  }
}

.chevron-container { /* full slider height container for chevrons */
  align-items: center;
  display: flex;
  height: 100%;
  left: -10%;
  position: absolute;
  width: 100px;
}

.slick-right { /* keeps right arrow to the right */
  left: auto;
  right: -10%;
  top: 0;
}

.chevron-right {
  position: absolute;
  right: 0;
}

.testimonials {
  padding: 7.2rem 2rem;
}

.testimonial-icon {
  display: inline !important;
  margin: 0 1rem 0 0 !important;
  max-height: 100px;
}

.testimonial-text {
  margin: 0 auto;
  max-width: 600px;
}

.testimonial-meta {
  @extend %rowFlex;
  align-items: flex-end;
  justify-content: center;
  margin: 2.4rem auto 0;
  max-width: 600px;
}

.home-prefooter {
  background-color: $grey-1;

  h2 {
    color: $brand-1;
    margin-bottom: 2.4rem;
  }

  a {
    color: $brand-1;
  }
}

.prefooter-grid {
  @extend %columnFlex;
  justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  .hero-img {
    background-position: left top;
  }

  .hero-content {
    @include absolute(0, 0, 100%);
  }

  .fr-dialogmodal--is-ready .fr-dialogmodal-modal {
    top: 50%;
  }

  .fr-dialogmodal-modal {
    height: calc(100% - 10rem);
    width: calc(100% - 20rem);
  }

  .close-button {
    position: absolute;
    right: 0;
    top: -20%;
  }

  .home-products {
    flex-direction: row;
  }

  .biz-line {
    display: block;
  }

  .compatible-slider {
    margin: 5rem auto 2rem;
    max-width: 80%;
  }
}

@media screen and (min-width: 960px) {

  .fr-dialogmodal-modal {
    height: calc(100% - 20rem);
    width: calc(100% - 40rem);
  }

  .video-textarea,
  .homepage-video {
    flex-basis: 50%;
  }
}


/*! =========================================
██████╗ ██████╗  ██████╗ ██████╗ ██╗   ██╗ ██████╗████████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██║   ██║██╔════╝╚══██╔══╝██╔════╝
██████╔╝██████╔╝██║   ██║██║  ██║██║   ██║██║        ██║   ███████╗
██╔═══╝ ██╔══██╗██║   ██║██║  ██║██║   ██║██║        ██║   ╚════██║
██║     ██║  ██║╚██████╔╝██████╔╝╚██████╔╝╚██████╗   ██║   ███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═════╝  ╚═════╝  ╚═════╝   ╚═╝   ╚══════╝  2. Products
========================================== */

.product-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem !important;

  .small-header {
    margin-bottom: 1rem;
  }
}

.product-left {
  background-color: $grey-1;

  .product-logo {
    margin-left: 1rem;
    max-width: 270px;
  }

  img {
    margin-left: auto;
    transform: translate3d(100%, 0, 0);
  }
}

.product-logo {
  margin-bottom: 2rem;
}

.product-right {
  display: flex;
  flex-direction: column-reverse;

  .product-logo {
    margin-left: 1rem;
    max-width: 300px;
  }

  img {
    margin-right: auto;
    transform: translate3d(100%, 0, 0);
  }
}

@media screen and (min-width: 960px) {
  .product-right {
    flex-direction: inherit;
  }
}


/*! =========================================
███████╗ ██████╗ ███╗   ███╗██████╗  █████╗ ████████╗██╗██████╗ ██╗     ███████╗
██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔══██╗╚══██╔══╝██║██╔══██╗██║     ██╔════╝
██║     ██║   ██║██╔████╔██║██████╔╝███████║   ██║   ██║██████╔╝██║     █████╗
██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██╔══██║   ██║   ██║██╔══██╗██║     ██╔══╝
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ██║  ██║   ██║   ██║██████╔╝███████╗███████╗
 ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝   ╚═╝╚═════╝ ╚══════╝╚══════╝  3. Compatible Systems
========================================== */

.compatible-systems {
  box-shadow: 0px 0px 41px 0px $grey-2;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.grid-boxes {
  box-shadow: inset 0px 0px 10px 0px $grey-2;
  height: 100vw;
  margin: 0;
  padding: 1rem;
  position: relative;
  width: 100vw;

  &:hover {
    .compatible-links {
      opacity: 1;
      transition: opacity .5s;
    }
  }

  img {
    left: 50%;
    max-width: 80%;
    min-width: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.compatible-links {
  align-items: center;
  background-color: transparentize($brand-1, .1);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .5s;

  .btn {
    margin: 1rem;
    width: 175px;
  }
}

@media screen and (min-width: 600px) {
  .grid-boxes {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
  }
}

@media screen and (min-width: 900px) {
  .grid-boxes {
    height: 20vw;
    width: 20vw;
  }
}


/*! =========================================
███████╗    ███████╗██╗███╗   ██╗ ██████╗ ██╗     ███████╗
██╔════╝    ██╔════╝██║████╗  ██║██╔════╝ ██║     ██╔════╝
██║         ███████╗██║██╔██╗ ██║██║  ███╗██║     █████╗
██║         ╚════██║██║██║╚██╗██║██║   ██║██║     ██╔══╝
╚██████╗    ███████║██║██║ ╚████║╚██████╔╝███████╗███████╗
 ╚═════╝    ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝╚══════╝ 4. Compatible Systems Single
========================================== */

.bundles {
  .grid {
    flex-basis: calc(100% / 3);
    padding: 5rem 0;
  }

  h4 {
    color: $white;
  }

  h4 {
    background-color: $brand-2;
    margin: 0;
    padding-bottom: 2.4rem;
    position: relative;

    &::after {
      background-color: $brand-2;
      bottom: -50%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}

.bundle {
  background-color: $white;
  margin: 0 auto !important;
  width: 300px;

  ul {
    color: $black;
    list-style: none;
  }
}

.bundle-circle {
  align-items: center;
  background-color: $white;
  border: 3px solid $brand-2;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 200px;
  z-index: 2;

  h5 {
    color: $brand-2;
    font-size: 2.4rem;
  }

  p {
    font-size: 1.3rem;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .bundle {
    width: 400px;
  }
}

@media screen and (max-width: 1259px){
  .bundles {
    display: block
  }
}


/*! =========================================
███████╗███╗   ██╗████████╗███████╗██████╗ ██████╗ ██████╗ ██╗███████╗███████╗
██╔════╝████╗  ██║╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝██╔════╝
█████╗  ██╔██╗ ██║   ██║   █████╗  ██████╔╝██████╔╝██████╔╝██║███████╗█████╗
██╔══╝  ██║╚██╗██║   ██║   ██╔══╝  ██╔══██╗██╔═══╝ ██╔══██╗██║╚════██║██╔══╝
███████╗██║ ╚████║   ██║   ███████╗██║  ██║██║     ██║  ██║██║███████║███████╗
╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝ 4.1 Enterprise
========================================== */

.enterprise {
  align-items: center;
  box-shadow: 3px 7px 15px 0 transparentize($black, .5);
  display: none;
  margin: 3rem auto;
  max-width: 1000px;

  .grid {
    text-align: left;
    padding: 0 2rem;
  }

  p,
  h5 {
    padding: 0;
    margin: 0;
  }

  .enterprise-heading {
    align-items: center;
    align-self: stretch;
    background-color: $brand-2;
    display: flex;
    justify-content: center;
    margin: 0;
    min-width: 350px;
    padding: 2rem 1rem;

    h4 {
      color: $white;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .enterprise {
    display: flex;
  }
}


/*! =========================================
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝ 5. Events
========================================== */

.events {
  position: relative;
}

.events-header {
  align-items: center;
  background-color: transparentize($brand-1, .2);
  bottom: 0;
  display: flex;
  height: 25%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 75%;
  width: 100%;

  h3 {
    color: $white;
    font-weight: 500;
  }
}

.events-left,
.events-right {
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {

  .events-left {
    margin-right: 1rem;
  }

  .events-right{
    margin-left: 1rem;
  }
}

/*! =========================================
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗    ███████╗██╗   ██╗██████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝    ██╔════╝██║   ██║██╔══██╗
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗    ███████╗██║   ██║██████╔╝
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║    ╚════██║██║   ██║██╔══██╗
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║    ███████║╚██████╔╝██████╔╝
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝    ╚══════╝ ╚═════╝ ╚═════╝
5.1 Events sub pages
========================================== */

.schedule {
  background-color: $grey-1;
  padding: 2rem;

  > div {
    padding: 1rem;
  }

  .grid {
    > div {
      padding: 0 1rem;
    }
  }
}

/*! =========================================
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   6. About
========================================== */

.page-template-about {

  .entry-content {
    margin: 0;
    padding: 2rem 1rem;

    h1,
    h3,
    p {
      padding: 1rem 1rem 0;
    }
  }

  .slick-dots {
    background-color: $grey-1;
    margin-bottom: 1rem;
  }
}

.about-entry {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.team {
  background-color: $grey-1;
}

.team-members {
  margin: 1rem 2rem;
}

.team-image {
  overflow: hidden;
  position: relative;
  width: 400px;

  img {
    height: auto;
    max-width: 100% !important;
    width: 100%;
  }

  &:hover {
    .team-text {
      top: 0;
      transition: all .8s;
    }
  }
}

.team-text {
  background-color: transparentize($brand-1, 0.5);
  color: $white;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 80%;
  transition: all .8s;
  width: 100%;

  h5 {
    padding-top: 1.5rem;
  }

  h6 {
    padding-top: 0;
  }

  h5,
  h6,
  li,
  a,
  p {
    color: $white;
  }
}

.culture {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 0;
}

.culture-list {
  background-color: $brand-2;
  list-style: none;
  margin: 0;
  padding: 2.4rem 2rem;

  li {
    color: $white;
  }
}

.plus {
  display: inline;
}

.minus {
  display: none;
}

[aria-expanded='true'] {
  .plus {
    display: none;
  }

  .minus {
    display: inline;
  }
}

.address-card {
  border: 1px dotted $brand-1;
  border-radius: 10px;
  margin: 1rem !important;
  max-width: 350px;
  padding: 4rem 0;
}

.biz-img {
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 900px) {

  .team-text {
    top: 75%;
  }

  .page-template-about {

    .entry-content {
      margin: 0;
      text-align: left;
      width: 50%;
    }
  }

  .culture {
    background-size: 50%;
  }

  .culture-grid {
    flex-direction: row;
  }

  .culture-description {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1100px) {

  .culture-description {
    margin-top: 25rem;
  }
}

@media screen and (min-width: 1500px) {

  .culture-description {
    margin-top: 35rem;
  }
}


/*! =========================================
 ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝
██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝    7. Contact
========================================== */

.page-template-contact {
  .address-card {
    margin: 5rem !important;
    padding: 1rem;
    width: 350px;

    img {
      width: 100%;
    }
  }

  .gform_fields {
    .gfield {
      width: 50%;
    }
  }
}

.contact-grid {
  align-items: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
  .contact-grid {
    > * {
      flex: 1 1 0%;
    }
  }
}


/*! =========================================
██████╗ ██╗      ██████╗  ██████╗
██╔══██╗██║     ██╔═══██╗██╔════╝
██████╔╝██║     ██║   ██║██║  ███╗
██╔══██╗██║     ██║   ██║██║   ██║
██████╔╝███████╗╚██████╔╝╚██████╔╝
╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝    8. Blog
========================================== */

.blog,
.single,
.search,
.archive {
  .entry-title {
    line-height: 2.7rem;
  }

  .entry-meta {
    margin: 1rem;
  }

  .entry-meta,
  .entry-footer {

    span {
      color: $black;
    }

    a {
      color: $brand-1;
    }

    a,
    span {
      font-size: 1.2rem;
    }
  }

  .entry-header {

      h3 {
        font-size: 2.3rem;
        margin: 0;
      }

    a {
      text-decoration: none;
    }
  }
}

.blog-posts {
  flex-wrap: wrap;
  margin: 0 7rem;
  padding-top: 0;

  > * {
    flex-basis: 50%;
  }

  .entry-content {
    margin: 0 auto;
    max-width: 900px;
    width: 80%;
  }

  .post {
    min-width: 550px;
    max-width: 800px;
  }
}

.post-image {
  margin-bottom: 1rem;
}

.page-number__container {
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.page-numbers {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    padding: .15rem;
    width: 75px;

    .page-numbers {
      border: 2px solid $brand-1;
      color: $brand-1;
      font-size: 1.6rem;
      height: 100%;
      text-decoration: none;
      width: 100%;
    }

    .current {
      background-color: $brand-1;
      color: $white;
    }
  }
}

.single,
.archive {

  article,
  .nav-links {
    a {
      color: $black;

      &:visited {
        color: $grey-3;
      }
    }
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;

    .nav-next {
      align-self: flex-end;
    }
  }
}

.search {
  .entry-header {
    a {
      color: $brand-1;
    }
  }
}

.archive {
  article {
    margin: 0 auto;
    max-width: 960px;
  }
}

@media screen and (min-width: 900px) {
  .blog-posts {

    .post {
      margin: 2rem 0;
    }
  }
}
