#wrapper {
  background-image: url("../img/pinnacle.header.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10.3125rem;
  max-width: 87.5rem;
  height: 50.9375rem; }

#navbar {
  opacity: .97; }
  #navbar .nav-item {
    margin-right: 1rem;
    color: black; }

.jumbotron {
  background: none;
  color: white; }
  .jumbotron h1 {
    font-family: serif;
    margin-top: 3rem; }
  .jumbotron p {
    color: white;
    text-decoration: underline; }

#down_arrow {
  margin-top: -2rem;
  text-align: center; }

#opportunity {
  font-family: serif; }
  #opportunity h1 {
    color: #033a7d; }
  #opportunity p, #opportunity h1 {
    margin-left: 20%;
    margin-right: 20%; }

#houses {
  background-image: url("../img/houses.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 45.1875rem;
  max-width: 87.5rem; }
  #houses .card {
    background: none;
    border: none;
    font-family: serif;
    color: white; }
  #houses .col-3 {
    vertical-align: top; }

#membership h1 {
  color: #033a7d; }

@media (max-width: 992px) {
  #navbar .navbar-nav {
    margin-left: .1rem; }
  #navbar .nav-item {
    font-size: .75rem;
    margin-right: .1rem; }
  #navbar img {
    width: 50%;
    height: 50%; }

  #wrapper {
    margin-top: 6rem; }
    #wrapper h1 {
      font-size: 5rem; } }
@media (max-width: 768px) {
  #wrapper h1 {
    font-size: 4.5rem; }

  #opportunity h1 {
    font-size: 2rem; }
  #opportunity p {
    font-size: 0.93rem; }
  #opportunity p, #opportunity h1 {
    margin-left: 3%;
    margin-right: 12%; } }
@media (max-width: 576px) {
  #wrapper h1 {
    font-size: 4rem; }

  #opportunity p, #opportunity h1 {
    margin-left: 3%;
    margin-right: 12%; } }

/*# sourceMappingURL=style.css.map */
