/********************************************************************/
/* DEFAULT															*/
/********************************************************************/
.row-fluid, .row-fluid:first-child{margin-bottom:1em;}
.row-fluid:last-child{margin-bottom:0;}

.image-container{display:block; position:relative; overflow:hidden; width:auto;}
.image-container a, .image-container img{display:block; position:relative; width:100%; height:auto;}

.label{min-width:60px; display:inline-block;}
.hide{display:none !important;}
.show{display:block !important;}

.link{text-decoration:none;}
.link:hover{text-decoration:underline;} 

.clearfix:after{clear:both; display:block; }
.no-margin{margin:0px;}

.xsmall{font-size:0.615em;}
.small{font-size:0.846em;}
.normal{font-size:1em;}	
.medium{font-size:1.231em}
.large{font-size:1.538em;}
.xlarge{font-size:1.846em;}

.float-left{float:left;}
.float-right{float:right;}
.float-none{float:none;}

.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.align-justify{text-align:justify;}

.list-bullet, .list-block{margin:0 0 1em 0;}
.list-bullet li, .list-block li{display:list-item; position:relative; }
	.list-bullet li{list-style:disc outside none; margin:0 0 0 1.2em;}
	.list-block li {list-style:none; margin:0 0 0 0;}
.list-bullet li a, .list-block li a{display:block;}

.list-float{margin:0;}
.list-float li{float:left;}
.list-float li a{display:block;}

.tab-menu{display:block; position:relative; margin-bottom:0;}
.tab-menu:after{content:""; display:block; position:relative; clear:both;}
.tab-menu li{float:left; margin:0;}
.tab-menu li a{background:#ffffff; display:block; padding:5px 15px; color:#000000;  border:1px solid #ddd; text-decoration:none;}
.tab-menu li a:hover, .tab-menu li a.active{background:#1E8CBE; color:#fff;}
.tab-container{display:none; background:#fff; border:1px solid #ddd; }

.hide{display:none !important;}
.show{display:block !important;}

.full-width{width:100%;}
.half-width{width:50%;}
.half-width:first-child{margin-right: 1.5%;}
.narrow-width{width:30%;}

.slide-menu{display: block; position: relative; width: 100%;}
.slide-title{display: block; position: relative; background-color:#ccc; border-bottom:1px solid #ddd; padding:5px; cursor:pointer; margin:0;}
.slide-content{background-color: #fafafa;}
