/********************************************************************/
/* 12 COLUMNS BOOTSTRAP												*/
/********************************************************************/

/********************************************************************/
/* THEME OPTIONS  													*/
/********************************************************************/

input.text-upload{position:relative; width:250px; margin-bottom:1em;}
.button-remove{line-height:28px;}
.simple-table td{padding:0; vertical-align:top; margin-bottom:0; line-height:1;}
li{margin-bottom:1em;}

/********************************************************************/
/* EDITOR CONTENT													*/
/********************************************************************/
.row{margin-bottom:10px;}
[class*="col"]{background:#fcfcfc; padding:10px; border:1px solid #ddd;} 