<span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
</span>

********************************************************************************************************************************

lindsay.prince@heart.org
Liane.DaMommio@heart.org
t-Courtney.Stucky@heart.org
michael.kessler@ivieinc.com

caroline.hugg@ivieinc.com
mario.gomez@ivieinc.com
tori.davila@ivieinc.com
lorena.egan@heart.org
********************************************************************************************************************************



text-decoration:underline;text-decoration-color:black;

cvsn


<span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">As a member of the council, you may be eligible to apply for the following awards:&nbsp;</span><ul>
 <li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/AwardsLectures/UCM_322581_Katharine-A-Lembright-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Katharine A. Lembright Award</span></a></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322597_Martha-N-Hill-New-Investigator-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Martha N. Hill New Investigator Award</span></a><span style="color:#000000;text-decoration:underline;text-decoration-color:black;"> </span></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322585_Mathy-Mezey-Excellence-in-Aging-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Mathy Mezey Excellence in Aging Award, sponsored by the New York University College of Nursing </span></a></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322587_Excellence-in-Clinical-Practice-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Excellence in Clinical Practice Award, sponsored by the Preventive Cardiovascular Nurses Association (PCNA) </span></a></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322589_Research-Article-of-the-Year-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Research Article of the Year Award </span></a></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322591_Clinical-Article-of-the-Year-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Clinical Article of the Year Award</span></a></span></b></u></li><li>
  <u><b><span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322593_Stroke-Article-of-the-Year-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Stroke Article of the Year Award </span></a></span></b></u></li><li>
  <span style="font-size:19px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif"><u><b><a alias="" conversion="false" data-linkto="http://" href="http://professional.heart.org/professional/MembershipCouncils/ScientificCouncils/UCM_322595_Marie-Cowan-Promising-Young-Investigator-Award.jsp" style="text-decoration:none;" target="_blank" title=""><span style="color:#000000;text-decoration:underline;text-decoration-color:black;">Marie Cowan Promising Young Investigator Award </span></a></b></u></span></li></ul><p style="color: #e31d1a; text-align: center; font-size: 21px; padding-top: 15px;">
 <b>Submit your award applications by Thursday, June 7th at 11:59 p.m. CST.</b></p>