/*! All properties are in alphabetical order, with extends/includes first

Table of contents. Search for a section to find it.

1. Site-wide styles
2. Header
3. Footer
4. Forms
*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
}

// 1. Site-wide styles



@media (max-width: 1299px){
  .grid--xl {
    display: block;

    > * {
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

body {
  @extend %baseFont;
  color: $grey-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %baseFont;
  font-weight: 600;
}

h1,
.small-header {
  color: $brand-4;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding-bottom: 0;
  padding-top: 1rem;
}

h2 {
  padding: 0;
}

h3,
.large-header {
  color: $brand-1;
  line-height: 4rem;
}

h4,
h5,
h6 {
  padding: 2.4rem 0 0;
}

a {
  &:link {
    color: $white;
  }

  &:visited {
    color: $grey-2;
  }

  &:hover,
  &:focus,
  &:active {
    color: $grey-3;
  }
}

p {
  margin-bottom: 0;
}

.btn {
  margin: 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
.large-header {
  margin: 0 1rem;
}

#main {
  a {
    color: $brand-1;

    &:visited {
      color: $black;
    }

    &:active,
    &:hover {
      color: $brand-2;
    }
  }
}

.large-header {
  font-size: 2.8rem;
  padding: .8rem 0 1.6rem;
}

.text-yellow {
  color: $brand-5;
}

.text-blue {
  color: $brand-3;
}

.text-green {
  color: $brand-4;
}

.link--secondary {
  color: $brand-1;
}

.parallax {
  // Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.relative {
  position: relative;
}

.slick-track {
	display: flex;

  .slick-slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
}

.slick-dots li button:before {
  border-radius: 50%;
  color: $grey-2;
  font-size: 20px;
  opacity: 1;
}

.slick-dots li button {
  &:active,
  &:focus,
  &:hover {
    background-color: $white;
    border-radius: 50%;
    color: transparent;
  }
}

.slick-dots li.slick-active button:before {
  background-color: $white;
  border-radius: 50%;
  color: $grey-2;
}

.quotes {
  display: none !important;
  height: 30px;
  margin: 0 1rem !important;
}

.gform_body {
  margin: 2rem;
  margin-left: 2rem !important;
}

body .gform_wrapper ul li.gfield {
  margin: 0;
}

.gform_wrapper .gform_footer {
  padding: 0 !important;
  margin: 2rem !important;
}

.page-hero {
  background-size: cover;
  position: relative;
  min-height: 60vh;

  .entry-header {
    bottom: 0;
    min-height: 120px;
    padding: 2rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;

    &::after {
      background-image: url('#{$base-url}/headerbg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      left: 0;
      opacity: .9;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  h1,
  h3 {
    color: $white;
    text-transform: uppercase;
    padding: 0 0 0 1rem;
  }
}

.hentry {
  margin: 0;
}

#secondary {
  background-color: $grey-1;
}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  width: 20%;
}

.search-field {
  font-size: 1.6rem;
}

//FREND

/* Container */
.fr-accordion {
}

/* Accordion header */
.fr-accordion--is-ready .fr-accordion__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 1rem 0;

  h4 {
    margin-left: 1rem;
    padding: 0;
  }
}

// Accordion panel
.fr-accordion--is-ready .fr-accordion__panel {
  overflow: hidden;
  transition: height .5s
}

.fr-accordion__panel[aria-hidden="true"] {
  height: 0;
  visibility: hidden;
}

.fr-accordion__panel[aria-hidden="false"] {
  visibility: visible;
}

@media screen and (min-width: 600px) {
  .text-quotes {
    display: none;
  }

  .quotes {
    display: inline !important;
  }
}

// 2. Header

header {
  height: 100px;
}

.top-bar {
  background-color: $brand-1;
  display: none;
  justify-content: flex-end;
}

.h-social {
  margin: 0 2rem;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
  }

  img {
    max-height: 15px;
  }
}

#top-bar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 1rem;

    a {
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.main-nav {
  background-color: $white;
  height: 100px;
  top: 0;
  position: relative;
  width: 100%;
  z-index: 9999;
}

.stick {
  position: fixed;
}

.site-branding {
  flex-grow: 3;
  height: 100%;
}

.navbar-brand {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#site-navigation {
  height: 100%;

  #mainmenu {
    height: 100%;

    > li {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 1rem;

      &:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,1e437f+33,1e437f+33,1e437f+100 */
        background: $white; /* Old browsers */
        background: -moz-linear-gradient(top,  $white 0%, $white 33%, $brand-1 33%, $brand-1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $white 0%, $white 33%, $brand-1 33%, $brand-1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $white 0%, $white 33%, $brand-1 33%, $brand-1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        > .sub-menu {
          left: -25vw;

          > li {
            > .sub-menu {
              > li {
                > a {
                  line-height: 1.5rem;
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }

        a {
          color: $white;
        }
      }
    }
  }
}

.mobile-navigation {
  display: flex;
  justify-content: flex-end;

  li {
    list-style-type: none;
  }

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.mobile-nav {
  background-color: $brand-1;
  display: inline;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: -100%;
  transition: all 1s;
  width: 70vw;

  #mainmenu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;

    > li {
      align-items: flex-start;
      padding: 1rem 0;
      width: 100%;

      &:hover {
        background: $brand-1;
      }

      > a {
        font-size: 2.4rem;
        line-height: 2.4rem;
        padding: 2rem 2rem 1rem;
      }
    }

    .sub-menu {
      > li {

        > a {
          color: #fdfb45;
          font-size: 2rem;
          margin-left: 1rem;
        }

        > .sub-menu {
          margin-left: 3rem;

          > li {
            > a {
              color: $white;
              font-size: inherit;
            }
          }
        }
      }
    }
  }

  #top-bar {
    flex-direction: column;

    > li {
      padding: 2rem 2rem 1rem;
      > a {
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
    }
  }
}

.is-open {
  right: 0;
  transition: all .5s;
}

.menu-toggle {
  background-color: transparent;
  display: block;
  height: 100px;
  margin: initial;
  z-index: 999;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.hamburger {
  background-color: $brand-1;
  border-radius: 0;
  display: block;
  height: 4px;
  padding: 0;
  position: relative;
  width: 4rem;

  &:hover,
  &:active,
  &:focus {
    background-color: $brand-1;
  }

  &:before {
    background-color: $brand-1;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 4rem;
  }

  &:after {
    background-color: $brand-1;
    bottom: -8px;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 4rem;
  }
}

.hamburger-top {
  background-color: $white;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
  }
}

.main-navigation {
  display: none;
  flex-direction: row;

  .menu-mainmenu-container {
    align-items: center;
    display: flex;
    flex-grow: 2;
    height: 100%;
    justify-content: flex-end;

    > ul > li > ul > li > a {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .sub-menu {
    background-color: $brand-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    top: 7rem;
    width: 150vw;

    a {
      color: $white;
    }

    li {
      padding: 1rem;
    }

    ul {
      box-shadow: none;
      flex-direction: column;
      flex-wrap: nowrap;
      left: auto !important;
      padding: 0;
      position: relative;
      top: auto;
      width: auto;

      li {
        padding: 0;
      }
    }
  }

  a {
    color: $black;
    font-size: 16px;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      color: $brand-1;
    }
  }
}

.header-free-trial {
  display: none;
  margin: 0 1rem;
}

@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .top-bar {
    display: flex;
  }

  .main-navigation {
    display: flex;
  }

  .mobile-navigation {
    display: none;
  }
}

@media screen and (min-width: 1040px) {

  .header-free-trial {
    display: initial;
  }
}

@media screen and (min-width: 1250px) {

  .top-bar,
  .main-nav {
    padding: 0 10rem;
  }
}

// 3. Footer

.footer-signup {
  justify-content: space-around;
}

#gform_1 {
  display: flex;
  flex-wrap: wrap;

  .gform_body {
    margin: 0;
    margin-left: 2rem;
  }

  #input_1_1 {
    background-color: $grey-2;
    border-radius: 0;
    width: 50% !important;
  }

  .gform_footer {
    align-self: flex-end;
  }
}

.newsletter-signup {
  flex-basis: 50%;

  .gform_wrapper .top_label .gfield_label {
    color: $black;
    font-weight: normal;
  }

  .gform_wrapper {
    margin: 0;
  }

  form {
    padding: 0;
  }
}

.free-trial {
  @extend %rowFlex;
  align-items: center;
  background-color: $brand-3;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 2rem;
  position: relative;

  h6 {
    color: $white;
    padding-top: 0;
    margin: 0 2rem;
  }

  a {
    margin: 1rem 2rem;
  }

  &:before {
    background-color: #2cb1eb;
    content: '';
    display: none;
    height: 100%;
    left: -17%;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    width: 80%;
    z-index: -1;
  }
}

.footer-links {
  @extend %bizGradient;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  p,
  a {
    color: $white;
    text-decoration: none;
  }
}

.footer-nav {
  padding: 3rem 0 0;
}

.footer-link-section {
  padding: 2rem;
}

.footer-social {
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;

  img {
    flex: initial;
    width: 100%;
  }

  a {
    align-items: center;
    display: flex;
    width: 20px;

    &:focus,
    &:hover,
    &:active {
      display: inline-block !important;
    }
  }

  img,
  a,
  .footer-line {
    padding: 0;
    margin: 0 !important;
  }

  .wrapper-small {
    padding: 0;
    max-width: 300px;
  }
}

.footer-line {
  background: rgba(121,147,189,0); /* Old browsers */
  background: linear-gradient(top, rgba(30,87,153,0) 1%, rgba(30,87,153,0) 47%, rgba(121,147,189,1) 47%, rgba(121,147,189,1) 53%, rgba(125,185,232,0) 53%, rgba(125,185,232,0) 100%);
  height: 57px;
}

@media screen and (min-width: 1000px) {
  .free-trial {
    flex-basis: 20%;

    &:before {
      display: inherit;
    }
  }
}

@media screen and (min-width: 1200px) {

  .footer-nav {
    padding: 3rem 8rem 0;
  }

  .newsletter-signup {
    margin-left: 5rem;
  }

  .free-trial {
    a {
      margin: 0 2rem;
    }
  }
}

// Forms

.gfield_label,
label {
  color: $black;
  font-weight: bold;
}

input,
.hs-input {
  font-size: 16px;
}

.hs-input {
  width: 100% !important;
}

.hs-form-field {
  margin-top: 16px;
}

.hs-error-msgs {
  li {
    label {
      color: red;
    }
  }
}

.gform_fields {
  display: flex;
  flex-wrap: wrap;

  input {
    border-radius: 0;
  }
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
  width: 90% !important;
}
