.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %baseFont;
  background-color: $brand-4;
  border: 1px solid transparent;
  color: $white !important;
  font-size: 16px;
  font-weight: bold;
  margin: 2rem 0;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $white;
    border: 1px solid $brand-4;
    color: $brand-4 !important;
  }
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &:focus,
  &:hover,
  &:active {
    background-color: $white;
    border: 0;
    color: $brand-1 !important;
  }
}

.btn--tertiary {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &:focus,
  &:hover,
  &:active {
    background-color: $white;
    border: 0;
    color: $brand-3;
  }
}

.btn--quatrinary {
  background-color: transparent;
  border: 1px solid $brand-1;
  color: $brand-1 !important;

  &:focus,
  &:hover,
  &:active {
    background-color: $brand-1;
    border: 0;
    color: $white !important;
  }
}

.btn--free-trial {
  @extend %baseFont;
  background-color: $brand-6;
  border: 1px solid transparent;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  margin: 2rem 0;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $white;
    border: 1px solid $brand-6;
    color: $brand-6 !important;
  }
}

[type='submit'],
#gform_submit_button_1 {
  background-color: $white;
  border: 1px solid $black;
  color: $black !important;
  font-size: 16px;
  font-weight: bold;
  padding: 0 2rem;

  &:hover {
    background-color: $black;
    color: $white;
  }
}
