$white: #fff;

$grey-1: #f6f6f6;

$grey-2: #d7d7d7;

$grey-3: #797777;

$black: #343434;

$true-black: #000;

$brand-1: #1e437f;

$brand-2: #3361ad;

$brand-3: #2cb1eb;

$brand-4: #70be3d;

$brand-5: #fdfb45;

$brand-6: #f3942c;
