@mixin absolute ($bottom, $left, $width) {
  bottom: $bottom;
  height: auto;
  left: $left;
  position: absolute;
  width: $width;
}

@mixin background-full ($name) {
	background: url('#{$base_url}/wp-content/themes/biznet/img/#{$name}') no-repeat center center;
	background-size: 100%;
}
