%valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%fullAbsolute {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%columnFlex {
	display: flex;
	flex-direction: column;
}

%rowFlex {
	display: flex;
	flex-direction: row;
}

%bizGradient {
  background: #1f447f; /* Old browsers */
  background: linear-gradient(to right, #3360ae 0%,#1f447f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
