@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

%baseFont {
  font-family: 'Source Sans Pro', sans-serif;
}

$font-size:   1.6rem !default;
$line-height: 2.4rem !default;
