/*.is-inside-page{
    #main{
        margin-top:162px;
        @include breakpoint(md){
            margin-top: 182px;
        }
        @include breakpoint(sm){
            margin-top: 104px;
        }
        @include breakpoint(xs){
            margin-top: 60px;
        }
    }
    &.has_sub_menu {
        #main{
            @include breakpoint(xs){
                margin-top:85px;
            }
        }
    }    
}

.error404{
    #main {
        margin-top:162px;
        @include breakpoint(lg){
            //margin-top:14%;
        }
        @include breakpoint(mu){
            //margin-top:16%;
        }
        @include breakpoint(mg){
          //  margin-top:18%;
        }
        @include breakpoint(mm){
            //margin-top:20%;
        }
        @include breakpoint(msm){
            //margin-top:20%;
        }
        @include breakpoint(md){
            //margin-top:26%; 
        }
        @include breakpoint(sm){
            //margin-top:28%; 
        }
        @include breakpoint(xs){
            //margin-top: 22%;
        }
        @include breakpoint(su){
            //margin-top: 34%;
        }
        @include breakpoint(ss){
            //margin-top: 38%;
        }

    }
}

#main{
    &.innerpages-container{
        margin-top: 162px;
        @include breakpoint(sm){
            margin-top: 160px;
        }
        @include breakpoint(xs){
            margin-top: 100px;
        }
        &.safe-events{
            margin-top: 0px;
        }
    }
    position: relative;
    overflow: hidden;
    margin-top:132px;
    @include breakpoint(xs){
        margin-top: 100px;
    }
    .page{
        margin:10px 0px 10px;
        @include breakpoint(md){
            margin:0px 0px 0px;   
        }
        @include breakpoint(sm){
            margin:0;    
        }
        @include breakpoint(xs){
            margin: 0px 0px 0px;    
        }

    }

    #left-sidebar-container{
        padding: 0px 0px;
        text-align: right;
        margin-top: 0px;
        ul{
            padding:0px;
            margin:0px;
            li{

                margin:0 0 10px 0;
                &:nth-child(2){
                    margin:0px;
                }
                .so-widget-sow-image{
                    display:inline-block;
                    text-align: left;
                    img{
                        width:97%;
                    }
                    .so-widget-image{
                        width:97%;
                        @include breakpoint(md){
                            width:96% !important;
                        }

                    }
                }
                .so-widget-sow-editor{
                    text-align:left;
                    @include breakpoint(md){
                        width: 98%;
                    }
                    iframe{
                        width:97%;

                    }
                }
                &:before{
                    width:0px;
                    height:0px;
                    background: none;
                }

            }
        }
    }
    .mobile_sidebar{
        margin-top:30px;
        #left-sidebar-container_mobile{

            ul{
                margin:0px;
                padding:0px;
                li{
                    line-height:0px;
                    &:before{
                        width:0px;
                        height:0px;
                        background: none;
                    } 
                }
            }
        }
    }

    #primary {
        padding: 22px 40px 7px;
        padding:0px 0 12px;
        width: 100%;
        height: 100%;
        display: inline-block;
        @include breakpoint(md){
            padding: 0px 0px;

        }
        @include breakpoint(sm){
            padding: 0px 0px;
            .entry-title{
                padding:0px;
            }
        }
        @include breakpoint(xs){
            padding:0px;
        }
        &.blog-detail{
            padding: 20px 40px 7px;
            @include breakpoint(xs){
                .entry-header{ 
                    .entry-title{
                        font-size: 36px;
                    }
                }
            }

        }


    }

    .entry-header{ 
        .entry-title{
            font-family: $secondaryfont;
            font-family: $fontfamily;
            text-transform: capitalize;
            text-align: left;
            font-weight: $bold;
            margin:0px;
            line-height: 24px;
            font-style: normal;
            &:after{
                font-size:0px;
            }
            @include breakpoint(sm){
                font-size: 27px;
                padding-left: 20px;
                line-height: 16px;
            }

            @include breakpoint(xs){
                font-size: 26px;
                line-height: normal;
                margin:0px auto 0px;
                text-align: center;
            }
        }
        .enter-heading{
            font-size:35px;
            font-family: $fontfamily;
            color: $primarycolor;
            margin-top:1px;
            text-transform: uppercase;
            margin-bottom:5px;
            text-align: left;
            font-weight: $normal;
            @include breakpoint(sm){
                font-size: 30px;
                margin-bottom: 5px;
                font-size: 27px !important;
                padding:13px 30px 0 0px;
                height:50px;
            }
            @include breakpoint(xs){
                text-align: center;
                margin-top:0px;
                margin-bottom:0px;
                font-size: 20px !important;
                padding: 8px 0px 0 0px;
                height: 38px;
            }
        }
    }


    .main-content {
        position: relative;
        padding:0px;
        min-height:486px;
        height: 100%;
        margin:37px 0 0px;
        width: 100%;
        overflow: hidden;
         background-color: $contentclr;
                @include borderradius(20px);
        @include border-top-right-radius(0px);
        @include boxshadow(0px 2px 12px 0px rgba(0,0,0,0.4));
        @include breakpoint(mg){
            min-height: 418px;
        }
        @include breakpoint(mc){
            min-height: 100%;
        }
        @include breakpoint(md){
            min-height:100%; 
            margin:0px 0 0px;
        }
        @include breakpoint(sm){
            margin:0px;

        }
        .entry-content {
            p{
                line-height: 25px;
                color: $darksecondclr;
                font-size:18px;
                @include breakpoint(xs){
                    font-size:16px;

                }
                a{
                    color: #FEBF93;
                    @include transition(0.3s);
                    cursor:pointer;

                    @include breakpoint(xs){
                        display: block;

                    }


                    &:hover{
                        color: $darksecondclr;
                        @include transition(0.3s);
                    }

                }
            }
            ol, ul{
                li{
                    a{
                        color: $secondarycolor;
                        @include transition(0.3s);
                        &:hover{
                            color: $darksecondclr;
                            @include transition(0.3s);

                        }

                    }
                }
            }



        }

        @include breakpoint(xs){
            width: 100%;
            padding: 0px;
            margin:0px 0 0px;
            min-height: auto;
        }
    }



    .wpb_content_element {
        margin-bottom : 20px !important;
        &.no-margin{
            margin: 0px !important;
        }
    }

    ul{
        list-style-type:disc;
        padding-left: 36px;
        li{

        }
    }
    ol{
       padding-left: 36px;
       margin: 0 0 1.5em;
       @include breakpoint(xs){
           margin-bottom: 0;
       }
    }
}

.home{
    .page-builder-content{
        padding:0px 0px 0px;
        .panel-layout{
            background:none;
            margin:40px 0 0;
            @include boxshadow(0px 0px 0px 0px rgba(0,0,0,0.4));
            padding:0;
            @include breakpoint(sm){
                text-align: center;
                margin: 0px 0 0;
            }
            @include breakpoint(xs){
                margin: 0px 0px 0px;
                text-align: center;
            }
            .widget_media_image{
                img{
                    @include borderradius(20px);
                }
            }
        }

    }   
}
.page-builder-content{
    padding: 10px 0px 0px;
    margin: 40px 0;


    .embed-responsive{
        margin-top: 20px;
    }
    .panel-layout{



    }
    @include breakpoint(xs){
        text-align: center;
        padding: 0px 0px 0px;
        width: 99%;
        margin-left: 1%;
    }
    p{
        color:$hovercolor;
    }

}

.is-active{
    height: 60px;
    .ajax-loader{
        visibility: visible !important;
    }
    .button-send{
        font-size: 0px !important;
    }
    .fa{
        font-size: 0px !important;
    }
}
.widget_media_image{
    img{
        @include borderradius(20px);
    }
}
.our-team-page{

    .page-builder-content{
        .panel-layout{
            margin: 0px 0;
            @include breakpoint(md){
                padding: 30px 50px;
            }
            @include breakpoint(sm){
                padding: 10px 0px;
            }
            @include breakpoint(xs){
                padding: 20px 20px;
            }
            .widget_sow-image{
                @include breakpoint(sm){
                    text-align: center;
                }
                img{
                    @include borderradius(50%);
                    @include breakpoint(sm){
                        display: inline-block;
                    }
                }
            }
            .widget_sow-editor{
                margin: 0px 0px 0px;


            }
            .panel-grid-cell{

            }   }

        @include breakpoint(sm){
            .so-widget-sow-image{
                .sow-image-container img{
                    width: auto !important;
                    height: auto !important;
                }
            }

        }
        @include breakpoint(xs){
            .so-widget-sow-image{
                text-align: center;
                .sow-image-container img{
                    display: inline-block !important;
                    width: auto !important;
                    height: auto !important;
                }
            }

        }
        @include breakpoint(sm){
            margin-top: 0px;
            text-align: center;
        }
    }
}
@include breakpoint(sm){
    .so-widget-sow-image{
        .sow-image-container{
            text-align: center;
            img{
                width: 100% !important;
                height: 100% !important;
                display: inline-block !important;
                @include borderradius(15px);
            }
        }
    }

}
@include breakpoint(xs){
    .so-widget-sow-image{
        text-align: center;
        .sow-image-container img{
            display: inline-block !important;
            width: 100% !important;
            height: 100% !important;
            border-radius: 0;
        }
    }

}

.our-team-page{
    #main-container{
        margin-top:30px;
        @include breakpoint(xs){
            margin-top:60px;
        }
    }
    .ow-button-hover{
        padding: 1em 1em !important;
        background:#b2121a !important;
        @include transition1( all, ease, 0.3s);
        @include breakpoint(xs){
            padding: 0.6em 0em !important; 
        }
        span{
            font-family:$fontfamily;
            font-weight: $bold;
            @include breakpoint(xs){
                font-size: 15px;
            }
            @include breakpoint(ss){
                font-size: 15px;
            }

        }
        @include breakpoint(xs){
            padding: 20px 10px;
            font-size: 16px;
        }
        @include breakpoint(ss){
            padding: 20px 10px;
            font-size: 15px;
        }
        &:hover{
            background-color: #CC1F30 !important;
            border-bottom-color: #64050a !important;
        }

    }
}

.ow-button-base{
    a{
        @include transition(0.3s);
        background: #b2121a !important;
        padding: 1em 1em !important;
        border:1px solid #64050a !important;
        width: 100%;
        margin:1% 0;
        @include border-top-left-radius(30px !important);
        @include border-top-right-radius(30px !important);
        @include border-bottom-left-radius(30px !important);
        @include border-bottom-right-radius(30px !important);
        font-family: $fontfamily;
        @include breakpoint(xs){
            padding: 1em 0em !important;
        }

        &:hover{
            @include transition(0.3s);
            background: #CC1F30 !important;
        }
    }
} 
.ow-button-hover{
    font-family: $fontfamily;
    @include transition(0.3s);
    background-color: #b2121a !important;

    padding: 1em 1em;

    &:hover{
        @include transition(0.3s);
        background-color: #CC1F30 !important;
    }
}
.row_content{
    padding-left:35px;
    margin-top: 30px;
    @include breakpoint(sm){
        padding-left: 15px;
        margin-top: 15px;
    }
    @include breakpoint(xs){
    }
}
.inner_banner_content{
    .slider-content-container{
        .entry-header{
            .enter-heading{
                padding: 51px 30px 0 30px;
                color:$primarycolor;
                font-size: 36px !important;
                @include breakpoint(mc){
                    padding: 31px 30px 0 30px;
                    font-size: 36px !important;
                }
                @include breakpoint(md){
                    padding:10px 30px 0 30px;
                    font-size: 26px !important;
                }
            }
        }
    }
    @include breakpoint(xs){
        padding:0px;
    }
}
.book-appointment{
    @include breakpoint(xs){
        padding:0px;
    }  
}
.page-template-page-contact{
    .enter-heading{
        @include breakpoint(xs){
            text-align: center !important;
        }
    }

    #main{
        .main-content{
            height: auto;
            min-height: 100%; 
            #outer-banner{
                height: auto;
                .inside_banner_image{
                    height: auto;
                    @include breakpoint(xs){
                        margin: 10px 0 0px;
                    } 
                }
            }
        }
    }
}
.page-template-page-appointment{
    #main{
        .main-content{
            height: auto;
            min-height: 100%; 
            height: auto;

            #outer-banner{
                height: auto;
                .inside_banner_image{
                    height: auto;
                    @include breakpoint(xs){
                        margin:10px 0 0px;
                    } 
                }
            }

        }
    }
    .enter-heading{
        @include breakpoint(xs){

        }
    }
}
.elementor{
    width:100%;
    float:left;
    @include breakpoint(xs){
        padding: 0 15px;
    }
}*/