footer{
    .footer-section{
        text-align: center;
        .footer_logo{
            img{

            }
        }
        .footer-address{
            a{
                color: #606060;
            }
            ul{
                list-style: none;
                li{
                    color: #606060;
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 0;
                }
            }
        }
        .footer-socialicons{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 25px;
                    a{
                        color: #606060;
                        font-size: 16px;
                        .fa{
                            -webkit-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                            &:hover{
                                opacity: .7;
                                -webkit-transition: all 0.3s linear;
                                -moz-transition: all 0.3s linear;
                                -ms-transition: all 0.3s linear;
                                -o-transition: all 0.3s linear;
                                transition: all 0.3s linear;
                            }
                        }
                    }
                }
            }
        }
        .footersec1{
            padding-right: 50px;
            @include breakpoint(xs){
                padding-right: 0;
            }
        }
        .footersec1, .footersec2{
            display: inline-block;
            vertical-align: middle;
        }
        .termsconditions{
            background-color: $blue;
            padding: 20px;
            p{
                font-size: 12px;
                color: #e6e7e8;
                line-height: 27px;
                margin-bottom: 0;
                font-weight: normal;
                a{
                    color: #e6e7e8;
                }
            }
        }
    }
}