.overlay {
    background: #040b0a;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;
}

.bh_homebanner {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    bottom: 0px;
    &.inner_bh_banner{
        height: 100%;
        min-height: inherit;
        @include breakpoint(sm){
            min-height: inherit;
        }
        .inner_baner_img{
            height: 100%;
            min-height: 438px;
            background-size: cover;
            background-position: center;
            @include breakpoint(md){
                background-size: cover;
            }
            @include breakpoint(xs){
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .banner-title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            width: 100%;
            margin: 0 auto;
            text-align: center;
            .entry-header{
                h3{
                    color: #ffffff;
                    font-size: 48px;
                    font-family: "Domine", serif;
                    @include breakpoint(xs){
                        font-size: 32px;
                    }
                }
            }
        }
    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){

    }
    @include breakpoint(xs){
        min-height:80vh;

    }

    @include breakpoint(6s){
        min-height: 84vh;
    }
    @include breakpoint(andriod){
        min-height:85vh;


    }
    @include breakpoint(ss){
        /*min-height: 450px;*/
        min-height:80vh;
    }

}
