#sidebar{
    border-top: none;
    @include border-bottom-left-radius(30px);
    @include border-bottom-right-radius(30px);
    /*@include border-top-right-radius(0px);*/
    border-top: none;
    position: relative;
    padding: 20px;
    top: -136px;
    z-index: 201;
    width:100%;
    margin-top:0px;
    border-top:2px solid #DBD9DA;
    @include boxshadow(1px -1px 11px 0px rgba(0, 0, 0, 0.2));
    background:rgba($primarycolor,0.9);
/*background: -moz-linear-gradient(top, #fff 24%, #dadde2 84%);
background: -webkit-linear-gradient(top, #fff 24%,#dadde2 84%);
background: linear-gradient(to bottom, #fff 24%,#dadde2 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#dadde2',GradientType=0 );*/
@include transition1( all, ease, 0.8s);

/*&:hover{
    background: -moz-linear-gradient(top, #dadde2 24%, #fff 84%);
background: -webkit-linear-gradient(top, #dadde2 24%,#fff 84%);
background: linear-gradient(to bottom, #dadde2 24%,#fff 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadde2', endColorstr='#fff',GradientType=0 );
@include transition1( all, ease, 0.8s);
}*/ 
@include breakpoint(mc){
        top: -102px;
}
@include breakpoint(md){
     padding:5px 10px 20px 15px;
     min-height: auto;
     width: 99.9%;
     top: -65px;
}
@include breakpoint(sm){
        padding: 10px 10px 20px 10px;
        min-height: auto;
        top: -67px;
        width: 100%
}

#sidebar-menu-container, #left-sidebar-container{
        margin-bottom:0px;
        @include breakpoint(sm){
            margin-bottom:0px;
        }
        li{
            list-style-type:none;
        }
        .widget_sow-image{
            margin-bottom: 10px;
        }
        /*@include breakpoint(md){
             margin-bottom:0px;
        }
        @include breakpoint(sm){
             margin-bottom:0px;
        }*/
        .sidebar-label{
            padding-top:30px;
            color: $gray;
            font-size: 24px;
            font-family: $fontfamily;
            font-weight: $normal;
            position: relative;
            text-transform: uppercase;
            position: relative;
        }

        .sidebar-menu, .widget_nav_menu{
            list-style: none;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    padding: 0px 0px 0px 15px;
                    line-height: normal;
                    border-bottom: 1px solid $hovercolor;
                    @include transition1(all, linear, 0.3s);
                    a{
                        display: block;
                        font-size: 16px;
                        text-decoration: none;
                        padding:13px 15px;
                        margin: 0;
                        text-align: left;
                        font-weight:500;
                        font-family: $fontfamily;
                        position: relative;
                        color: $selectcolor;
                        text-transform: uppercase;
                        @include transition1(all, linear, 0.3s);
                        @include breakpoint(md){
                               padding: 13px 6px;
                           
                        }
                        @include breakpoint(sm){
                            /*letter-spacing: -1px;*/
                                padding: 3px 6px;
                            
                        }
                        


                    }
                    &:hover{
                        a{	
                            color: $hovercolor;
                            @include fadeincolor;
                             @include breakpoint(md){
                                @include fadeincolor(0s);
                                @include transition1(all, linear, 0.3s);
                                
                            }

                            
                        }
                        &.current-active-item, &.current_page_item{
                            a{	
                                color: $hovercolor;
                                
                            }
                        }
                    }
                    &:before{
                       display:none;
                    }

                    &.current-active-item, &.current_page_item{
                        &:hover{
                            color: #000;
                            font-size: 50px;
                            transition: 0.3s ease;
                        }
                        a{	
                            color: $hovercolor;
                            
                        }
                    }
                    &:last-child{
                        border-bottom:0px solid #7c7d82;
                            margin-bottom: 25px;
                            @include breakpoint(md){
                                margin-bottom: 0px;
                            }
                            @include breakpoint(sm){
                                margin-bottom: 6px;
                            }
                    }
                    
                }
            }
        }
    }


    @include breakpoint(md){
        #sidebar-menu-container, #left-sidebar-container{
            .sidebar-label{
                padding-top:25px;
                color: $gray;
                font-size: 20px;
            }
            .sidebar-menu, .widget_nav_menu{
                ul{
                    li{
                        padding: 6px 0px 5px 6px;
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(sm){

        #sidebar-menu-container, #left-sidebar-container{
            .sidebar-label{
                font-size: 18px;
            }
            .sidebar-menu, .widget_nav_menu{
                ul{
                    li{
                        padding: 6px 0px 5px 2px;
                        a{
                            font-size: 12px;
                            padding-top:0px;
                        }
                    }
                }
            }
        }
    }
}