.audioplayer
{
  height: 35px;
  margin-bottom: 10px;
  color: #472933;
  padding-top: 5px;
  position: relative;
  z-index: 1;
  background: rgba(107, 58, 69,.8);
  font-family: 'Rokkitt', serif;
  font-size: 18px;
  color: white;
  #title {
	  width: auto;
	  margin-left: 45px;
	  top: 2px;
	  font-size: 22px;
  }
  .audioplayer {
	  background: transparent;
  }
  .btn-audioplayer {
	  position: absolute;
	  color: white;

	  &:hover {
		  color: #e670aa;
		  text-decoration: none;
	  }
  }
  .btn-lyrics {
	  right: 20px;
  }
  .btn-video {
	  right: 80px;
  }

}
.audioplayer-mini {
  width: 2.5em;
  margin: 0 auto;
}
.audioplayer > div
{
  position: absolute;
}
.audioplayer-playpause {
  width: 2.5em;
  height: 50px;
}
.audioplayer-mini .audioplayer-playpause {
  width: 100%;
}
.audioplayer-playpause a {
  display: block;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid;
  border-left-color: #e670aa;
  content: '';
  position: absolute;
  top: 10px;
  left: 18px;
  margin: -0.5em 0 0 -0.25em; /* 8 4 */
}
.audioplayer-playing .audioplayer-playpause a {
  border: none !important;
  width: 0.75em !important; /* 12 */
  height: 0.75em !important; /* 12 */
  position: absolute !important;
  margin: 0.5em 0 0 0.8em !important; /* 6 */
}
.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
  width: 40% !important;
  height: 100% !important;
  background-color: #996778 !important;
  content: '';
  position: absolute !important;
  top: 0 !important;
}
.audioplayer-playing .audioplayer-playpause a:before {
  left: 0 !important;
}
.audioplayer-playing .audioplayer-playpause a:after {
  right: 0 !important;
}
.audioplayer-time {
  display: none;
}
.audioplayer-time-current {
  border-left: 1px solid #111;
  border-left-color: rgba( 0, 0, 0, .25 );
  left: 2.5em;
}
.audioplayer-time-duration {
  border-right: 1px solid #555;
  border-right-color: rgba( 255, 255, 255, .1 );
  right: 3.5em;
}
.audioplayer-novolume .audioplayer-time-duration {
  border-right: 0;
  right: 0;
}
.audioplayer-bar {
  height: 0.875em; /* 14 */
  background-color: #ccc;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  right: 6.875em; /* 110 */
  left: 6.875em; /* 110 */
  margin-top: -0.438em; /* 7 */
}
.audioplayer-novolume .audioplayer-bar {
  right: 4.375em; /* 70 */
}
.audioplayer-bar div {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.audioplayer-bar-loaded {
  background-color: #888;
  z-index: 1;
}
.audioplayer-bar-played {
  background: #007fd1;
  background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) );
  background: -webkit-linear-gradient( left, #007fd1, #c600ff );
  background: -moz-linear-gradient( left, #007fd1, #c600ff );
  background: -ms-radial-gradient( left, #007fd1, #c600ff );
  background: -o-linear-gradient( left, #007fd1, #c600ff );
  background: linear-gradient( left, #007fd1, #c600ff );
  z-index: 2;
}
.audioplayer-volume {
  width: 2.5em; /* 40 */
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
  display: none !important;
}
.audioplayer-volume:hover,
.audioplayer-volume:focus {
  background-color: #ccc;
}
.audioplayer-volume-button {
  display: none !important;
}
.audioplayer-volume-button a {
  width: 0.313em; /* 5 */
  height: 0.375em; /* 6 */
  background-color: #996778;
  display: block;
  position: relative;
  z-index: 1;
  top: 40%;
  left: 35%;
}
.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
  content: '';
  position: absolute;
}
.audioplayer-volume-button a:before {
  width: 0;
  height: 0;
  border: 0.5em solid transparent; /* 8 */
  border-left: none;
  border-right-color: #996778;
  z-index: 2;
  top: 50%;
  right: -0.25em;
  margin-top: -0.5em; /* 8 */
}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
  width: 0.313em; /* 5 */
  height: 0.313em; /* 5 */
  border: 0.25em double #996778; /* 4 */
  border-width: 0.25em 0.25em 0 0; /* 4 */
  left: 0.563em; /* 9 */
  top: -0.063em; /* 1 */
  -webkit-border-radius: 0 0.938em 0 0; /* 15 */
  -moz-border-radius: 0 0.938em 0 0; /* 15 */
  border-radius: 0 0.938em 0 0; /* 15 */
  -webkit-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  -o-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
.audioplayer-volume-adjust {
  height: 6.25em; /* 100 */
  cursor: default;
  position: absolute;
  left: 0;
  right: -1px;
  top: -9999px;
  background: #ccc;
  background: -webkit-gradient( linear, left top, left bottom, from( #ccc ), to( #888 ) );
  background: -webkit-linear-gradient( top, #ccc, #888 );
  background: -moz-linear-gradient( top, #ccc, #888 );
  background: -ms-radial-gradient( top, #ccc, #888 );
  background: -o-linear-gradient( top, #ccc, #888 );
  background: linear-gradient( top, #ccc, #888 );
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  opacity: 0;
}
.audioplayer-volume:hover .audioplayer-volume-adjust {
  top: auto;
  bottom: 100%;
}
.audioplayer-volume-adjust > div {
  width: 40%;
  height: 80%;
  background-color: #222;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 30% auto 0;
}
.audioplayer-volume-adjust div div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #007fd1;
  background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) );
  background: -webkit-linear-gradient( bottom, #007fd1, #c600ff );
  background: -moz-linear-gradient( bottom, #007fd1, #c600ff );
  background: -ms-radial-gradient( bottom, #007fd1, #c600ff );
  background: -o-linear-gradient( bottom, #007fd1, #c600ff );
  background: linear-gradient( bottom, #007fd1, #c600ff );
}
.audioplayer-novolume .audioplayer-volume {
  display: none;
}
.audioplayer-play,
.audioplayer-pause,
.audioplayer-volume a {
  -webkit-filter: drop-shadow( 1px 1px 0 #000 );
  -moz-filter: drop-shadow( 1px 1px 0 #000 );
  -ms-filter: drop-shadow( 1px 1px 0 #000 );
  -o-filter: drop-shadow( 1px 1px 0 #000 );
  filter: drop-shadow( 1px 1px 0 #000 );
}
.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.audioplayer-bar,
.audioplayer-volume-adjust > div {
  -webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
  -moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
  box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
}
.audioplayer-volume-adjust div div,
.audioplayer-bar-played {
  -webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
  -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
  box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
}
.audioplayer-volume-adjust {
  -webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
  -moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
  box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
}
.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
  -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a:hover { border-left-color: rgba(255, 255, 255, .9)  !important; }
.audioplayer-playing .audioplayer-playpause a:before, .audioplayer-playing .audioplayer-playpause a:after{
  background-color: rgba(255, 255, 255, .6) !important;
}

.track:hover .audioplayer {
  //background-color: rgba(106,61,77,.9) !important;
}
.audioplayer > div {
  position: absolute;
  top: 3px;
}
.audioplayer-bar {
  display: none !important;
}
@media screen and (max-width: 320px) {
	.audioplayer {
		height: 55px;

		.btn-audioplayer {
			top: 25px;
		}

		.btn-video {
			right: 140px;
		}
		.btn-lyrics {
			right: 80px;
		}
	}
}
