/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flexslider.eps img { width: auto !important;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.eps .slides { margin-left: 0px;}
.flex-photos .flex-control-nav, .flex-videos .flex-control-nav { display: none !important;}
.no-js .slides > li:first-child {display: block;}
.flexslider { margin: 0 0 60px; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { 
  display: block; 
  width: 28px; height: 28px;  
  margin: -20px 0 0; 
  position: absolute; 
  top: 50%; z-index: 10; 
  overflow: hidden; opacity: 0; 
  cursor: pointer; 
  background: url('../images/arrows_left_right.png') right top no-repeat !important;
  -webkit-transition: all .3s ease; 
  -moz-transition: all .3s ease; 
  transition: all .3s ease; 
  text-indent: -99999px; 
  }
.flex-videos .flex-direction-nav a {
  top: 35%; 
}
.flex-direction-nav .flex-prev { margin-left: -30px; background: url('../images/arrows_left_right.png') left top no-repeat !important;}
.flex-direction-nav .flex-next { margin-right: -10px;  }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block;  }
.flex-control-nav {width: 100%; margin-top: 20px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
  width: 12px; 
  height: 12px; display: block;  
  cursor: pointer; text-indent: -9999px; 
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  -o-border-radius: 50%; 
  border-radius: 50%; 
  background: #fff;
}
.flex-control-paging li a:hover { background: #9df5f8;}
.flex-control-paging li a.flex-active {  cursor: pointer; background: #9df5f8; }
.eps .flex-control-paging li a {
  width: 9px;
  height:9px;
  background: rgba(255, 255, 255, .3);
}
.eps .flex-control-paging li a:hover { background: #fff;}
.eps .flex-control-paging li a.flex-active {  cursor: pointer; background: #fff; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}