@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?z6cuek');
	src:url('../fonts/icomoon.eot?#iefixz6cuek') format('embedded-opentype'),
		url('../fonts/icomoon.woff?z6cuek') format('woff'),
		url('../fonts/icomoon.ttf?z6cuek') format('truetype'),
		url('../fonts/icomoon.svg?z6cuek#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin font-sacramento {
  font-family: 'Sacramento', cursive;
}

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-pinterest:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-youtube:before {
	content: "\e604";
}
.icon-checkbox-checked:before {
	content: "\e605";
}
.icon-checkbox-unchecked:before {
	content: "\e606";
}
.icon-wordpress:before {
	content: "\e607";
}
.icon-arrow-down:before {
	content: "\e608";
}
.icon-arrow-up:before {
	content: "\e609";
}

@mixin thumbnail-title {
	font-size: 13px !important;
	text-transform: uppercase;
	width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,1+39,0.7+99,0.7+99,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,0.7) 100%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0.7) 100%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0.7) 100%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  color: white;
  margin: 0;
}
@mixin thumbnail-title-hover {
	background: -moz-linear-gradient(top,  rgba(214,90,156,1) 0%, rgba(214,90,156,1) 39%, rgba(214,90,156,0.7) 100%, rgba(214,90,156,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(214,90,156,1) 0%,rgba(214,90,156,1) 39%,rgba(214,90,156,0.7) 100%,rgba(214,90,156,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(214,90,156,1) 0%,rgba(214,90,156,1) 39%,rgba(214,90,156,0.7) 100%,rgba(214,90,156,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d65a9c', endColorstr='#d65a9c',GradientType=0 ); /* IE6-9 */
}