@media screen and (max-width: 768px) {
  /********************** !GENERAL STYLES ************************/
  .container {
    padding-top: 0;
  }
  .content.no-header,
  .container.no-header {
    margin-top: 30px !important;
  }
  .left-paragraph {
    width: 95%;
    margin: 0;
    float: none;
  }
  .form-contact {
    margin-top: 10%;
    width: 95%;
    float: none !important;
    margin: 0 auto;
  }
  .title-mobile {
    margin-top: -55%;
    position: absolute;
    max-width: 50%;
    right: 0;
  }
  .free-download {
    text-align: left;
  }
  .free-download-float {
    float: none !important;
  }

  body.page-template-page-templatesfree-download-php,
  body.page-template-page-templatesfree-download-thanks-php,
  body.page-template-page-templatescontact-thanks-php {
    width: 100%;
    background: #eceeed url(../images/mobile-bg.jpg) top repeat-y;
  }
  div.content {
    padding: 0;
    width: 100%;
    margin-top: 0;
    overflow: auto;
  }
  div.content p {
    color: #492933;
  }
  h1 {
    font-size: 50px;
  }
  div.content h3 {
    font-size: 2em;
  }
  position {
    font-size: 0.9em;
  }
  #mobile {
    display: block;
  }
  .backstretch {
    display: none;
  }
  object {
    max-width: 100%;
    height: auto;
  }
  div#SmartPlayer_0 {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  #main-content.no-sidebar {
    max-width: 90%;
  }
  /********************** !END GENERAL STYLES ************************/
  /********************** !HOME STYLES ************************/
  #home-right {
    margin: -225px 0 10px;
    padding: 235px 0 0;
    width: 100%;
    background-size: 233px auto;
    background-position: 95% 4px;
  }
  #home-left {
    height: auto;
    margin: 0 auto;
  }
  #home-container object {
    display: none;
  }
  #twitter-bubble {
    margin: 0;
    padding: 0;
  }
  #twitter-bubble {
    clear: both;
  }
  #home-right p {
    padding: 15px;
    margin: 0;
    color: #492933;
  }
  #home-left {
    float: none;
  }
  #btn_now_available {
    display: none;
  }
  #home-bottom {
    margin: 0;
  }
  #album {
    clear: both;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
  }
  #album-cover-home {
    margin: 0 auto;
    display: block;
  }
  #albumHover {
    display: none;
  }
  #album:hover {
    background: none;
  }
  #header-image-mobile,
  #header-image-mobile img,
  .header-mobile {
    width: 100%;
    height: 237px;
    display: block;
  }
  .header-mobile {
    height: auto;
    margin-top: 50px;
  }
  #videoHover {
    text-align: center;
    width: auto;
    float: none;
  }
  .left-paragraph a,
  .left-paragraph hr {
    color: #492933 !important;
  }
  #video-home {
    margin: 0 auto;
    clear: both;
    text-align: center;
  }
  #animation {
    display: none;
  }
  #video-home {
    float: none;
    max-width: 100%;
  }
  .bg-slideshow,
  .bg-slideshow:after {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-indent: -9999px;
    background-color: #000;
  }
  .bg-slideshow li span {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
  }
  /********************** !END HOME STYLES ************************/
  /********************** BIO STYLES ************************/
  #about-left {
    display: none;
  }
  .page-template-page-templatesbio-php .content {
    overflow: visible;
  }
  #about-right {
    margin-top: 50px;
    padding: 10px;
    float: none;
  }
  #about-paragraph {
    text-align: center;
    width: 100%;
  }
  #about-left {
    float: none;
  }
  #about-paragraph {
    height: auto;
  }
  /********************** !END BIO STYLES ************************/
  /********************** Media STYLES ************************/
  #menu {
    display: none !important;
  }
  #photos-Nav {
    z-index: 0;
  }
  #media-Nav {
    display: none;
  }
  #trythis,
  .media-nav-animation {
    display: none;
  }
  body.page-template-page-templatesmedia-php .section-content {
    width: 90%;
    margin: 0 auto;
  }
  .page-template-page-templatesmedia-php .slicknav_menu,
  .page-template-page-templatesphotos-php .slicknav_menu {
    display: block;
    position: fixed;
    width: 100%;
  }
  .content.music.dark-bg {
    margin-top: 80px !important;
  }
  .page-template-page-templatesmedia-php div.content p,
  .page-template-page-templatesmedia-php div.content h3 {
    color: #fff;
  }
  .media-right,
  .media-left {
    width: 100%;
    float: none;
    text-align: center;
    @media screen and (max-width: 768px) {
    	margin-bottom: 25px;
    }
  }
  #album-Description {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .page-template-page-templatesmedia-php .ca-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding-bottom: 70;
  }
  .page-template-page-templatesmedia-php .ca-wrapper {
    width: 275px;
    margin: 0 auto;
  }
  .audioplayer #title {
    width: auto;
  }
  .flex-control-paging li a:hover {
    background: #9df5f8 !important;
  }
  .flex-control-paging li a.flex-active {
    cursor: pointer;
    background: #9df5f8 !important;
  }
  .eps .flex-control-paging li a {
    background: #492933 !important;
  }
  .flex-videos .flex-control-paging li a {
    background: #492933 !important;
  }
  .flex-videos .flex-control-paging li a:hover {
    background: #9df5f8 !important;
  }
  .flex-videos .flex-control-paging li a.flex-active {
    background: #9df5f8 !important;
  }
  .eps .flex-control-paging li a:hover {
    background: #9df5f8 !important;
  }
  .eps .flex-control-paging li a.flex-active {
    cursor: pointer;
    background: #9df5f8 !important;
  }
  #theAudio {
    min-height: 0 !important;
    width: 80%;
  }
  /********************** !END MEDIA STYLES ************************/
  /********************** News STYLES ************************/
  .blog-title h1 {
    color: #492933 !important;
    text-shadow: none;
  }
  #main-content {
    width: 98%;
    float: none;
  }
  #events-title,
  #blog-aside {
    width: 98% !important;
  }
  #blog-aside {
    margin-top: 20px;
  }
  #main-content iframe,
  #main-content p,
  #main-content img {
    max-width: 100%;
    height: auto;
  }
  /********************** !END news STYLES ************************/
  /********************** Photos STYLES ************************/
  #necklace {
    display: none;
  }
  #photos-title {
    width: 100%;
  }
  .page-template-page-templatesphotos-php .content {
    margin-top: 70px !important;
  }
  .ca-item-odd h3 {
    padding-left: 30px !important;
  }
  .page-template-page-templatesphotos-php .ca-container {
    width: 90%;
  }
  .page-template-page-templatesphotos-php .flex-direction-nav .flex-next {
    right: 18px !important;
  }
  .page-template-page-templatesphotos-php iframe {
    max-width: 100% !important;
  }
  /********************** !END PHOTOS STYLES ************************/
  a.events-toggle {
    margin: 35px 10px 10px;
  }
  /********************** BLOG STYLES ************************/
  .blog-title {
    margin-top: 30px;
  }
  .blog-title h1 a {
    font-family: 'Shadows Into Light', cursive;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: normal;
    color: #492933;
  }
  #free-download {
    display: block;
    text-align: center;
    width: auto;
    float: none;
    margin-left: auto;
  }
  /********************** !END BLOG STYLES ************************/
}
/* End of Meda Query*/
@media screen and (max-height: 700px) {
  #menu {
    display: none !important;
  }
  #media-Nav {
    display: none;
  }
  #trythis,
  .media-nav-animation {
    display: none;
  }
}
