html, body, div, a, img {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

#banner {
  position: relative;
  width: 158px;
  border: 1px solid black;
  overflow: hidden;
  opacity: 0;
  height: 598px;
}
div {
  position: relative;
}
#main-links {
  position: absolute;
  height: 100%;
  width: 100%;
}
#opener {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  z-index: 900;
}
#rotator {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
#rotator img {
  position: absolute;
  transform: translateX(160px);
}
#controls{
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 900;
  opacity: 0;
}
#btnNext{
  color: #ffffff;
  position: absolute;
  right: 5px;
  transform: translateX(-50%);
  display: none;
}
#btnNext:active, #btnNext:focus {
  color: #ffffff;
}
