<style type="text/css">
  p, h1, h2, h3, h4, h5, h6{
    font-family: lato;
  }
</style>

<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
    <tr>
        <td align="center" valign="top" width="5%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" class="leftColumnContent">
                        <h2>ABOUT US</h2>
                    </td>
                </tr>
                <tr>
                    <td class="leftColumnContent">
                        <img src="http://placekitten.com/g/180/200" class="columnImage" />
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="center" width="40%" class="templateColumnContainer">
            <table border="0" cellpadding="5" cellspacing="0" width="100%">
                <tr>
                    <td class="centerColumnContent">
                    </td>
                </tr>
                <tr>
                    <td class="centerColumnContent">
                        <h3 style="padding-top: 10px;">JOINT HYPERTENSION</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        <a href="www.heart.org" style="color: red;">See More &#9656;</a>
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="top" width="37%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td class="rightColumnContent">
                        <h2>CONTACT US</h2>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="rightColumnContent">
                        <p>Address:<br>
                        123 Street Name, City TX 75231</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="rightColumnContent">
                        <p>Phone Number and Email:<br>
                        1-800-AHA-USA-1
                        (1-800-242-8721)
                        ahacustomerservice@lww.com</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>




JOIN US<br />
<span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif"><span style="font-size:15px"><span style="color:#ed1c24">Council on Hypertension | Council on Kidney in Cardiovascular Disease<br />
September 6-9, 2018</span><br />
Hyatt Regency Chicago<br />
Chicago, IL</span></span><br />
<br />
<a><span style="font-size:14px"><span style="color:#ed1c24;"><span style=" text-decoration: none; -webkit-text-decoration: none;">Learn More ▸</span></span></span></a><br />
&nbsp;