/* ===================================== 
   Grid Layout
======================================== */

.grid {
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 200px;
	grid-gap: 15px;
}

