@import 'all';

/*! All properties are in alphabetical order, with extends/includes first

Table of contents. Search for a section to find it.
1. Homepage
2. Contact
3. Amenities
4. Events
*/

/*! =========================================
██╗  ██╗ ██████╗ ███╗   ███╗███████╗██████╗  █████╗  ██████╗ ███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝██╔══██╗██╔══██╗██╔════╝ ██╔════╝
███████║██║   ██║██╔████╔██║█████╗  ██████╔╝███████║██║  ███╗█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  ██╔═══╝ ██╔══██║██║   ██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗██║     ██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝  1. Homepage
========================================= */

@media (max-width: 959px) {
  .home,
  .page-template-contact {
    .grid--large * {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 960px) {

  .top-grid-row {
    div {
      margin-left: 2rem;
    }
  }

  .bottom-grid-row {
    .grid {
      align-items: flex-end;
      margin-left: 2rem;
      margin-top: 2rem;
    }
  }
}

.right-grid {
  justify-content: space-between;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //IE10+ CSS style
  .image-grid {
    flex-wrap: wrap;
  }

  .top-grid-row {
    div {
      margin: 0 !important;
    }
  }

  .bottom-grid-row {
    .grid {
      align-items: center !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
    }
  }
}

/*! =========================================
 ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝
██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝    2. Contact
========================================= */

.contact-form {
  background-color: $brand-1;
  color: $white;
  position: relative;

    &:after {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-top-color: $brand-1;
  	border-width: 100px;
  	margin-left: -100px;
    z-index: 99;
  }
}

.contact-info {
  align-items: flex-start;

  h5 {
    flex: 0 0 auto;
    min-width: 150px;
    padding: 0;
  }
}

#gform_wrapper_2 {

  label {
    color: $white;
  }
}

.gmap {
  margin-bottom: 4rem;
  max-width: 1250px;
  padding: 0;
}


/*! =========================================
 █████╗ ███╗   ███╗███████╗███╗   ██╗██╗████████╗██╗███████╗███████╗
██╔══██╗████╗ ████║██╔════╝████╗  ██║██║╚══██╔══╝██║██╔════╝██╔════╝
███████║██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║   ██║█████╗  ███████╗
██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║   ██║██╔══╝  ╚════██║
██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║██║   ██║   ██║███████╗███████║
╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝   3. Amenities
========================================= */

@media screen and (min-width: 960px) {
  .four-image-grid {
    margin: 0 4rem;

    div {
      margin: 0 2rem;
    }
  }
}

/*! =========================================
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝  4. Events
========================================= */

.schedule {
  border: 1px dotted $black;

  h5 {
    color: $brand-1;
    padding-bottom: 1rem;
  }
}

.month {
  position: relative;

  &::after {
    background-color: $black;
    content: '';
    display: block;
    height: 2px;
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .schedule {
    margin: 0 2rem;
  }
}
