/* COLORS
* Dark Blue: 002d64
* Powder Blue: 72b1ff
* Dark Gray: 5f5f5f
* Light Grey: 747474
* Star Gray: b7b7b7
* Text Drak Grey: 002d66
*/

/**
* Variables
*/
:root {
--color-dark-blue : #002d64;
--color-powder-blue: #72b1ff;
--color-dark-gray: #5f5f5f;
--color-light-gray: #747474;
--color-star-gray: #b7b7b7;
--color-text-dark-gray: #002d66;
--color-white: #ffffff;
}
body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #002d64; }

hr.light {
  border-color: var(--color-white);
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #f05f40; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.bg-primary {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #212529 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 8rem 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #212529; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #002d64;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #002d64;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #002d64;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #002d64 !important;
      background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent;
}

#mainNav.navbar-shrink .social-media-top li a {
  color: #002d64;
}

#mainNav.navbar-shrink .social-media-top li a:hover {
  color: #212529;
}

#mainNav.navbar-shrink .social-media-top li a:hover {
  color: #002d64;
}

@media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }

    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #fff;
    }

    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand{
      color: #002d64;
    }

    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
      color: #002d64;
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #002d64;
    }

    #mainNav.navbar-shrink .social-media-top li a {
      color: #002d64;
    }

    #mainNav.navbar-shrink .social-media-top li a:hover {
      color: #212529;
    }

    #mainNav.navbar-shrink .social-media-top li a:hover {
      color: #002d64;
    }
}
#properties {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("../img/dallasmagbg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#info{
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url("../img/bluebg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#imageone, #imagetwo {
  padding: 0px;
}
.dlogo {
  margin-top: -50px;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/pinnaclebgheader.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead p {
    font-weight: 300; }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead h1 {
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3rem; } }

.service-box {
  max-width: 400px; }

.text-primary {
  color: #747474 !important; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #002d64;
  border-color: #002d64; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #002d64 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }

.underline--blue {
  border-bottom: 3px solid var(--color-dark-blue, #002d64);;
}
.underline--white {
  color : var(--color-white);
  border-bottom: 3px solid var(--color-white);
}
.text-blue {
  color: var(--color-dark-blue);
}
.text-lgray {
  color: var(--color-light-gray);
}


.social-media-top,
.social-media {
  list-style-type: none;
}
.social-media-top li,
.social-media li {
  display: inline;
}
.social-media-top li a {
  padding: 0 5px 0 5px;
  color: #fff;
}
.social-media li a {
  color: #747474;
}
.subfooter {
  color: #747474;
}
.slider {
  padding: 0px;
}
.a-slide{
  height: 100%;
  width: 100%;
  background-size: cover !important;
}
#golf-collage {
  width: 100%;
}
#golf-collage span {
  position: absolute;
}
#firstgolfcircle {
  margin-left: 60%;
}
#golf-collage span:nth-child(2) {
  margin-left: 10%;
  margin-top: 36%;
}
#golf-collage span:nth-child(3) {
  margin-left: 50%;
  margin-top: 6%;
}
#golf-collage span:nth-child(4) {
  z-index: 999;
  margin-left: 20%;
  margin-top:7%;
}
#golf-collage span:nth-child(5) {
  z-index: -999;
}
#golf-collage span:nth-child(6) {
  margin-left: 32%;
}
#golf-collage span:nth-child(7) {
  margin-left: 20%;
  margin-top: 37%;
}
#golf-collage span:nth-child(8) {
  margin-left: 62%;
  margin-top: 55%;
}

#wed-collage {
  width: 100%;
}
#wed-collage span {
  position: absolute;
}
#wed-collage span:nth-child(2) {
  margin-left: 53%;
  margin-top: 2%;
}
#wed-collage span:nth-child(3) {
  z-index: 999;
}
#wed-collage span:nth-child(4) {
  z-index: -999;
  margin-top: 50px;
  margin-left: 40%;
}
#wed-collage span:nth-child(5) {
  margin-left: 55%;
  margin-top: 290px;
}
.wedbluecircle {
  width: 15%;
  height:0;
  padding-bottom: 15%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #002d64;
}
.wedbluecirclelg {
  width: 25%;
  height:0;
  padding-bottom: 25%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #002d64;
}
.wedbluecirclemd {
  width: 8%;
  height:0;
  padding-bottom: 8%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #002d64;
}
.wedbluecirclesm {
  width: 5%;
  height:0;
  padding-bottom: 5%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #002d64;
}
.wedpowderbluecircle {
  width: 15%;
  height:0;
  padding-bottom: 15%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #72b1ff;
}
.wedpowderbluecirclelg {
  width: 25%;
  height:0;
  padding-bottom: 25%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #72b1ff;
}
.wedpowderbluecirclemd {
  width: 8%;
  height:0;
  padding-bottom: 8%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #72b1ff;
}
.wedpowderbluecirclesm {
  width: 5%;
  height:0;
  padding-bottom: 5%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #72b1ff;
}
#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #b7b7b7;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #b7b7b7;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid #b7b7b7;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  }
  #star-five:after {
    position: absolute;
    display: block;
    color: #b7b7b7;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #b7b7b7;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}

hr.starline {
  max-width: 80%;
  border-width: 2px;
  border-color: #002d64;
  z-index: -99
}
#weddingpic {
  height: 360px;
  width: 360px;
}
#weddingpic2  {
  height: 230px;
  width: 230px;
}
#golfcoursepic {
  height: 300px;
  width: 300px;
}
#golfcoursepic2 {
  height: 200px;
  width: 200px;
}
.down-arrow {
  position: absolute;
  bottom: -130px;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #wed-collage span,
  #golf-collage span {
    position: relative;
  }
  #wed-collage span:nth-child(3) image {
    padding-top: 50px;
  }
  #golf-collage span:nth-child(4) image {
    padding-top: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #wed-collage span,
  #golf-collage span {
    position: relative;
  }
  #weddingpic,
  #golfcoursepic {
    padding-top: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
