#content {
  margin:2rem;
}
#sc_events_calendar_head {
  height:5rem;
}
#sc_event_select {
  display:inline;
}
#sc_event_select select {
  display:inline;
  width:6rem;
  height:4.2rem;
  padding:.85rem;
}
#sc_calendar_title {
  display:inline;
  color:#3e3e49;
}
#sc_event_nav_wrap {
  display: inline;
}
#sc_calendar td.calendar-day{
  height:100px;
}
#sc_calendar td div.day-number{
  font-size:20px;
  margin: 0px;
}
.sc_day_div a{
  font-size:16px;
  color: #043062;
  text-decoration: underline;
  font-weight:700;
}
#sc_submit{
  background-color:#043062;
}
.sc_calendar_submit{
  background-color:#043062;
}


@media(max-width:700px){
  #sc_events_calendar_head{
    height:15rem;
  }
  #sc_events_calendar_head h2{
    clear: both;
    width:100%;
  }
  #sc_event_nav_wrap{
    width:100%;
  }
  #sc_event_nav_wrap form{
    width:100%;
    display: inline-block;
    text-align: center;
    margin-top:5px;
  }
  #sc_event_select{
    display:none;
  }
}
@media (max-width:480px) {
 #sc_calendar > table {
  width: 50% !important;
 }
 #sc_calendar > tr {
  width: 100px !important;
}
