.wrapper-large{
  padding-bottom:0px;
}
.entry-content{
    padding-top:0px;
    padding-bottom:20px;
    border-bottom:1.5px solid #3e3e49;
}
.entry-title{
  color: #043062;
}
.sc_event_details{
  text-align:center;
  font-weight:600;
  color: #043062;
}
.site-footer{
  padding-top:20px;
}
