#home .bg-primary{
	background-color: red;
}

.navbar .navbar-brand{
	color: rgba(255, 255, 255, 0.85);
	font-size: 1rem;
}

.jumbotron{
	background-image: url(../img/jumbo-bg.jpg);
	background-size: cover;
}

div	small{
	font-size: .75rem
}