/*
 Theme Name:   Kaylee Rutland Theme Merged
 Theme URI:    http://kayleerutland.com/
 Description:  Custom Theme made exclusively for Kaylee Rutland 
 Author:       Laura Evans & Nicoleta Malancea
 Version:      1.0.0
 */

@import url("assets/css/master.css");

.spotify-div {
	margin: 0 !important;
	line-height: 1.75em !important;
}

.follow-btn {
	width: 6em !important;
	height: 1.75em !important;
	border-radius: 500px;
	background: #65314b;
	color: white;
}

.fa.fa-spotify.fa-stack-1x.fa-inverse {
	width: 30%;
}

#follow-text{
	width: 115%;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.spotify-widget-wrap {
	position: absolute;
	top: 90%;
	left: 66%;
	display: none;
}

@media only screen and (min-width:768px) {
	.spotify-widget-wrap {
		display: block;
	}
}