html, body, div, a, img {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

#banner {
  position: relative;
  width: 298px;
  border: 1px solid black;
  overflow: hidden;
  opacity: 0;
  height: 48px;
}
div {
  position: relative;
}
#main-links {
	position: absolute;
	height: 100%;
	width: 100%;
}
#opener {
	position: absolute;
	z-index: 999;
}
#rotator {
  width: 100%;
  height: 50px;
  overflow: hidden;
  z-index: 800;
}
#rotator img {
  position: absolute;
  transform: translateY(50px);
  margin-top: 0;
}
