#brand-info{
    display: block;
    position: relative;
    background-color:$white;
    border-top: 2px solid #B9BBBD;
    .row{
        display: table;
        @include breakpoint(xs){
            display: block;
        }
    }
    .col-item{
        margin: 0 auto;
        text-align: center;
        display: table-cell;
        float: none;
        padding: 0;
        @include breakpoint(xs){
            float: left;
            display: block;
        }
        &.left{
            border-right: 5px solid $white;
            background-color:$secondarycolor;
            @include breakpoint(xs){
                border: 0 none;
            }
        }
        &.right{
            border-left: 5px solid $white;
            background-color:$primarycolor;  
            @include breakpoint(xs){
                border: 0 none;
            }
        }

        .entry-header{
            text-align: center;
            i{
                font-size: 60px;
                color: $white;
                opacity: 0.8;
                margin-bottom: 20px;
            }
            .entry-title{
                text-align: center;
                color: $white;
                padding: 0 20px;
                font-weight: $normal;
                margin: 10px auto 0px;
                &:after{
                    content: '';
                    display: none;
                }

            }
        }
        .entry-content{
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            margin-bottom:0px;
            color: $white;
            padding: 4px 70px 16px;
            p{
                margin-bottom: 0px;
            }
        }
    }

    .left-content{
        padding: 62px 0px 70px;
        padding-left: 40%;

        @include breakpoint(mu){
            padding-left: 20%;
        }
        @include breakpoint(md){
            padding-left: 10%;
        }
        @include breakpoint(sm){
            padding-left: 10%;
        }
        @include breakpoint(xs){
            padding: 60px 0px 70px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .right-content{
        padding: 62px 0px 70px;
        padding-right: 40%;


        @include breakpoint(mu){
            padding-right: 20%;
        }
        @include breakpoint(md){
            padding-right: 10%;
        }
        @include breakpoint(sm){
            padding-right: 10%;
        }

        @include breakpoint(xs){
            padding: 60px 0px 70px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .k-bg{
        background-image: url('../images/k.png');
        background-repeat: no-repeat;
        background-position: 78% 65%;
    }
    .h-bg{
        background-image: url('../images/h.png');
        background-repeat: no-repeat;
        background-position: 26% 80%;
    }

}

@include breakpoint(md){
    #brand-info{
        overflow: hidden;
        &:after{
            display: none;
        }
        .col-item{
            margin-bottom:35px;
            .entry-header{
                .entry-title{
                    padding:0 20px;
                    line-height: 1;
                }
            }
            .entry-content{
                padding: 20px;
            }
        }
    }
}

@include breakpoint(xs){
    #brand-info{
        overflow: hidden;
        padding: 20px 0 0px;
        &:after{
            display: none;
        }
        .col-item{
            margin-bottom:0px;
            .entry-header{
                .entry-title{
                    line-height: 36px;
                    font-size: 45px;
                    padding: 0;
                }
            }
            .entry-content{
                padding: 0 15px;
                p{
                    margin: 10px 0px 20px;
                }
                &:after {
                    margin: 0px auto 20px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}
