#brand-info{
    padding:30px 0px 0px;
    min-height: 300px;
    overflow: hidden;
    h1, h2, h3{
        color: $secondarycolor;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 36px;
        @include breakpoint(xs){
            text-align: center;
            font-size: 32px;
        }
    }
    p{
        color: $white;
        line-height: 22px;
        letter-spacing: -0.1px;
        @include breakpoint(xs){
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;
        }
        @include breakpoint(mobile-landscape){
            font-size: 16px;
        }
    }
    .left{
        padding-left: 0px;
        .left-txt{
            padding:6% 7% 0 14%;

            @include breakpoint(mg){
                padding:7% 8% 0 3%;    
            }
            @include breakpoint(ml){
                padding: 4% 3% 0 0%;
            }
            @include breakpoint(md){
                padding: 22px 0px 0px 30px;
            }
            @include breakpoint(xs){
                text-align: center;
                padding: 30px 15px;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
        @include breakpoint(xs){
            padding: 0px;;
        }
        a{
            color: $white;
            border-bottom: 1px dotted;
        }

    }

    .right{
        padding-right: 0px;
        .right-txt{
            padding: 55px 0px 0px 64px;
            &.img-container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding-top: 0px;
            }

            @include breakpoint(ml){
                padding: 4% 0px 0px 64px;
            }
            @include breakpoint(md){
                padding: 22px 0px 0px 50px;
            }
            @include breakpoint(sm){
                &.img-container{
                    padding: 0;
                    text-align: center;
                }
            }
            @include breakpoint(xs){
                text-align: center;
                padding: 30px 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                &.img-container{
                    text-align: center;
                    margin: 0 auto;
                    padding: 0;
                    .img-inner-sec{
                        width: 280px;
                        margin: 0 auto;
                    }
                }
            }
        }
        @include breakpoint(xs){
            padding: 0px;;
        }
        .img-inner-sec{
            .cta-btn{
                text-transform: uppercase;
                padding: 15px 62px;
                min-width: 260px;
            }
        }


    }

    .left-content{
        min-height: 360px;
        background-repeat: no-repeat;
        @include cover;
        position: relative;

        @include breakpoint(sm){
            min-height: 400px;
        }

    }

    .right-content{
        min-height: 360px;
        background-repeat: no-repeat;
        @include cover;
        position: relative;
        @include breakpoint(sm){
            min-height: 400px;
        }
    }

}

@include breakpoint(xs){
    #brand{
        margin-top:30px;    
    }
    .left{
        margin-bottom: 30px;
    }
}