/*
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .bcb_contact_us .bcb_form .form-group.textarea_bcb span.wpcf7-not-valid-tip{
        top: 35px;
    }    
}

@supports (-ms-ime-align:auto) {
    .bcb_contact_us .bcb_form .form-group.textarea_bcb span.wpcf7-not-valid-tip{
        top: 35px !important;
    }    
}*/
.page-template-page-contact{
    .bh_contact{
        .bh_contact_sec{
            .contact_content{
                .entry-content{
                    width: 90%;
                    @include breakpoint(sm){
                        width: 100%;
                    }
                    p{
                        font-size: 24px;
                        color: #606060;
                        line-height: 35px;
                        @include breakpoint(sm){
                            font-size: 22px;
                            line-height: 30px;
                        }
                        @include breakpoint(xs){
                            font-size: 22px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    } 
}
.bh_contact{

    .bh_contact_sec{
        padding: 80px 0;
        @include breakpoint(xs){
            padding: 50px 0;
        }
        .contact_content{
            width: 80%;
            @include breakpoint(sm){
                width: 100%;
            }
            @include breakpoint(xs){
                width: 100%;
            }
            .entry-header{
                h2{
                    font-family: $fifthfont;
                    @include breakpoint(xs){
                        font-size: 30px;
                        text-align: center;
                    }
                }
            }
            .entry-content{
                width:78%;
                @include breakpoint(md){
                    width: 90%;
                }
                @include breakpoint(sm){
                    width: 100%;
                }
                p{
                    font-size: 22px;
                    color: #606060;
                    line-height: 27px;
                }
            }
        }

        .contact-sec{
            .gform_confirmation_message_1{
                color: green;
            }
            .gform_wrapper{
                li{
                    &.gfield_error{
                        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea{
                            border: none;
                            border-bottom: 1px solid #606060;
                        }
                    }
                }

                .validation_error, .validation_message{
                    margin: 0;
                    border: 0;
                    padding: 0;
                    color: #f00;
                    font-weight: normal;
                }
                .gform_body{
                    ul{
                        li{
                            .gfield_label{
                                display: inline-block;
                                font-size: 13px;
                                color: #606060;
                                line-height: 21px;
                                font-family: $fourthfont;
                                text-transform: uppercase;
                                font-weight: 500;
                                padding-right: 9px;
                            }
                            .ginput_container{
                                display: inline-block;
                                vertical-align: text-bottom;
                                margin-top: 0;
                            }
                            .ginput_container_text{
                                /*width: 70%;*/
                                width: 68%;
                            }
                            .ginput_container_email{
                                /*width: 90.4%;*/
                                width: 88.6%;
                            }
                            .ginput_container_phone{
                                /*width: 89%;*/
                                width: 87.1%;
                                .instruction{
                                    display: none;
                                }
                            }
                            .ginput_container_text, .ginput_container_phone, .ginput_container_email, .ginput_container_textarea{
                                @include breakpoint(md){
                                    width: 100% !important;
                                }
                            }
                            .ginput_container_select{
                                width: 55%;
                                vertical-align: baseline;
                                @include breakpoint(sm){
                                    width: 100%;
                                }
                                @include breakpoint(xs){
                                    width: 100%;
                                }
                                select{
                                    width: 100%;
                                    background-color: transparent;
                                    border: 1px solid #606060;
                                    height: 31px;
                                    border-radius: 3px;
                                    text-transform: uppercase;
                                    color: #606060;
                                    font-size: 13px;
                                    font-weight: 500;
                                    font-family: $fourthfont;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                            .gfield_required{
                                display: none;       
                            }
                            .ginput_container_textarea{
                                /*width: 83.5%;*/
                                width: 81.6%;
                                vertical-align: baseline;
                                textarea{
                                    border: 0;
                                    background-color: transparent;
                                    border-bottom: 1px solid #606060;
                                    height: 37px;
                                    resize: none;
                                    overflow: auto;
                                    display: block;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                            input[type="text"]{
                                width: 100% !important;
                                border: 0;
                                border-bottom: 1px solid #606060;
                                background: transparent;
                                line-height: normal;
                                padding: 0 !important;
                            }
                            &.gfield{
                                &.gfield_error{
                                    background-color: transparent;
                                    margin: 0 !important;
                                    padding: 0;
                                    border: 0;
                                }
                            }
                            .gfield_description{
                                padding: 0;
                            }
                        }
                    }
                }
                .gform_footer{
                    text-align: center;
                    input[type="submit"]{
                        border: 0;
                        cursor: pointer;
                        background-color: transparent;
                        border-bottom: 3px solid $blue;
                        font-size: 14px;
                        color: #606060;
                        line-height: 27px;
                        font-family: $fourthfont;
                        font-weight: 700;
                        text-transform: uppercase;
                        width: auto;
                        padding: 0;
                        letter-spacing: 2px;
                        margin: 0;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                        &:hover{
                            opacity: 0.7;
                            -webkit-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }
                    }
                }
            }
        }
    }
}
.page-template-page-contact{
    .bh_contact_sec{
        padding: 80px 0 54px;
        @include breakpoint(sm){
            padding: 50px 0 26px;
        }
        @include breakpoint(xs){
            padding: 50px 0 24px;
        }
    }
}