.col-cs-8{
    width: 74%;
    float: left;
    @include breakpoint(md){
        width: 73.5%;
    }
    @include breakpoint(sm){
        width: 100%;
    }
    @include breakpoint(xs){
        width: 100%;    
    }
}
.col-cs-4{
    float: left;
    width: 26%;
    text-align: center;
    @include breakpoint(md){
        width: 26.5%;   
    }
    @include breakpoint(sm){
        width: 100%;   
    }
    @include breakpoint(xs){
        width: 100%;    
    }
}
.team-right{
    .col-cs-4{
        float: right;
        @include breakpoint(xs){
            clear: both;
        }    
    }
}

