.error404{
	#main{
		#main-container{
			#primary{
				.entry-header{
				}

				.entry-content{
				}

				.entry-footer{
					
				}
			}
		}
	}

	@include breakpoint(md){
	}

	@include breakpoint(sm){
	}

	@include breakpoint(xs){
	}
}
