#featured1 {

    position: relative;
    width: 100%;
    bottom: 242px;
    z-index: 100;

    #featured1-container{
        .col-featured{
            .featured-wrapper{
                display: block;
                position: relative;
                text-align: center;
                height: 140px;
                background-color:rgba($black, 0.5);
                border:1px solid $white;
                @include borderradius(25px);
                .featured-link{

                    display:block;

                    &:after{
                        content:'';
                        display: block;
                        clear: both;
                        position: relative;
                    }


                    &:hover {

                        .featured-image-container img {
                            @include transform(scale(1.2));
                            transform: scale(1.2);
                            @include transition(0.3s);
                        }
                    }

                    .featured-image-container{

                        height:50px;
                        width:45%;
                        text-align: center;

                        img{
                            height: 100%;
                            width: auto;
                            @include transition(0.3s);
                        }


                        @include breakpoint(xs) {
                            float : left;
                            width: 50%;
                        }

                    }

                    .featured-label {

                        text-align: center;
                        color:$white;
                        display: inline-block;
                        float: right;
                        width:55%;
                        // padding:0 20px 0 0;
                        text-align: left;

                        @include breakpoint(xs) {
                            float : left;
                            width: 50%;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(md){
        #featured1-container{
            .col-featured{
                .featured-wrapper{
                    .featured-link{
                        .featured-image-container{
                            height:50px;
                            width:46%;
                        }

                        .featured-label{
                            width:54%;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(sm){
        #featured1-container{
            .col-featured{
                .featured-wrapper{
                    height: auto;
                    padding:25px 15px;
                    .featured-link{
                        .featured-image-container{
                            width:auto;
                            margin:0 auto;
                            float: none;
                            max-width: 100%;
                            top:auto !important;
                            margin:0 auto 10px;
                        }

                        .featured-label{
                            top:auto !important;
                            width:auto;
                            display: block;
                            float: none;
                            padding:0;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }


    @include breakpoint(xs) {

        position: relative;
        width: auto;
        background: #000;
        padding: 20px;
        bottom : 0;

    }

    @include breakpoint(xs){

        #featured1-container {


            .col-featured{

                .featured-wrapper{

                    padding : 0;
                    border-radius: 10px;
                    margin : 5px;

                    .featured-link{

                        padding: 10px;

                        .featured-image-container {

                            height: 23px;
                            width: 37%;
                            display: block;
                            float: left;

                        }

                        .featured-label{

                            padding: 0;
                            position: relative;
                            float: left;
                            font-size: 11px;
                            width: 60%;
                            text-align: left;

                        }
                    }
                }
            }

        }

        .col-sm-3.col-xs-6.col-featured.align-middle-parent {
            padding: 0px;
        }


    }	


}


@include breakpoint(xs){

    .page {
        &.home {
            #featured1 {
                top : 0px;
                margin-bottom: 0px;
            }
        }
    }
}
