.page{
	#main{
		#main-container{
			#primary{

				.entry-header{
				
				  margin-bottom: 25px;
				  
				}

				.entry-content{										
				}

				.entry-footer{					
				}
			}
		}
	}

	.content-right {

		@include boxshadow( -6px 0px 10px -5px rgba(0, 0, 0, 0.1) );
		padding: 35px 10px 10px 60px;
	}


	@include breakpoint(lg){
	}

	@include breakpoint(md){
	}

	@include breakpoint(xs){
	}
}
