.single{
	#main{
		#main-container{
			#primary{
				.entry-header{						
				}

				.entry-content{
					
				}

				.entry-footer{
				}
			}
		}
	}

	@include breakpoint(lg){
	}

	@include breakpoint(md){
	}

	@include breakpoint(xs){
	}
}