.team-cotainer-{
    .enter-heading{
        text-align: center !important;
    }
    .main-content{
        background:none;
            .team-content{
                @include boxshadow(0px 2px 12px 0px rgba(0,0,0,0.4));
            }


    }
}
.separator{
    clear: both;
    margin: 0 auto;
    float: left;
    width: 100%;
    border-color: #dadada;
    border-width: 1px;
}

.team-page-wrapper{
    background : none;
    .entry-header{
        margin: 0px 0px 10px;
        clear: both;
        @include breakpoint(md){
            margin: 20px 0px 0px;
        }
        @include breakpoint(sm){
            margin: 20px 0px 0px;
            clear: both;
            text-align: center;
        }
    }
    h2{
       margin: 20px 0 0;
       display: inline-block;
       @include breakpoint(xs){
        margin: 20px 0 0;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        width: 100%;
       }
    }
    }
.team-member-name {
    font-size: $medium;
    color: $secondarycolor;
    display: block;
    font-size: 25px;
    font-weight: $bold;
    font-family: $fontfamily;
    margin-bottom: 0;
    text-transform: capitalize;
    @include breakpoint(xs){
        margin: 0px auto 2px;
    }
}
.team-member-caption{
    font-size: 12px;
    margin: 2px auto;
    color:$darksecondclr;
    &.first-child{
        color:$ctacolor;
        font-size: 16px;
    }
    @include breakpoint(sm){
        text-align: center;
    }
}

.team-member-content{
    margin: 10px 0px 0px;
    padding: 0px;
    @include breakpoint(md){
    }
    @include breakpoint(sm){
    }
    @include breakpoint(xs){
        margin: 10px 0px 0px;
        padding:0 15px;
    }
    p{
        @include breakpoint(xs){
            text-align: left;
            font-size: 16px;
        }  
    }
    
}
.team-content{
    width: 100%;
    display: block;
    float: left;
    margin:0px 0px 36px;
    /*@include boxshadow(0px 2px 12px 0px rgba(0,0,0,0.4));*/
    color: $hovercolor;
    @include breakpoint(md){
        margin: 0px 0px 20px;
    }
    @include breakpoint(sm){
        margin:0px 0px 20px;
    }
    @include breakpoint(xs){
        margin:0px 0 10px;
    }
    .image-container{
        display:inline-block;
        margin-top:0px;
        text-align: center;
        vertical-align: top;
        @include breakpoint(md){
            margin-top: 0px;
        }
        @include breakpoint(sm){
            margin-top:0px;
        }
        .img-inner{
            height:240px;
            width:215px;
            padding:0px;
            background:none;
            border:0px solid #fde7c2;
            overflow: hidden;
            display:inline-block;
            margin:0;
            @include breakpoint(sm){
                margin: 5px 0px 0px 0;
            }
            @include breakpoint(xs){
               margin: 5px 0px 15px 0;
            }
/*            @include borderradius(50%);    */
            .circle-img {
                width: 100%;
                height: 100%;
                background-position: 50% 50%;
                background-size: contain;
/*                @include borderradius(50%);*/
                @include cover;
            }
        }
    }    
    .team-member-details{
        color:$darksecondclr;
        h3.team-member-name{
            font-size:22px;
            font-weight: 600;
            color:$darksecondclr;
            @include breakpoint(sm){
                text-align: center;
                margin-bottom: 8px;
            }

        }
        .team-member-position{
            color:$ctacolor;
            font-size: 16px;
            margin: 0px 0 10px;
            font-weight: $semibold;
            @include breakpoint(sm){
                text-align: center;
            }
        }
        p{
           font-size: 16px; 
           color:$defaultcolor;
        }
    }

    .team-left{
        .team-member-details{
            padding:3px 0px 20px 60px;
            @include breakpoint(md){
                padding:3px 0px 0px 58px; 
            }
            @include breakpoint(sm){
                padding: 20px 0 0 0; 
            }
            @include breakpoint(xs){
                padding: 0px 0px;    
            }    
        }
    }
    .team-right{
        .team-member-details{
            padding: 0px 0px 0px 0px;
            @include breakpoint(sm){
                padding: 20px 0 0 0;
            }
            @include breakpoint(xs){
                padding: 0px 0px;    
            }    
        }
    }
    
  
}

.team-content{
        /*background: $oddcolor;*/
        width: 100%;;
        display: block;
        position: relative;
        border-bottom: 2px solid #ccc;
        &:last-child{
            border: none;
        }
        @include breakpoint(sm){
        }
        @include breakpoint(xs){
        }
        .team-member-details {
            padding: 0 30px 0 60px;
            @include breakpoint(sm){
              padding: 15px 10px 0 10px;
            }
        }
        .team-right{
            .col-cs-4{
            margin-left: 60px;
            @include breakpoint(md){
               margin-left: 0;
            }
            }
            .col-cs-8{
                width: 66%;
                @include breakpoint(sm){
                    width:100%;
                }
            }
        }
    }

.team-member-wrapper {
        padding:0px 0px 10px;
        @include breakpoint(md){
                padding: 0px 0px 0;
        }
        @include breakpoint(sm){
                padding: 0px 0px 0;
        }
        @include breakpoint(xs){
         text-align: center;
         padding: 18px 10px;
         display: block;
        }

    a {
        color: $defaultcolor;
        font-size:16px;
        text-align: left;
        font-weight:$normal;
        &:link,
            &:hover,
            &:active,
            &:visted {
            color: darken($secondarycolor, 5%);
        }
    }

    .team-member-position{
        color: $hovercolor;
        font-weight:$semibold;
    }
    .team-Details{
        display:inline-block;
        vertical-align: top;
        text-align:center;
        .team-member-name{
            color: $primarycolor;
            font-size:24px;
            font-family: $fontfamily;
            font-weight:$bold;
            margin-bottom:0px;
            margin-top:9px;
        }
    }
    &:last-child{
        .team-content {
            .image-container{
                margin-top: -88px;
            }
        }
        .team-Details{        
            .team-member-name{
                margin-top: 8px;
            }
        }
    }
}

/*promotions page style*/
.hz-separator{
    margin-bottom: 40px;
    padding-bottom: 40px;
    @include boxshadow (0px 8px 4px -4px rgba(0,0,0,0.1));
    @include breakpoint(xs){
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    @include breakpoint(xs){
            padding: 18px 10px;
            text-align: center;
            display: block;
    }
}


/*contact page styles*/
.location-wrapper{
    margin-bottom: 40px;
    padding-bottom: 40px;
    &:first-child{
        @include boxshadow (0px 8px 4px -4px rgba(0,0,0,0.1));    
    }

    .location-image-sec
    {
        margin-left: 31px;
        .location-image{
            img{
                @include borderradius(20px);
                max-width: 100%;
                margin-bottom: 15px;
                @include breakpoint(xs){
                    max-width: 75%;
                    @include borderradius(15px);
                }
            }
        }


        @include breakpoint(md){
            margin-left: 24px;
        }
        @include breakpoint(sm){
            margin-left: 0px;
        }
        @include breakpoint(xs){
            margin: 0 auto;
            text-align: center;
        }
    }

    .location-details{
        .address{
            p{
                margin-bottom: 2px;
            }
        }
        p{
            margin-bottom: 5px;
        }
        .location-details-title{
            font-weight: $bold;   
        }
        .operation{
            margin: 0px -15px; 
            @include breakpoint(sm){
                margin: 0px auto;
            }
            @include breakpoint(xs){
                margin: 30px auto;
            }
        }
    }

    .location-content{
        margin-top: 30px;
    }

    @include breakpoint(xs){
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

/*404 page styles*/
#page-404{
    padding: 50px 0px;
    .entry-header{
        .entry-title{
            margin-bottom: 30px;
            font-size: 30px;
            color: $orange;
            font-family: $secondaryfont;
        }    
    }
    @include breakpoint(xs){
      padding:2px 0px;  
    }

}
.our-team-page{
        .page-builder-content{
            padding: 25px 20px 25px 99px;
            margin: 40px 0;
            background: $oddcolor;
            @include borderradius(20px);
            @include breakpoint(md){
                 padding:0px;
            }
            @include breakpoint(sm){
                 padding:20px 50px;
                 p{
                     text-align: left;
                 }
            }
            @include breakpoint(xs){
                 padding:20px 0;
                 p{
                     text-align: center;
                 }
            }
        }
        .teampage_container{
            padding-left: 32px;
            @include breakpoint(md){
                padding-left: 14px;
            }
            .entry-header{
                h2{
                    font-size:30px;
                    margin:0px;
                    @include breakpoint(md){
                         text-align: left;
                         font-size: 22px;
                    }
                     @include breakpoint(sm){
                         text-align: center;
                         font-size: 24px;
                    } 
                    @include breakpoint(xs){
                         text-align: center;
                         font-size: 20px;
                         font-weight: 400;
                    } 
                }
            }
            @include breakpoint(xs){
                padding:0px;
            } 
        } 

        
}

.is-inside-page{
    .teampage_container{
        #primary{
            .entry-content{
                    padding: 30px 0;
                    @include breakpoint(md){
                        padding: 20px 0;
                    }
                    @include breakpoint(xs){
                        margin-bottom: 0px;
                        padding: 0px;
                    }
            }
        } 
        #left-sidebar-container_mobile{
            .so-widget-sow-image{
              @include breakpoint(xs){
                     margin-bottom: 110px;
                    }  
            }
        } 
    }
}