// Global styling for this template
html{
    overflow-x: hidden;
}
body,
html {
    width: 100%; 
    height: 100%;
}

body {
    @include serif-font;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}

hr.light {
    border-color: $white;
}

p{
    font-family: baskerville;
}

a{
    font-family: montserrat!important;
    font-weight: bold;
}

a {
    @include transition-all;
    &:hover {
        color: darken($primarycolor, .1);
    }
}

h1,h2,h3,h4,h5,h6 {
    @include sans-serif-font;
}

.bg-dark {
    background-color: $gray-900 !important;
}

.text-faded {
    color: fade-out($white, .3); 
}

li.borderless{
    border-left: none;
    border-right: none;
}

.pinnacle_logo{
    @media (max-width: 575px){
        img{
            width: 13%;
            height: auto;
        }
    }
}

.underline-blue{
    border-bottom: 3px solid $secondarycolor;
    padding-bottom: 2.5px;
    &:hover{
        text-decoration: none;
    } 
}

.underline-white{
    border-bottom: 3px solid white;
    padding-bottom: 2.5px;
    &:hover{
        text-decoration: none;
    } 
}


//accordions
/*.circle-plus{
  content:url("../images/circle_plus.png");
}

.circle-minus{
  content:url("../images/circle_minus.png");
}*/
//end accordions


#opportunity{
    h2{
        color: #033a7d; 
    }
}

#about{
    h2{
        color: $pinnacle-blue-text; 
    }
    p{
        color: gray;
    }
}

//only for home page
#circle_down_arrow_home{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -28px;
    @media(max-width: 991px){
        display: none;
    }
    @media (min-width: 1200px){
        margin-top: -78px;
    }
    @media (min-width: 1350px){
        margin-top: -103px;
    }
    @media (min-width: 1500px){
        margin-top: -153px;
    }
    @media (min-width: 1600px){
        margin-top: -228px;
    }
    @media (min-width: 1800px){
        margin-top: -308px;
    }

}

//for all other pages except home page
#circle_down_arrow{
    margin-top: -1.75rem;
    text-align: center;
}

//footer blue bar
#interested{
    background-color: #002d64;
    padding-left: 1rem;
    margin-bottom: -1rem;
    @media (min-width: 300px) {
        p {
            font-size: 1rem;
        }
    }
    @media (min-width: 992px) {
        p {
            font-size: 1.35rem;
        }
    }
    @media (min-width: 1200px) {
        p {
            font-size: 1.45rem;
        }
    }
    .phone-blue{
        color: #72b1ff
    }
}


//footer testimonials
#testimonials{
    padding-bottom: calc(10rem - 56px);
    background-image: url('../images/testimonials_background.png');
    background-position: center 80%;
    @include background-cover;
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-weight: 300;
    }
    @media (min-width: 768px) {
        p {
            font-size: 1.15rem;
        }
    }
    @media (min-width: 992px) {
        min-height: 470px;
        h1 {
            font-size: 3rem;
        }
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 4rem;
        }
    }
}

.blue-text{
    color: $pinnacle-blue-text;
}

.pinnacle-blue{
    color: $secondarycolor;
}

//contact page
#planning_contact{
    padding-bottom: calc(10rem - 56px);
    background-image: url('../images/blue_background_2.png');
    background-position: center 80%;
    @include background-cover;
}
.contact-accordions{
    margin-left: .5rem;
    padding-left: 0px;
}


//amenities page
.sub_menu_bar_1{
    background-color: #002d64;
    min-height: 50px;
    margin-bottom: 0px;
    a{
        color: #6986a9;
    }
    .active{
        color: white;
    }
}
//amenities page
// .blue_arrow_1 {
//   margin-top: 0rem;
//   position: relative;
//   z-index: 11;

//   @media (max-width: 991px){
//   display: none;
//   }
// }



// reverses the image on the properties page
#resort-life-properties{
    img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.bookings{
    .golf_cart_img{
        margin-left: -24px;
    }
}



@media (max-width: 992px){
    .vl{
        display: none;
    }
}

section {
    padding: 1rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $gray-900;
}


//general responsive text media queries

@media (max-width: 576px){
    h2{
        font-size: 1.5rem;
        font-family: domine;
    }
    p{
        font-size: .75rem;
        font-family: baskerville;
    }
    a{
        font-family: montserrat;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: .95rem;
        font-family: baskerville;
    }
    a{
        font-family: montserrat;
    }

}
@media (max-width: 992px){

}
@media (min-width: 993px){
    h2{
        font-family: domine;
    }
    p{
        font-size: 1.1rem;
        font-family: baskerville;
    }
    a{
        font-family: montserrat;
    }
}
