//Styling for the background video section

.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @media (min-width: 1200px){
        top: -50px;
    }
    @media (min-width: 1350px){
        top: -75px;
    }
    @media (min-width: 1500px){
        top: -125px;
    }
    @media (min-width: 1600px){
        top: -200px;
    }
    @media (min-width: 1800px){
        top: -280px;
    }
}


.video-responsive iframe{  
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.tinted:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.3);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/**************************Header Video Css***************************/
.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px){
        top: -40px;
    }
    @media (min-width: 991px){
        top: -80px;
    }
    @media (min-width: 1200px){
        top: -130px;
    }
    @media (min-width: 1350px){
        top: -155px;
    }
    @media (min-width: 1500px){
        top: -125px;
    }
    @media (min-width: 1600px){
        top: -200px;
    }
    @media (min-width: 1700px){
        top: -250px;
    }
    @media (min-width: 1800px){
        top: -280px;
    }
}

//only for home page
#circle_down_arrow_home{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -28px;
    @media(min-width: 768px){
        margin-top: -68px;
    }
    @media(min-width: 991px){
        margin-top: -108px;
    }
    @media (min-width: 1200px){
        margin-top: -158px;
    }
    @media (min-width: 1350px){
        margin-top: -183px;
    }
    @media (min-width: 1500px){
        margin-top: -153px;
    }
    @media (min-width: 1600px){
        margin-top: -228px;
    }
    @media (min-width: 1700px){
        margin-top: -278px;
    }
    @media (min-width: 1800px){
        margin-top: -308px;
    }
}